Repository ansible/ansible-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: AWX, EDA, HUB, e2e, component, framework

.github/labeler.yml:

AWX:
  - frontend/awx/**/*
  - cypress/e2e/awx/**/*

EDA:
  - frontend/eda/**/*
  - cypress/eda/awx/**/*
  
HUB:
  - frontend/hub/**/*
  - cypress/hub/awx/**/*

e2e:
  - cypress/e2e/**

component:
  - framework/**/*.cy.*
  - frontend/**/*.cy.*

framework:
  - framework/**/*

adds server logic to another test
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: e2e

adds server logic to another test (#611)
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: e2e

adds server logic to another test (#611)
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: e2e

v2.4.174 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.174 [skip ci]
  package-lock.json
  package.json
Labels: none

bump number of parallel test runners up for component tests
  .github/workflows/pull-request.yml
Labels: none

bump number of parallel test runners up for component tests (#612)
  .github/workflows/pull-request.yml
Labels: none

bump number of parallel test runners up for component tests (#612)
  .github/workflows/pull-request.yml
Labels: none

v2.4.175 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.175 [skip ci]
  package-lock.json
  package.json
Labels: none

spelling
  frontend/awx/dashboard/cards/AwxGettingStartedCard.tsx
Labels: AWX

fix
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/AwxGettingStartedCard.tsx
Labels: AWX

HUB Remote Registries Table - Pin the edit icon outside the row action dropdown
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
Labels: HUB

Dashboard cards (#610)
  framework/PageDashboard/PageDashboard.tsx
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardCount.tsx
  framework/PageDashboard/PageDashboardCountBar.tsx
  framework/PageDashboard/PageDashboardGettingStarted.tsx
  framework/index.ts
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/AwxGettingStartedCard.tsx
Labels: AWX, framework

Dashboard cards (#610)
  framework/PageDashboard/PageDashboard.tsx
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardCount.tsx
  framework/PageDashboard/PageDashboardCountBar.tsx
  framework/PageDashboard/PageDashboardGettingStarted.tsx
  framework/index.ts
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/AwxGettingStartedCard.tsx
Labels: AWX, framework

v2.4.176 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.176 [skip ci]
  package-lock.json
  package.json
Labels: none

eda dashboard query page size (#609)
  frontend/eda/dashboard/EdaDashboard.tsx
Labels: EDA

eda dashboard query page size (#609)
  frontend/eda/dashboard/EdaDashboard.tsx
Labels: EDA

v2.4.177 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.177 [skip ci]
  package-lock.json
  package.json
Labels: none

fixing tests on rba crud
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/support/eda-commands.ts
Labels: e2e

fix typescript error
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
Labels: e2e

HUB: Dashboard - Getting Started, Header Buttons, and new Count Bar
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardCountBar.tsx
  frontend/hub/dashboard/Dashboard.tsx
  frontend/hub/dashboard/HubGettingStarted.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironments.tsx
Labels: HUB, framework

HUB Signature Keys - Update filter to indicate what kind of matching the API supports
  frontend/hub/signature-keys/SignatureKeys.tsx
Labels: HUB

Update the decision environment page description. Remove help text from the User page Role field.
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/eda/UserAccess/Roles/components/PageFormRolesSelect.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
Labels: EDA

Updated tests.
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
Labels: e2e

remove link to project from project select
  frontend/awx/resources/projects/components/PageFormProjectSelect.tsx
  frontend/awx/resources/projects/hooks/useProjectNameColumn.tsx
  frontend/awx/resources/projects/hooks/useProjectsColumns.tsx
Labels: AWX

Adds missing workflow approval and activity stream routes
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
Labels: AWX

Adds credential access route
  frontend/Routes.ts
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
Labels: AWX

Adds routing for workflow job templates
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
Labels: AWX

Adds missing notifications routes
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/administration/notifications/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/notifications/Notifications.tsx
  frontend/awx/interfaces/NotificationTemplate.ts
Labels: AWX

Only normal inventories have sources
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
Labels: AWX

Adds missing credential types routes
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/administration/credential-types/CredentialTypes.tsx
Labels: AWX

Adds missing host routes
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
Labels: AWX

Adds missing applications routes
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/interfaces/Application.ts
Labels: AWX

Run prettier
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/administration/credential-types/CredentialTypes.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/administration/management-jobs/ManagementJobs.tsx
  frontend/awx/administration/notifications/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/notifications/Notifications.tsx
  frontend/awx/interfaces/Application.ts
  frontend/awx/interfaces/NotificationTemplate.ts
  frontend/awx/interfaces/SystemJobTemplate.ts
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
Labels: AWX

Adds missing topology route
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
Labels: AWX

Adds missing management job routes
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/administration/management-jobs/ManagementJobs.tsx
  frontend/awx/interfaces/SystemJobTemplate.ts
Labels: AWX

Job output search and toolbar (#602)
  cypress/fixtures/job.json
  cypress/fixtures/jobChildrenSummary.json
  cypress/fixtures/jobEvents.json
  framework/PageTable/PageToolbar/PageToolbar.css
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/components/pfcolors.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/interfaces/Job.ts
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/hooks/useProjectStatusColumn.tsx
  frontend/awx/views/jobs/JobOutput/HostStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.css
  frontend/awx/views/jobs/JobOutput/JobOutput.cy.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputLoadingRow.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputRow.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputToolbar.tsx
  frontend/awx/views/jobs/JobOutput/JobStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutputChildrenSummary.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/Status.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/tasks/TaskDetails.tsx
  frontend/hub/tasks/Tasks.tsx
Labels: AWX, EDA, HUB, component, framework
