Repository ansible/ansible-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: AWX, EDA, HUB, e2e, component, framework

.github/labeler.yml:

AWX:
  - frontend/awx/**/*
  - cypress/e2e/awx/**/*

EDA:
  - frontend/eda/**/*
  - cypress/eda/awx/**/*
  
HUB:
  - frontend/hub/**/*
  - cypress/hub/awx/**/*

e2e:
  - cypress/e2e/**

component:
  - framework/**/*.cy.*
  - frontend/**/*.cy.*

framework:
  - framework/**/*

test
  .github/workflows/pull-request.yml
  framework/README.md
  frontend/hub/dashboard/HubDashboard.cy.tsx
Labels: HUB, component, framework

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

fix test
  cypress/e2e/eda/General-UI/login-logout.cy.ts
Labels: e2e

update cypress dashboards
  .github/workflows/pull-request.yml
Labels: none

Testing EDA against OCP (kubernetes) build (#621)
  cypress/e2e/eda/General-UI/login-logout.cy.ts
Labels: e2e

Testing EDA against OCP (kubernetes) build (#621)
  cypress/e2e/eda/General-UI/login-logout.cy.ts
Labels: e2e

v2.4.183 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.183 [skip ci]
  package-lock.json
  package.json
Labels: none

tech preview banner link test
  cypress/e2e/awx/dashboard/welcomeModal.cy.tsx
Labels: AWX, e2e

fixes
  .github/workflows/pull-request.yml
  frontend/eda/dashboard/EdaDashboard.cy.tsx
Labels: EDA, component

test skip checks
  framework/README.md
Labels: framework

test fix for skipped jobs
  .github/workflows/pull-request.yml
Labels: none

test skip
  .github/workflows/pull-request.yml
Labels: none

test skip fix
  .github/workflows/pull-request.yml
Labels: none

fix
  .github/workflows/pull-request.yml
Labels: none

fix
  .github/workflows/pull-request.yml
Labels: none

Tech preview banner link test (#622)
  cypress/e2e/awx/dashboard/welcomeModal.cy.tsx
Labels: AWX, e2e

Tech preview banner link test (#622)
  cypress/e2e/awx/dashboard/welcomeModal.cy.tsx
Labels: AWX, e2e

v2.4.184 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.184 [skip ci]
  package-lock.json
  package.json
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

fixed
  .github/workflows/pull-request.yml
Labels: none

HUB: Support running 'npm run hub'
  package.json
  webpack.awx.cjs
  webpack.hub.cjs
Labels: none

Enhance PR GitHub Action to only run tests for what has changed (#620)
  .github/workflows/pull-request.yml
  cypress/e2e/hub/hub-dashboard.cy.ts
  frontend/eda/dashboard/EdaDashboard.cy.tsx
  frontend/hub/dashboard/HubDashboard.cy.tsx
Labels: EDA, HUB, e2e, component

Enhance PR GitHub Action to only run tests for what has changed (#620)
  .github/workflows/pull-request.yml
  cypress/e2e/hub/hub-dashboard.cy.ts
  frontend/eda/dashboard/EdaDashboard.cy.tsx
  frontend/hub/dashboard/HubDashboard.cy.tsx
Labels: EDA, HUB, e2e, component

v2.4.185 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.185 [skip ci]
  package-lock.json
  package.json
Labels: none

fixes
  .github/workflows/pull-request.yml
Labels: none

HUB: Support running 'npm run hub' (#623)
  .github/workflows/pull-request.yml
  package.json
  webpack.awx.cjs
  webpack.hub.cjs
Labels: none

HUB: Support running 'npm run hub' (#623)
  .github/workflows/pull-request.yml
  package.json
  webpack.awx.cjs
  webpack.hub.cjs
Labels: none

v2.4.186 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.186 [skip ci]
  package-lock.json
  package.json
Labels: none
