Repository ansible/ansible-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: AWX, EDA, HUB, e2e, component, framework

Job output search and toolbar (#602)
  cypress/fixtures/job.json
  cypress/fixtures/jobChildrenSummary.json
  cypress/fixtures/jobEvents.json
  framework/PageTable/PageToolbar/PageToolbar.css
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/components/pfcolors.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/interfaces/Job.ts
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/hooks/useProjectStatusColumn.tsx
  frontend/awx/views/jobs/JobOutput/HostStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.css
  frontend/awx/views/jobs/JobOutput/JobOutput.cy.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputLoadingRow.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputRow.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputToolbar.tsx
  frontend/awx/views/jobs/JobOutput/JobStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutputChildrenSummary.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/Status.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/tasks/TaskDetails.tsx
  frontend/hub/tasks/Tasks.tsx
Labels: AWX, EDA, HUB, component, framework

v2.4.178 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.178 [skip ci]
  package-lock.json
  package.json
Labels: none

typescript problem
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
Labels: e2e

fix typescript error
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
Labels: e2e

[EDA] Fix broken settings modal in eda user create (#583)
  frontend/eda/UserAccess/Roles/hooks/useSelectRoles.tsx
Labels: EDA

[EDA] Fix broken settings modal in eda user create (#583)
  frontend/eda/UserAccess/Roles/hooks/useSelectRoles.tsx
Labels: EDA

v2.4.179 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.179 [skip ci]
  package-lock.json
  package.json
Labels: none

Login standalone - navigate back on close.
  frontend/common/LoginModal.tsx
Labels: none

enabling rulebook activation tests
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
Labels: e2e

Adds edit functionality to the job template form
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/interfaces/JobEvent.ts
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
  frontend/common/crud/useGet.tsx
Labels: AWX, framework

Refactors, and resolves some bugs, and adds tests
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
Labels: AWX, e2e, framework

Adds edit functionality to the job template form (#601)
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/interfaces/JobEvent.ts
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
  frontend/common/crud/useGet.tsx
Labels: AWX, e2e, framework

Adds edit functionality to the job template form (#601)
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/interfaces/JobEvent.ts
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
  frontend/common/crud/useGet.tsx
Labels: AWX, e2e, framework

v2.4.180 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.180 [skip ci]
  package-lock.json
  package.json
Labels: none

Test PR
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

Add a number of missing AWX routes (#605)
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/administration/credential-types/CredentialTypes.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/administration/management-jobs/ManagementJobs.tsx
  frontend/awx/administration/notifications/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/notifications/Notifications.tsx
  frontend/awx/interfaces/Application.ts
  frontend/awx/interfaces/NotificationTemplate.ts
  frontend/awx/interfaces/SystemJobTemplate.ts
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
Labels: AWX

Add a number of missing AWX routes (#605)
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/administration/credential-types/CredentialTypes.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/administration/management-jobs/ManagementJobs.tsx
  frontend/awx/administration/notifications/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/notifications/Notifications.tsx
  frontend/awx/interfaces/Application.ts
  frontend/awx/interfaces/NotificationTemplate.ts
  frontend/awx/interfaces/SystemJobTemplate.ts
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
Labels: AWX

v2.4.181 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.181 [skip ci]
  package-lock.json
  package.json
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
  cypress/e2e/hub/dashboard.cy.ts
Labels: e2e

fix
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
  cypress/e2e/hub/hub-dashboard.cy.ts
Labels: e2e

fix
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

test
  .github/workflows/pull-request.yml
Labels: none

adjustment to RBA enable test
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
Labels: e2e

test
  .github/workflows/pull-request.yml
Labels: none

[WIP] Fix rulebook activations tests (#614)
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/eda-commands.ts
Labels: e2e

[WIP] Fix rulebook activations tests (#614)
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/eda-commands.ts
Labels: e2e

v2.4.182 [skip ci]
  package-lock.json
  package.json
Labels: none

v2.4.182 [skip ci]
  package-lock.json
  package.json
Labels: none

add HUB component test
  frontend/hub/dashboard/HubDashboard.cy.tsx
Labels: HUB, component

fix
  frontend/hub/dashboard/HubDashboard.cy.ts
Labels: HUB, component

.github/labeler.yml:

AWX:
  - frontend/awx/**/*
  - cypress/e2e/awx/**/*

EDA:
  - frontend/eda/**/*
  - cypress/eda/awx/**/*
  
HUB:
  - frontend/hub/**/*
  - cypress/hub/awx/**/*

e2e:
  - cypress/e2e/**

component:
  - framework/**/*.cy.*
  - frontend/**/*.cy.*

framework:
  - framework/**/*
