Repository ansible/ansible-ui, pull requests merged in 2023-10, with the labels that each got.

#882 Signed and approved in approval and collection list
  frontend/hub/approvals/hooks/useApprovalsColumns.tsx
Labels: HUB

#970 [AAP-14324] Add menu separators before each Delete menu item
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/hooks/useCredentialActions.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentActions.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectActions.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/UserAccess/Users/hooks/useUserActions.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA

#974 Updates routes for templates projects schedule
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/awx-commands.ts
  frontend/awx/AwxRoutes.tsx
  frontend/awx/dashboard/cards/AwxCountsCard.tsx
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleDetails.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/Schedules.tsx
Labels: AWX, E2E, CCT

#978 Add credentials list component test
  cypress/fixtures/edaCredentials.json
  frontend/eda/Resources/credentials/Credentials.cy.tsx
Labels: EDA, CCT

#979 Update team routes
  frontend/awx/AwxRoutes.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/access/teams/TeamPage/TeamRoles.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX, CCT

#987 Adjust Controller user search string so E2E user doesn't get deleted
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
Labels: AWX, E2E

#989 Fix template form to template details navigation bug
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
Labels: AWX, CCT

#991 updated the capitalization of jobs in the credential description
  frontend/awx/resources/credentials/Credentials.tsx
Labels: AWX

#990 Update routing for credential types, notification templates, management jobs
  frontend/awx/AwxMasthead.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/administration/notifications/NotificationPage/NotificationPage.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX

#993 Execution environment list and menu - delete action, sign action, sync action
  frontend/hub/execution-environments/ExecutionEnvironment.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentFilters.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsColumns.tsx
Labels: HUB

#982 Fix 403 error for non-admins in the job template form
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
Labels: AWX

#994 Hub collection hooks - use right repo in compareStrings
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
  frontend/hub/collections/hooks/useDeprecateCollections.tsx
Labels: HUB

#967 [WIP] Data cy refactor dropdown multi select
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/dashboard/welcomeModal.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Projects/project-sync.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormGroup.tsx
  framework/PageForm/Inputs/PageFormMultiSelect.tsx
  framework/PageForm/Inputs/PageFormSelect.tsx
  framework/PageForm/Inputs/PageFormSwitch.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/administration/execution-environments/components/PageFormExecutionEnvironmentSelect.tsx
  frontend/awx/administration/instance-groups/components/PageFormInstanceGroupSelect.tsx
  frontend/awx/resources/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/resources/inventories/components/PageFormInventorySelect.tsx
  frontend/awx/resources/inventories/components/PageFormInventorySourceSelect.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.cy.tsx
  frontend/awx/resources/projects/components/PageFormProjectSelect.tsx
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.cy.tsx
  frontend/awx/resources/templates/components/PageFormJobTemplateSelect.tsx
  frontend/awx/resources/templates/components/PageFormWorkflowJobTemplateSelect.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.cy.tsx
  frontend/eda/UserAccess/Roles/PageFormRolesSelect.tsx
Labels: AWX, EDA, E2E, CCT, AFW

#984 Add rulebook activations list component tests
  cypress/e2e/eda/Rulebooks/rulebooks-list.cy.ts
  cypress/e2e/eda/Rulebooks/rulebooks-tabs.cy.ts
  cypress/e2e/eda/Rules/rules-list.cy.ts
  cypress/fixtures/edaCredentials.json
  cypress/fixtures/edaDecisionEnvironments.json
  cypress/fixtures/edaRulebookActivations.json
  cypress/fixtures/edaRulebooks.json
  frontend/eda/dashboard/EdaDashboard.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
Labels: EDA, E2E, CCT

#1000 Fix refresh after actions
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/execution-environments/ExecutionEnvironments.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
Labels: HUB

#1006 Adds cy.selectItemFromLookupModal and adjusts related spec files
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1005 Fix project 301 error and template launch navigation
  cypress/fixtures/unifiedJobTemplates.json
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/Templates.cy.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
Labels: AWX, CCT

#920 Analytics report graph builder
  framework/PageTable/PageTable.tsx
  framework/PageToolbar/PageToolbar.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/Test.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/constants.ts
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/analytics/components/Chart/index.tsx
  frontend/awx/analytics/useAnalyticsReportBuilderView.ts
  frontend/awx/useAwxNavigation.tsx
  frontend/common/crud/Data.tsx
Labels: AWX, AFW

#1015 Revert "Adds cy.selectItemFromLookupModal and adjusts related spec files"
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1014 Add instance groups to e2e resource cleanup
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
Labels: AWX, E2E

#860 Shaiahwren sign collections (#816)
  frontend/common/crud/Data.tsx
  frontend/hub/HubMain.tsx
  frontend/hub/HubRoutes.tsx
  frontend/hub/api/request.ts
  frontend/hub/api/utils.tsx
  frontend/hub/approvals/hooks/useApprovalActions.tsx
  frontend/hub/approvals/hooks/useApprovalsActions.tsx
  frontend/hub/approvals/hooks/useApprovalsColumns.tsx
  frontend/hub/approvals/hooks/useApproveCollections.tsx
  frontend/hub/collections/CollectionSignatureUpload.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/repositories/Repository.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB

#957 [AA-1538] Reports list view
  frontend/awx/AwxRoutes.tsx
  frontend/awx/analytics/Reports/ReportsList.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX

#943 [AAP-15916] Update error handling on PageForm
  .github/workflows/on-pull-request-run-tests.yml
  cypress.common.config.ts
  framework/PageForm/ErrorAlert.cy.tsx
  framework/PageForm/ErrorAlert.tsx
  framework/PageForm/PageForm.tsx
  framework/PageForm/README.md
  framework/PageForm/genericErrorAdapter.cy.ts
  framework/PageForm/genericErrorAdapter.ts
  framework/PageForm/typesErrorAdapter.ts
  framework/PageWizard/PageWizard.tsx
  framework/PageWizard/PageWizardBody.tsx
  frontend/awx/AwxPageForm.tsx
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/access/teams/TeamForm.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/adapters/awxErrorAdapter.cy.tsx
  frontend/awx/adapters/awxErrorAdapter.tsx
  frontend/awx/administration/instances/EditInstance.tsx
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/useAwxView.tsx
  frontend/awx/views/schedules/RuleForm.tsx
  frontend/awx/views/schedules/ScheduleForm.tsx
  frontend/common/crud/RequestError.cy.ts
  frontend/common/crud/RequestError.ts
  frontend/hub/HubPageForm.tsx
  frontend/hub/adapters/hubErrorAdapter.cy.ts
  frontend/hub/adapters/hubErrorAdapter.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
  package.json
Labels: AWX, HUB, CCT, AFW

#1018 Continuing data-cy refactoring
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
Labels: AWX, E2E

#1009 EDA update projects to use PageRoutedTabs
  cypress/e2e/eda/Projects/projects-list.cy.ts
  frontend/eda/EdaRoutes.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectDetails.cy.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectPage.tsx
  frontend/eda/useEdaNavigation.tsx
Labels: EDA, E2E, CCT

#1016 Cleanup DataEditor in prep for PF5
  framework/PageForm/Inputs/FormGroupTextInput.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  framework/index.ts
Labels: AFW

#1019 Subscription usage chart fix
  frontend/awx/analytics/subscription-usage/SubscriptionUsageChart.tsx
Labels: AWX

#1010 fix dashboard card count crash
  frontend/awx/dashboard/cards/AwxCountsCard.tsx
Labels: AWX

#995 Prompt on launch wizard feature with E2E tests
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageWizard/PageWizard.cy.tsx
  framework/PageWizard/PageWizard.tsx
  framework/PageWizard/PageWizardBody.cy.tsx
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/PageWizardFooter.cy.tsx
  framework/PageWizard/PageWizardFooter.tsx
  framework/PageWizard/PageWizardNavigation.tsx
  framework/PageWizard/PageWizardProvider.tsx
  framework/PageWizard/PageWizardToggle.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/interfaces/JobEvent.ts
  frontend/awx/interfaces/LaunchConfiguration.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.cy.tsx
  frontend/awx/resources/templates/TemplatePage/steps/ConditionalField.tsx
  frontend/awx/resources/templates/TemplatePage/steps/CredentialPasswordsStep.tsx
  frontend/awx/resources/templates/TemplatePage/steps/OtherPromptsStep.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/TemplatePage/steps/index.ts
  frontend/awx/resources/templates/Templates.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.cy.tsx
  frontend/awx/resources/templates/hooks/useLabelPayload.tsx
  frontend/awx/resources/templates/hooks/useLaunchTemplate.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX, E2E, CCT, AFW

#1023 Remove welcome modal checks
  cypress/e2e/awx/dashboard/welcomeModal.cy.ts
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
Labels: AWX, E2E

#1029 Refactor page navigation for clarity
  framework/PageNavigation/PageNavigation.tsx
Labels: AFW

#999 Stop running task
  frontend/hub/tasks/Task.tsx
  frontend/hub/tasks/Tasks.tsx
  frontend/hub/tasks/hooks/useTaskActions.tsx
  frontend/hub/tasks/hooks/useTasksActions.tsx
Labels: HUB

#1028 [AAP-15916] Update hubErrorAdapter to deal with details only field
  frontend/hub/adapters/hubErrorAdapter.cy.ts
  frontend/hub/adapters/hubErrorAdapter.tsx
Labels: HUB, CCT

#1033 Analytics different pagination ranges & hide table in preview & Some comments of code
  framework/PageTable/PagePagination.tsx
  framework/PageTable/PageTable.tsx
  framework/PageToolbar/PageToolbar.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/Test.tsx
Labels: AWX, AFW

#1038 update ansible framework peer dependencies
  framework/package.json
Labels: AFW

#1043 Fix for failing E2E tests on hub
  cypress/e2e/hub/hub-dashboard.cy.ts
  framework/components/EmptyStateCustom.tsx
Labels: E2E, AFW

#1036 Update application & host page routing
  frontend/awx/AwxRoutes.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/common/RoutedTabs.tsx
Labels: AWX

#1045 navigation cleanup
  framework/PageFramework.css
  framework/PageNavigation/PageNavigation.tsx
  framework/PageNavigation/useGetPageUrl.tsx
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/roles/Roles.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/common/Routes.ts
  frontend/common/columns.tsx
Labels: AWX, AFW

#1008 [AAP-16910] Add error message alert for activation
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/interfaces/generated/openapi.json
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA

#1002 [AAP-16651] Add delete warning for in use decision environments.
  frontend/eda/Resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/Resources/decision-environments/hooks/useDeleteDecisionEnvironments.tsx
  frontend/eda/common/EdaItemsResponse.tsx
  frontend/eda/common/EdaResourcesComon.tsx
  frontend/eda/common/PageDetailSection.tsx
  frontend/eda/useEventDrivenView.tsx
  frontend/eda/views/RuleAudit/EventPayloadDialog.tsx
Labels: EDA

#1042 update packages
  frontend/awx/common/useAwxWebSocket.tsx
  frontend/awx/views/schedules/Schedules.cy.tsx
  package-lock.json
  package.json
Labels: AWX, CCT

#1040 Refactor dashboard card header
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/support/eda-commands.ts
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardCountBar.tsx
Labels: AWX, E2E, AFW

#1052 Remove not used code
  framework/PageDialogs/PageDialog.tsx
  frontend/common/BetterDropdown.tsx
Labels: AFW

#1044 [WIP] Create global project
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/global-project.ts
Labels: AWX, E2E

#1057 github action update to use shared awx e2e action
  .github/workflows/awx-e2e.yml
  .github/workflows/awx-update-server.yml
  .github/workflows/on-pull-request-run-tests.yml
  .github/workflows/on-schedule-upgrade-dependencies.yml
  framework/README.md
Labels: AFW

#1059 Create dashboard count bar component tests
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  framework/PageDashboard/PageDashboardCountBar.cy.tsx
Labels: AWX, E2E, CCT, AFW

#1067 Misc fixes
  framework/PageTabs/PageRoutedTabs.tsx
  framework/utils/formatDateString.tsx
  frontend/awx/interfaces/Schedule.ts
Labels: AWX, AFW

#1068 github actions add hub and eda server update actions
  .github/workflows/awx-update-server.yml
  .github/workflows/eda-e2e.yml
  .github/workflows/eda-update-server.yml
  .github/workflows/hub-e2e.yml
  .github/workflows/hub-update-server.yml
  .github/workflows/on-pull-request-run-tests.yml
  framework/README.md
Labels: AFW

#1073 [AAP-15663] EdaCredential - use PageRoutedTabs, add Back to Credential tab
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  frontend/eda/EdaRoutes.tsx
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/Resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectPage.tsx
  frontend/eda/useEdaNavigation.tsx
Labels: EDA, E2E

#1070 [AAP-16950] Update the help text for the VerifySSL field
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA

#1072 Adding global project and org to tests
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/global-project.ts
Labels: AWX, E2E

#1078 Awx credential types details
  cypress/fixtures/credential_type.json
  framework/PageDetails/PageDetailCodeEditor.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypeDetails.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/interfaces/CredentialType.ts
  frontend/awx/resources/credentials/components/CredentialTypeDetail.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/common/Routes.ts
Labels: AWX, CCT, AFW

#1079 [WIP] org and jt changes
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#1082 E2E tests for credential types list
  cypress/e2e/awx/administration/credentials-types.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  locales/en/translation.json
Labels: AWX, E2E

#1084 Revert "[WIP] org and jt changes"
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#1083 Awx credential types
  cypress/e2e/awx/administration/credentials-types.cy.ts
  cypress/fixtures/credentialTypes.json
  cypress/fixtures/credential_type.json
  cypress/fixtures/inputs.yaml
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageDetails/PageDetailCodeEditor.tsx
  framework/PageForm/Inputs/DataEditor.tsx
  framework/PageForm/Inputs/PageFormDataEditor.cy.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/administration/credential-types/CredentialTypeForm.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypeForm.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypeCredentials.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypeCredentials.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypeDetails.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/administration/credential-types/CredentialTypes.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypes.tsx
  frontend/awx/administration/credential-types/hooks/useCredentialTypeActions.tsx
  frontend/awx/administration/credential-types/hooks/useCredentialTypesColumns.tsx
  frontend/awx/administration/credential-types/hooks/useCredentialTypesFilters.tsx
  frontend/awx/administration/credential-types/hooks/useDeleteCredentialTypes.tsx
  frontend/awx/interfaces/CredentialType.ts
  frontend/awx/resources/common/CredentialsList.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.cy.tsx
  frontend/awx/resources/credentials/Credentials.tsx
  frontend/awx/resources/credentials/components/CredentialTypeDetail.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/common/Routes.ts
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
Labels: AWX, E2E, CCT, AFW

#1050 Add optional inline alerts for the PageDetails component. Use it in RulebookActivationDetails page
  framework/PageDetails/PageDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA, AFW

#1089 testing tests
  .github/workflows/awx-e2e.yml
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
Labels: AWX, E2E

#1087 Awx routes separation
  frontend/awx/useAwxNavigation.tsx
  frontend/awx/useGetAwxActivityStream.tsx
  frontend/awx/useGetAwxApplicationsRoutes.tsx
  frontend/awx/useGetAwxCredentialRoutes.tsx
  frontend/awx/useGetAwxCredentialTypesRoutes.tsx
  frontend/awx/useGetAwxExecutionEnironmentRoutes.tsx
  frontend/awx/useGetAwxHostRoutes.tsx
  frontend/awx/useGetAwxInstanceGroupsRoutes.tsx
  frontend/awx/useGetAwxInstancesRoutes.tsx
  frontend/awx/useGetAwxInventoryRoutes.tsx
  frontend/awx/useGetAwxJobsRoutes.tsx
  frontend/awx/useGetAwxManagementJobsRoutes.tsx
  frontend/awx/useGetAwxNotificationsRoutes.tsx
  frontend/awx/useGetAwxOrganizationsRoutes.tsx
  frontend/awx/useGetAwxProjectRoutes.tsx
  frontend/awx/useGetAwxSchedulesRoutes.tsx
  frontend/awx/useGetAwxTeamsRoutes.tsx
  frontend/awx/useGetAwxTemplateRoutes.tsx
  frontend/awx/useGetAwxUsersRoutes.tsx
  frontend/awx/useGetAwxWorkflowApprovalRoutes.tsx
Labels: AWX

#1095 [AAP-15663] Update Decision Environments Pages to use PageRoutedTabs
  frontend/eda/EdaRoutes.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentPage.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/useEdaNavigation.tsx
Labels: EDA, CCT

#1094 [WIP] Enable global organization in orgs spec file
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/global-project.ts
Labels: AWX, E2E

#1097 [AAP-15663] Convert the User/Me pages to use PageRoutedTabs. Add Back to Users tab.
  cypress/e2e/eda/Users/users-list.cy.ts
  frontend/eda/EdaRoutes.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/UserAccess/Users/UserPage/ControllerTokens.tsx
  frontend/eda/UserAccess/Users/UserPage/MyDetails.tsx
  frontend/eda/UserAccess/Users/UserPage/MyPage.tsx
  frontend/eda/UserAccess/Users/UserPage/UserDetails.tsx
  frontend/eda/UserAccess/Users/UserPage/UserPage.tsx
  frontend/eda/useEdaNavigation.tsx
Labels: EDA, E2E

#1001 Collection delete version and handle redirection after delete
  frontend/hub/api/utils.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
Labels: HUB

#1103 Monaco update how monaco is importing into the framework
  framework/PageForm/Inputs/DataEditor.tsx
Labels: AFW

#1086 Add unit tests for BulkActionDialog
  framework/PageDialogs/BulkActionDialog.cy.tsx
  framework/PageDialogs/BulkActionDialog.tsx
Labels: CCT, AFW

#1098 update packages
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  package-lock.json
  package.json
Labels: AWX

#1093 Cypress upgrade to 13.3.0
  .github/workflows/on-pull-request-run-tests.yml
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/global-project.ts
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/components/useSearchParams.tsx
  framework/useView.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.cy.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutputChildrenSummary.tsx
  package-lock.json
  package.json
Labels: AWX, E2E, CCT, AFW

#1100 Update BulkActionDiaglog to useAborController hook
  framework/PageDialogs/BulkActionDialog.tsx
  frontend/awx/access/organizations/hooks/useAddOrganizationsToUsers.tsx
  frontend/awx/access/organizations/hooks/useRemoveOrganizationsFromUsers.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/access/teams/hooks/useAddTeamsToUsers.tsx
  frontend/awx/access/teams/hooks/useRemoveTeamsFromUsers.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromOrganizations.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromTeams.tsx
  frontend/hub/remotes/hooks/useDeleteRemotes.tsx
Labels: AWX, HUB, AFW

#1096 Adds credentials and instance groups to Job templates
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
Labels: AWX, E2E

#1104 [AAP-15683] Convert the Rule Audit pages to use PageRoutedTabs. Add Back to Rule Audit tab
  frontend/eda/EdaRoutes.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditActions.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditEvents.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditPage.tsx
Labels: EDA

#1105 [WIP] fixing custom resource command
  cypress/e2e/awx/access/teams.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
Labels: AWX, E2E, AFW

#1111 Jobs Spec- fix test flakiness
  cypress/e2e/awx/views/jobs.cy.ts
Labels: AWX, E2E

#1108 PageFormAsyncMultiSelect & PageFormAsyncSingleSelect
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.cy.tsx
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.cy.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.tsx
  framework/PageForm/PageFormInputPopover.tsx
Labels: CCT, AFW

#1113 E2E Fix Delete Inventory not to delete the global Organization
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/e2e.ts
  cypress/support/global-project.ts
Labels: AWX, E2E

#1115 select component icons
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSelectOption.tsx
  framework/PageInputs/PageSingleSelect.tsx
Labels: AFW

#1121 Updates to common columns for Access section
  frontend/awx/access/teams/hooks/useDeleteTeams.tsx
  frontend/awx/access/teams/hooks/useTeamsColumns.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
  frontend/awx/resources/projects/hooks/useProjectsColumns.tsx
  frontend/common/columns.tsx
Labels: AWX

#1118 masthead responsive design tweaks
  framework/PageMasthead/PageMasthead.tsx
  frontend/awx/AwxMasthead.tsx
Labels: AWX, AFW

#1110 Login layout, form PF5 updates
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  framework/PageForm/GenericForm.tsx
  framework/PageForm/PageForm.tsx
  framework/PageForm/PageFormButtons.tsx
  framework/PageFramework.css
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/PageWizardFooter.tsx
  framework/components/Scrollable.tsx
  framework/index.ts
  frontend/common/Login.tsx
  frontend/common/LoginForm.tsx
Labels: E2E, AFW

#1063 Adds Total Nodes element to workflow visualizer toolbar
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
Labels: AWX, CCT

#1123 Fix Job E2E Test
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/common-commands.ts
Labels: AWX, E2E

#1116 [AAP-12326] Remove modal dialog for rulebook activation enable/disable
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA

#1071 Switch count bar to pie charts
  framework/PageDashboard/PageDashboardCountBar.cy.tsx
  framework/PageDashboard/PageDashboardCountBar.tsx
Labels: CCT, AFW

#1125 Replace PageForm with HubPageForm
  frontend/hub/collections/CollectionSignatureUpload.tsx
Labels: HUB

#1127 Remove fixed positioning from page wrapper
  framework/PageFramework.css
  frontend/awx/AwxMasthead.tsx
Labels: AWX, AFW

#1062 [AAP-17392] Add hidden field component
  framework/PageInputs/PageHiddenInput.cy.tsx
  framework/PageInputs/PageHiddenInput.tsx
  framework/PageInputs/PageInputs.md
Labels: CCT, AFW

#1128 Dark Theme - Add styling classes to form footer
  framework/PageForm/PageForm.tsx
Labels: AFW

#1133 E2E Fix flaky tests
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/common-commands.ts
Labels: AWX, E2E

#1134 [AAP-15657] - Update eda details routes. Action menu only in details pages.
  frontend/eda/UserAccess/Users/UserPage/UserPage.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/useEdaNavigation.tsx
Labels: EDA

#1129 [AAP-14311] Update date label format for the Rule audit graph
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
Labels: EDA

#1139 Add the PageNotFound and PageNotImplemented to the framework
  framework/PageEmptyStates/PageNotFound.tsx
  framework/PageEmptyStates/PageNotImplemented.tsx
  framework/PageNavigation/PageApp.tsx
  framework/index.ts
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/management-jobs/ManagementJobs.tsx
  frontend/awx/administration/notifications/Notifications.tsx
  frontend/awx/analytics/Reports/ReportsList.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/awx/useGetAwxActivityStream.tsx
  frontend/awx/useGetAwxApplicationsRoutes.tsx
  frontend/awx/useGetAwxCredentialRoutes.tsx
  frontend/awx/useGetAwxHostRoutes.tsx
  frontend/awx/useGetAwxInstanceGroupsRoutes.tsx
  frontend/awx/useGetAwxInventoryRoutes.tsx
  frontend/awx/useGetAwxManagementJobsRoutes.tsx
  frontend/awx/useGetAwxNotificationsRoutes.tsx
  frontend/awx/useGetAwxOrganizationsRoutes.tsx
  frontend/awx/useGetAwxProjectRoutes.tsx
  frontend/awx/useGetAwxTemplateRoutes.tsx
  frontend/awx/useGetAwxWorkflowApprovalRoutes.tsx
Labels: AWX, AFW

#1136 Restructure oauth options to allow duplicate types
  frontend/awx/AwxLogin.tsx
  frontend/common/Login.tsx
  frontend/common/LoginForm.tsx
  frontend/common/SocialAuthLogin.tsx
Labels: AWX

#1074 Analytics more general view
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
  frontend/awx/analytics/useAnalyticsView.ts
Labels: AWX

#1132 PF5 Table Sticky Column Fixes
  framework/PageFramework.css
  framework/PageTable/PageLoadingTable.tsx
  framework/PageTable/PageTable.css
  framework/PageTable/PageTable.tsx
Labels: AFW

#1151 Fix remove second PageLayout - each page had two PageLayouts
  framework/PageNavigation/PageApp.tsx
Labels: AFW

#1150 Fix console warning ouiaId is not a know property of element
  framework/PageActions/PageActionDropdown.tsx
Labels: AFW

#1148 Repair failing approval repository filter
  frontend/hub/repositories/hooks/useRepositorySelector.tsx
Labels: HUB

#1155 Base component for UserDetails (used in AWX & EDA)
  frontend/awx/access/users/UserPage/UserDetails.tsx
  frontend/awx/access/users/components/AuthenticationType.tsx
  frontend/awx/access/users/components/UserType.tsx
  frontend/common/access/UserDetailsBase.tsx
  frontend/eda/UserAccess/Users/UserPage/MyDetails.tsx
  frontend/eda/UserAccess/Users/UserPage/UserDetails.tsx
Labels: AWX, EDA
