Repository ansible/ansible-ui, pull requests merged in 2023-07, with the labels that each got.

#668 [AAP-12499][AAP-12500] Switch username and type fields in the details page. Fix Username field
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
Labels: EDA, E2E

#670 [AAP-]12160] Add expanded row to the users list, containing the user's roles
  frontend/eda/UserAccess/Users/hooks/useUserColumns.tsx
Labels: EDA

#672 [AAP-12212] Add create option to the credentials select dropdown
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA

#671 [AAP-12158] Update Rule audit actions card and list format.
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
Labels: EDA

#664 [AAP-11992] Add iconAlign property to the TextCell component. External link icon to the right for the Action field
  framework/PageCells/TextCell.tsx
  framework/components/IconWrapper.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
Labels: EDA, AFW

#674 cypress command cleanup
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
  cypress/support/rest-commands.ts
  frontend/Routes.ts
  frontend/awx/dashboard/cards/AwxRecentProjectsCard.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceColumns.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateDetail.tsx
  frontend/awx/views/schedules/hooks/useSchedulesColumns.tsx
  frontend/common/Masthead.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/Resources/inventories/Inventories.tsx
  frontend/eda/Resources/inventories/InventoryDetails.tsx
  frontend/eda/Resources/inventories/hooks/useInventoryColumns.tsx
Labels: AWX, EDA, E2E

#677 [AAP-12156] Switch Credentials and Decision Environments in the left hand Navigation
  frontend/eda/EventDrivenSidebar.tsx
Labels: EDA

#680 [AAP-13386] Update the help text for the project URL
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA

#578 [EDA] Fix broken user details and user tokens views for non-admins and non-auditors
  cypress/e2e/eda/Users/users-list.cy.ts
  frontend/Routes.ts
  frontend/common/Masthead.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/EventDrivenSidebar.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
Labels: EDA, E2E

#679 Pre-PatternFly 5 component cleanup
  framework/PageForm/Inputs/FormGroupTextInput.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
Labels: AFW

#685 Fixed create credential routes in form select
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA

#686 [AAP-13688] Update field order in rulebook activation create/details pages
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#688 [AAP-12532] Update activation details section
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
Labels: EDA

#687 Refactor PageFormSelectOption to streamline in preparation for PF5
  framework/PageForm/Inputs/PageFormSelectOption.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
Labels: AFW

#690 Dashboard tests Controller
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
Labels: AWX, E2E

#691 Add disablePagination prop to PageTableToolbar
  framework/PageTable/PageToolbar/PageToolbar.tsx
Labels: AFW

#678 Framework component to reorder items (with selections)
  framework/components/ReorderItems.tsx
  frontend/hub/dashboard/Dashboard.tsx
  frontend/hub/dashboard/ManageView.tsx
Labels: HUB, AFW

#659 Job output websockets
  frontend/awx/common/useAwxWebSocket.tsx
  frontend/awx/views/jobs/JobOutput/HostStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.css
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputLoadingRow.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
Labels: AWX

#699 Fix flaky Cypress test for Jobs List
  cypress/e2e/awx/views/jobs.cy.ts
Labels: AWX, E2E

#701 [AAP-13688] Updated fields order in the rulebook activation details page
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
Labels: EDA

#697 [AAP-11561] Updated links
  frontend/eda/Resources/credentials/hooks/useCredentialColumns.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupColumns.tsx
  frontend/eda/UserAccess/Roles/hooks/useRoleColumns.tsx
  frontend/eda/UserAccess/Users/hooks/useUserColumns.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
  frontend/eda/rulebooks/hooks/useRulebookColumns.tsx
  frontend/eda/rulebooks/hooks/useRulesetColumns.tsx
  frontend/eda/rules/hooks/useRuleColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA

#700 Update link prop for PageDashboardCarousel
  framework/PageDashboard/PageDashboardCarousel.tsx
Labels: AFW

#683 Approval list
  framework/useView.tsx
  frontend/hub/api.tsx
  frontend/hub/approvals/Approval.tsx
  frontend/hub/approvals/Approvals.tsx
  frontend/hub/approvals/hooks/useApprovalActions.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/approvals/hooks/useApprovalsActions.tsx
  frontend/hub/approvals/hooks/useApprovalsColumns.tsx
  frontend/hub/useHubView.tsx
Labels: HUB, AFW

#706 Rename ItemsResponse to AwxItemsResponse
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/awx-commands.ts
  frontend/awx/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/awx/access/organizations/utils/getOrganizationByName.ts
  frontend/awx/administration/execution-environments/components/PageFormExecutionEnvironmentSelect.tsx
  frontend/awx/common/AwxItemsResponse.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/resources/credentials/hooks/useCredentialsColumns.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/components/PageFormInventorySelect.tsx
  frontend/awx/resources/inventories/components/PageFormInventorySourceSelect.tsx
  frontend/awx/resources/projects/components/PageFormProjectSelect.tsx
  frontend/awx/resources/projects/hooks/useGetCredentialTypeIDs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/components/PageFormJobTemplateSelect.tsx
  frontend/awx/resources/templates/components/PageFormWorkflowJobTemplateSelect.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
  frontend/awx/useAwxView.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/awx/views/jobs/hooks/useRelaunchJob.tsx
  frontend/awx/views/jobs/jobUtils.cy.tsx
  frontend/common/crud/Data.tsx
  frontend/common/crud/useGetAllPagesAWX.tsx
  frontend/common/useActiveUser.tsx
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
  frontend/eda/useEventDrivenView.tsx
Labels: AWX, EDA, E2E, CCT

#711 Reflect updated order in selected items
  framework/components/ReorderItems.tsx
Labels: AFW

#712 Add EDA active user context
  frontend/common/Masthead.tsx
  frontend/common/useActiveUser.tsx
  frontend/eda/EventDriven.tsx
  frontend/eda/EventDrivenSidebar.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
Labels: EDA

#702 AWX Schedule Rules Tab and Schedule Details
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageDialogs/BulkConfirmationDialog.tsx
  framework/PageTable/PageTable.tsx
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/interfaces/Schedule.ts
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleDetails.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/hooks/getScheduleResourceUrl.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
  frontend/awx/views/schedules/hooks/useSchedulesColumns.tsx
Labels: AWX, AFW

#710 Toolbar - SingleSelectFilter, MultiSelectFilter, DateRangeFilter, pinned filters
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  framework/PageForm/Inputs/FormGroupSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageTable/PageToolbar/PageToolbar.css
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/PageTable/PageToolbar/PageToolbarFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarDateFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarDateRangeFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarFilterCommon.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarFilters.cy.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarSelectFilter.css
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarSelectFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarTextFilter.tsx
  frontend/awx/access/roles/Roles.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/hooks/useUsersFilters.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instances/hooks/useInstancesFilter.tsx
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/projects/hooks/useProjectsFilters.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputToolbar.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsFilters.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
  frontend/awx/views/schedules/Schedules.cy.tsx
  frontend/eda/Resources/credentials/hooks/useCredentialFilters.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentFilters.tsx
  frontend/eda/Resources/inventories/hooks/useInventoryFilters.tsx
  frontend/eda/Resources/projects/hooks/useProjectFilters.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupFilters.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokenFilters.tsx
  frontend/eda/UserAccess/Users/hooks/useUserFilters.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryFilters.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationFilters.tsx
  frontend/eda/rulebooks/hooks/useRulebookFilters.tsx
  frontend/eda/rulebooks/hooks/useRulesetFilters.tsx
  frontend/eda/rules/hooks/useRuleFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditEventsFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditFilters.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentFilters.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceFilters.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistryFilters.tsx
  frontend/hub/remotes/hooks/useRemoteFilters.tsx
  frontend/hub/signature-keys/SignatureKeys.tsx
  frontend/hub/tasks/Tasks.tsx
Labels: AWX, EDA, HUB, CCT, AFW

#681 Upload collection
  framework/PageForm/Inputs/PageFormFileUpload.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/usePulpView.tsx
Labels: HUB, AFW

#723 Fix linter error
  frontend/hub/collections/UploadCollection.tsx
Labels: HUB

#719 Update credential link and footer in the Project edit form.
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA

#713 add support to the useView to support extre querystring values withou…
  cypress/e2e/eda/Roles/roles-list.cy.ts
  framework/components/useIsMounted.tsx
  framework/useInMemoryView.tsx
  framework/useView.tsx
  frontend/automation-servers/AutomationServers.tsx
  frontend/awx/useAwxView.tsx
  frontend/eda/useEventDrivenView.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
Labels: AWX, EDA, E2E, HUB, AFW

#692 Remove unused components and rename page form select
  framework/PageForm/Inputs/PageFormSelect.tsx
  framework/PageForm/Inputs/PageFormSelectOption.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/PageForm/Inputs/PageFormTextSelect.tsx
  framework/index.ts
  frontend/automation-servers/hooks/useAddAutomationServer.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ManualSubForm.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
  frontend/awx/views/schedules/components/ScheduleInputs.tsx
  frontend/common/LoginModal.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: AWX, EDA, AFW

#728 Clean up react console warnings
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableCard.tsx
  framework/Settings.tsx
  frontend/automation-servers/hooks/useAddAutomationServer.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/WelcomeModal.tsx
  frontend/eda/views/RuleAudit/EventPayloadDialog.tsx
  frontend/hub/dashboard/ManageView.tsx
Labels: AWX, EDA, HUB, AFW

#726 Update Automation Servers Pages
  cypress/support/auth.ts
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/PageTable/PageToolbar/PageToolbarFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarView.tsx
  framework/useInMemoryView.tsx
  frontend/Main.tsx
  frontend/Routes.ts
  frontend/automation-servers/AutomationServer.tsx
  frontend/automation-servers/AutomationServerSwitcher.tsx
  frontend/automation-servers/AutomationServers.tsx
  frontend/automation-servers/AutomationServersProvider.tsx
  frontend/automation-servers/IndexDb.tsx
  frontend/automation-servers/contexts/AutomationServerProvider.tsx
  frontend/automation-servers/hooks/useAddAutomationServer.tsx
  frontend/automation-servers/hooks/useAutomationServerFilters.tsx
  frontend/automation-servers/hooks/useAutomationServerTypes.tsx
  frontend/automation-servers/hooks/useAutomationServersColumns.tsx
  frontend/automation-servers/hooks/useAutomationServersRowActions.tsx
  frontend/automation-servers/hooks/useAutomationServersToolbarActions.tsx
  frontend/automation-servers/hooks/useRemoveAutomationServers.tsx
  frontend/automation-servers/hooks/useSetActiveAutomationServer.tsx
  frontend/automation-servers/interfaces/AutomationServer.tsx
  frontend/automation-servers/interfaces/AutomationServerType.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/common/useAwxWebSocket.tsx
  frontend/common/CommonSidebar.tsx
  frontend/common/LoginModal.tsx
  frontend/common/Masthead.tsx
  frontend/common/should-show-autmation-servers.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/hub/HubRouter.tsx
  frontend/hub/api.tsx
  frontend/hub/approvals/Approvals.tsx
  frontend/typings.d.ts
  package.json
  proxy/proxy-handler.ts
  webpack.config.cjs
Labels: AWX, EDA, HUB, AFW

#732 page inputs doc
  framework/PageInputs/PageInputs.md
Labels: AFW

#729 [AAP-14457] Add ruleset name to the Rule audit details page.
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditCard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
  frontend/eda/interfaces/EdaRuleAudit.ts
  frontend/eda/views/RuleAudit/RuleAudit.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA

#736 Update help text for the SCM URL on the project details page.
  frontend/eda/Resources/projects/ProjectDetails.tsx
Labels: EDA

#739 PageSingleSelect Options and Tests
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  framework/PageInputs/PageSingleSelect.cy.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageTable/PageToolbar/PageToolbarFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarDateRangeFilter.tsx
Labels: CCT, AFW

#731 Adds Prompt on Launch Functionality for Job Template and Workflow Job…
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormDateTimePicker.tsx
  framework/PageForm/Inputs/PageFormSelect.tsx
  frontend/awx/administration/execution-environments/hooks/useSelectExecutionEnvironments.tsx
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/LaunchConfiguration.ts
  frontend/awx/interfaces/ScheduleFormFields.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/views/schedules/ScheduleForm.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleDetails.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/components/ScheduleInputs.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
Labels: AWX, AFW
