Repository ansible/ansible-ui, pull requests merged in 2023-06, with the labels that each got.

#581 Cherry pick from downstream- fix failing rulebook activations tests
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/fixtures/organizations.json
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
  framework/PageForm/Inputs/FormGroupTextInput.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/administration/execution-environments/components/PageFormExecutionEnvironmentSelect.tsx
  frontend/awx/interfaces/Project.ts
  frontend/awx/resources/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/resources/credentials/hooks/useCredentialsColumns.tsx
  frontend/awx/resources/credentials/hooks/useSelectCredential.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ArchiveSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/GitSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/InsightsSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ManualSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ScmTypeOptions.tsx
  frontend/awx/resources/projects/ProjectSubForms/SvnSubForm.tsx
  frontend/awx/resources/projects/hooks/useGetCredentialTypeIDs.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
Labels: framework, AWX, e2e, component

#582 Clean up translations.
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: AWX, EDA

#592 disable e2e test creating activations until they are fixed
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: e2e

#580 Move toolbar filters types to it's own files
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableColumn.tsx
  framework/PageTable/PageToolbar/PageTableViewType.tsx
  framework/PageTable/PageToolbar/PageToolbar.css
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/PageTable/PageToolbar/PageToolbarFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarFilterCommon.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarSelectFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarTextFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarSort.tsx
  framework/PageTable/PageToolbar/PageToolbarView.tsx
  framework/index.ts
  framework/useInMemoryView.tsx
  frontend/automation-servers/AutomationServers.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
Labels: framework, EDA

#575 Update rule audit to read activation_instance data
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA

#597 Delete jobs test: wait for job to come out of pending state
  cypress/e2e/awx/views/jobs.cy.ts
Labels: AWX, e2e

#599 Update help links for EDA getting started guide
  frontend/common/Masthead.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
Labels: EDA

#591 Pushing updated strings for localization
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
  translations/es/translation.json
  translations/fr/translation.json
  translations/ja/translation.json
  translations/ko/translation.json
  translations/nl/translation.json
  translations/zh/translation.json
Labels: EDA, e2e

#598 Fix to remove the gray background from table empty state
  framework/PageTable/PageTable.tsx
Labels: framework

#611 adds server logic to another test
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: e2e

#610 Dashboard cards
  framework/PageDashboard/PageDashboard.tsx
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardCount.tsx
  framework/PageDashboard/PageDashboardCountBar.tsx
  framework/PageDashboard/PageDashboardGettingStarted.tsx
  framework/index.ts
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/AwxGettingStartedCard.tsx
Labels: framework, AWX

#602 Job output search and toolbar
  cypress/fixtures/job.json
  cypress/fixtures/jobChildrenSummary.json
  cypress/fixtures/jobEvents.json
  framework/PageTable/PageToolbar/PageToolbar.css
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/components/pfcolors.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/interfaces/Job.ts
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/hooks/useProjectStatusColumn.tsx
  frontend/awx/views/jobs/JobOutput/HostStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.css
  frontend/awx/views/jobs/JobOutput/JobOutput.cy.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputLoadingRow.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputRow.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputToolbar.tsx
  frontend/awx/views/jobs/JobOutput/JobStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutputChildrenSummary.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/Status.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/tasks/TaskDetails.tsx
  frontend/hub/tasks/Tasks.tsx
Labels: framework, AWX, component

#583 [EDA] Fix broken settings modal in eda user create
  frontend/eda/UserAccess/Roles/hooks/useSelectRoles.tsx
Labels: EDA

#601 Adds edit functionality to the job template form
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/interfaces/JobEvent.ts
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
  frontend/common/crud/useGet.tsx
Labels: framework, AWX, e2e

#614 [WIP] Fix rulebook activations tests
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/eda-commands.ts
Labels: e2e

#621 Testing EDA against OCP (kubernetes) build
  cypress/e2e/eda/General-UI/login-logout.cy.ts
Labels: e2e

#622 Tech preview banner link test
  cypress/e2e/awx/dashboard/welcomeModal.cy.tsx
Labels: AWX, e2e

#620 Enhance PR GitHub Action to only run tests for what has changed
  .github/workflows/pull-request.yml
  cypress/e2e/hub/hub-dashboard.cy.ts
  frontend/eda/dashboard/EdaDashboard.cy.tsx
  frontend/hub/dashboard/HubDashboard.cy.tsx
Labels: EDA, e2e, component, HUB

#604 HUB - Add warning alert to delete namespace dialog
  frontend/hub/namespaces/hooks/useDeleteHubNamespaces.tsx
Labels: HUB

#618 Remove link to project from project select
  frontend/awx/resources/projects/components/PageFormProjectSelect.tsx
  frontend/awx/resources/projects/hooks/useProjectNameColumn.tsx
  frontend/awx/resources/projects/hooks/useProjectsColumns.tsx
Labels: AWX

#617 [AAP-11816] Update the decision environment page description. Remove help text from the User page Role field.
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/eda/UserAccess/Roles/components/PageFormRolesSelect.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
Labels: EDA, e2e

#629 [AAP-13182] Fix the link to the Activation Instance details page from the rule audit details page
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
Labels: EDA

#626 HUB Tasks update to use usePulpView
  frontend/hub/tasks/Tasks.tsx
Labels: HUB

#625 update dependencies
  framework/README.md
  package-lock.json
  package.json
Labels: framework

#616 HUB Signature Keys - Update filter to indicate filter matching by the API
  frontend/hub/signature-keys/SignatureKeys.tsx
Labels: HUB

#613 HUB Remote Registries Table - Pin the edit icon outside the row actions
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
Labels: HUB

#584 use styled components for divs
  framework/PageActions/PageActionDropdown.tsx
  framework/PageDashboard/PageDonutChart.tsx
  framework/PageMasthead.tsx
  framework/Settings.tsx
  frontend/automation-servers/AutomationServers.tsx
  frontend/common/Masthead.tsx
Labels: framework

#641 Fix failing jt test
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/projects/components/PageFormProjectSelect.tsx
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
Labels: AWX, E2E

#632 Page carousel component
  framework/PageCarousel/PageCarousel.tsx
  framework/PageCarousel/PageCarouselCardPage.tsx
  framework/PageCarousel/PageCarouselNav.tsx
  framework/PageDashboard/PageDashboardCarousel.tsx
  frontend/hub/dashboard/Dashboard.tsx
Labels: HUB, AFW

#624 Add Clipboard copy to Code Block page details. Set it for the ExtraVars and Event payload
  framework/PageDetails/PageDetailCodeEditor.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/components/EdaExtraVarCell.tsx
  frontend/eda/views/RuleAudit/EventPayloadDialog.tsx
Labels: EDA

#646 Update to poll for rulebook activation status
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: E2E

#648 [AAP-11829] Eda Dashboard - switch Audit Role and Activations card. Update Audit Rules card title
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  frontend/eda/dashboard/EdaDashboard.cy.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditCard.tsx
Labels: EDA, E2E, CCT

#643 [AAP-11927] Add missing Activation details fields
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA

#647 Add Date range select to Toolbar
  framework/PageTable/PageToolbar/PageToolbarFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/Date.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarDateFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarDateFilterWithOptions.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarSelectFilter.tsx
  frontend/awx/analytics/components/Toolbar/Toolbar.tsx
Labels: AWX, AFW

#649 add logic for query params in useHubView
  frontend/hub/useHubView.tsx
Labels: HUB

#653 Hub: useHubView, usePulpView - use named params, share utils
  .github/labeler.yml
  frontend/eda/Resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/Resources/decision-environments/hooks/useDeleteDecisionEnvironments.tsx
  frontend/eda/Resources/inventories/hooks/useDeleteInventories.tsx
  frontend/eda/Resources/projects/hooks/useDeleteProjects.tsx
  frontend/eda/UserAccess/Groups/hooks/useDeleteGroup.tsx
  frontend/eda/UserAccess/Users/hooks/useDeleteControllerTokens.tsx
  frontend/eda/UserAccess/Users/hooks/useDeleteUser.tsx
  frontend/hub/HubRouter.tsx
  frontend/hub/api.tsx
  frontend/hub/approvals/Approvals.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeprecateCollections.tsx
  frontend/hub/execution-environments/ExecutionEnvironments.tsx
  frontend/hub/namespaces/HubNamespaces.tsx
  frontend/hub/namespaces/hooks/useDeleteHubNamespaces.tsx
  frontend/hub/remote-registries/RemoteRegistries.tsx
  frontend/hub/repositories/Repositories.tsx
  frontend/hub/signature-keys/SignatureKeys.tsx
  frontend/hub/tasks/Tasks.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
  webpack.config.cjs
Labels: EDA, HUB

#656 [AAP-11923] Update dashboard card columns.
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/dashboard/cards/EdaDecisionEnvironmentsCard.cy.tsx
  frontend/eda/dashboard/cards/EdaDecisionEnvironmentsCard.tsx
  frontend/eda/dashboard/cards/EdaProjectsCard.cy.tsx
  frontend/eda/dashboard/cards/EdaProjectsCard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditCard.cy.tsx
  frontend/eda/dashboard/cards/EdaRulebookActivationsCard.cy.tsx
  frontend/eda/dashboard/cards/EdaRulebookActivationsCard.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA, CCT

#650 Add clipboard copy for the Output field in the activation History details page
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/hooks/useControlRulebookActivations.tsx
Labels: EDA, E2E

#658 [AAP-11907] Add token creation to the getting started progress bar.
  frontend/eda/dashboard/EdaDashboard.tsx
Labels: EDA

#651 Update page form select components for JT, WFJT, and Projects
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/projects/components/PageFormProjectSelect.tsx
  frontend/awx/resources/projects/hooks/useSelectProject.tsx
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/components/PageFormJobTemplateSelect.tsx
  frontend/awx/resources/templates/components/PageFormWorkflowJobTemplateSelect.tsx
  frontend/awx/resources/templates/hooks/useDeleteTemplates.tsx
  frontend/awx/resources/templates/hooks/useSelectJobTemplate.tsx
  frontend/awx/resources/templates/hooks/useSelectWorkflowJobTemplate.tsx
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
  frontend/awx/resources/templates/hooks/useTemplateFilters.tsx
Labels: AWX, CCT, AFW

#663 AAP 13465 Controller token page checks
  cypress/e2e/eda/admin-user/controller-token.cy.ts
Labels: E2E

#662 [AAP-11838] Update status label for an activation instance
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
Labels: EDA

#635 Adds create functionality for schedule container form
  cypress/e2e/awx/views/schedules.cy.ts
  framework/PageForm/Inputs/FormGroupDateTimePicker.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormDateTimePicker.tsx
  framework/utils/dateTimeHelpers.tsx
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/interfaces/Project.ts
  frontend/awx/interfaces/ScheduleFormFields.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/inventories/components/PageFormInventorySelect.tsx
  frontend/awx/resources/inventories/components/PageFormInventorySourceSelect.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceFilters.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventories.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventory.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventorySource.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/views/schedules/ScheduleForm.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/components/ScheduleInputs.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/awx/views/schedules/hooks/useSchedulesToolbarActions.tsx
  package-lock.json
  package.json
Labels: AWX, E2E, CCT, AFW

#654 Hub - fix requests failing on cors
  frontend/hub/api.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
Labels: HUB

#655 Hub - add hook for settings, feature flags & permissions
  frontend/hub/Hub.tsx
  frontend/hub/useHubContext.tsx
Labels: HUB

#665 [AAP-13132] Fixed delete decision environments confirmation text
  frontend/eda/Resources/decision-environments/hooks/useDeleteDecisionEnvironments.tsx
Labels: EDA

#667 [AAP-12147] Add clipboard copy to the git hash field in the rulebook activation details page
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
Labels: EDA

#666 [AAP-12159] Make the project SCM type field disabled in create/edit project pages
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA
