Repository ansible/ansible-ui, pull requests merged in 2023-08, with the labels that each got.

#740 useManagedItems hook for TableColumnManagement and DashboardSettings
  framework/PageColumnModal.tsx
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageDialogs/BulkConfirmationDialog.tsx
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableCard.tsx
  framework/PageTable/PageTableColumn.tsx
  framework/PageTable/PageTableList.tsx
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/PageTable/PageToolbar/PageToolbarView.tsx
  framework/components/ReorderItems.tsx
  framework/components/useManageColumns.tsx
  framework/components/useManagedItems.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/columns.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/dashboard/Dashboard.tsx
  frontend/hub/dashboard/ManageView.tsx
  frontend/hub/dashboard/useManageHubDashboard.tsx
Labels: AWX, EDA, HUB, AFW

#720 Add initial remote form
  framework/PageForm/Inputs/PageFormFileUpload.tsx
  framework/PageForm/PageFormExpandableSection.cy.tsx
  framework/PageForm/PageFormExpandableSection.tsx
  frontend/Routes.ts
  frontend/hub/HubRouter.tsx
  frontend/hub/api.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/remotes/hooks/useRemoteActions.tsx
  frontend/hub/remotes/hooks/useRemoteColumns.tsx
Labels: HUB, CCT, AFW

#738 Collection cards for Hub dashboard carousel view
  framework/PageCarousel/PageCarousel.tsx
  framework/PageTable/PageTableCard.tsx
  framework/components/useManagedItems.tsx
  frontend/hub/collections/CollectionVersionSearch.tsx
  frontend/hub/dashboard/CollectionCard.tsx
  frontend/hub/dashboard/CollectionCategories.tsx
  frontend/hub/dashboard/CollectionCategory.tsx
  frontend/hub/dashboard/Dashboard.tsx
  frontend/hub/dashboard/hooks/useCategorizeCollections.tsx
  frontend/hub/dashboard/hooks/useCategoryName.tsx
  frontend/hub/dashboard/hooks/useCollectionCategories.tsx
  frontend/hub/dashboard/useManageHubDashboard.tsx
Labels: HUB, AFW

#742 AWX: Job view use columns for the expended content
  framework/PageTable/PageTable.tsx
  framework/components/useManagedItems.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsColumns.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
Labels: AWX, AFW

#748 Work to make running each project as a separate script
  README.md
  ansible-ui.code-workspace
  docs/CAPITALIZATION.md
  docs/DEVELOPMENT.md
  docs/DOCKER.md
  docs/design.min.svg
  framework/tsconfig.json
  frontend/awx/tsconfig.json
  frontend/common/tsconfig.json
  frontend/eda/tsconfig.json
  frontend/hub/tsconfig.json
  package.json
  webpack.awx.cjs
  webpack.eda.cjs
  webpack.hub.cjs
Labels: AWX, EDA, HUB, AFW

#749 page single select changes
  framework/PageInputs/PageSelectOption.tsx
  framework/PageInputs/PageSingleSelect.cy.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageTable/PageToolbar/PageToolbarFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarDateRangeFilter.tsx
  framework/components/useManageColumns.tsx
Labels: CCT, AFW

#754 Add a wait for the project sync. Remove unused AWX resource reference.
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
Labels: E2E

#755 PageSingleSelect and PageMultiSelect add open search and support dyna…
  cypress/support/common-commands.ts
  framework/PageInputs/PageMultiSelect.css
  framework/PageInputs/PageMultiSelect.cy.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.css
  framework/PageInputs/PageSingleSelect.cy.tsx
  framework/PageInputs/PageSingleSelect.tsx
Labels: CCT, AFW

#746 Update automation calculator
  framework/PageFramework.css
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageToolbar/PageToolbar.tsx
  framework/PageTable/PageToolbar/PageToolbarFilter.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarFilters.cy.tsx
  framework/PageTable/PageToolbar/PageToolbarSort.tsx
  framework/components/Scrollable.tsx
  framework/useInMemoryView.tsx
  framework/useView.tsx
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/analytics/Reports/ErrorStates.tsx
  frontend/awx/analytics/Reports/Reports.tsx
  frontend/awx/analytics/Reports/TotalSavings.tsx
  frontend/awx/assets/images/ansible_analytics_screenshot.png
  frontend/awx/useAwxView.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputToolbar.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/eda/useEventDrivenView.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
  frontend/index.tsx
Labels: AWX, EDA, HUB, CCT, AFW

#759 PageAsyncMultiSelect & PageAsyncSingleSelect
  cypress/support/component.tsx
  framework/PageInputs/PageAsyncMultiSelect.cy.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.cy.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageInputs/PageInputs.md
  framework/PageInputs/PageMultiSelect.cy.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSelectOption.tsx
  framework/PageInputs/PageSingleSelect.cy.tsx
  framework/PageInputs/PageSingleSelect.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
Labels: AWX, CCT, AFW

#762 Fix rulebook activation test failures
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
Labels: E2E

#767 fix page select styling of header and footer
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSelect.css
  framework/PageInputs/PageSingleSelect.tsx
Labels: AFW

#750 [AAP-14612] Use Status cell in activation instance details page. Add icon for the Stopped status
  frontend/common/Status.tsx
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
Labels: EDA

#770 [AAP-12694] Restart menu enabled for all restart policies
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA

#764 [AAP-14506] Fix filter column in audit events
  frontend/eda/views/RuleAudit/hooks/useRuleAuditEventsFilters.tsx
Labels: EDA

#631 Changes based on feedback from UXD
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  framework/PageActions/PageActionLink.tsx
  framework/PageActions/PageActionSwitch.tsx
  framework/PageTable/PageTable.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instances/hooks/useInstanceRowActions.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/projects/hooks/useProjectActions.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/views/schedules/Schedules.cy.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
Labels: AWX, E2E, CCT, AFW

#760 [AAP-11836] Add hasCheckIcon to the Page Action Switch
  framework/PageActions/PageActionSwitch.tsx
Labels: AFW

#769 PageToolbar update ToolbarSingleSelect filter and ToolbarMultiSelect filter
  cypress/support/common-commands.ts
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageInputs/PageInputs.md
  framework/PageInputs/PageMultiSelect.cy.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSelectOption.tsx
  framework/PageInputs/PageSingleSelect.cy.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableColumn.tsx
  framework/PageTable/PageToolbar/PageToolbarFilterTypes/ToolbarSelectFilter.css
  framework/PageToolbar/PageTableViewType.tsx
  framework/PageToolbar/PageToolbar.css
  framework/PageToolbar/PageToolbar.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarDateRangeFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarFilterCommon.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarFilters.cy.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarSingleSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarTextFilter.tsx
  framework/PageToolbar/PageToolbarSort.tsx
  framework/PageToolbar/PageToolbarView.tsx
  framework/index.ts
  framework/useInMemoryView.tsx
  framework/useView.tsx
  frontend/automation-servers/AutomationServers.tsx
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/analytics/components/Toolbar/Date.tsx
  frontend/awx/analytics/components/Toolbar/Toolbar.tsx
  frontend/awx/analytics/components/Toolbar/ToolbarDateFilter.tsx
  frontend/awx/analytics/components/Toolbar/ToolbarDateFilterWithOptions.tsx
  frontend/awx/analytics/components/Toolbar/ToolbarSelectFilterDeprecated.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputToolbar.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
Labels: AWX, EDA, HUB, CCT, AFW

#771 [AAP-11461] Add ids to PageTable components
  frontend/eda/Resources/credentials/Credentials.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/eda/Resources/inventories/Inventories.tsx
  frontend/eda/Resources/projects/Projects.tsx
  frontend/eda/UserAccess/Users/Users.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
Labels: EDA

#779 useManagedItems fixes for Dashboards and Table Columns
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  framework/components/ReorderItems.tsx
  framework/components/useManageColumns.tsx
  framework/components/useManagedItems.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/hooks/useManagedAwxDashboard.tsx
  frontend/hub/dashboard/CollectionCategory.tsx
  frontend/hub/dashboard/useManageHubDashboard.tsx
Labels: AWX, E2E, HUB, AFW

#772 PageAsyncSelectComponents fix spacing in footer
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
Labels: AFW

#794 Milan async toolbar filters
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
Labels: HUB, AFW

#789 Approvals reject
  frontend/hub/approvals/Approvals.tsx
  frontend/hub/approvals/hooks/useApprovalActions.tsx
  frontend/hub/approvals/hooks/useApprovalsActions.tsx
  frontend/hub/approvals/hooks/useRejectCollections.tsx
Labels: HUB

#757 Enhancements to collections card view
  cypress/fixtures/application_collection_versions.json
  cypress/fixtures/storage_collection_versions.json
  framework/PageCarousel/PageCarouselNav.tsx
  framework/PageTable/PageTableCard.tsx
  frontend/hub/dashboard/CollectionCard.cy.tsx
  frontend/hub/dashboard/CollectionCard.tsx
  frontend/hub/dashboard/CollectionCategories.cy.tsx
  frontend/hub/dashboard/CollectionCategories.tsx
  frontend/hub/dashboard/Dashboard.tsx
  frontend/hub/dashboard/HubDashboard.cy.tsx
  frontend/hub/dashboard/hooks/useCategorizeCollections.tsx
  frontend/hub/dashboard/hooks/useCollectionCategories.tsx
Labels: HUB, CCT, AFW

#797 Logo for collection cards shown in the hub dashboard
  framework/PageDashboard/PageDashboardCard.tsx
  frontend/hub/common/Logo.tsx
  frontend/hub/dashboard/CollectionCard.tsx
Labels: HUB, AFW

#727 Job output follow mode & scroll buttons
  frontend/awx/views/jobs/JobOutput/JobOutput.cy.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputToolbar.tsx
  frontend/awx/views/jobs/JobOutput/PageControls.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/awx/views/jobs/JobOutput/useScrollControls.tsx
  frontend/awx/views/jobs/JobOutput/useVirtualized.tsx
  frontend/awx/views/jobs/JobOutput/util.ts
  frontend/awx/views/jobs/JobPage.tsx
Labels: AWX, CCT

#796 toolbar remove unneeded abstractions for select filter components
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarSingleSelectFilter.tsx
Labels: AFW

#786 Add http client to hub to handle the task system
  framework/PageToolbar/PageToolbarFilters/ToolbarFilters.cy.tsx
  frontend/common/utils/nameKeyFn.tsx
  frontend/eda/Resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/Resources/decision-environments/hooks/useDeleteDecisionEnvironments.tsx
  frontend/eda/Resources/inventories/hooks/useDeleteInventories.tsx
  frontend/eda/Resources/projects/hooks/useDeleteProjects.tsx
  frontend/eda/UserAccess/Groups/hooks/useDeleteGroup.tsx
  frontend/eda/UserAccess/Users/hooks/useDeleteControllerTokens.tsx
  frontend/eda/UserAccess/Users/hooks/useDeleteUser.tsx
  frontend/hub/api.tsx
  frontend/hub/api/request.ts
  frontend/hub/api/utils.tsx
  frontend/hub/approvals/Approvals.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/approvals/hooks/useRejectCollections.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
  frontend/hub/collections/hooks/useDeprecateCollections.tsx
  frontend/hub/dashboard/hooks/useCategorizeCollections.tsx
  frontend/hub/execution-environments/ExecutionEnvironments.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironments.tsx
  frontend/hub/namespaces/HubNamespaceDetails.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/namespaces/HubNamespaces.tsx
  frontend/hub/namespaces/hooks/useDeleteHubNamespaces.tsx
  frontend/hub/namespaces/hooks/useHubNamespaces.tsx
  frontend/hub/remote-registries/RemoteRegistries.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/repositories/Repositories.tsx
  frontend/hub/repositories/hooks/useRepositories.tsx
  frontend/hub/signature-keys/SignatureKeys.tsx
  frontend/hub/tasks/Task.tsx
  frontend/hub/tasks/TaskDetails.tsx
  frontend/hub/tasks/Tasks.tsx
  frontend/hub/token/Token.tsx
  frontend/hub/useHubContext.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
Labels: EDA, HUB, CCT, AFW

#705 Add projects list test
  cypress/fixtures/edaProject.json
  cypress/fixtures/edaProjects.json
  frontend/eda/Resources/projects/ProjectDetails.cy.tsx
  frontend/eda/Resources/projects/Projects.cy.tsx
  frontend/eda/Resources/projects/Projects.tsx
Labels: EDA, CCT

#714 [AAP-12448] Set the default restart policy to 'On failure'
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#756 [AAP-13685] Updated eda-api interfaces and add the latest restart to the Rulebok activation details page
  frontend/eda/interfaces/EdaRuleAudit.ts
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/interfaces/generated/openapi.json
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA

#761 [AAP-14383] Remove toolbar from the controller token page. Switch to list view.
  frontend/eda/UserAccess/Users/ControllerTokens.tsx
Labels: EDA

#763 Adds Rule form fields
  framework/PageForm/Inputs/FormGroupDateTimePicker.tsx
  framework/PageForm/Inputs/PageFormDateTimePicker.tsx
  framework/PageForm/Inputs/PageFormMultiSelect.tsx
  framework/PageForm/PageForm.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/utils/dateTimeHelpers.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/interfaces/Schedule.ts
  frontend/awx/interfaces/ScheduleFormFields.ts
  frontend/awx/views/schedules/RuleForm.tsx
  frontend/awx/views/schedules/ScheduleForm.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/components/RuleInputs.tsx
  frontend/awx/views/schedules/hooks/ruleHelpers.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  package-lock.json
  package.json
Labels: AWX, AFW

#715 Add axis labels, zero value and legend to PageDashboardChart
  framework/PageDashboard/PageDashboardChart.tsx
Labels: AFW

#804 fix cypress e2e cleanup for projects
  cypress/e2e/awx/resources/projects.cy.ts
Labels: AWX, E2E

#803 Add legend and y axis label to EDA rule run chart in dashboard
  framework/PageDashboard/PageDashboardChart.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
Labels: EDA, AFW

#802 Add legend and y axis label to recent job card
  frontend/awx/dashboard/charts/JobsChart.tsx
Labels: AWX

#798 Add browse to async single filter
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/repositories/hooks/useRepositorySelector.tsx
  frontend/hub/usePulpView.tsx
Labels: HUB, AFW

#805 Hide host metrics visibility based on proper licensing
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/interfaces/SystemSettings.ts
Labels: AWX

#814 [AAP-11837] [AAP-14322] Add Status filter to the Rulebook activation history table. Add icons for the 'Unresponsive' and 'Stopping' status values
  frontend/common/Status.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryFilters.tsx
Labels: EDA

#698 Add initial cypress tests to HUB
  .prettierignore
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/support/auth.ts
  cypress/support/commands.ts
  cypress/support/constants.ts
Labels: E2E

#813 Updates to Hub dashboard collection card (version, label)
  frontend/hub/dashboard/CollectionCard.cy.tsx
  frontend/hub/dashboard/CollectionCard.tsx
Labels: HUB, CCT

#820 PageChart use legend tooltip and add scatterplot points
  framework/PageDashboard/PageDashboardChart.css
  framework/PageDashboard/PageDashboardChart.tsx
  framework/PageDashboard/usePageChartColors.tsx
  frontend/awx/dashboard/cards/AwxHostsCard.tsx
  frontend/awx/dashboard/cards/AwxInventoriesCard.tsx
  frontend/awx/dashboard/cards/AwxJobActivityCard.tsx
  frontend/awx/dashboard/cards/AwxProjectsCard.tsx
  frontend/awx/dashboard/charts/JobsChart.tsx
Labels: AWX, AFW

#818 page dashboard donut chart align chart to left side of card
  framework/PageDashboard/PageDonutChart.tsx
Labels: AFW

#810 Add README to explain HUB http client and task system
  frontend/hub/api/README.md
Labels: HUB

#828 PageChart fix scatterplot colors
  framework/PageDashboard/PageDashboardChart.tsx
Labels: AFW

#807 Async multi filters
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/repositories/hooks/useRepoQueryOptions.tsx
Labels: HUB, AFW

#831 [AAH-2636] Add hubAPIPost to deal with task system
  frontend/hub/api/README.md
  frontend/hub/api/utils.tsx
Labels: HUB

#718 [AA-1734] Subscription usage chart
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/analytics/subscription-usage/SubscriptionUsage.tsx
  frontend/awx/analytics/subscription-usage/SubscriptionUsageChart.tsx
  frontend/awx/analytics/subscription-usage/useSubscriptionUsageFilters.tsx
  frontend/awx/interfaces/Settings.ts
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
Labels: AWX

#834 Remove automation servers page
  frontend/Main.tsx
  frontend/Routes.ts
  frontend/automation-servers/AutomationServer.tsx
  frontend/automation-servers/AutomationServerSwitcher.tsx
  frontend/automation-servers/AutomationServers.tsx
  frontend/automation-servers/AutomationServersProvider.tsx
  frontend/automation-servers/AutomationServersRoute.tsx
  frontend/automation-servers/IndexDb.tsx
  frontend/automation-servers/hooks/useAddAutomationServer.tsx
  frontend/automation-servers/hooks/useAutomationServerFilters.tsx
  frontend/automation-servers/hooks/useAutomationServerTypes.tsx
  frontend/automation-servers/hooks/useAutomationServersColumns.tsx
  frontend/automation-servers/hooks/useAutomationServersRowActions.tsx
  frontend/automation-servers/hooks/useAutomationServersToolbarActions.tsx
  frontend/automation-servers/hooks/useRemoveAutomationServers.tsx
  frontend/automation-servers/hooks/useSetActiveAutomationServer.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/common/useAwxWebSocket.tsx
  frontend/awx/dashboard/charts/indexdb.tsx
  frontend/common/CommonSidebar.tsx
  frontend/common/LoginModal.tsx
  frontend/common/Masthead.tsx
  frontend/common/PageNotFound.tsx
  frontend/common/PageNotImplemented.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/hub/HubRouter.tsx
  frontend/hub/api/utils.tsx
  package-lock.json
  package.json
  scripts/api2ts.sh
  scripts/array2ts.sh
  scripts/awx.sh
  scripts/eda.sh
  scripts/icons.sh
Labels: AWX, EDA, HUB

#836 fix hub routing
  frontend/hub/api/utils.tsx
Labels: HUB

#837 Update how base path is created hub routing
  frontend/hub/api/utils.tsx
Labels: HUB

#842 adds / to project and orgs get url
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
Labels: AWX

#833 Top Content in Page Table
  framework/PageTable/PageTable.tsx
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
Labels: AFW

#841 skip EDA tests that deal with activations
  cypress/e2e/eda/Roles/admin.cy.ts
  cypress/e2e/eda/Roles/auditor.cy.ts
  cypress/e2e/eda/Roles/contributor.cy.ts
  cypress/e2e/eda/Roles/editor.cy.ts
  cypress/e2e/eda/Roles/operator.cy.ts
  cypress/e2e/eda/Roles/viewer.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/admin-user/controller-token.cy.ts
  cypress/e2e/eda/cleanup/eda-cleanup.cy.ts
Labels: E2E

#823 [AAH-2496] Add initial work for Remote details page
  frontend/Routes.ts
  frontend/hub/HubRouter.tsx
  frontend/hub/remotes/RemoteDetails.tsx
  frontend/hub/remotes/hooks/useRemoteColumns.tsx
Labels: HUB

#839 fix the typeahead support in the select
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
Labels: AFW

#821 add column management to all tables
  frontend/awx/access/organizations/OrganizationPage/OrganizationTeams.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/TeamPage/TeamRoles.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/UserPage/UserOrganizations.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/access/users/UserPage/UserTeams.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instances/Instances.tsx
  frontend/awx/dashboard/cards/AwxRecentInventoriesCard.tsx
  frontend/awx/dashboard/cards/AwxRecentJobsCard.tsx
  frontend/awx/resources/credentials/Credentials.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/views/jobs/HostMetrics.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/eda/Resources/credentials/Credentials.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/eda/Resources/inventories/Inventories.tsx
  frontend/eda/Resources/projects/Projects.tsx
  frontend/eda/UserAccess/Groups/Groups.tsx
  frontend/eda/UserAccess/Roles/Roles.tsx
  frontend/eda/UserAccess/Users/ControllerTokens.tsx
  frontend/eda/UserAccess/Users/Users.tsx
  frontend/eda/dashboard/cards/EdaDecisionEnvironmentsCard.tsx
  frontend/eda/rulebook-activations/RulebookActivations.tsx
  frontend/eda/rulebooks/RulebookDetails.tsx
  frontend/eda/rulebooks/Rulebooks.tsx
  frontend/eda/rules/Rules.tsx
  frontend/eda/views/RuleAudit/RuleAudit.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/hub/approvals/Approvals.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/execution-environments/ExecutionEnvironments.tsx
  frontend/hub/namespaces/HubNamespaces.tsx
  frontend/hub/remote-registries/RemoteRegistries.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/repositories/Repositories.tsx
  frontend/hub/signature-keys/SignatureKeys.tsx
  frontend/hub/tasks/Tasks.tsx
Labels: AWX, EDA, HUB

#849 Fixes missing pagination and "Back to Schedules" tab routing
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageDialogs/BulkConfirmationDialog.tsx
  framework/PageTable/PageTable.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
Labels: AWX, AFW
