Repository ansible/ansible-ui, pull requests merged in 2023-03, with the labels that each got.

#328 fix z index issues causing dropdowns not to show correctly
  framework/PageActions/PageActions.tsx
  framework/PageActions/PageDropdownAction.tsx
  framework/PageActions/PagePinnedActions.tsx
  framework/PageForm/Inputs/FormGroupSelect.tsx
  framework/PageTable/PagePagination.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageToolbar.css
  framework/PageTable/PageToolbar.tsx
  framework/components/BulkSelector.tsx
Labels: framework, AWX

#332 Update eda user information
  frontend/common/Masthead.tsx
Labels: EDA

#337 Update projects list columns and the create/edit project pages
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/dashboard/hooks/useProjectColumns.tsx
  frontend/eda/interfaces/EdaProject.ts
Labels: EDA, e2e

#340 adding projects tests for EDA UI
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/support/commands.ts
Labels: e2e

#329 Adds rbac parameters to user add, edit and delete buttons in user list
  frontend/awx/access/users/UserPage/UserTeams.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/access/users/hooks/useDeleteUsers.tsx
Labels: AWX

#346 Bulk dialog message for jobs that cannot be canceled
  frontend/awx/views/jobs/Jobs.cy.tsx
  frontend/awx/views/jobs/hooks/useCancelJobs.tsx
  frontend/awx/views/jobs/hooks/useJobRowActions.tsx
Labels: AWX, component

#343 Add basic job output
  framework/PageDetails/PageDetailsFromColumns.tsx
  framework/PageHeader.tsx
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/interfaces/Job.ts
  frontend/awx/interfaces/JobEvent.ts
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.css
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputLoadingRow.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputRow.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutputChildrenSummary.tsx
  frontend/awx/views/jobs/JobOutput/useVirtualized.tsx
  frontend/awx/views/jobs/JobPage.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/Ansi.css
  frontend/common/Ansi.tsx
  frontend/common/crud/useGet.tsx
  package-lock.json
  package.json
Labels: framework, AWX

#331 Update detail pages to useGetItem and handle loading and errors
  cypress.config.ts
  cypress/support/component.tsx
  cypress/tsconfig.json
  framework/PageActions/PageAction.tsx
  framework/components/LoadingPage.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/access/teams/components/AddRolesToTeam.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/access/users/components/AddRolesToUser.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/common/AwxError.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/resources/templates/TemplateDetail.cy.tsx
  frontend/awx/resources/templates/TemplateDetail.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateDetail.tsx
  frontend/common/crud/delay.ts
  frontend/common/crud/useDeleteRequest.tsx
  frontend/common/crud/useGet.tsx
  frontend/common/crud/useGetItem.tsx
  frontend/common/crud/useGetRequest.tsx
  frontend/common/crud/useOptions.tsx
  frontend/common/crud/usePatchRequest.tsx
  frontend/common/crud/usePostRequest.tsx
  frontend/hub/administration/tasks/TaskDetails.tsx
Labels: framework, AWX, component

#319 Async single select support
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/support/commands.ts
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageDialogs/BulkConfirmationDialog.tsx
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/PageDialog.tsx
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/PageForm.tsx
  framework/PageFramework.tsx
  framework/Settings.tsx
  framework/index.ts
  framework/useFrameworkTranslations.tsx
  frontend/awx/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/awx/access/organizations/hooks/useAddOrganizationsToUsers.tsx
  frontend/awx/access/organizations/hooks/useRemoveOrganizationsFromUsers.tsx
  frontend/awx/access/organizations/hooks/useSelectOrganization.tsx
  frontend/awx/access/organizations/hooks/useSelectOrganizations.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/access/teams/TeamForm.tsx
  frontend/awx/access/teams/hooks/useAddTeamsToUsers.tsx
  frontend/awx/access/teams/hooks/useRemoveTeamsFromUsers.tsx
  frontend/awx/access/teams/hooks/useSelectTeams.tsx
  frontend/awx/access/users/hooks/useAddUsersToResources.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromOrganizations.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromTeams.tsx
  frontend/awx/access/users/hooks/useSelectUsers.tsx
  frontend/common/Debug.tsx
  package.json
Labels: framework, AWX, e2e, component

#333 update from requestPost to usePostRequest
  framework/PageForm/PageForm.tsx
  frontend/awx/access/common/useDeleteAccessRole.tsx
  frontend/awx/access/common/useRemoveUserFromResource.tsx
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/access/organizations/hooks/useAddOrganizationsToUsers.tsx
  frontend/awx/access/organizations/hooks/useRemoveOrganizationsFromUsers.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/access/teams/TeamForm.tsx
  frontend/awx/access/teams/hooks/useAddTeamsToUsers.tsx
  frontend/awx/access/teams/hooks/useRemoveTeamsFromUsers.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/access/users/hooks/useAddUsersToResources.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromOrganizations.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromTeams.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/Instances.tsx
  frontend/awx/common/AwxError.tsx
  frontend/awx/common/util/launchHandlers.ts
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/projects/hooks/useProjectActions.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
  frontend/awx/views/jobs/hooks/useCancelJobs.tsx
  frontend/awx/views/jobs/hooks/useRelaunchJob.tsx
  frontend/common/Debug.tsx
  frontend/common/Masthead.tsx
  frontend/common/crud/Data.tsx
  frontend/common/crud/http-error.ts
  frontend/common/crud/useDeleteRequest.tsx
  frontend/common/crud/useGetRequest.tsx
  frontend/common/crud/useOptions.tsx
  frontend/common/crud/usePatchRequest.tsx
  frontend/common/crud/usePostRequest.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/UserAccess/Groups/EditGroup.tsx
  frontend/eda/UserAccess/Roles/EditRole.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
  frontend/eda/decision-environments/EditDecisionEnvironment.tsx
  frontend/eda/rulebook-activations/EditRulebookActivation.tsx
  frontend/eda/rules/EditRule.tsx
  frontend/hub/access/token/Token.tsx
  frontend/hub/administration/approvals/hooks/useApprovalActions.tsx
  frontend/hub/automation-content/collections/UploadCollection.tsx
Labels: framework, AWX, EDA, component

#351 Fix job launch redirect url
  frontend/awx/AwxRouter.tsx
  frontend/awx/resources/templates/TemplateDetail.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobPage.tsx
  frontend/awx/views/jobs/WorkflowOutput.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/awx/views/jobs/jobUtils.tsx
Labels: AWX

#359 EDA Projects Tests
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: e2e

#360 Show PageNotFound for unknown routes
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/common/PageNotFound.tsx
Labels: AWX
