Repository ansible/ansible-ui, pull requests merged in 2023-12, with the labels that each got.

#1246 Adding custom commands for RBAC
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/awx-user-access-commands.ts
  cypress/support/commands.ts
  frontend/awx/resources/inventories/Inventories.cy.tsx
Labels: AWX, E2E, CCT

#1290 Enhance useAwxRoles for downstream
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/access/roles/Roles.tsx
  frontend/awx/access/roles/useAwxRoles.tsx
  frontend/awx/access/roles/useRoleMetadata.tsx
Labels: AWX

#1298 Fix EDA credentials bulk delete test
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
Labels: E2E

#1263 [AAP-15696] Add default timeout to failure toast for job relaunch
  frontend/awx/views/jobs/hooks/useRelaunchJob.tsx
Labels: AWX

#1282 PageDashboardCard support canCollapse
  framework/PageDashboard/PageDashboardCard.tsx
Labels: AFW

#1295 Default Sidebar Navigation to Collapsed
  cypress/support/auth.ts
  framework/PageNavigation/PageNavigation.tsx
Labels: AFW

#1293 Fix API calls broken with navigation changes
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/charts/JobsChart.tsx
Labels: AWX

#1302 Add AWX Roles Page
  framework/PageFramework.css
  framework/PageToolbar/PageToolbarFilter.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/access/roles/AwxRolePage.tsx
  frontend/awx/access/roles/AwxRoles.tsx
  frontend/awx/access/roles/useAwxRoleColumns.tsx
  frontend/awx/access/roles/useAwxRoles.tsx
  frontend/awx/access/roles/useRolesColumns.tsx
  frontend/awx/access/roles/useRolesFilters.tsx
  frontend/awx/access/teams/TeamPage/TeamRoles.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX, AFW

#1300 adds inventory variables testing assertion
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1292 Add context to PageRoutedTabs child component
  framework/PageTabs/PageRoutedTabs.tsx
Labels: AFW

#1277 [AAH-2532] Add index execution environment
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
Labels: HUB

#1304 Add isReversed option for the PageActionSwitch - needed for platform
  framework/PageActions/PageAction.tsx
  framework/PageActions/PageActionSwitch.tsx
Labels: AFW

#1281 Notifications Support
  framework/PageFramework.tsx
  framework/PageMasthead/PageNotificationsIcon.tsx
  framework/PageNavigation/PageApp.tsx
  framework/PageNotifications/PageNotificationsProvider.cy.tsx
  framework/PageNotifications/PageNotificationsProvider.tsx
  frontend/awx/AwxMasthead.tsx
  frontend/awx/routes/useAwxWorkflowApprovalRoutes.tsx
  frontend/awx/views/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalDetails.tsx
  frontend/awx/views/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalPage.tsx
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalsColumns.tsx
  frontend/common/columns.tsx
  frontend/hub/HubMasthead.tsx
Labels: AWX, HUB, CCT, AFW

#1305 Add subtitle support in navigation items
  framework/PageNavigation/PageNavigation.tsx
  framework/PageNavigation/PageNavigationItem.tsx
Labels: AFW

#1309 [AAH-2532] Update how to display tooltip for dropdown actions
  framework/PageActions/PageActionButton.tsx
  framework/PageActions/PageActionDropdown.tsx
  framework/PageActions/PageActionsPinned.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
Labels: HUB, AFW

#1306 Adds management job select
  cypress/fixtures/inventory_sources.json
  cypress/fixtures/jobTemplates.json
  cypress/fixtures/system_jobs.json
  cypress/fixtures/workflowJobTemplates.json
  frontend/awx/AwxRoutes.tsx
  frontend/awx/administration/management-jobs/components/PageFormManagementJobsSelect.tsx
  frontend/awx/administration/management-jobs/hooks/useManagementJobColumns.tsx
  frontend/awx/administration/management-jobs/hooks/useManagementJobFilters.tsx
  frontend/awx/administration/management-jobs/hooks/useSelectManagementJobs.tsx
  frontend/awx/interfaces/SystemJobTemplate.ts
  frontend/awx/routes/useAwxManagementJobsRoutes.tsx
Labels: AWX

#1274 Truncate node hostname in mesh viz
  frontend/awx/administration/topology/components/MeshNode.tsx
Labels: AWX

#1260 Repair delete collection from repository
  frontend/hub/api/request.ts
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
Labels: HUB

#1312 [AAP-18762] Unique Key Prop Console Warning Fix
  framework/PageToolbar/PageToolbarView.tsx
Labels: AFW

#1316 Navigation support for hiding items
  framework/PageNavigation/PageApp.tsx
  framework/PageNavigation/PageNavigation.tsx
  framework/PageNavigation/PageNavigationItem.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/useHubNavigation.tsx
Labels: AWX, EDA, HUB, AFW

#1317 E2E ignore failures on creating global resources
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/global-project.ts
Labels: AWX, E2E

#1314 Refactor tabs according to new approach
  framework/PageTabs/PageRoutedTabs.tsx
  frontend/hub/HubRoutes.tsx
  frontend/hub/collections/Collection.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/collections/CollectionPage/CollectionContents.tsx
  frontend/hub/collections/CollectionPage/CollectionDependencies.tsx
  frontend/hub/collections/CollectionPage/CollectionDetails.tsx
  frontend/hub/collections/CollectionPage/CollectionDistributions.tsx
  frontend/hub/collections/CollectionPage/CollectionDocumentation.tsx
  frontend/hub/collections/CollectionPage/CollectionImportLog.tsx
  frontend/hub/collections/CollectionPage/CollectionInstall.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/components/CollectionDocumentationTabContent.tsx
  frontend/hub/collections/components/CollectionDocumentationTabPanel.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB, AFW

#1321 Update remote tests
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1324 Update cards, list view and related test remotes
  cypress/e2e/hub/remotes.cy.ts
  framework/PageTable/PageTableColumn.tsx
  frontend/hub/remotes/hooks/useRemoteColumns.tsx
Labels: E2E, HUB, AFW

#1262 [AAP-12403] Change `Modifed` labels to `Last modified` on Details Pages
  cypress/support/awx-commands.ts
  frontend/awx/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/awx/access/users/UserPage/AwxUserDetails.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/awx/administration/instances/InstanceDetails.cy.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.cy.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleDetails.tsx
  frontend/common/LastModifiedPageDetail.tsx
  frontend/common/access/UserDetails.tsx
  frontend/eda/Resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: AWX, EDA, CCT

#1325 Remove warning related to fordwardRef on PageToggleGroupItem
  framework/PageToolbar/PageToolbarView.tsx
Labels: AFW

#1330 Update remote registry tests
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1335 Repair routing in collections
  framework/PageNavigation/useGetPageUrl.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/hooks/useCollectionColumns.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB, AFW

#1333 Show select none in case there is an item selected bulk selector
  framework/components/BulkSelector.tsx
Labels: AFW

#1336 [AAH-2532] Update how remote registries are fetched after a sync
  frontend/hub/remote-registries/RemoteRegistries.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
Labels: HUB

#1313 Adds the first step to the workflow visualizer sidebar form
  cypress/fixtures/workflow_nodes.json
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/resources/inventories/components/PageFormInventorySourceSelect.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/NodeForm.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/ViewOptionsProvider.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/AddNodeButton.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/EdgeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeFormInputs.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeTypeStep.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeTypeStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/Sidebar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowApprovalNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetDetailComponent.tsx
  frontend/awx/resources/templates/components/PageFormJobTemplateSelect.tsx
  frontend/awx/resources/templates/hooks/useSelectJobTemplate.tsx
Labels: AWX, CCT

#1328 add file-upload plugin for cypress
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: AWX, E2E

#1322 Add activity column for Templates list.
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
  frontend/awx/resources/templates/components/Sparkline.tsx
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
  frontend/common/Status.tsx
Labels: AWX

#1332 [AAP-18357] Fix help icon for expandable Variables field. Add yaml/json toggle.
  framework/PageForm/Inputs/PageFormGroup.tsx
  framework/components/Help.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/components/EdaExtraVarCell.tsx
Labels: EDA, AFW

#1339 Update plural and singular title for bulk actions
  docs/DEVELOPMENT.md
  docs/i18n.md
  frontend/awx/access/organizations/hooks/useDeleteOrganizations.tsx
  frontend/awx/administration/applications/hooks/useDeleteApplications.tsx
  frontend/awx/administration/execution-environments/hooks/useDeleteExecutionEnvironments.tsx
  frontend/awx/administration/instance-groups/hooks/useDeleteInstanceGroups.tsx
  frontend/awx/resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/Resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/hub/tasks/hooks/useTasksActions.tsx
Labels: AWX, EDA, HUB

#1303 Switch to use a fullscreen loading state until context is established
  frontend/hub/useHubContext.tsx
Labels: HUB

#1340 Hub: Create Namespace custom command
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1299 Repair collection detail version list
  framework/PageTabs/PageRoutedTabs.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSelectFilterBuilder.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/hooks/useCollectionColumns.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/collections/hooks/useCollectionVersionSelector.tsx
  frontend/hub/common/HubError.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB, AFW

#1342 Collection tab distributions
  frontend/hub/api/formatPath.tsx
  frontend/hub/collections/CollectionPage/CollectionDistributions.tsx
  webpack/webpack.config.cjs
Labels: HUB

#1326 [AAP-8147] Application Tokens List
  cypress/fixtures/applicationPageTokens.json
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageTokens.cy.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageTokens.tsx
  frontend/awx/administration/applications/hooks/useDeleteTokens.tsx
  frontend/awx/administration/applications/hooks/useTokensColumns.tsx
  frontend/awx/administration/applications/hooks/useTokensFilters.tsx
  frontend/awx/interfaces/Token.ts
  frontend/awx/routes/useAwxApplicationsRoutes.tsx
  frontend/common/columns.tsx
Labels: AWX, CCT

#1327 [AAP-7842] Add Applications Details
  cypress/fixtures/application.json
  cypress/fixtures/applications.json
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.cy.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageDetails.cy.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageDetails.tsx
  frontend/awx/administration/applications/Applications.cy.tsx
  frontend/awx/administration/applications/hooks/useApplicationActions.tsx
  frontend/awx/routes/useAwxApplicationsRoutes.tsx
  frontend/common/Routes.ts
Labels: AWX, CCT

#1341 [AAP-13459][AAP-17556] Hide Create button for users with no create rights. Add support for multiple tokes on Users page.
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  frontend/eda/UserAccess/Users/UserPage/ControllerTokens.tsx
  frontend/eda/UserAccess/Users/UserPage/MyPage.tsx
  frontend/eda/UserAccess/Users/UserPage/UserPage.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokensActions.tsx
  frontend/eda/UserAccess/Users/hooks/useUsersActions.tsx
Labels: EDA, E2E

#1351 Replace project sync with project cancel when a project is syncing
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/projects/hooks/useProjectActions.tsx
Labels: AWX, CCT

#1353 AAP-14736 `Workflow Visualizer Tests`
  cypress/e2e/awx/resources/workflowVisualizerNodes.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1352 [AAP-8261] Add/Edit Application Form
  frontend/awx/administration/applications/ApplicationForm.cy.tsx
  frontend/awx/administration/applications/ApplicationForm.tsx
  frontend/awx/administration/applications/hooks/useApplicationActions.tsx
  frontend/awx/routes/useAwxApplicationsRoutes.tsx
Labels: AWX, CCT

#1348 Add workflow node from empty state
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/DeletedNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeFormInputs.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
Labels: AWX, CCT

#1360 Add test to index remote registry
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/remote-registries.cy.ts
Labels: E2E

#1291 CLI config on ns detail
  frontend/hub/HubRoutes.tsx
  frontend/hub/api/utils.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceCLI.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB

#1362 Add test to edit remote-registry
  cypress/e2e/hub/remote-registries.cy.ts
Labels: E2E

#1320 [AAH-2995] Add signed only and sync dependencies for remotes
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/remotes.cy.ts
  framework/PageDetails/PageDetailCodeEditor.tsx
  frontend/hub/remotes/RemoteDetails.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/remotes/constants.tsx
Labels: E2E, HUB, AFW

#1361 Fix spelling on 'SummeryFieldObjetRole'.
  frontend/awx/interfaces/InstanceGroup.ts
  frontend/awx/interfaces/Inventory.ts
  frontend/awx/interfaces/Organization.ts
  frontend/awx/interfaces/Team.ts
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
Labels: AWX

#1356 [AAH-3014] Refetch data after a namespace is deleted
  frontend/hub/namespaces/HubNamespaces.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceToolbarActions.tsx
Labels: HUB

#1364 [AAH-2532] Remove duplicated component StatusCell
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/remote-registries.cy.ts
  frontend/common/Status.tsx
  frontend/common/StatusCell.tsx
  frontend/hub/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistriesColumns.tsx
  frontend/hub/repositories/hooks/useRepositoriesColumns.tsx
Labels: E2E, HUB

#1365 Hub upload new collection- custom command
  cypress/e2e/hub/collections.cy.ts
  cypress/fixtures/collection-files/ibm-spm_toolbox-1.0.2.tar.gz
  cypress/fixtures/collection-files/ibm-zos_zoau_operator-1.0.3.tar.gz
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1301 [AAP-8240] Add Project Templates List
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/projects/ProjectPage/ProjectJobTemplates.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
  frontend/awx/routes/useAwxProjectRoutes.tsx
  frontend/common/columns.tsx
Labels: AWX

#1359 Collection tab dependencies
  frontend/hub/collections/CollectionPage/CollectionDependencies.tsx
Labels: HUB

#1367 Fix a couple template form credential field errors
  frontend/awx/adapters/awxErrorAdapter.cy.tsx
  frontend/awx/adapters/awxErrorAdapter.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
Labels: AWX, CCT

#1345 Framework Tabs Fix tabs shrinking in flex layout
  framework/PageTabs/PageTabs.tsx
Labels: AFW

#1311 Role descriptions support wrapping of description in column.
  framework/PageTable/PageTableColumn.tsx
  frontend/awx/access/roles/useAwxRoleColumns.tsx
  frontend/common/Routes.ts
  frontend/eda/UserAccess/Roles/EdaRoles.tsx
  frontend/hub/access/roles/hooks/useRoleColumns.tsx
Labels: AWX, EDA, HUB, AFW

#1343 workflow approvals add filter for status
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalsFilters.tsx
Labels: AWX

#1366 external link ( for use in CLI config)
  frontend/hub/common/ExternalLink.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceCLI.tsx
Labels: HUB

#1354 Framework - Fix page layout
  framework/PageNotifications/PageNotificationsProvider.tsx
Labels: AFW

#1371 DataEditor: support uninitialized value
  framework/PageForm/Inputs/DataEditor.tsx
Labels: AFW

#1370 Add strings to be translated
  frontend/awx/useAwxNavigation.tsx
Labels: AWX

#1373 [AAH-2529] Disable edit name for remote registries
  frontend/hub/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/remotes/RemoteForm.tsx
Labels: HUB

#1349 Upgrade dependencies
  cypress/support/eda-commands.ts
  framework/PageActions/PageActionLink.tsx
  framework/PageActions/PageActionSwitch.tsx
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageTable/PageTable.tsx
  framework/components/useManageColumns.tsx
  frontend/awx/access/common/DeleteRoleConfirmation.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/analytics/components/Toolbar/ToolbarSelectFilterDeprecated.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetDetailComponent.tsx
  frontend/awx/views/jobs/jobUtils.tsx
  frontend/common/columns.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/hub/access/roles/hooks/useRoleActions.tsx
  frontend/hub/approvals/hooks/useApprovalActions.tsx
  frontend/hub/collections/CollectionPage/CollectionImportLog.tsx
  package-lock.json
  package.json
Labels: AWX, EDA, HUB, AFW

#1369 Credential Type Columns Add Created and Modified
  frontend/awx/administration/credential-types/hooks/useCredentialTypesColumns.tsx
Labels: AWX

#1375 Update hub user inside MastHead
  frontend/hub/HubMasthead.tsx
Labels: HUB

#1368 Fix crash on workflow approvals table
  frontend/awx/interfaces/WorkflowApproval.ts
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalsColumns.tsx
Labels: AWX

#1377 Cleanup Active User Providers
  cypress/support/component.tsx
  frontend/awx/AwxMain.tsx
  frontend/awx/AwxMasthead.tsx
  frontend/awx/access/common/ResourceAccessList.tsx
  frontend/awx/access/common/useRemoveUserFromResource.tsx
  frontend/awx/access/teams/hooks/useTeamActions.tsx
  frontend/awx/administration/applications/hooks/useApplicationActions.tsx
  frontend/awx/analytics/Reports/ErrorStates.tsx
  frontend/awx/analytics/Reports/Reports.tsx
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceActions.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/common/useActiveUser.tsx
  frontend/eda/EdaMain.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/UserAccess/Users/UserPage/MyPage.tsx
  frontend/eda/UserAccess/Users/UserPage/UserPage.tsx
  frontend/eda/UserAccess/Users/hooks/useUserActions.tsx
  frontend/eda/UserAccess/Users/hooks/useUsersActions.tsx
  frontend/eda/common/useEdaActiveUser.tsx
Labels: AWX, EDA

#1355 Shaiah new docs tab
  frontend/hub/collections/CollectionPage/CollectionDocumentation.tsx
Labels: HUB

#1379 fix approvals icons
  frontend/hub/approvals/hooks/useApprovalsColumns.tsx
Labels: HUB

#1310 Fix code needing to use awxAPI
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
  frontend/awx/analytics/Reports/ReportsList/ReportCard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
Labels: AWX

#1337 Update masthead to follow pf standards and uxd designs
  framework/PageMasthead/PageMasthead.tsx
  frontend/awx/AwxMasthead.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/hub/HubMasthead.tsx
Labels: AWX, EDA, HUB, AFW

#1382 Support links on columns that are of type text
  framework/PageTable/PageTableColumn.tsx
Labels: AFW

#1385 Hide empty columns for Activity and Credential on Templates list
  frontend/awx/resources/templates/components/Sparkline.tsx
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
  frontend/common/columns.tsx
Labels: AWX
