Repository ansible/ansible-ui, pull requests merged in 2023-09, with the labels that each got.

#850 Add useClipboard hook
  framework/hooks/useClipboard.tsx
Labels: AFW

#824 AWX Dashboard update to use Count Bar designed by UXD
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/support/component.tsx
  framework/PageDashboard/PageDashboardCountBar.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/AwxCountsCard.cy.tsx
  frontend/awx/dashboard/cards/AwxCountsCard.tsx
  frontend/awx/dashboard/cards/AwxHostsCard.tsx
  frontend/awx/dashboard/cards/AwxInventoriesCard.tsx
  frontend/awx/dashboard/cards/AwxProjectsCard.tsx
  frontend/awx/dashboard/hooks/useManagedAwxDashboard.tsx
  frontend/awx/resources/projects/hooks/useProjectsFilters.tsx
Labels: AWX, E2E, CCT, AFW

#840 Update roles' permissions in tests
  cypress/e2e/eda/Roles/auditor.cy.ts
  cypress/e2e/eda/Roles/contributor.cy.ts
  cypress/e2e/eda/Roles/editor.cy.ts
  cypress/e2e/eda/Roles/operator.cy.ts
  cypress/e2e/eda/Roles/viewer.cy.ts
  cypress/support/eda-commands.ts
Labels: E2E

#847 [AAP-15552] Modify PageFormDataEditor to allow upload, download of files
  cypress/fixtures/extra_vars.yaml
  framework/PageForm/Inputs/DataEditor.tsx
  framework/PageForm/Inputs/PageFormDataEditor.cy.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  framework/hooks/useClipboard.tsx
  package-lock.json
  package.json
Labels: CCT, AFW

#835 [AAP-14383] Update controller tokens default list format.
  frontend/eda/UserAccess/Users/ControllerTokens.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokensColumns.tsx
Labels: EDA

#819 [AAP-14323] Add credential to all decision environment views.
  frontend/eda/Resources/credentials/components/EdaCredentialCell.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
Labels: EDA

#858 [AAH-2492] Update usePulpView to allow defaultSort, and defaultSortDirection
  framework/useView.tsx
  frontend/awx/useAwxView.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/remotes/hooks/useRemoteColumns.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
Labels: AWX, HUB, AFW

#854 Replace usage of clipboard in favor of useClipboard
  framework/PageCells/CopyCell.tsx
  framework/PageDetails/PageDetailCodeEditor.tsx
Labels: AFW

#855 [AAP-15540] Add alert to the project deletion dialog. Update API types. Add icon for activation 'Deleted' state
  frontend/common/Status.tsx
  frontend/eda/Resources/projects/hooks/useDeleteProjects.tsx
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/interfaces/generated/openapi.json
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA

#861 Add help text for the Edit Project fields
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA

#853 [AAP-15389] Fix job template inventory select bug
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormCreatableSelect.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
Labels: AWX, AFW

#865 [AAP-15751] Pin Project Edit button to the project's row
  frontend/eda/Resources/projects/hooks/useProjectActions.tsx
Labels: EDA

#864 [AAP-15631][AAP-15664] Add a filter to the rule audit page. Turn off view switcher for the Actions and Events tabs
  frontend/eda/views/RuleAudit/RuleAudit.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
Labels: EDA

#857 Fix EDA dashboard name in related tests
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: E2E

#872 [AAP-15667] Replace activation 'Deleted' status with a label
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA

#866 [AAP-15809] Update documentation and instructions links in the get started section
  frontend/eda/dashboard/EdaDashboard.tsx
Labels: EDA

#876 Fix project not being deleted in Cypress integration test
  cypress/e2e/eda/Projects/projects-list.cy.ts
Labels: E2E

#844 Async filter builder
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSelectFilterBuilder.tsx
  framework/useView.tsx
  frontend/hub/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/repositories/hooks/useRepositorySelector.tsx
Labels: HUB, AFW

#879 skip EDA RBA test that is failing because of test environment issues
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
Labels: E2E

#869 Hub Dashboard: Manage content modal
  cypress/fixtures/collection_versions_eda.json
  cypress/fixtures/collection_versions_offset0.json
  cypress/fixtures/collection_versions_offset10.json
  cypress/fixtures/hub_admin.json
  cypress/fixtures/hub_feature_flags.json
  cypress/fixtures/hub_settings.json
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardCarousel.tsx
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageTable/PageTable.tsx
  framework/PageToolbar/PageToolbar.tsx
  framework/components/BulkSelector.tsx
  framework/useFrameworkTranslations.tsx
  frontend/hub/collections/hooks/useSelectCollections.cy.tsx
  frontend/hub/collections/hooks/useSelectCollections.tsx
  frontend/hub/common/Logo.tsx
  frontend/hub/common/utils/getAddedAndRemovedCollections.ts
  frontend/hub/common/utils/parsePulpIDFromURL.ts
  frontend/hub/dashboard/CollectionCategories.cy.tsx
  frontend/hub/dashboard/CollectionCategories.tsx
  frontend/hub/dashboard/Dashboard.tsx
  frontend/hub/useHubContext.tsx
  frontend/hub/useHubView.tsx
Labels: HUB, CCT, AFW

#875 Hub dashboard UI updates + some tests
  README.md
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  frontend/hub/dashboard/CollectionCard.tsx
  frontend/hub/dashboard/CollectionCategories.cy.tsx
  frontend/hub/dashboard/CollectionCategories.tsx
  frontend/hub/dashboard/Dashboard.tsx
Labels: E2E, HUB, CCT

#880 Hub dashboard UI - more tests
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  framework/PageDashboard/PageDashboardCard.tsx
  frontend/hub/dashboard/CollectionCard.cy.tsx
  frontend/hub/dashboard/HubDashboard.cy.tsx
Labels: E2E, HUB, CCT, AFW

#874 AWX oauth support / login refactor
  frontend/awx/Awx.tsx
  frontend/awx/AwxLogin.tsx
  frontend/common/Login.tsx
  frontend/common/LoginModal.tsx
  frontend/common/SocialAuthLogin.tsx
  webpack/webpack.awx.cjs
  webpack/webpack.config.cjs
Labels: AWX

#877 [AAP-15752] Update Modified date label
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/inventories/InventoryDetails.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/rulebooks/RulebookDetails.tsx
  frontend/eda/rules/RuleDetails.tsx
Labels: EDA, E2E

#873 Abstract Navigation and Routing
  cypress/e2e/awx/dashboard/welcomeModal.cy.tsx
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/e2e/eda/cleanup/eda-cleanup.cy.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/support/auth.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
  framework/PageDashboard/PageChartLegend.tsx
  framework/PageFramework.css
  framework/PageFramework.tsx
  framework/PageNavigation/PageApp.tsx
  framework/PageNavigation/PageNavigation.tsx
  frontend/awx/Awx.tsx
  frontend/awx/AwxLogin.tsx
  frontend/awx/AwxMain.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.cy.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.cy.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/common/Login.tsx
  frontend/common/LoginModal.tsx
  frontend/common/Masthead.tsx
  frontend/common/Routes.ts
  frontend/common/crud/Data.tsx
  frontend/common/crud/useGet.tsx
  frontend/common/styles.css
  frontend/eda/Eda.tsx
  frontend/eda/EdaMain.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/EventDrivenSidebar.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/Hub.tsx
  frontend/hub/HubMain.tsx
  frontend/hub/HubRouter.tsx
  frontend/hub/HubSidebar.tsx
  frontend/hub/useHubNavigation.tsx
  webpack/webpack.config.cjs
Labels: AWX, EDA, E2E, HUB, CCT, AFW

#885 [AAP-15805] Update empty state messages
  frontend/eda/Resources/credentials/Credentials.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/eda/UserAccess/Users/Users.tsx
  frontend/eda/rulebook-activations/RulebookActivations.tsx
Labels: EDA

#886 Data cy
  framework/PageDetails/PageDetail.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/PageNavigation/PageNavigation.tsx
  framework/hooks/useID.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX, AFW

#887 [AAP-15750] Update empty page for rule audit
  frontend/eda/views/RuleAudit/RuleAudit.tsx
Labels: EDA

#884 Closable select labels in MultiSelectDialog + tests
  README.md
  cypress/e2e/hub/hub-dashboard.cy.ts
  framework/PageDialogs/MultiSelectDialog.tsx
Labels: E2E, AFW

#851 Collection Detail Version Picker
  frontend/hub/collections/CollectionDetails.tsx
Labels: HUB

#893 Subscription chart padding fix
  framework/PageDashboard/PageDashboardChart.tsx
  frontend/awx/analytics/subscription-usage/SubscriptionUsage.tsx
  frontend/awx/analytics/subscription-usage/SubscriptionUsageChart.tsx
Labels: AWX, AFW

#891 Update navigation to usePageNavigate hooks
  framework/PageCells/TextCell.tsx
  framework/PageFramework.tsx
  framework/PageHeader.tsx
  framework/PageMasthead.tsx
  framework/PageNavigation/PageApp.tsx
  framework/PageNavigation/PageNavSidebar.tsx
  framework/PageNavigation/PageNavigation.tsx
  framework/PageNavigation/PageNavigationItem.tsx
  framework/PageNavigation/PageNavigationRoutesProvider.tsx
  framework/PageNavigation/useGetPageUrl.tsx
  framework/PageNavigation/usePageNavigate.tsx
  framework/components/usePageNavigate.tsx
  framework/index.ts
  frontend/awx/AwxLogin.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/access/common/useViewActivityStream.tsx
  frontend/awx/dashboard/cards/AwxGettingStartedCard.tsx
  frontend/awx/dashboard/cards/AwxJobActivityCard.tsx
  frontend/awx/dashboard/cards/AwxRecentJobsCard.tsx
  frontend/awx/dashboard/charts/JobsChart.tsx
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/settings/Settings.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/awx/views/jobs/JobPage.tsx
  frontend/awx/views/schedules/ScheduleForm.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/common/CommonSidebar.tsx
  frontend/common/Debug.tsx
  frontend/common/LoginModal.tsx
  frontend/common/Routes.ts
  frontend/eda/EdaRoutes.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/HubRoutes.tsx
  frontend/hub/useHubNavigation.tsx
Labels: AWX, EDA, HUB, AFW

#894 navigation tweaks needed for platform navigation
  .eslintrc.json
  framework/PageDashboard/PageDashboard.tsx
  framework/PageNavigation/PageNavigationItem.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/useHubNavigation.tsx
Labels: AWX, EDA, HUB, AFW

#881 [AAP-15875] Upgrade monaco-yaml to v5.1.0
  framework/PageForm/Inputs/DataEditor.tsx
  package-lock.json
  package.json
Labels: AFW

#889 Data-Cy Locators: Edit navigateTo custom command; deprecate typeInputByLabel command
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/dashboard/welcomeModal.cy.tsx
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/Projects/project-sync.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Roles/admin.cy.ts
  cypress/e2e/eda/Roles/auditor.cy.ts
  cypress/e2e/eda/Roles/contributor.cy.ts
  cypress/e2e/eda/Roles/editor.cy.ts
  cypress/e2e/eda/Roles/operator.cy.ts
  cypress/e2e/eda/Roles/roles-list.cy.ts
  cypress/e2e/eda/Roles/viewer.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/e2e/eda/admin-user/controller-token.cy.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, EDA, E2E

#905 Fix icon for rejected collections
  frontend/hub/approvals/hooks/useApprovalsColumns.tsx
Labels: HUB

#904 Update HUB route details to adjust to new routing changes
  frontend/common/Routes.ts
  frontend/hub/useHubNavigation.tsx
Labels: HUB

#900 [AAP-15754] Updated hover and click tip text for clipboard copy
  framework/PageCells/CopyCell.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
Labels: EDA, AFW

#906 Abstract navigation update more navigation
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/support/commands.ts
  framework/PageNavigation/PageNavigationItem.tsx
  framework/PageNavigation/useGetPageUrl.tsx
  framework/PageNavigation/usePageNavigate.tsx
  frontend/awx/access/common/useAccessColumns.tsx
  frontend/awx/access/common/useViewActivityStream.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/notifications/NotificationPage/NotificationPage.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/common/LoginModal.tsx
  frontend/common/Masthead.tsx
  frontend/common/Routes.ts
  frontend/eda/EdaRoutes.tsx
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/Projects.cy.tsx
  frontend/eda/UserAccess/Groups/GroupDetails.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/cards/EdaDecisionEnvironmentsCard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditCard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
  frontend/eda/dashboard/cards/EdaRulebookActivationsCard.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/namespaces/HubNamespaces.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceToolbarActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespacesColumns.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/remotes/hooks/useRemoteActions.tsx
  frontend/hub/remotes/hooks/useRemoteColumns.tsx
  frontend/hub/remotes/hooks/useRemoteToolbarActions.tsx
  frontend/hub/repositories/Repositories.tsx
  frontend/hub/tasks/Tasks.tsx
Labels: AWX, EDA, E2E, HUB, CCT, AFW

#863 Add requirements file to add, edit and details page for remotes
  frontend/hub/remotes/RemoteDetails.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/remotes/hooks/useRemoteActions.tsx
Labels: HUB

#908 Abstract navigation - add page id for analytics
  frontend/awx/AwxRoutes.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX

#907 Abstract navigation - update hub navigation
  frontend/common/Routes.ts
  frontend/hub/collections/hooks/useCollectionColumns.tsx
  frontend/hub/dashboard/CollectionCard.tsx
  frontend/hub/dashboard/CollectionCategories.tsx
Labels: HUB

#910 Abstract navigation - remove duplicate providers from AWX
  frontend/awx/useAwxNavigation.tsx
Labels: AWX

#912 UI fix typos
  framework/components/useManageColumns.tsx
  frontend/awx/access/roles/useRoleMetadata.tsx
  frontend/awx/views/schedules/components/RuleInputs.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceToolbarActions.tsx
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
Labels: AWX, HUB, AFW

#913 Abstract navigation - update page ids to be on the root of each page
  framework/PageNavigation/PageNavigationItem.tsx
  framework/PageNavigation/PageNavigationRoutesProvider.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/useHubNavigation.tsx
Labels: AWX, EDA, HUB, AFW

#888 Use @ansible/react-json-chart-builder
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/analytics/Reports/Reports.tsx
  frontend/awx/analytics/Reports/TemplatesTable/ExpandedRowContents.tsx
  frontend/awx/analytics/Reports/TemplatesTable/Row.tsx
  frontend/awx/analytics/Reports/TemplatesTable/index.tsx
  frontend/awx/analytics/Reports/types.ts
  frontend/awx/analytics/components/Chart/convertApi.ts
  frontend/awx/analytics/components/Chart/hydrateSchema.ts
  frontend/awx/analytics/components/Chart/index.tsx
  frontend/awx/analytics/components/Chart/types.ts
  package-lock.json
  package.json
Labels: AWX

#896 [AAP-15629][AAP-15534] Update columns for activation in delete pending state
  frontend/common/Status.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA

#878 Turn off autocomplete on all forms + inputs
  framework/PageForm/Inputs/FormGroupTextInput.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/PageForm/PageForm.tsx
  framework/Settings.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/common/LoginModal.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
Labels: AWX, EDA, AFW

#919 fix getPageUrl to use encodeURIComponent
  framework/PageNavigation/useGetPageUrl.tsx
Labels: AFW

#917 Legend enhancements
  framework/PageDashboard/PageChartLegend.tsx
  framework/PageDashboard/PageDashboardChart.tsx
  frontend/awx/analytics/subscription-usage/SubscriptionUsageChart.tsx
Labels: AWX, AFW

#899 add data-cy to components
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  framework/PageActions/PageActionButton.tsx
  framework/PageActions/PageActionDropdown.tsx
  framework/PageActions/PageActionLink.tsx
  framework/PageForm/Inputs/FormGroupSelectOption.tsx
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormSelect.tsx
  framework/PageForm/Inputs/PageFormTextArea.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageMasthead.tsx
  framework/PageTable/PageTable.tsx
  framework/hooks/useID.tsx
  frontend/common/Masthead.tsx
Labels: AWX, E2E, AFW

#903 Update logout endpoint to be per project on Masthead
  frontend/common/Masthead.tsx
  frontend/hub/api/utils.tsx
Labels: HUB

#862 [AAP-11862] [AAP-12169][AAP-12496] Allow credentials deselect
  framework/PageForm/Inputs/PageFormSelect.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA, AFW

#923 Make page masthead more composable for downstream
  README.md
  cypress/support/hub-commands.ts
  framework/PageDashboard/PageDashboardCountBar.tsx
  framework/PageFramework.css
  framework/PageMasthead.tsx
  framework/PageMasthead/PageMasthead.tsx
  framework/PageMasthead/PageMastheadDropdown.tsx
  framework/PageMasthead/PageNotificationsIcon.tsx
  framework/PageMasthead/PageSettingsIcon.tsx
  framework/PageMasthead/PageThemeSwitcher.tsx
  framework/PageNavigation/PageApp.tsx
  framework/index.ts
  frontend/assets/AWX.svg
  frontend/awx/AwxMain.tsx
  frontend/awx/AwxMasthead.tsx
  frontend/awx/awx-logo.svg
  frontend/common/Masthead.tsx
  frontend/common/PageNotImplemented.tsx
  frontend/common/PageRefreshIcon.tsx
  frontend/eda/EdaMain.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/eda/eda-logo.svg
  frontend/hub/HubMain.tsx
  frontend/hub/HubMasthead.tsx
  frontend/hub/galaxy-logo.svg
Labels: AWX, EDA, HUB, AFW

#925 masthead fixes
  framework/PageMasthead/PageMasthead.tsx
  frontend/awx/AwxMasthead.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/hub/HubMasthead.tsx
Labels: AWX, EDA, HUB, AFW

#921 Streamline setup environment variables
  .github/workflows/on-pull-request-run-tests.yml
  README.md
  cypress.base.config.ts
  frontend/awx/api/awx-utils.tsx
  frontend/common/typings.d.ts
  frontend/eda/api/eda-utils.tsx
  frontend/eda/constants.ts
  frontend/hub/api/utils.tsx
  webpack/webpack.awx.cjs
  webpack/webpack.config.cjs
  webpack/webpack.eda.cjs
  webpack/webpack.hub.cjs
Labels: AWX, EDA, HUB

#926 fix-hub-navigation
  frontend/hub/useHubNavigation.tsx
Labels: HUB

#928 Streamline environment variables
  cypress.base.config.ts
  frontend/awx/api/awx-utils.tsx
  frontend/eda/api/eda-utils.tsx
  frontend/eda/constants.ts
  frontend/hub/HubMasthead.tsx
  frontend/hub/api/utils.tsx
  webpack/environment.cjs
  webpack/environment.d.ts
  webpack/webpack.awx.cjs
  webpack/webpack.config.cjs
  webpack/webpack.eda.cjs
  webpack/webpack.hub.cjs
Labels: AWX, EDA, HUB

#799 Adds workflow job template form, and details
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/fixtures/activeUserSysAuditor.json
  cypress/fixtures/workflowJobTemplate.json
  cypress/fixtures/workflowJobTemplateLaunch.json
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  cypress/support/component.tsx
  framework/PageForm/Inputs/PageFormCreatableSelect.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateDetail.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateInputs.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
  frontend/awx/resources/templates/hooks/useDeleteTemplates.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/common/Routes.ts
Labels: AWX, E2E, CCT, AFW

#930 Fix PageMastheadDropdown with only one item
  framework/PageMasthead/PageMastheadDropdown.tsx
Labels: AFW

#927 docker images - update environment variables
  .github/workflows/on-pull-request-run-tests.yml
  Dockerfile
  cypress.awx.config.ts
  cypress.eda.config.ts
  cypress.hub.config.ts
  cypress/e2e/eda/Projects/project-sync.cy.ts
  framework/README.md
  nginx/awx.conf
  nginx/eda.conf
  nginx/hub.conf
  package.json
  webpack/webpack.config.cjs
Labels: E2E, AFW

#773 [AAP-13399][AAP-14183] Add edit page for the current user. Disallow delete for the current user.
  frontend/eda/EdaRoutes.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
  frontend/eda/interfaces/EdaUser.ts
  frontend/eda/useEdaNavigation.tsx
Labels: EDA

#914 [Analytics]: Fix error handling
  frontend/awx/analytics/Reports/Reports.tsx
Labels: AWX

#934 Turn login autocomplete on in dev
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/common/LoginModal.tsx
Labels: AFW

#935 make dashboard card reusable for the platform
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/AwxRecentInventoriesCard.tsx
  frontend/awx/dashboard/cards/AwxRecentJobsCard.tsx
  frontend/awx/dashboard/cards/AwxRecentProjectsCard.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/cards/EdaRulebookActivationsCard.tsx
Labels: AWX, EDA, E2E

#932 [AAP-14183] Do not allow deletion for the current user
  frontend/eda/UserAccess/Users/hooks/useDeleteUser.tsx
  frontend/eda/UserAccess/Users/hooks/useUserActions.tsx
  frontend/eda/UserAccess/Users/hooks/useUsersActions.tsx
Labels: EDA

#938 Fix eda test failure
  cypress/e2e/eda/General-UI/login-logout.cy.ts
Labels: E2E

#941 dark-theme-tweaks
  framework/PageHeader.tsx
  framework/PageLayout.tsx
  framework/PageToolbar/PageToolbar.tsx
Labels: AFW

#937 Add page wizard form
  framework/PageForm/PageForm.tsx
  framework/PageWizard/PageWizard.tsx
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/PageWizardFooter.tsx
  framework/PageWizard/PageWizardNavigation.tsx
  framework/PageWizard/PageWizardProvider.tsx
  framework/PageWizard/PageWizardToggle.tsx
  framework/PageWizard/index.ts
  framework/PageWizard/types.ts
  framework/index.ts
Labels: AFW

#940 [AAP-14216] Replace the role selection with a form multiselect.
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/support/eda-commands.ts
  frontend/eda/UserAccess/Roles/components/PageFormRolesSelect.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
Labels: EDA, E2E

#942 PageRoutedTabs
  framework/PageDetails/PageDetail.tsx
  framework/PageHeader.tsx
  framework/PageMasthead/PageMasthead.tsx
  framework/PageNavigation/PageNavigation.tsx
  framework/PageTable/PageLoadingTable.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableList.tsx
  framework/PageTabs/PageRoutedTabs.tsx
  framework/PageTabs/PageTabs.tsx
  framework/PageToolbar/PageToolbar.tsx
  framework/components/EmptyStateCustom.tsx
  framework/components/EmptyStateError.tsx
  framework/components/EmptyStateNoData.tsx
  framework/index.ts
  frontend/awx/AwxRoutes.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationAccess.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationTeams.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.tsx
  frontend/awx/access/users/UserPage/UserDetails.tsx
  frontend/awx/access/users/UserPage/UserOrganizations.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/access/users/UserPage/UserTeams.tsx
  frontend/awx/access/users/hooks/useUsersColumns.tsx
  frontend/awx/common/AwxError.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/common/PageNotFound.tsx
  frontend/common/PageNotImplemented.tsx
  frontend/eda/under-development/UnderDevelopment.tsx
Labels: AWX, EDA, AFW

#944 Data-Cy: adding some to React components as well as tests
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/support/awx-commands.ts
  framework/PageActions/PageActionButton.tsx
  framework/PageActions/PageActionDropdown.tsx
  framework/PageForm/PageForm.tsx
  framework/PageHeader.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarDateRangeFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarTextFilter.tsx
  framework/components/BulkSelector.tsx
Labels: AWX, E2E, AFW

#949 clear swr cache on logout
  frontend/awx/AwxMasthead.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/hub/HubMasthead.tsx
Labels: AWX, EDA, HUB

#948 page table list view layout inconsistencies
  framework/PageTable/PageTableList.tsx
Labels: AFW

#929 Add docs for string casing, adds href to side nav
  CONTRIBUTING.md
  framework/PageNavigation/PageNavigation.tsx
  frontend/awx/views/schedules/hooks/useSchedulesColumns.tsx
Labels: AWX, AFW

#939 [AAP-15753]Use UX labels and the api enum for the restart policy label
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
Labels: EDA

#947 page navigation enhancements
  framework/PageNavigation/PageNavigation.css
  framework/PageNavigation/PageNavigation.tsx
Labels: AFW

#954 Navigation update eda rulebook activation details navigation
  framework/PageTabs/PageRoutedTabs.tsx
  frontend/common/Routes.ts
  frontend/eda/EdaRoutes.tsx
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstancePage.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationHistory.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA, AFW

#956 Navigation Hub Update Namespace Navigation
  framework/PageTabs/PageRoutedTabs.tsx
  framework/PageTabs/PageTabs.tsx
  frontend/hub/HubRoutes.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceDetails.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB, AFW

#950 [AAP-16181] Add timeout to the clipboard copy alerts
  framework/hooks/useClipboard.tsx
Labels: AFW

#960 [AAP-15815] Activation ID first column in the activations list
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA

#959 [AAP-13112] Change project git hash field with the activation git hash
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA

#961 [WIP] Refactoring tests to account for data-cy locators
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Roles/roles-list.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageHeader.tsx
  framework/PageMasthead/PageMasthead.tsx
  framework/PageMasthead/PageMastheadDropdown.tsx
  framework/PageMasthead/PageNotificationsIcon.tsx
  framework/PageMasthead/PageSettingsIcon.tsx
  framework/PageMasthead/PageThemeSwitcher.tsx
  framework/PageNavigation/PageNavigation.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarTextFilter.tsx
  framework/components/EmptyStateCustom.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.cy.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.cy.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
  frontend/awx/views/schedules/Schedules.cy.tsx
  frontend/common/PageRefreshIcon.tsx
  frontend/eda/Resources/projects/Projects.cy.tsx
  frontend/eda/dashboard/EdaDashboard.cy.tsx
  package.json
Labels: AWX, EDA, E2E, CCT, AFW

#965 Removes unused workflow visualizer code
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/Base.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/InventorySources.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/JobTemplates.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/Projects.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/SystemJobTemplates.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/WorkflowApproval.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/WorkflowJobTemplateNodes.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/WorkflowJobTemplates.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/TemplatesAPI/index.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/Visualizer.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/VisualizerGraph.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/VisualizerLink.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/VisualizerNode.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/VisualizerStartScreen.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/VisualizerTab.tsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/VisualizerToolbar.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/index.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/shared/WorkflowActionTooltip.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/shared/WorkflowActionsTooltipItem.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/shared/WorkflowContext.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/shared/WorkflowJobTemplateVisualizerUtils.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/shared/WorkflowNodeTypeLetter.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/utils/WorkflowUtils.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/utils/getAddedAndRemoved.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/utils/strings.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/utils/useRequest.jsx
  frontend/awx/resources/templates/components/WorkflowJobTemplateVisualizer/utils/utils.jsx
Labels: AWX

#968 [AAP-16601] EDA Dashboard Rule runs graph updates
  frontend/eda/constants.ts
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.cy.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
Labels: EDA, CCT

#964 Remove unused components
  frontend/eda/EdaRoutes.tsx
  frontend/eda/Resources/inventories/Inventories.tsx
  frontend/eda/Resources/inventories/InventoryDetails.tsx
  frontend/eda/Resources/inventories/hooks/useDeleteInventories.tsx
  frontend/eda/Resources/inventories/hooks/useInventoryColumns.tsx
  frontend/eda/Resources/inventories/hooks/useInventoryFilters.tsx
  frontend/eda/Resources/inventories/hooks/useInventoryRowActions.tsx
  frontend/eda/Resources/inventories/hooks/useInventoryToolbarActions.tsx
  frontend/eda/UserAccess/Groups/EditGroup.tsx
  frontend/eda/UserAccess/Groups/GroupDetails.tsx
  frontend/eda/UserAccess/Groups/Groups.tsx
  frontend/eda/UserAccess/Groups/components/PageFormGroupSelect.tsx
  frontend/eda/UserAccess/Groups/hooks/useDeleteGroup.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupActions.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupColumns.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupFilters.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupsActions.tsx
  frontend/eda/UserAccess/Groups/hooks/useSelectGroups.tsx
  frontend/eda/interfaces/EdaGroup.ts
  frontend/eda/interfaces/EdaInventory.ts
  frontend/eda/interfaces/EdaRule.ts
  frontend/eda/interfaces/EdaRuleset.ts
  frontend/eda/rulebooks/RulebookDetails.tsx
  frontend/eda/rulebooks/Rulebooks.tsx
  frontend/eda/rulebooks/components/EdaRulebookCell.tsx
  frontend/eda/rulebooks/hooks/useRulebookColumns.tsx
  frontend/eda/rulebooks/hooks/useRulebookFilters.tsx
  frontend/eda/rulebooks/hooks/useRulesetColumns.tsx
  frontend/eda/rulebooks/hooks/useRulesetFilters.tsx
  frontend/eda/rules/EditRule.tsx
  frontend/eda/rules/RuleDetails.tsx
  frontend/eda/rules/Rules.tsx
  frontend/eda/rules/hooks/useRuleColumns.tsx
  frontend/eda/rules/hooks/useRuleFilters.tsx
  frontend/eda/useEdaNavigation.tsx
Labels: EDA

#963 [AAP-15392] Update label and help text for the Token field in the credential form to indicate it can also be a password
  frontend/eda/Resources/credentials/EditCredential.tsx
Labels: EDA

#969 PageRoutedTabs for Jobs, Credentials, Inventories
  framework/PageTabs/PageRoutedTabs.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.cy.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.cy.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobPage.tsx
Labels: AWX, CCT, AFW
