Repository ansible/ansible-ui, pull requests merged in 2023-11, with the labels that each got.

#1156 [AAH-2528] Add button to create remote registry for empty table
  frontend/hub/remote-registries/RemoteRegistries.tsx
Labels: HUB

#1163 Add organizations as an optional field in the user details base component
  cypress/fixtures/awxUser.json
  framework/PageCells/LabelsCell.tsx
  frontend/awx/access/users/UserPage/UserDetails.cy.tsx
  frontend/awx/access/users/UserPage/UserDetails.tsx
  frontend/awx/interfaces/User.ts
  frontend/common/access/UserDetailsBase.tsx
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
Labels: AWX, CCT, AFW

#1126 WorkflowVisualizer side panel details
  frontend/awx/interfaces/LaunchConfiguration.ts
  frontend/awx/interfaces/WorkflowJobLaunch.ts
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/SystemJobNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowApprovalNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetDetailComponent.tsx
Labels: AWX, CCT

#1143 Update HUB/EDA Mastheads to match AWX
  frontend/eda/EdaMasthead.tsx
  frontend/hub/HubMasthead.tsx
Labels: EDA, HUB

#1167 Adds empty state to workflow visualizer
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/AddNodeButton.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
Labels: AWX, E2E, CCT

#1158 Monaco Webpack - Setup Monaco using getWorkerUrl
  cypress.base.config.ts
  cypress/support/e2e.ts
  framework/PageForm/Inputs/DataEditor.tsx
  nginx/awx.conf
  nginx/eda.conf
  nginx/hub.conf
  webpack/webpack.awx.cjs
  webpack/webpack.config.cjs
  webpack/webpack.eda.cjs
  webpack/webpack.hub.cjs
Labels: AFW

#1173 Move AWX routes into subdirectory
  frontend/awx/routes/useAwxActivityStreamRoutes.tsx
  frontend/awx/routes/useAwxApplicationsRoutes.tsx
  frontend/awx/routes/useAwxCredentialRoutes.tsx
  frontend/awx/routes/useAwxCredentialTypesRoutes.tsx
  frontend/awx/routes/useAwxExecutionEnironmentRoutes.tsx
  frontend/awx/routes/useAwxHostRoutes.tsx
  frontend/awx/routes/useAwxInstanceGroupsRoutes.tsx
  frontend/awx/routes/useAwxInstancesRoutes.tsx
  frontend/awx/routes/useAwxInventoryRoutes.tsx
  frontend/awx/routes/useAwxJobsRoutes.tsx
  frontend/awx/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/routes/useAwxNotificationsRoutes.tsx
  frontend/awx/routes/useAwxOrganizationsRoutes.tsx
  frontend/awx/routes/useAwxProjectRoutes.tsx
  frontend/awx/routes/useAwxSchedulesRoutes.tsx
  frontend/awx/routes/useAwxTeamsRoutes.tsx
  frontend/awx/routes/useAwxTemplateRoutes.tsx
  frontend/awx/routes/useAwxUsersRoutes.tsx
  frontend/awx/routes/useAwxWorkflowApprovalRoutes.tsx
  frontend/awx/useAwxNavigation.tsx
Labels: AWX

#1153 Tests for AAP - 17402 `Credential Types`
  cypress/e2e/awx/administration/credentials-types.cy.ts
  cypress/fixtures/credTypes-injector-config.json
  cypress/fixtures/credTypes-input-config.json
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  frontend/awx/administration/credential-types/CredentialTypeForm.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypeForm.tsx
  frontend/hub/useHubNavigation.tsx
Labels: AWX, E2E, HUB, CCT

#1130 PF5 Fix multiple ToolbarToggleGroups
  framework/PageToolbar/PageToolbar.css
  framework/PageToolbar/PageToolbar.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarSort.tsx
  framework/PageToolbar/PageToolbarToggleGroup.tsx
  framework/PageToolbar/PageToolbarView.tsx
Labels: AFW

#1154 Fix table is row selected styling
  framework/PageTable/PageTable.tsx
Labels: AFW

#1112 Reparallel tests
  .github/workflows/awx-e2e.yml
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
Labels: AWX, E2E

#1120 Adds support for workflow approval list in AWX
  cypress/fixtures/workflowApprovals.json
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  framework/PageActions/PageActionDropdown.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/interfaces/WorkflowApproval.ts
  frontend/awx/interfaces/WorkflowJob.ts
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
  frontend/awx/routes/useAwxWorkflowApprovalRoutes.tsx
  frontend/awx/views/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalPage.tsx
  frontend/awx/views/workflow-approvals/WorkflowApprovals.cy.tsx
  frontend/awx/views/workflow-approvals/WorkflowApprovals.tsx
  frontend/awx/views/workflow-approvals/components/WorkflowApprovalStatusCell.tsx
  frontend/awx/views/workflow-approvals/components/WorkflowApprovalTimeRemaining.tsx
  frontend/awx/views/workflow-approvals/hooks/useApproveWorkflowApprovals.tsx
  frontend/awx/views/workflow-approvals/hooks/useDeleteWorkflowApprovals.tsx
  frontend/awx/views/workflow-approvals/hooks/useDenyWorkflowApprovals.tsx
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalActions.tsx
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalToolbarActions.tsx
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalsColumns.tsx
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalsFilters.tsx
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalsRowActions.tsx
Labels: AWX, CCT, AFW

#1175 Renaming UserDetails base component and its usages
  frontend/awx/access/users/UserPage/AwxUserDetails.cy.tsx
  frontend/awx/access/users/UserPage/AwxUserDetails.tsx
  frontend/awx/routes/useAwxUsersRoutes.tsx
  frontend/common/access/UserDetails.tsx
  frontend/eda/UserAccess/Users/UserPage/EdaMyDetails.tsx
  frontend/eda/UserAccess/Users/UserPage/EdaUserDetails.tsx
  frontend/eda/useEdaNavigation.tsx
Labels: AWX, EDA, CCT

#1164 Fix detail page layout so that tables and other component can handle the scrolling on the page
  framework/PageFramework.css
  framework/PageLayout.tsx
  framework/PageTabs/PageRoutedTabs.tsx
Labels: AFW

#1051 Fix back button on project details
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
Labels: AWX

#1182 Revert "Update scrolling on page routed tabs"
  frontend/eda/Resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/UserAccess/Users/UserPage/ControllerTokens.tsx
  frontend/eda/common/PageDetailsSection.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstancePage.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationHistory.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditActions.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditEvents.tsx
Labels: EDA

#1180 [Workflow Visualizer] Adds documentation button in the toolbar dropdown.
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
Labels: AWX, CCT

#1181 Add visualizer node icons
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomEdge.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/index.ts
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
Labels: AWX

#1183 [Workflow Visualizer] Adds Header
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
Labels: AWX, CCT

#1187 Folow up to #1129 - Fixed fired rules date label.
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
Labels: EDA

#1161 [Analytics] Add error state to Analytics builder
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
Labels: AWX

#918 Adds variable fields to the inventory form and inventory details view
  cypress/e2e/awx/resources/inventories.cy.ts
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/common/useAwxGetAllPages.tsx
  frontend/awx/interfaces/Inventory.ts
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
Labels: AWX, E2E

#1137 [AAP-11584] Update enable/disable rulebook activation interactions
  cypress/fixtures/edaDisabledRulebookActivation.json
  cypress/fixtures/edaEnabledRulebookActivation.json
  cypress/fixtures/edaRulebookActivations.json
  frontend/common/Routes.ts
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/rulebook-activations/hooks/useControlRulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
Labels: EDA, CCT

#1185 Fix for flaky jobs test
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1191 Fix table style
  framework/PageTable/PageTable.tsx
Labels: AFW

#1193 Monaco Webpack Update to fix hot reload for development
  framework/PageForm/Inputs/DataEditor.tsx
  webpack/webpack.awx.cjs
  webpack/webpack.config.cjs
  webpack/webpack.eda.cjs
  webpack/webpack.hub.cjs
Labels: AFW

#1165 Scrollable dark theme shadows - make a little more subtle
  framework/components/Scrollable.css
Labels: AFW

#1196 Common team details UI + usage in AWX
  cypress/fixtures/team.json
  frontend/awx/access/teams/TeamPage/AwxTeamDetails.cy.tsx
  frontend/awx/access/teams/TeamPage/AwxTeamDetails.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.tsx
  frontend/awx/routes/useAwxTeamsRoutes.tsx
  frontend/common/access/TeamDetails.tsx
Labels: AWX, CCT

#1145 Add basic Mesh Visualizer
  cypress/support/awx-commands.ts
  framework/PageCells/CapacityCell.tsx
  framework/index.ts
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/hooks/useInstanceActions.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/administration/topology/Legend.tsx
  frontend/awx/administration/topology/Loader.tsx
  frontend/awx/administration/topology/Sidebar.tsx
  frontend/awx/administration/topology/Topology.tsx
  frontend/awx/administration/topology/Visualizer.tsx
  frontend/awx/administration/topology/components/MeshEdge.tsx
  frontend/awx/administration/topology/components/MeshNode.tsx
  frontend/awx/administration/topology/helpers.tsx
  frontend/awx/administration/topology/types.ts
  frontend/awx/administration/topology/worker.ts
  frontend/awx/interfaces/Instance.ts
  frontend/awx/interfaces/InstanceGroup.ts
  frontend/awx/interfaces/MeshVisualizer.ts
  frontend/awx/useAwxNavigation.tsx
  package-lock.json
  package.json
Labels: AWX, AFW

#1174 [Workflow Visualizer]Launch workflow button to the Workflow Visualizer toolbar
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
Labels: AWX, CCT

#1046 repositoryBasePath function
  frontend/hub/api/utils.tsx
  frontend/hub/collections/CollectionDetails.tsx
Labels: HUB

#1201 Add workflow node context menu dropdown
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/index.ts
Labels: AWX

#1188 [Workflow Visualizer] Functionality to expand and collapse the workflow visualizer
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/VisualizerWrapper.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
Labels: AWX, CCT

#1200 PageForm Documentation - Section, Hidden, and Watch
  framework/PageForm/Utils/PageFormHidden.tsx
  framework/PageForm/Utils/PageFormSection.tsx
  framework/PageForm/Utils/PageFormWatch.tsx
Labels: AFW

#1204 Cleanup web worker thread.
  frontend/awx/administration/topology/Visualizer.tsx
Labels: AWX

#1159 [AAH-2530] Delete remote registries
  frontend/hub/api/request.ts
  frontend/hub/remote-registries/RemoteRegistries.tsx
  frontend/hub/remote-registries/hooks/useDeleteRemoteRegistries.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistriesToolbarActions.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
Labels: HUB

#1192 fix table border issues when horizontally scrolling
  framework/PageTable/PageTable.tsx
Labels: AFW

#1206 [AAH-2494] Add test to edit remote
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/remotes.cy.ts
  framework/PageForm/PageFormExpandableSection.tsx
Labels: E2E, AFW

#1209 [AAP-18147] Display the status_message as an alert for a rulebook activation Failed status
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA

#1212 Consolidate duplicated URL path code
  frontend/hub/api/utils.tsx
  frontend/hub/remote-registries/hooks/useDeleteRemoteRegistries.tsx
Labels: HUB

#1198 [AAP-17392] Update remote and remote registry to use PageHiddenInput
  framework/PageForm/Inputs/PageFormSecret.cy.tsx
  framework/PageForm/Inputs/PageFormSecret.tsx
  framework/PageInputs/PageInputs.md
  frontend/hub/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/remotes/Remotes.tsx
Labels: HUB, CCT, AFW

#1171 [AA-1832] Reports list view
  frontend/awx/analytics/Reports/ReportsList/ReportCard.tsx
  frontend/awx/analytics/Reports/ReportsList/ReportsList.tsx
  frontend/awx/analytics/Reports/ReportsList/useReportCardColumns.tsx
  frontend/awx/analytics/useAnalyticsView.ts
  frontend/awx/interfaces/ReportsList.ts
  frontend/awx/useAwxNavigation.tsx
Labels: AWX

#1215 Fix import hubAPI, pulpAPI
  frontend/hub/collections/hooks/useCopyToRepository.tsx
Labels: HUB

#1210 [AAP-18065] Fix rule audit navigation entry
  frontend/eda/useEdaNavigation.tsx
Labels: EDA

#1186 [AAP-17462] Display error on Create activation form
  framework/PageForm/README.md
  frontend/eda/EdaPageForm.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/UserAccess/Roles/EditRole.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/adapters/edaErrorAdapter.cy.tsx
  frontend/eda/adapters/edaErrorAdapter.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  webpack/environment.cjs
Labels: EDA, CCT, AFW

#1213 [AAH-2851] Add remote registry details page
  frontend/hub/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistriesColumns.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
  frontend/hub/remotes/RemoteDetails.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB

#1220 [AAP-18149] Add rulebook activation bulk restart
  cypress/fixtures/edaRulebookActivations.json
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
Labels: EDA, CCT

#1207 [AAH-2494] Update edit remote test
  cypress/e2e/hub/remotes.cy.ts
Labels: E2E

#1219 [AAH-2528] Add initial tests related to Remote Registries
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/remote-registries.cy.ts
  frontend/hub/remote-registries/hooks/useRemoteRegistryFilters.tsx
Labels: E2E, HUB

#1222 Toolbar fix chip delete
  framework/PageToolbar/PageToolbarFilter.tsx
Labels: AFW

#1224 Update remote registry test
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  framework/PageTable/PageTable.tsx
Labels: E2E, AFW

#1225 Visualizer custom smooth step edges and truncate labels
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomEdge.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomLabel.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  package-lock.json
  package.json
Labels: AWX

#1227 UX fix in Collection Details
  frontend/hub/collections/CollectionDetails.tsx
Labels: HUB

#1229 [AAP-18277] status message as extended column
  cypress/fixtures/edaRulebookActivations.json
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA, CCT

#1228 Asserts on the e2e test and removes an optional chain
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
Labels: AWX, E2E

#1233 Add unique workflow node label identifier
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
Labels: AWX

#1235 Adjust workflow vis tests before workflow vis PR is merged
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E, CCT

#1231 Fix DataEditor to support two editors on the same page (credential-type)
  framework/PageForm/Inputs/DataEditor.tsx
Labels: AFW

#1238 Remove mobx-react
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomEdge.tsx
  package-lock.json
  package.json
Labels: AWX

#1241 Add useClearCache
  frontend/awx/AwxMasthead.tsx
  frontend/common/useInvalidateCache.cy.tsx
  frontend/common/useInvalidateCache.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/hub/HubMasthead.tsx
  frontend/hub/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/remotes/RemoteForm.tsx
Labels: AWX, EDA, HUB, CCT

#1237 Upgrade react-i18next to v13
  framework/PageDashboard/PageDashboardCard.tsx
  frontend/awx/access/common/useAccessColumns.tsx
  frontend/awx/administration/instance-groups/components/PageFormInstanceGroupSelect.tsx
  frontend/awx/resources/projects/hooks/useProjectNameColumn.tsx
  frontend/awx/resources/templates/TemplatePage/steps/CredentialPasswordsStep.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/UserAccess/Roles/PageFormRolesSelect.tsx
  frontend/hub/api/utils.tsx
  frontend/hub/approvals/hooks/useApproveCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
  package-lock.json
  package.json
Labels: AWX, EDA, HUB, AFW

#1245 [AAP-15815][AAP-18277] Follow-up - Rename first column to 'ID'. Add truncate for the extended status_message column
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA, CCT

#1234 PageSelect components update to handle keyboard accessibility
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  frontend/awx/access/users/UserForm.tsx
Labels: AWX, AFW

#1230 Update delete url when force flag is required
  frontend/eda/Resources/credentials/Credentials.cy.tsx
  frontend/eda/Resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.cy.tsx
  frontend/eda/Resources/decision-environments/hooks/useDeleteDecisionEnvironments.tsx
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
Labels: EDA, CCT

#1244 Render deleted workflow nodes
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/DeletedNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/index.ts
Labels: AWX

#1240 Feature parity for instance groups list
  cypress/e2e/awx/administration/instance-groups.cy.ts
  cypress/fixtures/instance_groups.json
  frontend/awx/AwxRoutes.tsx
  frontend/awx/administration/credential-types/CredentialTypes.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instance-groups/hooks/useDeleteInstanceGroups.tsx
  frontend/awx/administration/instance-groups/hooks/useInstanceGroupActions.tsx
  frontend/awx/administration/instance-groups/hooks/useInstanceGroupColumns.tsx
  frontend/awx/administration/instance-groups/hooks/useSelectInstanceGroups.tsx
  frontend/awx/interfaces/InstanceGroup.ts
  frontend/awx/routes/useAwxInstanceGroupsRoutes.tsx
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
Labels: AWX, E2E, CCT

#1221 Workflow visualizer- read phase
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  cypress/fixtures/wf_vis_testing_A.json
  cypress/fixtures/wf_vis_testing_B.json
  cypress/fixtures/workflow_nodes.json
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  frontend/awx/AwxRoutes.tsx
  frontend/awx/interfaces/LaunchConfiguration.ts
  frontend/awx/interfaces/WorkflowJobLaunch.ts
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/AddNodeButton.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomEdge.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomLabel.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/DeletedNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/SystemJobNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/VisualizerWrapper.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowApprovalNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/index.ts
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetDetailComponent.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/components/WorkflowHelp.jsx
  frontend/awx/resources/templates/components/WorkflowLegend.jsx
  frontend/awx/resources/templates/components/WorkflowLinkHelp.jsx
  frontend/awx/resources/templates/components/WorkflowNodeHelp.jsx
  frontend/awx/resources/templates/components/WorkflowReducer.tsx
  frontend/awx/resources/templates/components/WorkflowStartNode.jsx
  frontend/awx/routes/useAwxTemplateRoutes.tsx
  package-lock.json
Labels: AWX, E2E, CCT

#1243 Workflow approval list view tests
  cypress/e2e/awx/resources/workflowApproval.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1249 Add pf-5 utility classes to correctly render screen reader text.
  frontend/awx/AwxMain.tsx
  frontend/awx/administration/topology/Legend.tsx
Labels: AWX

#1250 EDA roles table
  frontend/eda/UserAccess/Roles/Roles.tsx
Labels: EDA

#1247 Add wf visualizer control bar and legend
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/Legend.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/index.ts
Labels: AWX, CCT

#1253 [AAP-18066][AAP-18067][AAA-18080] Small UX Fixes
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.cy.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditPage.cy.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditPage.tsx
Labels: EDA, CCT

#1256 Small update remote tests
  cypress/e2e/hub/remotes.cy.ts
Labels: E2E

#1242 [AAH-2480] Refactor repositories screen
  frontend/hub/HubRoutes.tsx
  frontend/hub/repositories/Repositories.tsx
  frontend/hub/repositories/Repository.tsx
  frontend/hub/repositories/hooks/useRepositoriesColumns.tsx
  frontend/hub/repositories/hooks/useRepositoryActions.tsx
  frontend/hub/repositories/hooks/useRepositoryFilters.tsx
  frontend/hub/repositories/hooks/useRepositoryToolbarActions.tsx
Labels: HUB

#1257 [AAP-8053][AAP-18077] Update versify SSL options. Fix Dashboard Decision environments card
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/Resources/projects/ProjectPage/ProjectPage.tsx
  frontend/eda/dashboard/cards/EdaDecisionEnvironmentsCard.tsx
Labels: EDA, E2E

#1259 Initial Roles list for Automation Hub
  framework/PageCells/LabelsCell.tsx
  frontend/common/columns.tsx
  frontend/hub/HubRoutes.tsx
  frontend/hub/access/roles/Role.ts
  frontend/hub/access/roles/Roles.tsx
  frontend/hub/access/roles/components/RoleExpandedRow.tsx
  frontend/hub/access/roles/hooks/useLockedRolesWithDescription.tsx
  frontend/hub/access/roles/hooks/useRoleActions.tsx
  frontend/hub/access/roles/hooks/useRoleColumns.tsx
  frontend/hub/access/roles/hooks/useRoleFilters.tsx
  frontend/hub/common/constants.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB, AFW

#1214 Unify use get hub
  frontend/awx/common/AwxError.tsx
  frontend/hub/approvals/hooks/useApprovalActions.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/collections/CollectionSignatureUpload.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollections.tsx
  frontend/hub/collections/hooks/useCopyToRepository.tsx
  frontend/hub/common/HubError.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironments.tsx
  frontend/hub/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/remotes/RemoteDetails.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/tasks/TaskDetails.tsx
Labels: AWX, HUB

#1226 [AAH-2532] Add sync per row for remote registry
  frontend/hub/api/utils.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistryActions.tsx
Labels: HUB

#1251 Add validation for URLs Remotes and Remote Registry pages
  frontend/common/validation/useIsValidUrl.tsx
  frontend/hub/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/remotes/RemoteForm.tsx
Labels: HUB

#1266 Update navigation for AWX, EDA, and HUB
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/support/auth.ts
  cypress/support/commands.ts
  framework/PageDashboard/PageDashboardCard.tsx
  framework/hooks/useID.tsx
  frontend/awx/AwxMain.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/common/Routes.ts
  frontend/eda/EdaMain.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/eda/EdaRoutes.tsx
  frontend/eda/UserAccess/Users/UserPage/UserPage.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditCard.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/HubMain.tsx
  frontend/hub/HubRoutes.tsx
  frontend/hub/useHubNavigation.tsx
  package.json
Labels: AWX, EDA, E2E, HUB, AFW

#1265 Update eslint lint rule
  .eslintrc.json
  cypress/support/awx-commands.ts
  cypress/support/hub-commands.ts
  framework/PageDashboard/PageChartLegend.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/utils/compare.ts
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilderUtils.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/Test.tsx
  frontend/awx/analytics/components/Chart/index.tsx
  frontend/awx/analytics/useAnalyticsView.ts
  frontend/hub/approvals/hooks/useApprovalsColumns.tsx
  frontend/hub/approvals/hooks/useApproveCollections.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/collections/CollectionSignatureUpload.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCopyToRepository.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/tasks/hooks/useTaskActions.tsx
  frontend/hub/tasks/hooks/useTasksActions.tsx
Labels: AWX, HUB, AFW

#1264 Update Repositories List view to be visually same as old one
  frontend/hub/common/constants.tsx
  frontend/hub/repositories/Repository.tsx
  frontend/hub/repositories/hooks/useRepositoriesColumns.tsx
  frontend/hub/repositories/hooks/useRepositoryActions.tsx
  frontend/hub/repositories/hooks/useRepositoryFilters.tsx
  frontend/hub/repositories/hooks/useRepositorySelector.tsx
Labels: HUB

#1268 Update WF Visualizer to fetch multiple pages of nodes
  cypress/support/awx-commands.ts
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/common/useAwxGetAllPages.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
Labels: AWX, CCT

#1269 use approve and sign wording when autoSign is true
  frontend/hub/approvals/hooks/useApproveCollections.tsx
Labels: HUB

#1239 Add component and integration tests for mesh viz.
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/fixtures/instance.json
  cypress/fixtures/instance_without_install_bundle.json
  cypress/fixtures/mesh_visualizer.json
  framework/PageCells/BytesCell.tsx
  frontend/awx/administration/instances/InstanceDetails.cy.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/hooks/useInstanceActions.tsx
  frontend/awx/administration/topology/Legend.tsx
  frontend/awx/administration/topology/Visualizer.cy.tsx
  frontend/awx/administration/topology/Visualizer.tsx
  frontend/common/Status.tsx
Labels: AWX, E2E, CCT, AFW

#1278 Fix login and logout
  frontend/awx/AwxLogin.tsx
  frontend/awx/AwxMasthead.tsx
  frontend/common/Login.tsx
  frontend/common/LoginForm.tsx
  frontend/common/Routes.ts
  frontend/common/crud/useDeleteRequest.tsx
  frontend/common/crud/useGet.tsx
  frontend/common/crud/useOptions.tsx
  frontend/common/crud/usePatchRequest.tsx
  frontend/common/crud/usePostRequest.tsx
  frontend/eda/EdaMain.tsx
  frontend/eda/EdaMasthead.tsx
  frontend/hub/HubMain.tsx
  frontend/hub/HubMasthead.tsx
Labels: AWX, EDA, HUB

#1276 add conditional to disable approve button
  frontend/hub/approvals/hooks/useApprovalActions.tsx
Labels: HUB

#1258 Custom command data-cy refactoring
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/administration/credentials-types.cy.ts
  cypress/e2e/awx/administration/instance-groups.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
  framework/PageActions/PageActionDropdown.tsx
  framework/PageActions/PageActionSwitch.tsx
  framework/PageAlertToaster.tsx
  framework/PageDialogs/BulkConfirmationDialog.tsx
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageTable/PagePagination.tsx
  framework/PageToolbar/PageToolbar.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
  frontend/awx/views/workflow-approvals/WorkflowApprovals.cy.tsx
  frontend/eda/UserAccess/Roles/RoleDetails.tsx
Labels: AWX, EDA, E2E, CCT, AFW

#1270 [AAP-17961] Remove Jobs and Survey tabs from Project Details page
  frontend/awx/AwxRoutes.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/routes/useAwxProjectRoutes.tsx
Labels: AWX

#1279 Fix random crash in jobs chart
  frontend/awx/dashboard/charts/JobsChart.tsx
Labels: AWX

#1275 Update delete actions to use dedicate hub http client
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/namespaces/hooks/useDeleteHubNamespaces.tsx
Labels: HUB

#1283 Add a couple initial files for e2e tests for hub
  cypress/e2e/hub/api-tokens.cy.ts
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/excution-environments.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  cypress/e2e/hub/repositories.cy.ts
  cypress/e2e/hub/signature-keys.cy.ts
Labels: E2E

#1280 Feature parity for Hub Roles list
  .github/workflows/hub-e2e.yml
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/e2e/hub/hub-roles.cy.ts
  cypress/fixtures/hub_roles.json
  cypress/support/auth.ts
  cypress/support/commands.ts
  cypress/support/formatApiPathForHub.ts
  cypress/support/hub-commands.ts
  frontend/hub/HubRoutes.tsx
  frontend/hub/access/roles/Roles.cy.tsx
  frontend/hub/access/roles/Roles.tsx
  frontend/hub/access/roles/hooks/useDeleteRoles.tsx
  frontend/hub/access/roles/hooks/useRoleActions.tsx
  frontend/hub/access/roles/hooks/useRoleColumns.tsx
  frontend/hub/access/roles/hooks/useRoleFilters.tsx
  frontend/hub/useHubContext.tsx
  frontend/hub/useHubNavigation.tsx
  frontend/hub/usePulpView.tsx
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/nl/translation.json
  locales/zh/translation.json
  locales/zu/translation.json
Labels: E2E, HUB, CCT

#1255 Add copy URL to remote and remote registries
  framework/PageCells/CopyCell.tsx
  frontend/hub/collections/CollectionDetails.tsx
  frontend/hub/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistriesColumns.tsx
  frontend/hub/remotes/RemoteDetails.tsx
  frontend/hub/remotes/hooks/useRemoteColumns.tsx
Labels: HUB, AFW

#1284 Update product navigation
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/hub-dashboard.cy.ts
  cypress/support/awx-commands.ts
  frontend/awx/AwxLogin.tsx
  frontend/awx/AwxRoutes.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/charts/JobsChart.tsx
  frontend/awx/routes/useAwxApplicationsRoutes.tsx
  frontend/awx/routes/useAwxNotificationsRoutes.tsx
  frontend/awx/settings/Settings.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/common/Routes.ts
  frontend/eda/EdaMain.tsx
  frontend/eda/EdaRoutes.tsx
  frontend/eda/useEdaNavigation.tsx
  frontend/hub/HubMain.tsx
  frontend/hub/HubRoutes.tsx
  frontend/hub/useHubNavigation.tsx
Labels: AWX, EDA, E2E, HUB

#1289 Fix merge conflict
  frontend/hub/useHubNavigation.tsx
Labels: HUB
