Repository ansible/ansible-ui, pull requests merged in 2023-04, with the labels that each got.

#350 [AAP-9572] Added Rule Audit pages
  frontend/Routes.ts
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/EventDrivenSidebar.tsx
  frontend/eda/dashboard/Dashboard.tsx
  frontend/eda/dashboard/RuleAuditChartCard.tsx
  frontend/eda/interfaces/EdaRuleAudit.ts
  frontend/eda/interfaces/EdaRuleAuditAction.ts
  frontend/eda/interfaces/EdaRuleAuditEvent.ts
  frontend/eda/views/RuleAudit/RuleAudit.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditEventsColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditEventsFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditFilters.tsx
  frontend/eda/views/actions/Actions.tsx
  frontend/eda/views/actions/hooks/useActionsColumns.tsx
  frontend/eda/views/actions/hooks/useHostsColumns.tsx
Labels: EDA

#363 [AAP-10205] Updated credentials page
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/interfaces/EdaCredential.ts
Labels: EDA

#365 [EDA] [QE] Add Custom Command / Add Custom Command Documentation
  cypress/e2e/eda/Event-Stream/event-stream-list.cy.ts
  cypress/e2e/eda/Execution-Environments/ee-env-crud.cy.ts
  cypress/e2e/eda/Execution-Environments/ee-env-list.cy.ts
  cypress/e2e/eda/Execution-Environments/ee-tabs.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
  cypress/e2e/eda/Rulebook Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook Activations/rulebook-activations-tabs.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/commands.ts
  frontend/eda/interfaces/EdaRulebookActivation.ts
Labels: EDA, e2e

#366 Update the source name and timestamp field names for an Audit Event
  frontend/eda/interfaces/EdaRuleAuditEvent.ts
  frontend/eda/views/RuleAudit/hooks/useRuleAuditEventsColumns.tsx
Labels: EDA

#370 Cypress eslint rule to check for .only and streamline selectByLabel to auto detect search
  .eslintrc.json
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: AWX, e2e

#364 Formatting job 'started' and 'finished' times
  framework/PageCells/DateTimeCell.tsx
  framework/PageTable/PageTableColumn.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/awx/access/teams/TeamPage/TeamDetails.tsx
  frontend/awx/access/users/UserPage/UserDetails.tsx
  frontend/awx/access/users/hooks/useUsersColumns.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/Instances.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/columns.tsx
  frontend/hub/administration/approvals/hooks/useApprovalsColumns.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistriesColumns.tsx
  frontend/hub/administration/repositories/Repositories.tsx
  frontend/hub/administration/tasks/TaskDetails.tsx
  frontend/hub/administration/tasks/Tasks.tsx
  frontend/hub/automation-content/signature-keys/SignatureKeys.tsx
Labels: framework, AWX

#374 Rulebook activations CRUD test
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/support/commands.ts
Labels: e2e

#372 Fix for broken Instance group and Default execution environment fields in Organization form
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/administration/execution-environments/components/PageFormExecutionEnvironmentSelect.tsx
  frontend/awx/administration/execution-environments/hooks/useSelectExecutionEnvironments.tsx
Labels: AWX

#377 Add 202 response handling for usePostRequest hook.
  frontend/common/crud/usePostRequest.tsx
Labels: bug, framework

#368 Redirect to job output after relaunching a job on the jobs list
  cypress/e2e/awx/views/jobs.cy.ts
  frontend/awx/views/jobs/hooks/useJobRowActions.tsx
  frontend/awx/views/jobs/hooks/useRelaunchJob.tsx
Labels: AWX, e2e

#344 Adds AWX inventory details view
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/fixtures/inventory.json
  cypress/support/commands.ts
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/common/useVerbosityString.tsx
  frontend/awx/interfaces/Inventory.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/inventories/hooks/useInventoryActions.tsx
  frontend/awx/resources/templates/TemplateDetail.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateDetail.tsx
  frontend/awx/views/jobs/JobExpanded.tsx
Labels: AWX, e2e, component

#375 Fix job expansion E2E test
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/commands.ts
Labels: AWX, e2e

#380 Update credentials and decision environments endpoints paramters
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/EditDecisionEnvironment.tsx
  frontend/eda/interfaces/EdaCredential.ts
  frontend/eda/interfaces/EdaDecisionEnvironment.ts
Labels: EDA

#383 Update the decision environment selection in the Rulebook activation pages
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
Labels: EDA

#381 Rulebook activations list tests
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/support/commands.ts
Labels: e2e

#384 update dependencies
  docs/Storybook.md
  framework/README.md
  package-lock.json
  package.json
Labels: framework

#376 Enhanced table columns
  framework/PageDetails/PageDetails.tsx
  framework/PageDetails/PageDetailsFromColumns.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableColumn.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/teams/hooks/useTeamsColumns.tsx
  frontend/awx/access/users/hooks/useUsersColumns.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/resources/credentials/Credentials.tsx
  frontend/awx/resources/credentials/hooks/useCredentialsColumns.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/common/ItemDescriptionExpandedRow.tsx
  frontend/common/columns.tsx
Labels: framework, AWX

#382 [EDA] Rulebook Activations CRUD Deletion Test
  cypress/e2e/eda/Actions/actions-list.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-tabs.cy.ts
  cypress/e2e/eda/Event-Stream/event-stream-list.cy.ts
  cypress/e2e/eda/Execution-Environments/ee-env-crud.cy.ts
  cypress/e2e/eda/Execution-Environments/ee-env-list.cy.ts
  cypress/e2e/eda/Execution-Environments/ee-tabs.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
  cypress/e2e/eda/Groups/groups-crud.cy.ts
  cypress/e2e/eda/Groups/groups-list.cy.ts
  cypress/e2e/eda/Groups/groups-tabs.cy.ts
  cypress/e2e/eda/Roles/roles-list.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-crud.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebooks/rulebooks-list.cy.ts
  cypress/e2e/eda/Rulebooks/rulebooks-tabs.cy.ts
  cypress/e2e/eda/Users/users-list-cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
Labels: e2e

#379 Add inventories list and hookup websocket sync messages
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/fixtures/inventories.json
  cypress/support/commands.ts
  framework/PageTable/PageTable.tsx
  frontend/Routes.ts
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/interfaces/Inventory.ts
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/inventories/hooks/useCopyInventory.tsx
  frontend/awx/resources/inventories/hooks/useDeleteInventories.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesFilters.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoryActions.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventories.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventory.tsx
  locales/en/translation.json
Labels: framework, AWX, e2e, component

#189 Add Automation Calculator
  framework/components/EmptyStateCustom.tsx
  framework/components/EmptyStateUnauthorized.tsx
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/analytics/Reports/AutomationFormula.tsx
  frontend/awx/analytics/Reports/CalculationCost.tsx
  frontend/awx/analytics/Reports/ErrorStates.tsx
  frontend/awx/analytics/Reports/Reports.tsx
  frontend/awx/analytics/Reports/TemplatesTable/ExpandedRowContents.tsx
  frontend/awx/analytics/Reports/TemplatesTable/Row.tsx
  frontend/awx/analytics/Reports/TemplatesTable/index.tsx
  frontend/awx/analytics/Reports/TemplatesTable/types.ts
  frontend/awx/analytics/Reports/TotalSavings.tsx
  frontend/awx/analytics/Reports/constants.ts
  frontend/awx/analytics/Reports/types.ts
  frontend/awx/analytics/components/Chart/convertApi.ts
  frontend/awx/analytics/components/Chart/hydrateSchema.ts
  frontend/awx/analytics/components/Chart/index.tsx
  frontend/awx/analytics/components/Chart/types.ts
  frontend/awx/analytics/components/Toolbar/Groups/CategoryDropdown.tsx
  frontend/awx/analytics/components/Toolbar/Groups/FiltersCategoriesGroup.tsx
  frontend/awx/analytics/components/Toolbar/Groups/QuickDateGroup.tsx
  frontend/awx/analytics/components/Toolbar/Groups/SettingsPanel.tsx
  frontend/awx/analytics/components/Toolbar/Groups/SortByGroup.tsx
  frontend/awx/analytics/components/Toolbar/Groups/ToolbarInput/Date.tsx
  frontend/awx/analytics/components/Toolbar/Groups/ToolbarInput/Select.tsx
  frontend/awx/analytics/components/Toolbar/Groups/ToolbarInput/Text.tsx
  frontend/awx/analytics/components/Toolbar/Groups/ToolbarInput/helpers.ts
  frontend/awx/analytics/components/Toolbar/Groups/ToolbarInput/index.tsx
  frontend/awx/analytics/components/Toolbar/Groups/index.ts
  frontend/awx/analytics/components/Toolbar/Toolbar.tsx
  frontend/awx/analytics/components/Toolbar/constants.ts
  frontend/awx/analytics/components/Toolbar/types.ts
  frontend/awx/analytics/utilities/currencyFormatter.ts
  frontend/awx/analytics/utilities/numberFormatter.ts
  frontend/awx/assets/images/ansible_analytics_screenshot.png
  frontend/common/crud/Data.tsx
  package-lock.json
  package.json
Labels: framework, AWX

#392 [EDA] [QE] Credentials CRUD Tests
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/support/commands.ts
Labels: AWX, e2e

#393 [EDA] [QE] Credentials List Tests
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
Labels: e2e

#387 E2E Cypress Custom Command Cleanup
  README.md
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/commands.ts
  cypress/support/rest-commands.ts
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
Labels: framework, AWX, e2e, component

#398 [EDA]Users-crud
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Users/users-crud-cy.ts
  cypress/support/commands.ts
Labels: e2e

#394 Eda dashboard tests
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: e2e

#201 Adds credential detail view
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/fixtures/credential.json
  cypress/fixtures/credentialType.json
  framework/PageDetails/PageDetailCodeEditor.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormCodeEditor.tsx
  framework/PageForm/Inputs/PageFormCreatableSelect.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  framework/PageForm/Inputs/PageFormSelectOption.tsx
  framework/PageForm/Inputs/PageFormTextArea.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/utils/capitalize.ts
  framework/utils/strings.ts
  frontend/awx/interfaces/Credential.ts
  frontend/awx/interfaces/CredentialInputSource.ts
  frontend/awx/interfaces/CredentialType.ts
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.cy.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.cy.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/credentials/components/CredentialTypeDetail.tsx
  frontend/awx/resources/credentials/hooks/useCredentialActions.tsx
  frontend/awx/resources/credentials/hooks/useCredentialToolbarActions.tsx
  frontend/awx/resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/common/crud/useGetAllPagesAWX.tsx
  frontend/common/utils/RBAChelpers.ts
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  tsconfig.cjs.json
  tsconfig.json
Labels: framework, AWX, EDA, e2e, component

#401 [EDA]AAP-11019 User list
  cypress/e2e/eda/Users/users-list-cy.ts
Labels: e2e

#385 [AAP-5865] [AAP-10987] Add rulebook activations enable, disable, restart actions
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/commands.ts
  framework/PageAlertToaster.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/EditDecisionEnvironment.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/common/SwitchCell.tsx
  frontend/eda/rulebook-activations/EditRulebookActivation.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useActivationDialogs.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryActions.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryFilters.tsx
  frontend/eda/rulebook-activations/hooks/useControlRulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useDeleteRulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useLaunchAction.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
  locales/en/translation.json
  locales/fr/translation.json
Labels: framework, EDA, e2e

#406 CRUD tests for Decision Environments
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/support/commands.ts
Labels: e2e

#399 [EDA] Login/Logout tests
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/Users/users-crud-cy.ts
  cypress/e2e/eda/Users/users-list-cy.ts
  cypress/support/commands.ts
  frontend/eda/UserAccess/Users/UserDetails.tsx
  frontend/eda/UserAccess/Users/hooks/useDeleteUser.tsx
  frontend/eda/UserAccess/Users/hooks/useUserColumns.tsx
  frontend/eda/interfaces/EdaUser.ts
Labels: EDA, e2e

#397 Routed tabs (with URLs)
  cypress/e2e/awx/access/users.cy.ts
  framework/RoutedTabs.tsx
  framework/index.ts
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
Labels: framework, AWX, e2e

#404 Fixes log output for activation instances
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
Labels: EDA

#407 Add missing job template details
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
Labels: AWX

#408 [EDA] [QE] Resource Toolbar Tests
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
Labels: e2e

#409 Enhance EDA tables using framework features
  README.md
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
  cypress/support/commands.ts
  framework/PageTable/PageTableColumn.tsx
  frontend/eda/Resources/credentials/components/EdaCredentialCell.tsx
  frontend/eda/Resources/credentials/hooks/useCredentialColumns.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironments.tsx
  frontend/eda/Resources/decision-environments/EditDecisionEnvironment.tsx
  frontend/eda/Resources/decision-environments/components/EdaDecisionEnvironmentCell.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
  frontend/eda/Resources/projects/components/EdaProjectCell.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/interfaces/EdaActivationInstance.ts
  frontend/eda/interfaces/EdaDecisionEnvironment.ts
  frontend/eda/interfaces/EdaRule.ts
  frontend/eda/interfaces/EdaRulebook.ts
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
  frontend/eda/rulebooks/components/EdaRulebookCell.tsx
  frontend/eda/rulebooks/hooks/useRulebookColumns.tsx
  frontend/eda/rules/RuleDetails.tsx
  frontend/eda/rules/Rules.tsx
  frontend/eda/rules/hooks/useRuleColumns.tsx
Labels: framework, EDA, e2e

#410 EDA Decision Environment list tests
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
Labels: e2e

#413 Update eda e2e tests to support new required field
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/commands.ts
  frontend/eda/dashboard/ActivationsCard.tsx
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/rulebook-activations/EditRulebookActivation.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
Labels: EDA, e2e

#411 framework dashboard support - eda dashboard enhancements
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/support/commands.ts
  framework/PageDashboard/PageDashboard.tsx
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardChart.tsx
  framework/PageDashboard/PageDonutChart.tsx
  framework/PageTable/PageTable.tsx
  framework/components/pfcolors.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/DashboardJobs.tsx
  frontend/awx/dashboard/cards/DashboardProjects.tsx
  frontend/awx/dashboard/cards/OnboardExecutionEnvironments.tsx
  frontend/awx/dashboard/cards/OnboardInventories.tsx
  frontend/awx/dashboard/cards/OnboardJobs.tsx
  frontend/awx/dashboard/charts/JobsChart.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/LoginModal.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/dashboard/ActivationsCard.tsx
  frontend/eda/dashboard/Dashboard.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/ProjectsCard.tsx
  frontend/eda/dashboard/RuleAuditChartCard.tsx
Labels: framework, AWX, EDA, e2e

#309 Styled components PageTableCard && PageTable
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableCard.tsx
Labels: framework

#418 EDA update decision environment form image field
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/support/commands.ts
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
Labels: EDA, e2e

#391 Refactor StatusCell and add useStatusColumn hook
  cypress/support/commands.ts
  framework/PageCells/TextCell.tsx
  framework/components/pfcolors.tsx
  frontend/awx/resources/projects/hooks/useProjectStatusColumn.tsx
  frontend/awx/resources/projects/hooks/useProjectsColumns.tsx
  frontend/common/StatusCell.tsx
  frontend/common/scm.tsx
Labels: framework, AWX

#396 Add/Edit inventory + Framework/E2E updates
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/support/commands.ts
  framework/PageActions/PageAction.tsx
  framework/PageActions/PageActionButton.tsx
  framework/PageActions/PageActionsPinned.tsx
  frontend/awx/AwxRouter.tsx
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instance-groups/components/PageFormInstanceGroupSelect.tsx
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/common/util/getAddedAndRemoved.ts
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoryActions.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/controller/utils/getAddedAndRemoved.ts
Labels: framework, AWX, e2e, component

#419 EDA dashboard based on UXD designs
  framework/PageDashboard/PageChartContainer.tsx
  framework/PageDashboard/PageDashboardCard.tsx
  framework/PageDashboard/PageDashboardChart.css
  framework/PageDashboard/PageDashboardChart.tsx
  framework/PageDetails/PageDetailsFromColumns.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/cards/DecisionEnvironmentsCard.tsx
  frontend/eda/dashboard/cards/ProjectsCard.tsx
  frontend/eda/dashboard/cards/RuleAuditChartCard.tsx
  frontend/eda/dashboard/cards/RulebookActivationsCard.tsx
  frontend/eda/dashboard/hooks/useActivationColumns.tsx
  frontend/eda/dashboard/hooks/useProjectColumns.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: framework, EDA

#422 [Analytics] Add catch in case something went wrong when reading error from API
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/analytics/Reports/Reports.tsx
Labels: AWX

#315 styled components for span elements in DateTimeCell, PageActionDropdown
  framework/PageActions/PageActionDropdown.tsx
  framework/PageCells/DateTimeCell.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.cy.tsx
Labels: framework, AWX, component

#426 Make framework colors accessible for dark theme
  framework/components/pfcolors.tsx
Labels: framework

#430 Refactor custom commands
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
  frontend/awx/interfaces/AwxHost.ts
  frontend/awx/interfaces/Host.ts
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/hosts/useDeleteHosts.tsx
Labels: AWX

#403 [AAP-11244] Add status and fired date columns to the Rule audit actions list
  frontend/eda/interfaces/EdaRuleAuditAction.ts
  frontend/eda/interfaces/EdaRuleAuditEvent.ts
  frontend/eda/views/RuleAudit/EventPayloadDialog.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsColumns.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditEventsColumns.tsx
Labels: EDA

#431 Small cleanup and tweaks to EdaDashboard
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageTableCard.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
Labels: framework, EDA

#429 Navigate to correct UI (user details) from username dropdown in the masthead
  frontend/common/Masthead.tsx
Labels: AWX, EDA

#433 Remove URL from project edit. Remove token from Project Add/Edit. Remove Tag from decision environments.
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/interfaces/EdaDecisionEnvironment.ts
Labels: EDA

#428 Update Left hand Navigation Menu. Remove CRUD from the Role pages. Update Activation actions
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
  frontend/eda/EventDrivenSidebar.tsx
  frontend/eda/UserAccess/Roles/RoleDetails.tsx
  frontend/eda/UserAccess/Roles/Roles.tsx
  frontend/eda/UserAccess/Roles/hooks/useDeleteRole.tsx
  frontend/eda/UserAccess/Roles/hooks/useRoleActions.tsx
  frontend/eda/UserAccess/Roles/hooks/useRoleColumns.tsx
  frontend/eda/UserAccess/Roles/hooks/useRoleFilters.tsx
  frontend/eda/UserAccess/Roles/hooks/useRolesActions.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA, e2e

#441 Eda rulebook activations form
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormCodeEditor.tsx
  framework/PageForm/PageForm.tsx
  frontend/common/crud/ansible-error.ts
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/Resources/projects/components/EdaProjectCell.tsx
  frontend/eda/interfaces/EdaRulebook.ts
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/interfaces/generated/generated.md
  frontend/eda/interfaces/generated/swagger.json
  frontend/eda/rulebook-activations/EditRulebookActivation.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebooks/hooks/useRulebookColumns.tsx
Labels: framework, EDA, e2e

#444 Update dependencies
  .eslintrc.json
  framework/PageForm/PageFormSchema.tsx
  package-lock.json
  package.json
Labels: framework

#445 Handle branding string interpolation correctly
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/resources/credentials/Credentials.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/views/jobs/Jobs.tsx
Labels: AWX

#443 Add project sync
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectActions.tsx
  frontend/eda/interfaces/EdaProject.ts
Labels: EDA

#446 Fix for Jobs e2e failures
  cypress/e2e/awx/views/jobs.cy.ts
Labels: AWX, e2e

#448 Fix the credential id field in the decision environment pages
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
  frontend/eda/interfaces/EdaDecisionEnvironment.ts
Labels: EDA

#449 Add Scrollable around Automation Calculator to improve consistency
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
Labels: AWX

#447 Fix for translation interpolation bug in Team Access UI
  frontend/awx/access/common/DeleteRoleConfirmation.tsx
Labels: AWX

#437 [AAP-10766] Update user pages
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Users/users-crud-cy.ts
  cypress/support/eda-commands.ts
  frontend/Routes.ts
  frontend/common/Masthead.tsx
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/credentials/hooks/useCredentialActions.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentActions.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectActions.tsx
  frontend/eda/UserAccess/Groups/GroupDetails.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupActions.tsx
  frontend/eda/UserAccess/Roles/PageFormRolesSelect.tsx
  frontend/eda/UserAccess/Roles/components/PageFormRolesSelect.tsx
  frontend/eda/UserAccess/Roles/hooks/useSelectRoles.tsx
  frontend/eda/UserAccess/Users/ControllerTokens.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
  frontend/eda/UserAccess/Users/UserDetails.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokenActions.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokenFilters.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokensActions.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokensColumns.tsx
  frontend/eda/UserAccess/Users/hooks/useDeleteControllerTokens.tsx
  frontend/eda/UserAccess/Users/hooks/useUserActions.tsx
  frontend/eda/UserAccess/Users/hooks/useUserColumns.tsx
  frontend/eda/interfaces/EdaControllerToken.ts
  frontend/eda/interfaces/EdaUser.ts
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rules/EditRule.tsx
Labels: EDA, e2e

#420 Update routing for template, job, credential pages
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/component.tsx
  framework/RoutedTabs.tsx
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.cy.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/views/jobs/JobPage.tsx
Labels: framework, AWX, e2e, component

#461 eda-api generated from openapi
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/interfaces/generated/generated.md
  frontend/eda/interfaces/generated/openapi.json
Labels: EDA

#455 Some custom command clean up
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#460 Get page size for the activation instance output and read all records
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
Labels: EDA

#464 Update titles and breadcrumbs on Edit pages
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Users/users-crud-cy.ts
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
Labels: EDA, e2e

#466 Update EDA to use generated User interface
  cypress/e2e/eda/Users/users-crud-cy.ts
  cypress/support/eda-commands.ts
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  frontend/common/crud/Data.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
  frontend/eda/interfaces/EdaHost.ts
  frontend/eda/interfaces/EdaJob.ts
  frontend/eda/interfaces/EdaRole.ts
  frontend/eda/interfaces/EdaUser.ts
  frontend/eda/useEventDrivenView.tsx
Labels: framework, EDA, e2e

#467 [AAP-11550] Add import error information to the project details page
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/interfaces/EdaProject.ts
Labels: EDA

#470 Move page table toolbar filter logic into its own file
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageToolbar.tsx
  framework/PageTable/PageToolbarFilter.tsx
  framework/index.ts
  framework/useInMemoryView.tsx
Labels: framework

#468 [AAP-11556] Update activation id in activation instance records.
  frontend/eda/interfaces/EdaActivationInstance.ts
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
Labels: EDA

#361 [AA-1574] Add host metrics page
  frontend/Routes.ts
  frontend/awx/AwxRouter.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/awx/interfaces/HostMetric.ts
  frontend/awx/views/jobs/HostMetrics.tsx
  frontend/awx/views/jobs/hooks/useDeleteHostMetrics.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsColumns.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsFilters.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsRowActions.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsToolbarActions.tsx
  frontend/common/columns.tsx
  locales/en/translation.json
Labels: AWX

#469 Adds logo and header title check
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#473 Fix dashboard jobs card
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/dashboard/cards/AwxRecentJobsCard.tsx
Labels: AWX

#474 Page Table Toolbar Sorting Support
  framework/PageTable/PageTable.tsx
  framework/PageTable/PageToolbar.css
  framework/PageTable/PageToolbar.tsx
  framework/PageTable/PageToolbarFilter.tsx
  framework/PageTable/PageToolbarSort.tsx
  framework/PageTable/PageToolbarView.tsx
  framework/useFrameworkTranslations.tsx
  frontend/awx/access/users/hooks/useUsersColumns.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
Labels: framework, AWX, component

#339 error state component
  framework/PageTable/PageTable.tsx
  framework/components/EmptyStateCustom.tsx
  framework/components/EmptyStateError.tsx
  framework/components/EmptyStateNoData.tsx
Labels: framework

#477 AWX Dashboard Jobs Chart support showing canceled and error jobs.
  frontend/awx/dashboard/charts/JobsChart.tsx
  frontend/index.tsx
Labels: AWX

#481 Align dropdown item text when switches are present
  framework/PageActions/PageActionDropdown.tsx
Labels: framework

#479 Delete/Remove Option should always be last and in red text
  cypress/e2e/awx/access/teams.cy.ts
  frontend/awx/access/common/ResourceAccessList.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamRoles.tsx
  frontend/awx/access/teams/hooks/useTeamToolbarActions.tsx
  frontend/awx/access/users/UserPage/UserOrganizations.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/access/users/UserPage/UserTeams.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/resources/credentials/hooks/useCredentialActions.tsx
  frontend/awx/resources/credentials/hooks/useCredentialToolbarActions.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesToolbarActions.tsx
  frontend/awx/resources/projects/hooks/useProjectToolbarActions.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsRowActions.tsx
  frontend/awx/views/jobs/hooks/useJobRowActions.tsx
  frontend/awx/views/jobs/hooks/useJobToolbarActions.tsx
Labels: AWX, e2e, component

#475 Make user roles tab match existing UI
  frontend/awx/access/users/UserPage/UserDetails.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
Labels: AWX

#480 Page toolbar sort default direction support
  framework/PageTable/PageToolbarSort.tsx
Labels: framework

#476 Update app sidebar open state based on window size.
  frontend/awx/Awx.tsx
  frontend/awx/AwxSidebar.tsx
Labels: AWX

#482 [AAP-11536] Remove rulebook link from the Activations list.
  frontend/eda/UserAccess/Roles/Roles.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebooks/components/EdaRulebookCell.tsx
Labels: EDA
