Repository ansible/ansible-ui, pull requests merged in 2023-05, with the labels that each got.

#485 [AAP-11562][AAP-11560][AAP-11730] Fix user logout for Eda. Remove alert bell for Eda. Fix delete user api
  frontend/common/Masthead.tsx
  frontend/eda/UserAccess/Users/hooks/useDeleteUser.tsx
Labels: EDA

#487 remove typebox dependency
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  framework/PageForm/PageForm.tsx
  framework/PageForm/PageFormSchema.tsx
  frontend/automation-servers/contexts/AutomationServerProvider.tsx
  frontend/automation-servers/interfaces/AutomationServer.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/administration/instances/EditInstance.tsx
  frontend/eda/UserAccess/Groups/EditGroup.tsx
  frontend/eda/UserAccess/Roles/EditRole.tsx
  frontend/eda/rules/EditRule.tsx
  frontend/hub/automation-content/collections/UploadCollection.tsx
  package-lock.json
  package.json
Labels: framework, AWX, EDA, e2e

#488 EDA AAP-11530 Project Sync
  cypress/e2e/eda/Projects/project-sync.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
Labels: e2e

#492 [EDA] [QE] Roles list test
  cypress/e2e/eda/Roles/roles-crud.cy.ts
  cypress/e2e/eda/Roles/roles-list.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
Labels: e2e

#497 Add helptext to EDA forms and detail views.
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormGroup.tsx
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
Labels: framework, EDA

#483 Aap 7561 variables form field
  cypress.config.ts
  framework/PageForm/Inputs/DataEditor.tsx
  framework/PageForm/Inputs/PageFormCodeEditor.tsx
  framework/PageForm/Inputs/PageFormDataEditor.cy.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  framework/index.ts
  framework/utils/codeEditorUtils.ts
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  package-lock.json
  package.json
  webpack.config.cjs
Labels: framework, AWX, EDA, component

#496 [AAP-11316] Use the env. product name in the browser title and dashboard page
  frontend/eda/dashboard/EdaDashboard.tsx
  webpack.config.cjs
Labels: EDA

#498 [AAP-11833][AAP-11836] Update action menu items. Update the activation columns to match the UX design
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA

#499 [AAP-11821][AAP-11826][AAP-11827] Fix project columns to match the UX design. Fix tooltip spelling
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectColumns.tsx
Labels: EDA

#494 "Back to" list button
  framework/index.ts
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/resources/credentials/Credentials.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/views/jobs/JobPage.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/common/PersistentFilters.ts
  frontend/common/RoutedTabs.tsx
Labels: framework, AWX

#501 Cypress eda add support for getting awx tokan and creating in eda
  .github/workflows/pull-request.yml
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  frontend/awx/interfaces/AwxToken.ts
Labels: AWX, e2e

#500 [AAP-11847][AAP-873] Fix variables default value in Create Rulebook Activation.
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#502 Remove project as a required field for rulebook activation form.
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#493 Awx project remaining details
  cypress/e2e/awx/resources/projects.cy.ts
  frontend/awx/interfaces/Project.ts
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/projects/hooks/useProjectActions.tsx
  frontend/awx/resources/projects/hooks/useProjectNameColumn.tsx
Labels: AWX, e2e

#503 Remove rogue "0" from EDA activation instance details
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
Labels: EDA

#490 Update EDA details views to re-query data on a 10 second interval
  frontend/common/crud/useGet.tsx
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/inventories/InventoryDetails.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/UserAccess/Groups/GroupDetails.tsx
  frontend/eda/UserAccess/Roles/RoleDetails.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/constants.ts
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebooks/RulebookDetails.tsx
  frontend/eda/rules/RuleDetails.tsx
  frontend/eda/useEventDrivenView.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
Labels: EDA

#504 Conditionally show extra var section.
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
Labels: EDA

#509 Update edit forms to correctly display errors from the API
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/UserAccess/Groups/EditGroup.tsx
  frontend/eda/UserAccess/Roles/EditRole.tsx
  frontend/eda/rules/EditRule.tsx
Labels: EDA

#507 [AAP-11829][AAP-10655][AAP-11817][AAP-11818][AAP-11819][AAP-11826] UI changes to match UX mocks
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/hooks/useCredentialActions.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentActions.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/hooks/useProjectActions.tsx
  frontend/eda/UserAccess/Users/EdaUserDetails.tsx
  frontend/eda/UserAccess/Users/EditUser.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokenActions.tsx
  frontend/eda/UserAccess/Users/hooks/useUserActions.tsx
  frontend/eda/dashboard/EdaDashboard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditCard.tsx
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA, e2e

#510 [EDA] [QE] Add User Tabs Test to Delete Token; Add Custom Commands for Tokens
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#512 [AAP-11619] Add confirmation modal for enable/disable activations
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA

#513 [AAP-11816] Add description to Users, Roles and Rule audit page headers
  frontend/eda/UserAccess/Roles/Roles.tsx
  frontend/eda/UserAccess/Users/Users.tsx
  frontend/eda/views/RuleAudit/RuleAudit.tsx
Labels: EDA

#511 [AAP-11949] Add permissions to the Role details page
  frontend/eda/UserAccess/Roles/RoleDetails.tsx
  frontend/eda/interfaces/generated/eda-api.ts
Labels: EDA

#516 Add types for AwxProjectCreate and AwxOrganizationCreate
  cypress/support/awx-commands.ts
  framework/PageHeader.tsx
  frontend/awx/interfaces/Job.ts
  frontend/awx/interfaces/Organization.ts
  frontend/awx/interfaces/Project.ts
  frontend/awx/interfaces/UnifiedJob.ts
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/hooks/useCancelProjects.tsx
  frontend/awx/resources/projects/hooks/useProjectActions.tsx
  frontend/common/scm.tsx
Labels: framework, AWX

#521 Replace workflow viz with tech preview message
  frontend/awx/resources/templates/WorkflowJobTemplateDetail.tsx
Labels: AWX

#527 EDA disable onboarding E2E tests that assume the E2E server has no data.
  cypress/e2e/eda/Decision-Environments/decision-tabs.cy.ts
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: e2e

#525 Header title and description checks to pages
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Roles/roles-list.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
Labels: e2e

#523 Update EDA helptext based on updated mockups.
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  frontend/eda/Resources/credentials/CredentialDetails.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/dashboard/cards/EdaDecisionEnvironmentsCard.tsx
  frontend/eda/dashboard/cards/EdaProjectsCard.tsx
  frontend/eda/dashboard/cards/EdaRuleAuditChartCard.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: framework, EDA, e2e

#532 Fix truncate having a minimum width
  framework/PageFramework.css
Labels: framework

#534 Disable health check action for non-execution nodes
  frontend/awx/administration/instances/Instances.tsx
Labels: AWX

#514 [AAP-11559] [AAP-11921] Separate create and edit functions
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/support/eda-commands.ts
  frontend/eda/EventDrivenRouter.tsx
  frontend/eda/Resources/credentials/Credentials.tsx
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
Labels: EDA, e2e

#524 [AAP-11991][AAP-12029][AAP-11989][AAP-11988] Rule audit fixes
  frontend/eda/interfaces/EdaRuleAudit.ts
  frontend/eda/views/RuleAudit/EventPayloadDialog.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA

#529 Fix Monaco Web Worker Loading
  .dockerignore
  framework/PageForm/Inputs/DataEditor.tsx
Labels: framework

#536 Page nav side bar context to know when sidebar is open
  framework/PageFramework.tsx
  framework/PageHeader.tsx
  framework/PageNav/PageNavSidebar.tsx
  frontend/automation-servers/AutomationServersRoute.tsx
  frontend/automation-servers/components/AutomationServersSidebar.tsx
  frontend/awx/Awx.tsx
  frontend/awx/AwxSidebar.tsx
  frontend/common/CommonSidebar.tsx
  frontend/common/Masthead.tsx
  frontend/eda/EventDriven.tsx
  frontend/eda/EventDrivenSidebar.tsx
  frontend/hub/Hub.tsx
  frontend/hub/HubSidebar.tsx
Labels: framework, AWX, EDA

#537 Adds user feedback on bulk health check
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/Instances.tsx
  frontend/awx/administration/instances/hooks/useInstanceRowActions.tsx
  frontend/awx/administration/instances/hooks/useInstanceToolbarActions.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/administration/instances/hooks/useInstancesFilter.tsx
  frontend/awx/administration/instances/hooks/useNodeTypeTooltip.tsx
  frontend/awx/administration/instances/hooks/useRunHealthCheck.tsx
  frontend/awx/resources/credentials/hooks/useCredentialActions.tsx
  frontend/common/columns.tsx
Labels: AWX

#539 Add cleanup to eda e2e tests
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/e2e/eda/cleanup/eda-cleanup.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#538 Fix ws for AWX standalone.
  frontend/awx/common/useAwxWebSocket.tsx
Labels: AWX

#533 [AAP-11987][AAP-12032] Remove users and rule audit filters. Roles not links in User select roles
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/support/eda-commands.ts
  frontend/eda/UserAccess/Roles/Roles.tsx
  frontend/eda/UserAccess/Roles/hooks/useRoleColumns.tsx
  frontend/eda/UserAccess/Roles/hooks/useSelectRoles.tsx
  frontend/eda/UserAccess/Users/Users.tsx
  frontend/eda/views/RuleAudit/RuleAudit.tsx
Labels: EDA, e2e

#545 EDA E2E cleanup old test resources
  cypress/e2e/eda/General-UI/login-logout.cy.ts
  cypress/e2e/eda/cleanup/eda-cleanup.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#549 fix cleanup old resources function in E2E tests
  cypress/e2e/eda/cleanup/eda-cleanup.cy.ts
Labels: e2e

#519 Custom Commands: Changing Config for Create and Delete
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-crud.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-list.cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  frontend/awx/interfaces/AwxToken.ts
Labels: AWX, e2e

#551 fix dropdown menu extending offscreen
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
Labels: framework

#548 disable randomly failing test until dev can take a closer look
  framework/PageForm/Inputs/PageFormDataEditor.cy.tsx
Labels: framework, component

#541 [AAP-11318][AAP-11419] Update masthead doc link. Updated activation rules fired count name. Updated routes.
  frontend/Routes.ts
  frontend/common/Masthead.tsx
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
Labels: EDA

#543 Use LoadingState instead of duplicite code
  framework/components/LoadingPage.tsx
Labels: framework

#552 E2E AWX cleanup old resources
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
Labels: AWX, e2e

#557 Add isPinned to toolbar
  framework/PageTable/PageToolbarFilter.tsx
Labels: enhancement, framework

#544 fix to remove dropdown seperator when two are side by side
  framework/PageActions/PageActionDropdown.tsx
Labels: framework

#553 show eda icon in masthead for ansible-ui
  cypress/e2e/eda/General-UI/dashboard.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
  frontend/assets/AWX.svg
  frontend/assets/EDA.svg
  frontend/automation-servers/AutomationServers.tsx
  frontend/common/Masthead.tsx
Labels: e2e

#555 Add an AWX config provider and point to the correct doc links
  frontend/awx/Awx.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/common/ExecutionEnvironmentDetail.tsx
  frontend/awx/common/useAwxConfig.tsx
  frontend/awx/common/util/getDocsBaseUrl.ts
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/interfaces/Config.ts
  frontend/awx/resources/credentials/Credentials.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/common/Masthead.tsx
Labels: AWX

#562 E2E testing support cleaning up test users
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#563 Add missing rule audit dashboard helptext.
  frontend/eda/dashboard/cards/EdaRuleAuditCard.tsx
Labels: EDA

#554 Fix job relaunch redirect and handle 202 responses
  frontend/awx/views/jobs/hooks/useRelaunchJob.tsx
  frontend/common/crud/usePostRequest.tsx
Labels: AWX

#560 EDA roles and permissions
  cypress/e2e/eda/Roles/admin.cy.ts
  cypress/e2e/eda/Roles/auditor.cy.ts
  cypress/e2e/eda/Roles/contributor.cy.ts
  cypress/e2e/eda/Roles/editor.cy.ts
  cypress/e2e/eda/Roles/operator.cy.ts
  cypress/e2e/eda/Roles/viewer.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#568 Ansible UI Framework Library - Expose Navigation and Masthead components
  framework/PageMasthead.tsx
  framework/PageNav/PageNavSidebar.tsx
  framework/index.ts
  frontend/awx/AwxSidebar.tsx
  frontend/common/CommonSidebar.tsx
  frontend/eda/EventDrivenSidebar.tsx
  frontend/hub/HubSidebar.tsx
Labels: framework, AWX, EDA

#569 Ansible UI Framwork export Dashboard components
  framework/index.ts
Labels: framework

#570 disable eda rulebook activation enbled switch while rulebook is stopping
  frontend/common/StatusCell.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
Labels: EDA

#574 Update eda interfaces from api swagger
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
  frontend/eda/Resources/credentials/EditCredential.tsx
  frontend/eda/Resources/credentials/components/EdaCredentialCell.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentDetails.tsx
  frontend/eda/Resources/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/Resources/projects/EditProject.tsx
  frontend/eda/Resources/projects/ProjectDetails.tsx
  frontend/eda/Resources/projects/components/EdaProjectCell.tsx
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/interfaces/EdaActivationInstance.ts
  frontend/eda/interfaces/EdaActivationInstanceLog.ts
  frontend/eda/interfaces/EdaControllerToken.ts
  frontend/eda/interfaces/EdaCredential.ts
  frontend/eda/interfaces/EdaDecisionEnvironment.ts
  frontend/eda/interfaces/EdaExtraVars.ts
  frontend/eda/interfaces/EdaProject.ts
  frontend/eda/interfaces/EdaResult.ts
  frontend/eda/interfaces/EdaRole.ts
  frontend/eda/interfaces/EdaRuleAudit.ts
  frontend/eda/interfaces/EdaRuleAuditAction.ts
  frontend/eda/interfaces/EdaRuleAuditEvent.ts
  frontend/eda/interfaces/EdaRulebook.ts
  frontend/eda/interfaces/EdaRulebookActivation.ts
  frontend/eda/interfaces/EdaRuleset.ts
  frontend/eda/interfaces/EdaUser.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/interfaces/generated/openapi.json
  frontend/eda/rulebook-activations/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/components/EdaExtraVarCell.tsx
  frontend/eda/rulebook-activations/hooks/useControlRulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useDeleteRulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationActions.tsx
  frontend/eda/rulebooks/RulebookDetails.tsx
  frontend/eda/rulebooks/hooks/useRulebookColumns.tsx
  frontend/eda/rulebooks/hooks/useRulesetColumns.tsx
  frontend/eda/views/RuleAudit/RuleAuditDetails.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditColumns.tsx
Labels: EDA, e2e

#577 Ensure eda current user awx token
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/support/commands.ts
  cypress/support/eda-commands.ts
Labels: e2e

#559 Cleanup toolbar filters in preperation for advanced filter support
  framework/PageTable/PageToolbarFilter.tsx
  frontend/awx/access/roles/Roles.tsx
  frontend/awx/access/users/hooks/useUsersFilters.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instances/hooks/useInstancesFilter.tsx
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/dashboard/AwxDashboard.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsFilters.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
  frontend/eda/Resources/credentials/hooks/useCredentialFilters.tsx
  frontend/eda/Resources/decision-environments/hooks/useDecisionEnvironmentFilters.tsx
  frontend/eda/Resources/inventories/hooks/useInventoryFilters.tsx
  frontend/eda/Resources/projects/hooks/useProjectFilters.tsx
  frontend/eda/UserAccess/Groups/hooks/useGroupFilters.tsx
  frontend/eda/UserAccess/Users/hooks/useControllerTokenFilters.tsx
  frontend/eda/UserAccess/Users/hooks/useUserFilters.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationFilters.tsx
  frontend/eda/rulebooks/hooks/useRulebookFilters.tsx
  frontend/eda/rulebooks/hooks/useRulesetFilters.tsx
  frontend/eda/rules/hooks/useRuleFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditActionsFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditEventsFilters.tsx
  frontend/eda/views/RuleAudit/hooks/useRuleAuditFilters.tsx
  frontend/hub/administration/approvals/hooks/useApprovalFilters.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistryFilters.tsx
  frontend/hub/administration/tasks/Tasks.tsx
  frontend/hub/automation-content/collections/hooks/useCollectionFilters.tsx
  frontend/hub/automation-content/execution-environments/hooks/useExecutionEnvironmentFilters.tsx
  frontend/hub/automation-content/namespaces/hooks/useNamespaceFilters.tsx
  frontend/hub/automation-content/signature-keys/SignatureKeys.tsx
Labels: framework, AWX, EDA

#590 Ensure token
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/support/eda-commands.ts
Labels: e2e
