Repository ansible/ansible-ui, pull requests merged in 2024-08, with the labels that each got.

#2854 Revert Update E2E server workflow
  .github/workflows/awx-update-server.yml
  .github/workflows/eda-update-server.yml
  .github/workflows/hub-update-server.yml
Labels: AFW

#2838 Approvals unskip [Do not merge]
  cypress/e2e/hub/approvals.cy.ts
Labels: E2E, HUB

#2826 Collection details unskip [Do not merge]
  cypress/e2e/hub/collections-detail.cy.ts
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
Labels: E2E, HUB

#2823 Collections tests unskip
  cypress/e2e/hub/collections-list.cy.ts
Labels: E2E, HUB

#2805 [AAH-3315] Enable card and list view on Repositories
  frontend/hub/administration/repositories/Repositories.tsx
Labels: HUB

#2806 [AAH-3313] Fix collection links in Repository - Versions - Collections
  frontend/hub/administration/repositories/RepositoryVersionPage/RepositoryVersionCollections.tsx
Labels: bug, HUB

#2611 [AAP-28231] Credential types based event streams
  Dockerfile
  cypress/fixtures/edaWebhooks.json
  frontend/eda/access/credential-types/hooks/useCredentialTypeFilters.tsx
  frontend/eda/access/credentials/CredentialFormTypes.tsx
  frontend/eda/common/PageFormSingleSelectEdaResource.tsx
  frontend/eda/event-streams/EventStreamInstancePage/EventStreamInstancePage.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamPage.tsx
  frontend/eda/interfaces/EdaCredentialType.ts
  frontend/eda/interfaces/EdaWebhook.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/eda/webhooks/EditWebhook.tsx
  frontend/eda/webhooks/WebhookForm.tsx
  frontend/eda/webhooks/WebhookPage/WebhookDetails.tsx
  frontend/eda/webhooks/WebhookPage/WebhookPage.tsx
  frontend/eda/webhooks/Webhooks.cy.tsx
  frontend/eda/webhooks/Webhooks.tsx
  frontend/eda/webhooks/components/PageFormWebhookCredentialSelect.tsx
  frontend/eda/webhooks/components/PageFormWebhookTypeSelect.tsx
  frontend/eda/webhooks/components/PageFormWebhooksSelect.tsx
  frontend/eda/webhooks/hooks/useDeleteWebhooks.tsx
  frontend/eda/webhooks/hooks/useSelectWebhooks.tsx
  frontend/eda/webhooks/hooks/useWebhookActions.tsx
  frontend/eda/webhooks/hooks/useWebhookColumns.tsx
  frontend/eda/webhooks/hooks/useWebhooksActions.tsx
  nginx/eda.conf
Labels: EDA, CCT

#2857 skip spec files affected by AAP-28586 (401 logout problem)
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
Labels: AWX, E2E

#2833 [AAP-27827] Updates to Remotes section table headers/field labels casing
  cypress/e2e/hub/remotes.cy.ts
  frontend/hub/administration/remotes/RemoteForm.tsx
  frontend/hub/administration/remotes/hooks/useRemoteColumns.tsx
Labels: E2E, HUB

#2832 [AAP-27827] Updates to Remote Registries section table headers/field labels casing
  frontend/hub/administration/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistriesColumns.tsx
Labels: HUB

#2830 [AAP-27827] Updates to Repositories section table headers/field labels casing
  frontend/hub/administration/repositories/RepositoryPage/RepositoryVersions.tsx
  frontend/hub/administration/repositories/RepositoryVersionPage/RepositoryVersionDetails.tsx
Labels: HUB

#2829 [AAP-27827] Updates to Execution Environments section table headers/field labels casing
  cypress/e2e/hub/execution-environments.cy.ts
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsColumns.tsx
Labels: E2E, HUB

#2828 [AAP-27827] Updates to Collections section table headers/field labels casing
  frontend/hub/collections/CollectionPage/CollectionImportLog.tsx
  frontend/hub/collections/UploadCollection.tsx
Labels: HUB

#2859 Skipping tests due to 401 logout issue AAP-28586
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
Labels: AWX, E2E

#2866 fix some tests
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#2822 AAH-3310 Add distribution tab to Repositories
  frontend/hub/administration/repositories/RepositoryPage/RepositoryDistributions.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryDistributionFilters.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB

#2869 skip failing constructed inv test
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
Labels: AWX, E2E

#2856 [AAP-28077] Organization mandatory for Decision env.
  cypress/e2e/eda/Credentials/credentials-usage.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/support/eda-commands.ts
  frontend/eda/decision-environments/DecisionEnvironmentForm.cy.tsx
  frontend/eda/decision-environments/DecisionEnvironmentForm.tsx
Labels: EDA, E2E, CCT, release-blocker

#2877 [AAP-16644] Hub Namespace - User/Team Access
  cypress/e2e/hub/namespace-access.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  cypress/fixtures/hubNamespace.json
  cypress/fixtures/hubNamespaceRoles.json
  cypress/fixtures/hubV2Teams.json
  cypress/fixtures/hubV2Users.json
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
  frontend/common/access/RolesWizard/steps/RoleAssignmentsReviewStep.tsx
  frontend/common/access/components/TeamAccess.tsx
  frontend/common/access/components/UserAccess.tsx
  frontend/hub/access/common/HubRoleWizardSteps/HubSelectResourceTypeStep.tsx
  frontend/hub/access/common/HubRoleWizardSteps/HubSelectResourcesStep.tsx
  frontend/hub/access/common/HubRoleWizardSteps/HubSelectRolesStep.tsx
  frontend/hub/access/common/HubRoleWizardSteps/HubSelectTeamsStep.tsx
  frontend/hub/access/common/HubRoleWizardSteps/HubSelectUsersStep.tsx
  frontend/hub/access/common/hooks/useHubRoleFilters.tsx
  frontend/hub/access/common/hooks/useHubTeamFilters.tsx
  frontend/hub/access/common/hooks/useHubUserFilters.tsx
  frontend/hub/common/api/query-string.ts
  frontend/hub/common/useHubMultiSelectListView.tsx
  frontend/hub/interfaces/expanded/ContentType.ts
  frontend/hub/interfaces/expanded/HubRbacRole.ts
  frontend/hub/interfaces/expanded/HubTeam.ts
  frontend/hub/interfaces/expanded/HubUser.ts
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceTeamAcess.cy.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceTeamAcess.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceUserAccess.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceUserAcess.cy.tsx
  frontend/hub/namespaces/components/HubNamespaceAddTeams.cy.tsx
  frontend/hub/namespaces/components/HubNamespaceAddTeams.tsx
  frontend/hub/namespaces/components/HubNamespaceAddUsers.cy.tsx
  frontend/hub/namespaces/components/HubNamespaceAddUsers.tsx
Labels: E2E, HUB, CCT

#2878 Specify isArray flag for code editor.
  framework/PageDetails/PageDetailCodeEditor.tsx
Labels: release-blocker

#2873 [AAP-28428] Add remote registry page routed tabs
  cypress/e2e/hub/remote-registries.cy.ts
  frontend/hub/administration/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryPage/RemoteRegistryDetails.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryPage/RemoteRegistryPage.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistriesColumns.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: E2E, HUB

#2881 [UXD][AAP-28014] Update to Repositories -> Versions action
  frontend/hub/administration/repositories/RepositoryPage/RepositoryVersions.tsx
Labels: HUB

#2836 AAP-28087 Fix jobTemplate test failure when server is not compliant
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2882 repo tests fixes and unskip
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#2872 AAP-28425: Add tabs to Remotes
  cypress/e2e/hub/remotes.cy.ts
  frontend/hub/administration/remotes/RemoteDetails.tsx
  frontend/hub/administration/remotes/RemotePage/RemoteAccess.tsx
  frontend/hub/administration/remotes/RemotePage/RemoteDetails.tsx
  frontend/hub/administration/remotes/RemotePage/RemotePage.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: E2E, HUB

#2874 EE: Use in Controller
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentPageActions.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useImagesToolbarActions.tsx
  frontend/hub/execution-environments/hooks/useController.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
Labels: HUB

#2870 AAP-28425 : show None for Proxy URL, add a link to Repositories labels
  frontend/hub/administration/remotes/RemotePage/RemoteDetails.tsx
Labels: HUB

#2867 Change all /api/automation-hub to /api/galaxy, except console.redhat.com references
  README.md
  cypress/fixtures/application_collection_versions.json
  cypress/fixtures/collection_versions_eda.json
  cypress/fixtures/collection_versions_offset0.json
  cypress/fixtures/collection_versions_offset10.json
  cypress/fixtures/hub_roles.json
  cypress/fixtures/storage_collection_versions.json
  cypress/fixtures/tasks.json
  frontend/hub/access/roles/RolePage/RoleDetails.cy.tsx
  frontend/hub/access/roles/RolePage/RoleForm.cy.tsx
  webpack/environment.cjs
Labels: HUB, CCT

#2871 [AAP-28597] Add Jira link to related skipped tests
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#2883 AAP-28425: Add download buttons to Remotes
  frontend/hub/administration/remotes/hooks/useRemoteActions.tsx
Labels: HUB

#2887 Revert "HubMasthead - link to full experience approvals"
  frontend/hub/main/HubMasthead.tsx
Labels: HUB

#2892 Updates flaky namespaces tests hub
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E, HUB

#2891 Fixes TS error and adds check icon
  frontend/awx/administration/notifiers/NotifierForm.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
Labels: AWX, HUB

#2879 [AAP-28713] Hub collections documentation
  frontend/hub/collections/CollectionPage/CollectionDocumentation.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/CollectionPage/documentationComponents/CollectionDocumentationTabPanel.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB, Ready for Review, release-blocker

#2886 [AAP-28712] unskip my-imports.cy.ts
  cypress/e2e/hub/my-imports.cy.ts
Labels: E2E, HUB

#2841 AAP-26418 Inventory Sources flaky test fixes
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#2895 skip failing inventorySource spec file test
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#2896 skip failing workflowJobTemplateSurvey spec file test
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
Labels: AWX, E2E

#2897 skipping flaky tests on organizations spec file
  cypress/e2e/awx/access/organizations.cy.ts
Labels: AWX, E2E

#2888 [AAP-28411] Support my imports log scroll to bottom behavior
  frontend/hub/collections/CollectionPage/CollectionImportLog.tsx
  frontend/hub/common/ImportLogNavigationArrow.tsx
  frontend/hub/common/utils/getLogMessageColor.tsx
  frontend/hub/my-imports/MyImports.tsx
  frontend/hub/my-imports/components/ImportLog.tsx
Labels: HUB

#2903 add more edit tests
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#2899 Hub tests - check feature flags match expectations
  cypress/e2e/hub/feature-flags.cy.ts
Labels: E2E, HUB

#2898 Hub EE tests - switch from cy.visit to cy.navigateTo
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2868 Wait for all sync
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/collections-list.cy.ts
  cypress/e2e/hub/my-imports.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  cypress/e2e/hub/repositories.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2909 Fix Copy collection version to repositories
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/collections-list.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2912 [AAP-27887] Display galaxy roles in the role selection step (roles wizard)
  frontend/hub/access/common/HubRoleWizardSteps/HubSelectRolesStep.tsx
Labels: E2E, HUB, CCT

#2906 Hub Roles
  cypress/e2e/hub/hub-roles.cy.ts
  cypress/fixtures/hubBuiltInRoleDefinition.json
  cypress/fixtures/hubCustomRoleDefinition.json
  cypress/fixtures/hubNormalUser.json
  cypress/fixtures/hubRoleDefinitions.json
  cypress/fixtures/hubSuperUser.json
  cypress/support/component.tsx
  frontend/hub/access/roles/HubRoles.cy.tsx
  frontend/hub/access/roles/HubRoles.tsx
  frontend/hub/access/roles/RolePage/HubRoleDetails.cy.tsx
  frontend/hub/access/roles/RolePage/HubRoleDetails.tsx
  frontend/hub/access/roles/RolePage/HubRoleForm.cy.tsx
  frontend/hub/access/roles/RolePage/HubRoleForm.tsx
  frontend/hub/access/roles/RolePage/HubRolePage.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.cy.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.tsx
  frontend/hub/access/roles/RolePage/RoleForm.cy.tsx
  frontend/hub/access/roles/RolePage/RoleForm.tsx
  frontend/hub/access/roles/RolePage/RolePage.tsx
  frontend/hub/access/roles/Roles.cy.tsx
  frontend/hub/access/roles/components/HubRoleExpandedRow.tsx
  frontend/hub/access/roles/components/HubRolePermissions.tsx
  frontend/hub/access/roles/components/PageFormPermissionsSelect.tsx
  frontend/hub/access/roles/components/RoleExpandedRow.tsx
  frontend/hub/access/roles/components/RolePermissions.tsx
  frontend/hub/access/roles/hooks/useDeleteRoles.tsx
  frontend/hub/access/roles/hooks/useHubRoleMetadata.tsx
  frontend/hub/access/roles/hooks/useIsValidRoleDescription.tsx
  frontend/hub/access/roles/hooks/useManagedRolesWithDescription.tsx
  frontend/hub/access/roles/hooks/useRoleActions.tsx
  frontend/hub/access/roles/hooks/useRoleColumns.tsx
  frontend/hub/access/roles/hooks/useRoleFilters.tsx
  frontend/hub/interfaces/expanded/ContentType.ts
  frontend/hub/interfaces/expanded/HubRbacRole.ts
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: E2E, HUB, CCT

#2917 Remove team and users access tests for credential types
  cypress/e2e/eda/Access-Management/team-access.cy.ts
  cypress/e2e/eda/Access-Management/teams-roles-tab.cy.ts
  cypress/e2e/eda/Access-Management/user-access.cy.ts
  cypress/e2e/eda/Users/users-roles-tab.cy.ts
  cypress/support/constants.ts
Labels: EDA, E2E

#2915 [AAP-28031] Remove 'Token may be needed' message from the Rulebook Activation form
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA, release-blocker

#2922 [UXD][AAP-28012] Update to Signature Key empty state
  frontend/hub/administration/signature-keys/SignatureKeys.tsx
Labels: HUB

#2904 [UXD][AAP-28895] Update to "Back to" tab in Repositories -> Versions -> Version detail
  frontend/hub/administration/repositories/RepositoryVersionPage/RepositoryVersionPage.tsx
Labels: HUB

#2918 [AAP-27882] Add intial repositories RBAC
  frontend/hub/administration/repositories/RepositoryPage/RepositoryAccess.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryAddTeam.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryAddUser.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryTeamAccess.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryUserAccess.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB

#2923 Namespaces > action Sign all collections
  cypress/e2e/hub/namespaces.cy.ts
  frontend/hub/collections/hooks/useSignAllCollections.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceActions.tsx
Labels: E2E, HUB

#2927 Fix issue with wizard step number in case of hidden steps
  framework/PageWizard/PageWizardNavigation.tsx
Labels: AFW, release-blocker

#2928 Remove duplicate navigation EDA
  frontend/eda/main/useEdaNavigation.tsx
Labels: EDA

#2921 [AAP-28050] Do not disable the Delete Rulebook activation button based on the Patch permission
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
Labels: EDA, release-blocker

#2916 [AAH-3077]Adds remaining namespace tests.
  cypress/e2e/hub/namespaces.cy.ts
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
Labels: E2E, HUB

#2930 Fix for failing EDA roles list test
  cypress/e2e/eda/Roles/eda-roles-list.cy.ts
Labels: EDA, E2E

#2913 [AAP-28859] Fix Subscription Wizard Popup Bug
  frontend/awx/access/credential-types/CredentialTypes.tsx
  frontend/awx/access/credentials/Credentials.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/administration/activity-stream/ActivityStream.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/management-jobs/ManagementJobsList.tsx
  frontend/awx/administration/notifiers/Notifiers.tsx
  frontend/awx/administration/topology/Topology.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovals.tsx
  frontend/awx/common/ExecutionEnvironmentDetail.tsx
  frontend/awx/common/MultipleChoiceField.tsx
  frontend/awx/common/useAwxConfig.tsx
  frontend/awx/common/useDocsVersion.tsx
  frontend/awx/common/util/useGetDocsUrl.ts
  frontend/awx/main/AwxLogin.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/inventories/components/ConstructedInventoryHint.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/ProjectSubForms/GitSubForm.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/components/RulesList.tsx
  frontend/common/ExecutionEnvironmentPageDetail.tsx
  frontend/hub/main/HubMasthead.tsx
Labels: AWX, HUB

#2934 Hub user roles: Updated wizard steps and component tests
  cypress/fixtures/hubNormalUser.json
  cypress/fixtures/hubRoleDefinitionsOptions.json
  cypress/fixtures/hubUserRoles.json
  frontend/hub/access/users/UserPage/HubUserRoles.cy.tsx
  frontend/hub/access/users/components/HubAddUserRoles.cy.tsx
  frontend/hub/access/users/components/HubAddUserRoles.tsx
Labels: E2E, HUB, CCT

#2900 Hub tests - remove cy.visit, use cy.navigateTo
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/collections-list.cy.ts
  cypress/e2e/hub/my-imports.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  cypress/e2e/hub/repositories.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2940 Fix access UI filters
  frontend/common/access/components/TeamAccess.tsx
  frontend/common/access/components/UserAccess.tsx
Labels: E2E, HUB, CCT

#2717 [UXD][AAP-25468] AWX - updates to Hosts section buttons and actions
  cypress/support/hostsfunctions.ts
  frontend/awx/resources/hosts/hooks/useHostsActions.tsx
  frontend/awx/resources/hosts/hooks/useHostsEmptyStateActions.tsx
  frontend/awx/resources/hosts/hooks/useHostsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
Labels: AWX

#2721 [UXD][AAP-25027] AWX - updates to Projects section breadcrumbs & headers
  cypress/e2e/awx/resources/projects/project-details.cy.ts
  cypress/e2e/awx/resources/projects/project-edit-copy-sync.cy.ts
  frontend/awx/resources/projects/ProjectPage/ProjectForm.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
Labels: AWX, E2E, CCT

#2907 Add event source mappings in Rulebook Activation form
  frontend/eda/interfaces/EdaSource.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/components/SourceEventMapFields.tsx
  frontend/eda/rulebook-activations/components/SourceEventStreamMapping.cy.tsx
  frontend/eda/rulebook-activations/components/SourceEventStreamMapping.tsx
Labels: EDA, CCT

#2731 [UXD][AAP-25027] AWX - updates to Organizations section breadcrumbs & headers
  cypress/e2e/awx/access/organizations.cy.ts
  frontend/awx/access/organizations/OrganizationForm.tsx
Labels: AWX, E2E

#2938 Empty state dependencies
  frontend/hub/collections/CollectionPage/CollectionDependencies.tsx
Labels: HUB

#2947 [AAP-29000] Add skip_audit_event option to the Rule Activation Form/Details
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA

#2949 Fix approvals and table view and wait
  cypress/e2e/hub/approvals.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2942 Namespaces > test Sign all collections
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E, HUB

#2956 AAP-28719 HUB RBAC Roles tests #2920
  cypress/e2e/hub/hub-ee-access.cy.ts
  cypress/e2e/hub/hub-roles.cy.ts
  cypress/e2e/hub/namespace-access.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
  frontend/hub/namespaces/components/HubNamespaceAddTeams.tsx
Labels: E2E, HUB

#2959 [AAP-19965] Extend HubUser interface
  frontend/hub/interfaces/expanded/HubUser.ts
Labels: HUB

#2936 [AAP-29041] Use useGetJobOutputUrl to resolve page not found error
  frontend/awx/resources/templates/components/Sparkline.tsx
Labels: AWX, release-blocker

#2963 Error handling (RBAC) for collections
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
Labels: HUB

#2962 Hide upload signature for insights
  frontend/hub/administration/collection-approvals/hooks/useApprovalActions.tsx
Labels: HUB

#2961 Error handling (RBAC) in approvals
  frontend/hub/collections/hooks/useCopyToRepository.tsx
Labels: HUB

#2966 AAP-29172 : Error Handling (RBAC) - repositories
  frontend/hub/administration/repositories/RepositoryForm.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/administration/repositories/hooks/useDeleteRepositories.tsx
Labels: HUB

#2852 [UXD][AAP-28389] EDA - Updates to popovers from tables/create/details pages
  frontend/eda/access/credential-types/CredentialTypeForm.tsx
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/eda/access/credential-types/CredentialTypes.cy.tsx
  frontend/eda/projects/EditProject.tsx
Labels: EDA, CCT

#2787 [UXD][AAP-25468] EDA updates to buttons - Decision Environments
  cypress/e2e/eda/overview/eda-overview.cy.ts
  frontend/eda/overview/cards/EdaDecisionEnvironmentsCard.tsx
Labels: EDA, E2E

#2834 [AAP-27827] Updates to Rule Audit section table headers/field labels casing
  frontend/eda/rule-audit/RuleAudit.cy.tsx
  frontend/eda/rule-audit/RuleAuditPage/RuleAuditDetails.cy.tsx
  frontend/eda/rule-audit/RuleAuditPage/RuleAuditDetails.tsx
  frontend/eda/rule-audit/hooks/useRuleAuditColumns.tsx
Labels: EDA, CCT

#2945 [UXD][AAP-28389] AWX - updates to Notifiers section popovers
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
  frontend/awx/administration/notifiers/NotificationPage/NotificationDetails.tsx
  frontend/awx/administration/notifiers/NotifierForm.tsx
  frontend/awx/administration/notifiers/NotifierFormInner.tsx
Labels: AWX, E2E

#2814 [AAP-27827] Updates to Instances section table headers/field labels casing
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
Labels: AWX

#2815 [AAP-27827] Updates to Execution Environment section table headers/field labels casing
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
Labels: AWX

#2943 [UXD][AAP-28389] AWX - updates to Instances section popovers
  frontend/awx/administration/instances/InstanceForm.tsx
Labels: AWX

#2932 [UXD][AAP-28389] AWX - updates to Projects section popovers
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/ProjectSubForms/ManualSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ScmTypeOptions.tsx
Labels: AWX

#2931 [UXD][AAP-28389] AWX - updates to Jobs and Templates section popovers
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateInputs.tsx
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
Labels: AWX

#2827 [UXD][AAP-25468] AWX - updates to Users->Tokens section buttons and actions
  cypress/e2e/awx/administration/applications.cy.ts
  frontend/awx/access/users/UserPage/UserTokens.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageTokens.tsx
Labels: AWX, E2E

#2965 AAP-29160 Hub Repositories Access tests for User and Team
  cypress/e2e/hub/repositories-access.cy.ts
  frontend/hub/administration/repositories/RepositoryPage/RepositoryAddTeam.tsx
Labels: E2E, HUB

#2960 Small restructure of .skips to follow existing structure
  cypress/e2e/awx/administration/management-jobs.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/administration/wfApprovalsTabs.cy.ts
  cypress/e2e/awx/resources/executionEnvironmentsAccess.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHost.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/eda/Access-Management/teams-roles-tab.cy.ts
  cypress/e2e/eda/Users/users-roles-tab.cy.ts
  cypress/e2e/hub/hub-ee-access.cy.ts
  cypress/e2e/hub/namespace-access.cy.ts
  cypress/e2e/hub/overview/hub-overview.cy.ts
Labels: AWX, EDA, E2E, HUB

#2948 Collections dependencies tab e2e tests.
  cypress/e2e/hub/collections-dependencies.cy.ts
  cypress/fixtures/collection_dependencies.json
  cypress/fixtures/collection_with_one_dependency.json
  frontend/hub/collections/CollectionPage/CollectionDependencies.tsx
Labels: E2E, HUB

#2957 [AAP-29158] Signing Actions Through Feature Flags
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/common/utils/canSign.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentPageActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceActions.tsx
Labels: HUB

#2973 Revert "HUB E2E Parallel Testing"
  .github/workflows/hub-e2e.yml
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/collections-list.cy.ts
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/hub-ee-access.cy.ts
  cypress/e2e/hub/my-imports.cy.ts
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#2964 error handling (RBAC) Tasks
  frontend/hub/administration/tasks/hooks/useTasksRowActions.tsx
  frontend/hub/administration/tasks/hooks/useTasksToolbarActions.tsx
Labels: HUB

#2954 Undeprecate collection
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/collections-list.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionColumns.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/collections/hooks/useDeprecateOrUndeprecateCollections.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceCollections.tsx
Labels: E2E, HUB

#2969 [AAP-29018] Update source-event mappings options lists
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/components/SourceEventMapFields.tsx
  frontend/eda/rulebook-activations/components/SourceEventStreamMapping.cy.tsx
  frontend/eda/rulebook-activations/components/SourceEventStreamMapping.tsx
Labels: EDA, CCT

#2821 [AAP-27827] Updates to User Preferences section table headers/field labels casing
  framework/PageSettings/usePageSettingOptions.tsx
Labels: AFW

#2820 [AAP-27827] Updates to Roles section table headers/field labels casing
  frontend/awx/access/roles/RoleForm.tsx
Labels: AWX

#2981 [UXD][AAP-28389] AWX - fix to the popovers on templates
  frontend/awx/resources/templates/JobTemplateInputs.tsx
Labels: AWX

#2933 [UXD][AAP-28389] AWX - updates to Inventories section popovers
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
Labels: AWX

#2972 Namespaces > error handling
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useSignAllCollections.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceDetails.tsx
Labels: HUB

#2967 error handling (RBAC) executions environments
  cypress/e2e/hub/namespaces.cy.ts
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentManageTags.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentPageActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
Labels: E2E, HUB

#2818 [AAP-27827] Updates to OAuth Application section table headers/field labels casing
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageDetails.tsx
Labels: AWX

#2808 [AAP-27827] Updates to Jobs/Templates sections table headers/field labels casing
  cypress/e2e/awx/overview/awx-overview.cy.ts
  frontend/awx/administration/execution-environments/components/PageFormSelectExecutionEnvironment.tsx
  frontend/awx/administration/instance-groups/components/PageFormInstanceGroupSelect.tsx
  frontend/awx/overview/hooks/useManagedAwxDashboard.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsJobsColumns.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateInputs.tsx
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/common/columns.tsx
Labels: AWX, E2E

#2817 [AAP-27827] Updates to Notifiers section table headers/field labels casing
  frontend/awx/administration/notifiers/NotificationPage/NotificationDetails.tsx
  frontend/awx/administration/notifiers/NotifierForm.tsx
  frontend/awx/administration/notifiers/NotifierFormInner.tsx
Labels: AWX

#2812 [AAP-27827] Updates to Inventories sections table headers/field labels casing
  frontend/awx/administration/instance-groups/InstanceGroupPage/hooks/useInstanceGroupJobsColumns.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/inventories/components/ConstructedInventoryHint.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsColumns.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
Labels: AWX

#2978 AAP-29394 : Replace deleteNamespace that depends on galaxykit and remove it
  cypress/e2e/hub/my-imports.cy.ts
  cypress/e2e/hub/overview/hub-overview.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2819 [AAP-27827] Updates to Organization section table headers/field labels casing
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/access/users/UserPage/UserTokenDetails.cy.tsx
  frontend/common/columns.tsx
Labels: AWX, CCT

#2985 [AAP-29011][EDA] Remove user and team access tabs from credential types page
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypeTeamAccess.tsx
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypeUserAccess.tsx
  frontend/eda/access/credential-types/components/EdaCredentialTypeAddTeams.cy.tsx
  frontend/eda/access/credential-types/components/EdaCredentialTypeAddTeams.tsx
  frontend/eda/access/credential-types/components/EdaCredentialTypeAddUsers.cy.tsx
  frontend/eda/access/credential-types/components/EdaCredentialTypeAddUsers.tsx
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
Labels: EDA, CCT

#2988 Show System content-type and permissions in Hub Role Edit form
  frontend/hub/access/roles/RolePage/HubRoleForm.cy.tsx
  frontend/hub/access/roles/RolePage/HubRoleForm.tsx
Labels: HUB, CCT

#2809 [AAP-27827] Updates to Schedules sections table headers/field labels casing
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/views/schedules/SchedulePage/ScheduleDetails.tsx
  frontend/awx/views/schedules/components/RuleForm.tsx
  frontend/awx/views/schedules/components/ScheduleTypeInputs.tsx
Labels: AWX, E2E

#2990 Handle Namespace Create and Edit errors
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/namespaces/components/HubNamespaceErrorAdapter.tsx
Labels: HUB

#2994 Unskip collections details
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#2995 Improve collections list test
  cypress/e2e/hub/collections-list.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2997 Skip overview
  cypress/e2e/hub/overview/hub-overview.cy.ts
Labels: E2E, HUB

#2977 AAP-29392 : Remove commands that depend on galaxykit in my-imports
  cypress/e2e/hub/my-imports.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2950 Milan hub tests collection details install
  cypress/e2e/hub/collections-detail-install.cy.ts
  frontend/hub/collections/CollectionPage/CollectionInstall.tsx
Labels: E2E, HUB

#2989 Fix failing Notifiers test
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
Labels: AWX, E2E

#2992 update to repository column
  frontend/hub/administration/repositories/hooks/useRepositoriesColumns.tsx
Labels: HUB

#2991 fixes to inconsistencies in hub buttons
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentPageActions.tsx
Labels: HUB

#2811 [AAP-27827] Updates to Projects sections table headers/field labels casing
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ArchiveSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/GitSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/InsightsSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ManualSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ScmTypeOptions.tsx
  frontend/awx/resources/projects/ProjectSubForms/SvnSubForm.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/ProjectDetails.tsx
Labels: AWX

#2984 Use hub's v2 APIs for creating users and teams in Cypress
  cypress/e2e/hub/remotes-access.cy.ts
  cypress/support/hub-access-commands.ts
  frontend/hub/administration/remotes/RemotePage/RemoteAddTeam.tsx
Labels: E2E, HUB

#2975 AAP-29391 : Reduce number of created collections in namespaces test
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E, HUB

#2993 [AAP-29422] Set the Organization field required in the Credential, Event Stream and Rulebook activation forms
  cypress/e2e/eda/Access-Management/team-access.cy.ts
  frontend/eda/access/credentials/CredentialForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/webhooks/WebhookForm.tsx
Labels: EDA, E2E

#2999 Fix content_type for Hub EE access lists
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentTeamAccess.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentUserAccess.tsx
Labels: HUB

#3001 Rename Cypress tag to cyLabel
  .github/workflows/awx-e2e.yml
  .github/workflows/eda-e2e.yml
  .github/workflows/hub-e2e.yml
  cypress/e2e/awx/access/credentials/credentials.cy.ts
  cypress/e2e/awx/infrastructure/instance-groups/instanceGroups.cy.ts
  cypress/e2e/awx/infrastructure/instances/instances.cy.ts
  cypress/e2e/awx/infrastructure/topology/topology-view.cy.ts
  cypress/e2e/awx/notifiers/notifiersTabs.cy.ts
  cypress/e2e/eda/Credentials/credential-type-crud.cy.ts
  cypress/e2e/eda/Credentials/credential-type-tabs.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Credentials/credentials-usage.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Projects/project-sync.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/cleanup/eda-cleanup.cy.ts
  cypress/e2e/hub/tasks.cy.ts
  cypress/support/cyLabel.ts
  cypress/support/tag.ts
  package.json
Labels: AWX, EDA, E2E, HUB

#2734 [UXD][AAP-25027] AWX - updates to Roles section breadcrumbs & headers
  frontend/awx/access/roles/RoleForm.tsx
Labels: AWX

#3006 E2E Tests upstream label
  cypress/e2e/awx/access/teams/teams.cy.ts
  cypress/e2e/awx/administration/applications/applications.cy.ts
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
  cypress/e2e/awx/overview/awx-overview.cy.ts
  cypress/e2e/eda/Access-Management/team-access.cy.ts
  cypress/e2e/eda/Access-Management/teams-roles-tab.cy.ts
  cypress/e2e/eda/Access-Management/user-access.cy.ts
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
  cypress/e2e/eda/Roles/custom-roles-crud.cy.ts
  cypress/e2e/eda/Roles/eda-role-details.cy.ts
  cypress/e2e/eda/Roles/eda-roles-list.cy.ts
  cypress/e2e/eda/Users/users-crud.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/e2e/eda/Users/users-roles-tab.cy.ts
  cypress/e2e/eda/admin-user/controller-token.cy.ts
  cypress/e2e/eda/main/eda-login-logout.cy.ts
  cypress/e2e/eda/overview/eda-overview.cy.ts
  cypress/support/cyLabel.ts
Labels: AWX, EDA, E2E

#2908 AAP-28426 change get to getBy, add test for download buttons
  .gitignore
  cypress/e2e/hub/remotes.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#3008 Deprecate / Undeprecate test
  cypress/e2e/hub/collections-detail.cy.ts
Labels: E2E, HUB

#3005 [AAP-29422] Upadate E2E tests for the organization field now mandatory
  cypress/e2e/eda/Access-Management/team-access.cy.ts
  cypress/e2e/eda/Access-Management/teams-roles-tab.cy.ts
  cypress/e2e/eda/Access-Management/user-access.cy.ts
  cypress/e2e/eda/Credentials/credentials-usage.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Projects/project-sync.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Users/users-roles-tab.cy.ts
  cypress/support/commands.d.ts
  cypress/support/constants.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E, release-blocker

#3003 [AAP-29487] Remove not use props
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/access/credentials/hooks/useCredentialsValidate.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodePromptsStep.tsx
Labels: AWX

#3020 Milan hub tests remove move to
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections-dependencies.cy.ts
  cypress/e2e/hub/collections-detail-install.cy.ts
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/collections-list.cy.ts
  cypress/e2e/hub/my-imports.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#3004 Unskip tests that were skipped due to 401 error
  cypress/e2e/awx/access/organizations/organizations.cy.ts
  cypress/e2e/awx/access/teams/teams.cy.ts
  cypress/e2e/awx/access/users/users.cy.ts
  cypress/e2e/awx/execution-environments/executionEnvironments.cy.ts
  cypress/e2e/awx/execution-environments/executionEnvironmentsAccess.cy.ts
  cypress/e2e/awx/infrastructure/instance-groups/instanceGroups.cy.ts
  cypress/e2e/awx/infrastructure/topology/topology-view.cy.ts
  cypress/e2e/awx/inventories-constructed/inventoriesConstructed.cy.ts
  cypress/e2e/awx/inventories/inventories.cy.ts
  cypress/e2e/awx/workflow-approvals/wfApprovalsList.cy.ts
  cypress/e2e/awx/workflow-visualizer/workflowVisualizerCRUD.cy.ts
  cypress/e2e/awx/workflow-visualizer/workflowVisualizerOutput.cy.ts
Labels: AWX, E2E

#3014 Fix cyLabel
  .github/workflows/awx-e2e.yml
  .github/workflows/eda-e2e.yml
  .github/workflows/hub-e2e.yml
  cypress/support/cyLabel.ts
  framework/README.md
Labels: AFW

#2971 [EDA] [SER] Event Stream tests
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Event-Streams/event-stream-list.cy.ts
  cypress/e2e/eda/Event-Streams/event-streams-crud.cy.ts
  cypress/support/commands.d.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E

#3016 Add Collection Import Log e2e tests
  cypress/e2e/hub/collections-import-log.cy.ts
  frontend/hub/collections/CollectionPage/CollectionImportLog.tsx
Labels: E2E, HUB

#3017 Tasks management > tests
  cypress/e2e/hub/tasks.cy.ts
Labels: E2E, HUB

#3009 Support "styled" classes in PageFormCheckbox
  framework/PageForm/Inputs/PageFormCheckbox.tsx
Labels: AFW

#3018 [AAP-29149] Collection version switch bugfix
  cypress/e2e/hub/collections-detail.cy.ts
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
Labels: E2E, HUB

#3026 Fixes for AWX failures in CI
  cypress/e2e/awx/administration/activity-stream/activity-stream.cy.ts
  cypress/e2e/awx/administration/management-jobs/management-jobs.cy.ts
  cypress/e2e/awx/infrastructure/hosts/hosts.cy.ts
  cypress/e2e/awx/infrastructure/instances/instances.cy.ts
  cypress/e2e/awx/infrastructure/topology/topology-view.cy.ts
  cypress/e2e/awx/inventory-host/inventoryHostRegular.cy.ts
  cypress/e2e/awx/notifiers/notifiersSharedFunctions.ts
  cypress/e2e/awx/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/projects/project-details.cy.ts
  cypress/e2e/awx/projects/project-edit-copy-sync.cy.ts
  cypress/e2e/awx/schedules/schedules.cy.ts
  cypress/e2e/awx/workflow-visualizer/workflowVisualizerCRUD.cy.ts
Labels: AWX, E2E, dashboard

#3025 Collection detail install - fix download failing on empty basePath, hide signature expander when not signed
  cypress/e2e/hub/collections-detail-install.cy.ts
  frontend/hub/collections/CollectionPage/CollectionInstall.tsx
Labels: E2E, HUB

#2732 [UXD][AAP-25027] AWX - updates to Teams section breadcrumbs & headers
  cypress/e2e/awx/access/teams/teams.cy.ts
  frontend/awx/access/teams/TeamForm.tsx
Labels: AWX, E2E

#2745 [UXD][AAP-25468] AWX - updates to Management Jobs section buttons and actions
  frontend/awx/administration/management-jobs/hooks/useManagementJobRowActions.tsx
Labels: AWX

#2970 Hub tests adds role assertion
  cypress/e2e/hub/hub-ee-access.cy.ts
  cypress/e2e/hub/namespace-access.cy.ts
  cypress/e2e/hub/remotes-access.cy.ts
Labels: E2E, HUB

#2733 [UXD][AAP-25027] AWX - updates to Users section breadcrumbs & headers
  cypress/e2e/awx/access/users/users.cy.ts
  frontend/awx/access/users/UserForm.tsx
Labels: AWX, E2E

#3032 fix cred tests
  cypress/e2e/eda/Credentials/credential-type-tabs.cy.ts
Labels: EDA, E2E

#3023 Revert "[EDA] [SER] Event Stream tests"
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Event-Streams/event-stream-list.cy.ts
  cypress/e2e/eda/Event-Streams/event-streams-crud.cy.ts
  cypress/support/commands.d.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E

#3034 Select Dialog Fixes
  cypress/e2e/awx/infrastructure/hosts/hosts.cy.ts
  cypress/e2e/awx/inventories/inventories.cy.ts
  cypress/e2e/awx/inventory-host/inventoryHostRegular.cy.ts
  cypress/e2e/awx/notifiers/notifiersSharedFunctions.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#3024 Allow full width and word wrap for settings detail columns.
  framework/PageFramework.css
  frontend/awx/administration/settings/AwxSettingsCategoryDetails.tsx
Labels: AWX, AFW

#3033 Skip test because it deletes wrong version of collection
  cypress/e2e/hub/collections-detail.cy.ts
Labels: E2E, HUB
