Repository ansible/ansible-ui, pull requests merged in 2024-01, with the labels that each got.

#1387 Fix EDA Dashboard Flaky Tests
  cypress/e2e/eda/General-UI/dashboard.cy.ts
Labels: E2E

#1390 Update username HubMastHead to use optional chain
  frontend/hub/HubMasthead.tsx
Labels: HUB

#1391 Update AWX Team and Host routes
  frontend/awx/access/teams/TeamForm.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.cy.tsx
  frontend/awx/access/teams/hooks/useTeamsColumns.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/common/Routes.ts
Labels: AWX, CCT

#1389 Update EDA Routes
  frontend/common/Routes.ts
  frontend/eda/UserAccess/Users/CreateControllerToken.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.cy.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditActions.cy.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditDetails.cy.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditEvents.cy.tsx
  frontend/eda/views/RuleAudit/RuleAuditPage/RuleAuditPage.cy.tsx
Labels: EDA, CCT

#1380 Shaiah edit ns
  frontend/common/crud/usePutRequest.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB

#1376 Hub > Add test to upload a Collection
  cypress/e2e/hub/collections.cy.ts
  cypress/fixtures/collection-files/ibm-ds8000-1.1.0.tar.gz
  cypress/fixtures/collection-files/ibm-operator_collection_sdk-1.1.0.tar.gz
  cypress/fixtures/collection-files/ibm-zos_cics_operator-1.0.1.tar.gz
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1396 useClearCache to fix reload issue
  frontend/hub/namespaces/HubNamespaceForm.tsx
Labels: HUB

#1388 Upgrade Dependencies
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/hooks/useInstanceActions.tsx
  frontend/eda/rulebook-activations/hooks/useControlRulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
  package-lock.json
  package.json
Labels: AWX, EDA

#1393 Update AWX Routes for Templates
  frontend/awx/AwxRoutes.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
  frontend/awx/views/jobs/JobExpanded.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/Routes.ts
Labels: AWX

#1400 namespace name is not editable functionality and helper text
  frontend/hub/namespaces/HubNamespaceForm.tsx
Labels: HUB

#1395 Add test to create a namespace
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E

#1394 Update routes for awx user details
  framework/PageNavigation/usePageNavigate.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/common/UserDateDetail.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/hooks/useLastUsedColumn.tsx
  frontend/common/Routes.ts
  frontend/common/columns.tsx
Labels: AWX, AFW

#1392 Update AWX routes for credentials, credential types, and applications
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.cy.tsx
  frontend/awx/administration/credential-types/CredentialTypePage/CredentialTypePage.cy.tsx
  frontend/awx/common/CredentialLabel.tsx
  frontend/awx/resources/credentials/CredentialForm.tsx
  frontend/awx/resources/credentials/CredentialPage/CredentialPage.cy.tsx
  frontend/awx/resources/credentials/hooks/useCredentialsColumns.tsx
  frontend/common/Routes.ts
Labels: AWX, CCT

#1397 hub/api: deduplicate; fix HUB_API_PREFIX example in README
  README.md
  frontend/hub/api/formatPath.tsx
  frontend/hub/api/utils.tsx
  frontend/hub/collections/CollectionPage/CollectionDistributions.tsx
Labels: HUB

#1406 Routing cleanup - cleanup more routes
  frontend/awx/AwxRoutes.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/dashboard/cards/AwxRecentInventoriesCard.tsx
  frontend/awx/dashboard/cards/AwxRecentProjectsCard.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceColumns.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/projects/hooks/useProjectNameColumn.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/awx/views/schedules/hooks/useSchedulesColumns.tsx
  frontend/common/Routes.ts
Labels: AWX, CCT

#1404 Fix ToolBar View Toggle styling
  framework/PageToolbar/PageToolbarView.tsx
Labels: AFW

#1403 Multiselect Input support disableClearChips
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageMultiSelect.tsx
Labels: AFW

#1411 Update dependency Styled Components major version to 6.x
  framework/PageDashboard/PageChartContainer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  package-lock.json
  package.json
Labels: AWX, AFW, Ready for Review

#1407 [AAP-7738] add templates list to controller
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
  frontend/common/columns.tsx
Labels: AWX

#1414 Collections tab ns page
  frontend/hub/HubRoutes.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceCollections.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
  frontend/hub/useHubNavigation.tsx
Labels: HUB

#1412 [AAP-17161] Modify BulkActionDialog to use errorAdapter
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageDialogs/BulkConfirmationDialog.tsx
  frontend/awx/access/common/useRemoveUserFromResource.tsx
  frontend/awx/access/organizations/hooks/useAddOrganizationsToUsers.tsx
  frontend/awx/access/organizations/hooks/useDeleteOrganizations.tsx
  frontend/awx/access/organizations/hooks/useRemoveOrganizationsFromUsers.tsx
  frontend/awx/access/roles/AddRolesForm.tsx
  frontend/awx/access/teams/hooks/useAddTeamsToUsers.tsx
  frontend/awx/access/teams/hooks/useDeleteTeams.tsx
  frontend/awx/access/teams/hooks/useRemoveTeamsFromUsers.tsx
  frontend/awx/access/users/hooks/useAddUsersToResources.tsx
  frontend/awx/access/users/hooks/useDeleteUsers.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromOrganizations.tsx
  frontend/awx/access/users/hooks/useRemoveUsersFromTeams.tsx
  frontend/awx/administration/applications/hooks/useDeleteApplications.tsx
  frontend/awx/administration/applications/hooks/useDeleteTokens.tsx
  frontend/awx/administration/credential-types/hooks/useDeleteCredentialTypes.tsx
  frontend/awx/administration/execution-environments/hooks/useDeleteExecutionEnvironments.tsx
  frontend/awx/administration/instance-groups/hooks/useDeleteInstanceGroups.tsx
  frontend/awx/administration/instances/hooks/useRunHealthCheck.tsx
  frontend/awx/common/useAwxBulkActionDialog.tsx
  frontend/awx/common/useAwxBulkConfirmation.tsx
  frontend/awx/resources/credentials/hooks/useDeleteCredentials.tsx
  frontend/awx/resources/hosts/useDeleteHosts.tsx
  frontend/awx/resources/inventories/hooks/useDeleteInventories.tsx
  frontend/awx/resources/inventories/hooks/useDeleteInventorySources.tsx
  frontend/awx/resources/projects/hooks/useCancelProjects.tsx
  frontend/awx/resources/projects/hooks/useDeleteProjects.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useWorkflowVisualizerToolbarActions.tsx
  frontend/awx/resources/templates/hooks/useDeleteTemplates.tsx
  frontend/awx/views/jobs/hooks/useCancelJobs.tsx
  frontend/awx/views/jobs/hooks/useDeleteHostMetrics.tsx
  frontend/awx/views/jobs/hooks/useDeleteJobs.tsx
  frontend/awx/views/schedules/hooks/useDeleteSchedules.tsx
  frontend/awx/views/workflow-approvals/hooks/useApproveWorkflowApprovals.tsx
  frontend/awx/views/workflow-approvals/hooks/useDeleteWorkflowApprovals.tsx
  frontend/awx/views/workflow-approvals/hooks/useDenyWorkflowApprovals.tsx
  frontend/eda/access/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/access/users/hooks/useDeleteControllerTokens.tsx
  frontend/eda/access/users/hooks/useDeleteUser.tsx
  frontend/eda/common/useEdaBulkActionDialog.tsx
  frontend/eda/common/useEdaBulkConfirmation.tsx
  frontend/eda/decision-environments/hooks/useDeleteDecisionEnvironments.tsx
  frontend/eda/projects/hooks/useDeleteProjects.tsx
  frontend/eda/rulebook-activations/hooks/useControlRulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useDeleteRulebookActivations.tsx
  frontend/hub/access/roles/hooks/useDeleteRoles.tsx
  frontend/hub/approvals/hooks/useApproveCollections.tsx
  frontend/hub/approvals/hooks/useRejectCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
  frontend/hub/collections/hooks/useDeprecateCollections.tsx
  frontend/hub/common/useHubBulkActionDialog.tsx
  frontend/hub/common/useHubBulkConfirmation.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/namespaces/hooks/useDeleteHubNamespaces.tsx
  frontend/hub/namespaces/hooks/useHubNamespacesColumns.tsx
  frontend/hub/remote-registries/hooks/useDeleteRemoteRegistries.tsx
  frontend/hub/remotes/hooks/useDeleteRemotes.tsx
  frontend/hub/tasks/hooks/useTasksActions.tsx
Labels: AWX, EDA, HUB, AFW

#1416 Upgrade dependencies
  package-lock.json
  package.json
Labels: Ready for Review

#1410 Routes Cleanup - Final update to update all routing
  frontend/awx/resources/projects/hooks/useProjectStatusColumn.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/hooks/useLaunchTemplate.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/awx/views/jobs/hooks/useRelaunchJob.tsx
  frontend/awx/views/jobs/jobUtils.tsx
  frontend/awx/views/jobs/useGetJobOutputUrl.tsx
  frontend/awx/views/schedules/RuleForm.tsx
  frontend/awx/views/schedules/hooks/ruleHelpers.tsx
  frontend/common/Routes.ts
Labels: AWX, Ready for Review

#1357 [AAP-18755] Present client secret after application creation
  cypress/fixtures/application.json
  frontend/awx/administration/applications/ApplicationForm.cy.tsx
  frontend/awx/administration/applications/ApplicationForm.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationClientSecretModal.cy.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationClientSecretModal.tsx
  frontend/awx/administration/applications/hooks/useApplicationsColumns.tsx
  frontend/awx/routes/useAwxApplicationsRoutes.tsx
Labels: AWX, CCT

#1417 Framework support enforcing vertical labels for table expanded row
  framework/PageDetails/PageDetails.tsx
  framework/PageDetails/PageDetailsFromColumns.tsx
  framework/PageTable/PageTable.tsx
Labels: AFW

#1408 Hub - merge useHubView & usePulpView
  frontend/hub/access/roles/Roles.tsx
  frontend/hub/api/request.ts
  frontend/hub/approvals/Approvals.tsx
  frontend/hub/approvals/hooks/useApproveCollections.tsx
  frontend/hub/approvals/hooks/useRejectCollections.tsx
  frontend/hub/collections/CollectionPage/CollectionDistributions.tsx
  frontend/hub/collections/CollectionSignatureUpload.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCopyToRepository.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeprecateCollections.tsx
  frontend/hub/collections/hooks/useSelectCollections.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceToolbarActions.tsx
  frontend/hub/remote-registries/hooks/useRemoteRegistriesToolbarActions.tsx
  frontend/hub/remotes/RemoteDetails.tsx
  frontend/hub/remotes/RemoteForm.tsx
  frontend/hub/remotes/Remotes.tsx
  frontend/hub/remotes/hooks/useRemoteToolbarActions.tsx
  frontend/hub/repositories/Repositories.tsx
  frontend/hub/repositories/RepositoryPage/RepositoryCollectionVersion.tsx
  frontend/hub/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/repositories/RepositoryPage/RepositoryVersions.tsx
  frontend/hub/repositories/RepositoryVersionPage/RepositoryVersionCollections.tsx
  frontend/hub/repositories/RepositoryVersionPage/RepositoryVersionDetails.tsx
  frontend/hub/repositories/RepositoryVersionPage/RepositoryVersionPage.tsx
  frontend/hub/repositories/hooks/useRepoQueryOptions.tsx
  frontend/hub/repositories/hooks/useRepositorySelector.tsx
  frontend/hub/signature-keys/SignatureKeys.tsx
  frontend/hub/tasks/Tasks.tsx
  frontend/hub/useHubView.tsx
  frontend/hub/usePulpView.tsx
Labels: HUB

#1422 HUB Namespace Collections fix merge conflict
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceCollections.tsx
Labels: HUB

#1418 EDA Overview update dashboard cards to be self contained for reuse
  frontend/eda/overview/EdaDashboard.tsx
  frontend/eda/overview/cards/EdaDecisionEnvironmentsCard.tsx
  frontend/eda/overview/cards/EdaRuleAuditCard.tsx
Labels: EDA, Ready for Review

#1420 Framework fixes to display of AsyncMultiSelectToolbarFilter
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
Labels: AFW

#1419 AWX Update overview card titles for consistency
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  frontend/awx/dashboard/cards/AwxJobActivityCard.tsx
  frontend/awx/dashboard/cards/AwxRecentInventoriesCard.tsx
  frontend/awx/dashboard/cards/AwxRecentJobsCard.tsx
  frontend/awx/dashboard/cards/AwxRecentProjectsCard.tsx
Labels: AWX, E2E

#1350 Collection tab Imports
  frontend/hub/collections/CollectionPage/CollectionImportLog.tsx
Labels: HUB

#1423 Update hubErrorAdapter to deal with file upload
  frontend/hub/adapters/hubErrorAdapter.tsx
Labels: HUB

#1432 HUB skip E2E test until it can be mode more robust
  cypress/e2e/hub/collections.cy.ts
Labels: E2E

#1431 Remove extra is_system_auditor checks to launch and delete template actions
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
Labels: AWX

#1430 Webpack: Fix hosting of static assets based on ROUTE_PREFIX.
  .github/workflows/awx-update-server.yml
  .github/workflows/eda-update-server.yml
  cypress/e2e/awx/general-ui/dashboard-checks.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/workflowApproval.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerNodes.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
  framework/README.md
  frontend/awx/analytics/Reports/ReportsList/useReportCardColumns.tsx
  frontend/eda/access/users/UserPage/UserPage.tsx
  package.json
  webpack/environment.cjs
  webpack/webpack.awx.cjs
  webpack/webpack.eda.cjs
  webpack/webpack.hub.cjs
Labels: AWX, EDA, E2E, AFW

#1434 [AAH-3014] Fix redirect after deleting namespace from details page
  cypress/e2e/hub/namespaces.cy.ts
  frontend/awx/resources/inventories/hooks/useInventoriesToolbarActions.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
Labels: AWX, E2E, HUB

#1435 Fix for flaky test on job delete
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
Labels: AWX, E2E

#1439 Framework Table Add Row Highlights
  framework/PageDetails/PageDetails.tsx
  framework/PageFramework.css
  framework/PageTable/PageTable.tsx
Labels: AFW

#1429 UXD Review - Dashboard Card Updates
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageTable/PageTableColumn.tsx
  framework/components/useManageColumns.tsx
  frontend/awx/administration/credential-types/hooks/useCredentialTypesColumns.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
  frontend/awx/dashboard/cards/AwxRecentInventoriesCard.tsx
  frontend/awx/dashboard/cards/AwxRecentJobsCard.tsx
  frontend/awx/dashboard/cards/AwxRecentProjectsCard.tsx
  frontend/awx/dashboard/charts/JobsChart.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.cy.tsx
  frontend/awx/resources/projects/hooks/useDefaultEnvironment.tsx
  frontend/awx/resources/projects/hooks/useLastUsedColumn.tsx
  frontend/awx/resources/projects/hooks/useProjectsColumns.tsx
  frontend/awx/resources/projects/hooks/useProjectsFilters.tsx
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
  frontend/awx/views/workflow-approvals/hooks/useWorkflowApprovalsColumns.tsx
  frontend/common/Status.tsx
  frontend/common/columns.tsx
  frontend/eda/access/credentials/hooks/useCredentialColumns.tsx
  frontend/eda/access/users/hooks/useControllerTokensColumns.tsx
  frontend/eda/access/users/hooks/useUserColumns.tsx
  frontend/eda/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
  frontend/eda/overview/cards/EdaDecisionEnvironmentsCard.cy.tsx
  frontend/eda/overview/cards/EdaDecisionEnvironmentsCard.tsx
  frontend/eda/overview/cards/EdaProjectsCard.cy.tsx
  frontend/eda/overview/cards/EdaProjectsCard.tsx
  frontend/eda/overview/cards/EdaRuleAuditCard.cy.tsx
  frontend/eda/overview/cards/EdaRuleAuditCard.tsx
  frontend/eda/overview/cards/EdaRulebookActivationsCard.cy.tsx
  frontend/eda/overview/cards/EdaRulebookActivationsCard.tsx
  frontend/eda/projects/hooks/useProjectColumns.tsx
  frontend/eda/rule-audit/RuleAuditPage/RuleAuditActions.cy.tsx
  frontend/eda/rule-audit/RuleAuditPage/RuleAuditDetails.cy.tsx
  frontend/eda/rule-audit/hooks/useRuleAuditColumns.tsx
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationColumns.tsx
  frontend/hub/access/roles/hooks/useRoleColumns.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistriesColumns.tsx
  frontend/hub/administration/remotes/hooks/useRemoteColumns.tsx
  frontend/hub/administration/tasks/Tasks.tsx
  frontend/hub/collections/hooks/useSelectCollections.tsx
  frontend/hub/namespaces/hooks/useHubNamespacesColumns.tsx
Labels: AWX, EDA, E2E, HUB, CCT, AFW

#1443 Update redirect after create for remote and remote-registries
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  frontend/hub/administration/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/administration/remotes/RemoteForm.tsx
Labels: E2E, HUB

#1318 Feature parity for Hub role creation, edit and details
  cypress/e2e/hub/hub-roles.cy.ts
  framework/PageCells/LabelsCell.tsx
  framework/PageForm/Utils/PageFormSection.tsx
  framework/PageInputs/PageMultiSelect.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.cy.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.tsx
  frontend/hub/access/roles/RolePage/RoleForm.cy.tsx
  frontend/hub/access/roles/RolePage/RoleForm.tsx
  frontend/hub/access/roles/RolePage/RolePage.tsx
  frontend/hub/access/roles/Roles.tsx
  frontend/hub/access/roles/components/PageFormPermissionsSelect.tsx
  frontend/hub/access/roles/components/RoleExpandedRow.tsx
  frontend/hub/access/roles/components/RolePermissions.tsx
  frontend/hub/access/roles/hooks/useIsValidRoleDescription.tsx
  frontend/hub/access/roles/hooks/useIsValidRoleName.tsx
  frontend/hub/access/roles/hooks/useRoleActions.tsx
  frontend/hub/access/roles/hooks/useRoleColumns.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: E2E, HUB, CCT, AFW

#1437 EDA Update rulebook activation form to support selecting controller token
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#1442 test edit namespace
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E

#1445 Make roles UI in EDA/AWX consistent with Hub
  frontend/awx/AwxRoutes.tsx
  frontend/awx/access/roles/AwxRoleDetails.tsx
  frontend/awx/access/roles/AwxRolePage.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/eda/access/roles/EdaRoleDetails.tsx
  frontend/eda/access/roles/EdaRolePage.tsx
  frontend/eda/access/roles/EdaRoles.tsx
  frontend/eda/access/roles/RoleDetails.tsx
  frontend/eda/access/roles/components/EdaRoleExpandedRow.tsx
  frontend/eda/access/roles/components/EdaRolePermissions.tsx
  frontend/eda/access/roles/hooks/useRoleColumns.tsx
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
Labels: AWX, EDA

#1374 Instance forks check
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/fixtures/instance.json
  cypress/fixtures/instance_hop.json
  frontend/awx/administration/instances/InstanceDetails.cy.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
Labels: AWX, E2E, CCT

#1448 Display error fetching EDA roles
  frontend/eda/access/roles/EdaRoles.tsx
Labels: EDA

#1449 Rename Dashboard files to Overview
  cypress/e2e/awx/overview/awx-overview.cy.ts
  cypress/e2e/eda/main/eda-login-logout.cy.ts
  cypress/e2e/eda/overview/eda-overview.cy.ts
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/overview/hub-overview.cy.ts
  frontend/awx/overview/AwxOverview.tsx
  frontend/awx/overview/WelcomeModal.tsx
  frontend/awx/overview/cards/AwxCountsCard.cy.tsx
  frontend/awx/overview/cards/AwxCountsCard.tsx
  frontend/awx/overview/cards/AwxGettingStartedCard.tsx
  frontend/awx/overview/cards/AwxJobActivityCard.tsx
  frontend/awx/overview/cards/AwxRecentInventoriesCard.tsx
  frontend/awx/overview/cards/AwxRecentJobsCard.tsx
  frontend/awx/overview/cards/AwxRecentProjectsCard.tsx
  frontend/awx/overview/charts/JobsChart.tsx
  frontend/awx/overview/hooks/useManagedAwxDashboard.tsx
  frontend/awx/settings/AwxSettings.tsx
  frontend/awx/useAwxNavigation.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/overview/EdaOverview.cy.tsx
  frontend/eda/overview/EdaOverview.tsx
  frontend/eda/overview/cards/EdaDecisionEnvironmentsCard.cy.tsx
  frontend/eda/overview/cards/EdaProjectsCard.cy.tsx
  frontend/eda/overview/cards/EdaRuleAuditCard.cy.tsx
  frontend/eda/overview/cards/EdaRulebookActivationsCard.cy.tsx
  frontend/hub/main/useHubNavigation.tsx
  frontend/hub/overview/HubOverview.cy.tsx
  frontend/hub/overview/HubOverview.tsx
Labels: AWX, EDA, E2E, HUB, CCT

#1436 AAP-18888 - Automated tests for Applications
  cypress.base.config.ts
  cypress/e2e/awx/administration/applications.cy.ts
  cypress/fixtures/application_test_cases.json
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1452 Delete edited namespace after assertions are done
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E

#1425 Sign collection and version
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionColumns.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
  frontend/hub/collections/hooks/useDeprecateCollections.tsx
  frontend/hub/collections/hooks/useSignCollection.tsx
  frontend/hub/collections/hooks/useUploadSignature.tsx
  frontend/hub/common/api/hub-api-utils.tsx
Labels: HUB

#1454 Add tests to API token
  cypress/e2e/hub/api-tokens.cy.ts
  frontend/hub/access/token/Token.tsx
Labels: E2E, HUB

#1363 Add event source pages
  frontend/eda/Resources/event-sources/EventSourceForm.tsx
  frontend/eda/Resources/event-sources/EventSourcePage/EventSourceDetails.tsx
  frontend/eda/Resources/event-sources/EventSourcePage/EventSourcePage.tsx
  frontend/eda/Resources/event-sources/EventSources.tsx
  frontend/eda/Resources/event-sources/components/EdaEventSourceCell.tsx
  frontend/eda/Resources/event-sources/hooks/useDeleteEventSources.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourceActions.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourceFilters.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourcesActions.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourcesColumns.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentCell.tsx
  frontend/eda/interfaces/EdaEventSource.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA

#1459 Fix collection test
  cypress/e2e/hub/collections.cy.ts
Labels: E2E

#1467 Fix warning related to react-router
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
Labels: HUB

#1464 Async select filters, support query for chip label
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
Labels: AFW

#1451 Collection Tab Install
  frontend/hub/collections/CollectionPage/CollectionDocumentation.tsx
  frontend/hub/collections/CollectionPage/CollectionInstall.tsx
  frontend/hub/collections/CollectionPage/collection-info.css
Labels: HUB

#1462 Add galaxykit to Hub cypress tests 🎉
  .github/workflows/hub-e2e.yml
  cypress/e2e/hub/collections.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1465 Hub collection upload- fixing flakiness
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1455 Add tests to Signature keys
  cypress/e2e/hub/signature-keys.cy.ts
  cypress/fixtures/hubSignatureKeys.json
Labels: E2E

#1471 Expand namespace tests
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E

#1469 Simplify column management modal
  framework/PageTable/PageTable.tsx
  framework/components/useManageColumns.tsx
Labels: AFW

#1475 Add disableGrid flag to PageWizard
  framework/PageWizard/PageWizard.tsx
  framework/PageWizard/PageWizardBody.tsx
Labels: AFW

#1479 Add delete to repository list and detail view
  frontend/hub/administration/repositories/Repositories.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/administration/repositories/hooks/useDeleteRepositories.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryToolbarActions.tsx
Labels: HUB

#1463 [AAP-8165] Inventory Hosts List
  frontend/awx/interfaces/AwxHost.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/hosts/hooks/useDeleteHosts.tsx
  frontend/awx/resources/hosts/hooks/useHostsActions.tsx
  frontend/awx/resources/hosts/hooks/useHostsColumns.tsx
  frontend/awx/resources/hosts/hooks/useHostsFilters.tsx
  frontend/awx/resources/hosts/hooks/useHostsToolbarActions.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
Labels: AWX

#1466 Topology view expandable sidebar + single column layout.
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/topology/Sidebar.tsx
  frontend/awx/administration/topology/Visualizer.tsx
Labels: AWX

#1474 [AAP-19561] The token field should not be mandatory in the Create Activation form
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#1481 Hub: custom command to add multiple Collections
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
  package-lock.json
  package.json
Labels: E2E

#1482 test Approve a collection
  cypress/e2e/hub/approvals.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1485 Repository - Add Copy CLI
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
Labels: HUB

#1486 [AAP-19237] Hide post 2.4 nav items
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/analytics/Reports/ErrorStates.tsx
  frontend/awx/main/useAwxNavigation.tsx
Labels: AWX

#1491 update dependencies
  cypress/support/hub-commands.ts
  cypress/tsconfig.json
  framework/PageInputs/PageMultiSelect.tsx
  framework/tsconfig.json
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/common/tsconfig.json
  frontend/hub/access/roles/components/RolePermissions.tsx
  package-lock.json
  package.json
Labels: AWX, HUB, AFW

#1492 Approval > test Reject
  cypress/e2e/hub/approvals.cy.ts
Labels: E2E

#1494 skipping approvals and collections
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
Labels: E2E

#1458 Hub: useGetFn
  frontend/hub/common/api/README.md
  frontend/hub/common/api/useGetFn.tsx
Labels: HUB

#1487 Collections: add defaultSort (name)
  frontend/hub/collections/Collections.tsx
Labels: HUB

#1415 [AAH-3033] Task details page
  frontend/hub/administration/tasks/Task.tsx
  frontend/hub/administration/tasks/TaskDetails.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB

#1499 Collections > test Copy version to repositories
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
  framework/PageTable/PageTableList.tsx
Labels: E2E, AFW

#1447 [AAP-12403] Update team details from modified to last modified
  frontend/awx/access/teams/TeamPage/AwxTeamDetails.cy.tsx
  frontend/common/access/TeamDetails.tsx
Labels: AWX, CCT

#1503 Downgrade a few dependencies
  cypress/tsconfig.json
  framework/PageInputs/PageMultiSelect.tsx
  framework/tsconfig.json
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/common/tsconfig.json
  frontend/hub/access/roles/components/RolePermissions.tsx
  package-lock.json
  package.json
Labels: AWX, HUB, AFW

#1502 Additional tests - Signature-keys
  cypress/e2e/hub/signature-keys.cy.ts
Labels: E2E

#1506 Enable a couple of collection related tests
  cypress/e2e/hub/collections.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1505 Shaiah test ns detail
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E

#1508 Hub > deprecate a collection
  cypress/e2e/hub/collections.cy.ts
Labels: E2E

#1507 re-enabling collections approval tests
  cypress/e2e/hub/approvals.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E

#1513 Refactor deleted node to use Custom Node
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/DeletedNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/index.ts
Labels: AWX

#1519 Skip collections tests
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
Labels: E2E, HUB

#1521 fixing approval and collections tests
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
Labels: E2E, HUB

#1483 Modify how the name of remote-registries are created
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
Labels: E2E, HUB

#1510 Add optional wizard header component
  framework/PageWizard/PageWizard.tsx
  framework/PageWizard/PageWizardHeader.tsx
Labels: AFW

#1514 Aap 8164 add inventory group list
  cypress/fixtures/ad_hoc_commands.json
  cypress/fixtures/group.json
  cypress/fixtures/groups.json
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/interfaces/InventoryGroup.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/groups/GroupPage.tsx
  frontend/awx/resources/groups/hooks/useDeleteGroups.tsx
  frontend/awx/resources/groups/hooks/useGroupsColumns.tsx
  frontend/awx/resources/groups/hooks/useGroupsFilters.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
Labels: AWX, CCT

#1490 [AAP-8293] Host Details Tab
  cypress/fixtures/awxHost.json
  frontend/awx/interfaces/AwxHost.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/hosts/hooks/useGetHost.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsColumns.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/inventoryHostsDetails.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/inventoryHostsDetails.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/inventoryHostsPage.tsx
Labels: AWX, CCT

#1495 [AAP-8172] Host Groups List
  cypress/fixtures/groups_options.json
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostPage.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useDisassociateGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsColumns.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsFilters.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsToolbarActions.tsx
Labels: AWX, CCT

#1535 Update rule audit chart component tests
  frontend/eda/overview/cards/EdaRuleAuditChartCard.cy.tsx
Labels: EDA, CCT

#1529 [AAP-8285] Add inventory group add page
  cypress/fixtures/groups_options_no_post.json
  frontend/awx/interfaces/InventoryGroup.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/groups/GroupCreate.tsx
  frontend/awx/resources/groups/GroupPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/inventoryGroup/InventoryGroupForm.cy.tsx
  frontend/awx/resources/inventories/inventoryGroup/InventoryGroupForm.tsx
Labels: AWX, CCT

#1533 created inventory sources list
  cypress/fixtures/inventory_sources.json
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/InventoryPage/InventorySources.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventorySources.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesSourcesToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceActions.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceColumns.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourcePage.tsx
  frontend/awx/resources/sources/hooks/useDeleteSources.tsx
  frontend/awx/resources/sources/hooks/useSourcesActions.tsx
  frontend/awx/resources/sources/hooks/useSourcesColumns.tsx
Labels: AWX, CCT

#1536 Hub - update galaxykit to latest
  .github/workflows/hub-e2e.yml
Labels: HUB

#1453 Add Repository form
  frontend/hub/administration/repositories/RepositoryForm.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryDetails.tsx
  frontend/hub/administration/repositories/hooks/useRemoteSelector.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryToolbarActions.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB

#1523 Add Sync action to repositories
  framework/PageForm/Inputs/PageFormSwitch.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
  frontend/hub/administration/repositories/hooks/useSyncRepositories.tsx
Labels: HUB, AFW

#1530 Hub - check trailing and double slashes when constructing API urls, better page/sort param support
  cypress/e2e/hub/approvals.cy.ts
  cypress/support/formatApiPathForHub.ts
  cypress/support/hub-commands.ts
  frontend/hub/access/roles/RolePage/RoleDetails.cy.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.tsx
  frontend/hub/access/roles/RolePage/RoleForm.cy.tsx
  frontend/hub/access/roles/RolePage/RoleForm.tsx
  frontend/hub/access/roles/RolePage/RolePage.tsx
  frontend/hub/access/roles/Roles.cy.tsx
  frontend/hub/access/roles/hooks/useDeleteRoles.tsx
  frontend/hub/administration/collection-approvals/hooks/useRejectCollections.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/administration/remote-registries/hooks/useDeleteRemoteRegistries.tsx
  frontend/hub/administration/remotes/RemoteDetails.tsx
  frontend/hub/administration/remotes/RemoteForm.tsx
  frontend/hub/administration/remotes/hooks/useDeleteRemotes.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryCollectionVersion.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryDetails.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryVersions.tsx
  frontend/hub/administration/repositories/RepositoryVersionPage/RepositoryVersionDetails.tsx
  frontend/hub/administration/repositories/RepositoryVersionPage/RepositoryVersionPage.tsx
  frontend/hub/administration/repositories/hooks/useDeleteRepositories.tsx
  frontend/hub/administration/tasks/Tasks.cy.tsx
  frontend/hub/administration/tasks/hooks/useTasksToolbarActions.tsx
  frontend/hub/collections/CollectionPage/CollectionDependencies.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollectionVersionSelector.tsx
  frontend/hub/collections/hooks/useCopyToRepository.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
  frontend/hub/collections/hooks/useDeprecateCollections.tsx
  frontend/hub/collections/hooks/useSelectCollections.tsx
  frontend/hub/common/api/README.md
  frontend/hub/common/api/formatPath.tsx
  frontend/hub/common/api/hub-api-utils.tsx
  frontend/hub/common/api/query-string.ts
  frontend/hub/common/useHubView.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/hub/execution-environments/hooks/useRegistrySelector.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceDetails.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
  frontend/hub/overview/CollectionCategories.tsx
  frontend/hub/overview/hooks/useCategorizeCollections.tsx
Labels: E2E, HUB, CCT

#1540 17066 remove add link
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeFormInputs.cy.tsx
Labels: AWX, CCT

#1473 [AAH-2509] Hub > My imports page
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/my-imports.cy.ts
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
  frontend/hub/my-imports/MyImports.tsx
  frontend/hub/my-imports/components/ImportList.tsx
  frontend/hub/my-imports/components/ImportLog.tsx
  frontend/hub/my-imports/components/ImportStatusBar.tsx
  frontend/hub/my-imports/components/ImportStatusIndicator.tsx
  frontend/hub/my-imports/components/hub-import-collections-filters.css
  frontend/hub/my-imports/hooks/useCollectionImportFilters.tsx
  frontend/hub/my-imports/hooks/useNamespaceSelector.tsx
Labels: E2E, HUB

#1551 Fix falling repositories url
  frontend/hub/administration/repositories/RepositoryPage/RepositoryDetails.tsx
Labels: HUB

#1534 Add Execution Environment detail page with tabs and actions
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentAccess.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentActivity.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImages.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentPageActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsColumns.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB

#1552 Fix repo detail
  frontend/hub/administration/repositories/RepositoryPage/RepositoryDetails.tsx
Labels: HUB

#1553 Collections additional info
  frontend/hub/collections/hooks/useCollectionColumns.tsx
Labels: HUB

#1525 Repositories tab versions action revert
  frontend/hub/administration/repositories/RepositoryPage/RepositoryVersions.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
Labels: HUB

#1541 Dialogs - Support stack of active dialogs
  framework/PageDialogs/PageDialog.cy.tsx
  framework/PageDialogs/PageDialog.tsx
Labels: CCT, AFW

#1520 [AAP-8240] Tests, and Rbac for Templates and TemplatesList.
  cypress/fixtures/templateList.json
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/TemplatesList.cy.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
Labels: AWX, CCT

#1554 fix collection names and approvals links
  frontend/hub/administration/collection-approvals/hooks/useApprovalsColumns.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/hooks/useCollectionColumns.tsx
Labels: HUB

#1476 Table Filters - Support limiting filters to what is supported by the API
  framework/PageTable/PageTable.tsx
  framework/PageToolbar/PageToolbar.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarFilters.cy.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarTextFilter.tsx
  frontend/awx/access/roles/useRolesFilters.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/access/users/hooks/useUsersFilters.tsx
  frontend/awx/administration/applications/hooks/useTokensFilters.tsx
  frontend/awx/administration/instances/hooks/useInstancesFilter.tsx
  frontend/awx/administration/workflow-approvals/hooks/useWorkflowApprovalsFilters.tsx
  frontend/awx/analytics/Reports/ReportsList/useReportCardFilters.tsx
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsFilters.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
  frontend/awx/views/schedules/Schedules.cy.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourceFilters.tsx
  frontend/eda/access/credentials/hooks/useCredentialFilters.tsx
  frontend/eda/access/users/hooks/useControllerTokenFilters.tsx
  frontend/eda/access/users/hooks/useUserFilters.tsx
  frontend/eda/decision-environments/hooks/useDecisionEnvironmentFilters.tsx
  frontend/eda/projects/hooks/useProjectFilters.tsx
  frontend/eda/rule-audit/hooks/useRuleAuditActionsFilters.tsx
  frontend/eda/rule-audit/hooks/useRuleAuditEventsFilters.tsx
  frontend/eda/rule-audit/hooks/useRuleAuditFilters.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationFilters.tsx
  frontend/hub/access/roles/hooks/useRoleFilters.tsx
  frontend/hub/administration/collection-approvals/hooks/useApprovalFilters.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistryFilters.tsx
  frontend/hub/administration/remotes/hooks/useRemoteFilters.tsx
  frontend/hub/administration/repositories/hooks/useRepositorySelector.tsx
  frontend/hub/administration/signature-keys/SignatureKeys.tsx
  frontend/hub/collections/CollectionPage/CollectionDependencies.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/collections/hooks/useCollectionVersionSelector.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentFilters.tsx
  frontend/hub/execution-environments/hooks/useRegistrySelector.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceFilters.tsx
Labels: AWX, EDA, HUB, CCT, AFW

#1556 Fix toolbarfiltertypes.Text issues
  cypress/e2e/hub/my-imports.cy.ts
  frontend/awx/resources/templates/TemplatesList.cy.tsx
  frontend/hub/administration/repositories/hooks/useRemoteSelector.tsx
  frontend/hub/my-imports/hooks/useCollectionImportFilters.tsx
  frontend/hub/my-imports/hooks/useNamespaceSelector.tsx
Labels: AWX, E2E, HUB, CCT
