Repository ansible/ansible-ui, pull requests merged in 2024-02, with the labels that each got.

#1559 Fix PageWizard navigation bug when steps are hidden
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/PageWizardFooter.cy.tsx
  framework/PageWizard/PageWizardFooter.tsx
  framework/PageWizard/PageWizardNavigation.tsx
  framework/PageWizard/PageWizardProvider.tsx
  framework/PageWizard/types.ts
Labels: CCT, AFW

#1557 [AAP-8120] Execution Environments List
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/common/columns.tsx
Labels: AWX

#1537 [AAP-19475] Add Group Modal
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroupsModal.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroupsModal.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useAssociateGroupsToHost.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsToolbarActions.tsx
Labels: AWX, CCT

#1480 [AAH-2473], [AAH-2507] `my-imports` action links
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  frontend/hub/administration/collection-approvals/hooks/useApprovalActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceActions.tsx
Labels: E2E, HUB

#1527 Enables Add node and link on Node Context Menu
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
Labels: AWX, E2E, CCT

#1562 fixing flaxy HUB tests
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1560 [AAH-2509] Fix my-imports tests
  cypress/e2e/hub/my-imports.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  frontend/hub/my-imports/components/ImportList.tsx
Labels: E2E, HUB

#1531 [AAP-8294] Add details tab to inventory group page
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/fixtures/group.json
  cypress/fixtures/groupDetails.json
  cypress/fixtures/groups.json
  frontend/awx/interfaces/InventoryGroup.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/groups/GroupDetails.cy.tsx
  frontend/awx/resources/groups/GroupDetails.tsx
  frontend/awx/resources/groups/GroupPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsActions.tsx
Labels: AWX, E2E, CCT

#1564 Fix for Credential Types test
  cypress/e2e/awx/administration/credentials-types.cy.ts
Labels: AWX, E2E

#1543 [AAP-8286] Add Edit Inventory Hosts Form
  frontend/awx/interfaces/AwxHost.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.tsx
Labels: AWX, CCT

#1548 [AAP-8173] Host Jobs List
  frontend/awx/common/JobColumns.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostFacts.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostJobs.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostPage.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsJobsColumns.tsx
  frontend/common/columns.tsx
Labels: AWX

#1547 [AAP-8310] Add inventory group edit form
  cypress/e2e/awx/resources/inventories.cy.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/groups/GroupEdit.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
  frontend/awx/resources/inventories/inventoryGroup/InventoryGroupForm.cy.tsx
  frontend/awx/resources/inventories/inventoryGroup/InventoryGroupForm.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsToolbarActions.tsx
Labels: AWX, E2E, CCT

#1579 Fixes failing credential type e2e test
  cypress/e2e/awx/administration/credentials-types.cy.ts
Labels: AWX, E2E

#1576 Disable card and list view for Repositories
  frontend/hub/administration/repositories/Repositories.tsx
Labels: HUB

#1566 [AAP-7483] Add Execution Env Details
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/execution-environments/hooks/useDeleteExecutionEnvironments.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvRowActions.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvToolbarActions.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvironmentsColumns.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvironmentsFilters.tsx
  frontend/awx/administration/execution-environments/hooks/useSelectExecutionEnvironments.tsx
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/interfaces/ExecutionEnvironment.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxExecutionEnironmentRoutes.tsx
Labels: AWX, CCT

#1569 Namespaces > test bulk delete namespace
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E, HUB

#1568 implemented add inventory source form to sources page list
  cypress/e2e/awx/resources/inventorySource.cy.ts
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/InventoryPage/InventorySources.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesSourcesToolbarActions.tsx
  frontend/awx/resources/sources/InventorySourceForm.cy.tsx
  frontend/awx/resources/sources/InventorySourceForm.tsx
  frontend/awx/resources/sources/component/PageFormInventoryFileSelect.tsx
  frontend/awx/resources/sources/sourceSubForms/ProjectSubForm.tsx
Labels: AWX, E2E, CCT

#1585 HUB: Fix create namespace button text
  frontend/hub/namespaces/HubNamespaces.tsx
Labels: HUB

#1493 [AAP-8169] Add Templates List to Inventory
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryJobTemplates.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
  frontend/awx/resources/templates/hooks/useCopyTemplate.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/common/columns.tsx
Labels: AWX

#1586 Update collection upload tests
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1583 Simplified breadcrumb handling
  framework/PageFramework.tsx
  framework/PageHeader.tsx
  framework/PageTabs/PageBreadcrumbs.tsx
  framework/PageTabs/PageRoutedTabs.tsx
  framework/components/LoadingPage.tsx
Labels: AFW

#1590 Repository remove collection
  frontend/hub/administration/repositories/RepositoryPage/RepositoryCollectionVersion.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
  frontend/hub/administration/repositories/hooks/useRepositorySelector.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryToolbarActions.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/collections/hooks/useDeleteCollectionsFromRepository.tsx
Labels: HUB

#1592 HUB galaxykit E2E user per Cypress parallel test run
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/hub-commands.ts
  cypress/support/rest-commands.ts
  frontend/hub/interfaces/expanded/HubUser.ts
Labels: HUB

#1509 [AAH-2904] shaiah test collections tab
  cypress/e2e/hub/namespaces.cy.ts
Labels: E2E, HUB

#1596 Refactor clean up of remote-registry tests
  cypress/e2e/hub/remote-registries.cy.ts
Labels: E2E, HUB

#1460 Collection tabs documentation
  frontend/hub/collections/Collection.tsx
  frontend/hub/collections/CollectionPage/CollectionContents.tsx
  frontend/hub/collections/CollectionPage/CollectionDistributions.tsx
  frontend/hub/collections/CollectionPage/CollectionDocumentation.tsx
  frontend/hub/collections/CollectionPage/documentationComponents/CollectionDocumentationTabContent.tsx
  frontend/hub/collections/CollectionPage/documentationComponents/CollectionDocumentationTabPanel.tsx
  frontend/hub/collections/CollectionPage/documentationComponents/DocumentationParsers.tsx
  frontend/hub/collections/components/CollectionDocumentationTabContent.tsx
  frontend/hub/collections/components/CollectionDocumentationTabPanel.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
  package-lock.json
  package.json
Labels: HUB

#1599 Execution Environment Details Fix
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
Labels: AWX, CCT

#1594 Prevents circular dependencies on workflows
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomEdge.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useCreateEdge.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useCreateNodeComponent.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useHandleCollectNodeProps.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useRemoveGraphElements.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useTargetNodeAncestors.tsx
Labels: AWX

#1601 Remove navigate to remote registry during clean up
  cypress/e2e/hub/remote-registries.cy.ts
Labels: E2E, HUB

#1545 [AAH-3062] Tasks e2e test
  cypress/e2e/hub/tasks.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1587 WF node wizard other prompts step and details
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/interfaces/Project.ts
  frontend/awx/interfaces/SystemJobTemplate.ts
  frontend/awx/interfaces/WorkflowApproval.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeEditWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodePromptsStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/helpers.ts
  frontend/awx/views/schedules/ScheduleForm.tsx
Labels: AWX

#1570 [AAP-8158] Add Credentials > Template List
  frontend/awx/access/credentials/CredentialPage/CredentialJobTemplates.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxCredentialRoutes.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
Labels: AWX

#1555 [Hub > Execution Environment] Fix small EE issues
  framework/PageForm/typesErrorAdapter.ts
  frontend/hub/common/HubPageForm.tsx
  frontend/hub/common/adapters/hubErrorAdapter.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/components/SignStatus.tsx
Labels: HUB, AFW

#1581 Page single select and page mutli select support for grouping options
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSelectOption.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/components/Scrollable.css
  framework/components/Scrollable.tsx
Labels: AFW, Ready for Review

#1613 Make PageFormGrid accept classNames
  framework/PageForm/PageForm.tsx
Labels: AFW

#1616 Tasks test fix
  cypress/e2e/hub/tasks.cy.ts
Labels: E2E, HUB

#1609 AAP 7710 Add Management Jobs List Task (EPIC AAP-15029)
  cypress/fixtures/managementJobs.json
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobSchedules.tsx
  frontend/awx/administration/management-jobs/ManagementJobs.cy.tsx
  frontend/awx/administration/management-jobs/ManagementJobs.tsx
  frontend/awx/administration/management-jobs/hooks/useManagementJobColumns.tsx
  frontend/awx/administration/management-jobs/hooks/useSelectManagementJobs.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
Labels: AWX, CCT

#1618 Updates to PageDetailsFromColumns
  framework/PageDetails/PageDetailsFromColumns.tsx
  framework/PageTable/PageTable.tsx
  frontend/awx/access/roles/AwxRoleDetails.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalDetails.tsx
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.tsx
  frontend/hub/collections/CollectionPage/CollectionDetails.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceDetails.tsx
Labels: AWX, HUB, AFW

#1567 enabling collection user can deprecate a collection test
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
  cypress/support/rest-commands.ts
Labels: E2E, HUB

#1558 [AAP-7841] Instances > Add instance
  cypress/e2e/awx/administration/instances.cy.ts
  cypress/fixtures/instance_with_peer.json
  cypress/fixtures/instances.json
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  framework/PageForm/Inputs/PageFormCheckbox.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  frontend/awx/administration/instances/InstanceForm.cy.tsx
  frontend/awx/administration/instances/InstanceForm.tsx
  frontend/awx/administration/instances/Instances.cy.tsx
  frontend/awx/administration/instances/Instances.tsx
  frontend/awx/administration/instances/components/PageFormPeersSelect.tsx
  frontend/awx/administration/instances/hooks/useInstanceToolbarActions.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/administration/instances/hooks/useSelectPeers.tsx
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/interfaces/Instance.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInstancesRoutes.tsx
Labels: AWX, E2E, CCT, AFW

#1588 [AAH-2518] Execution Environments > tab Detail
  cypress/e2e/hub/execution-environments.cy.ts
  frontend/hub/common/MarkdownEditor.tsx
  frontend/hub/common/utils/getContainersURL.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
  package-lock.json
  package.json
Labels: E2E, HUB

#1606 [AAH-2520] Execution Environments > tab Activity
  frontend/hub/common/utils/truncateSha.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentActivity.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImageDetails.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/components/ImageLabels.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB

#1577 Hub tests - deleteNamespace, createNamespace - use galaxykit, merge
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
  cypress/e2e/hub/my-imports.cy.ts
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1542 Cleanup github action
  .github/workflows/pull-request.yml
Labels: Ready for Review

#1549 Controller Activity Stream
  cypress/e2e/awx/administration/activity-stream.cy.ts
  cypress/fixtures/activity_stream.json
  cypress/fixtures/activity_stream_setting.json
  frontend/awx/access/credential-types/CredentialTypes.tsx
  frontend/awx/access/credentials/Credentials.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/administration/activity-stream/ActivityStream.cy.tsx
  frontend/awx/administration/activity-stream/ActivityStream.tsx
  frontend/awx/administration/activity-stream/components/ActivityDescription.tsx
  frontend/awx/administration/activity-stream/components/ActivityStreamInitiatedByCell.tsx
  frontend/awx/administration/activity-stream/hooks/useActivityStreamActions.tsx
  frontend/awx/administration/activity-stream/hooks/useActivityStreamColumns.tsx
  frontend/awx/administration/activity-stream/hooks/useActivityStreamDialog.tsx
  frontend/awx/administration/activity-stream/hooks/useActivityStreamFilters.tsx
  frontend/awx/administration/activity-stream/hooks/useGetActivityStreamRoute.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/InstanceForm.tsx
  frontend/awx/administration/instances/Instances.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/administration/notifications/Notifications.tsx
  frontend/awx/administration/settings/AwxSettings.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovals.tsx
  frontend/awx/common/ActivityStreamIcon.tsx
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/common/useAwxView.tsx
  frontend/awx/interfaces/ActivityStream.ts
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxActivityStreamRoutes.tsx
  frontend/awx/main/routes/useAwxInstancesRoutes.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/awx/views/schedules/Schedules.tsx
Labels: AWX, E2E, CCT

#1622 fixing approvals flaky tests
  cypress/e2e/hub/approvals.cy.ts
Labels: E2E, HUB

#1598 Repository detail add collection
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSelectFilterBuilder.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryCollectionVersion.tsx
  frontend/hub/administration/repositories/hooks/useAddCollections.tsx
  frontend/hub/administration/repositories/hooks/useRepositorySelector.tsx
Labels: HUB, AFW

#1605 Repair multitext
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  cypress/support/common-commands.ts
  frontend/hub/administration/collection-approvals/hooks/useApprovalFilters.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistryFilters.tsx
  frontend/hub/administration/remotes/hooks/useRemoteFilters.tsx
  frontend/hub/administration/repositories/hooks/useRepositorySelector.tsx
  frontend/hub/administration/signature-keys/SignatureKeys.tsx
  frontend/hub/collections/CollectionPage/CollectionDependencies.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/collections/hooks/useCollectionVersionSelector.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentFilters.tsx
  frontend/hub/execution-environments/hooks/useRegistrySelector.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceFilters.tsx
Labels: E2E, HUB

#1633 AWX Fix Instance E2E Test
  cypress/e2e/awx/administration/instances.cy.ts
Labels: AWX, E2E

#1634 AWX Fix Activity Stream E2E Test
  cypress/e2e/awx/administration/activity-stream.cy.ts
Labels: AWX, E2E

#1635 Activity stream Skip flaky tests
  cypress/e2e/awx/administration/activity-stream.cy.ts
Labels: AWX, E2E

#1615 implemented notifications
  cypress/fixtures/notification_templates.json
  cypress/fixtures/notification_toggle.json
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/notifications/ResourceNotifications.cy.tsx
  frontend/awx/resources/notifications/ResourceNotifications.tsx
  frontend/awx/resources/notifications/hooks/useNotificationActions.tsx
  frontend/awx/resources/notifications/hooks/useNotificationColumns.tsx
  frontend/awx/resources/notifications/hooks/useNotificationFilters.tsx
  frontend/awx/resources/sources/InventorySourceForm.tsx
Labels: AWX, CCT

#1584 Disable request follow redirects
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.tsx
  frontend/awx/resources/inventories/InventoryPage/InventorySources.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesSourcesToolbarActions.tsx
  frontend/awx/resources/inventories/inventoryGroup/InventoryGroupForm.tsx
  frontend/awx/resources/sources/component/PageFormInventoryFileSelect.tsx
  frontend/common/crud/requestCommon.ts
Labels: AWX, E2E, CCT

#1612 UI Settings Support User Date Format Preference
  framework/PageCells/DateTimeCell.tsx
  framework/PageForm/Inputs/PageFormCheckbox.tsx
  framework/PageTable/PageTableColumn.tsx
  framework/Settings.tsx
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypeDetails.cy.tsx
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/awx/administration/activity-stream/hooks/useActivityStreamColumns.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageDetails.cy.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageDetails.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/administration/workflow-approvals/hooks/useWorkflowApprovalsColumns.tsx
  frontend/awx/common/JobColumns.tsx
  frontend/awx/common/UserDateDetail.tsx
  frontend/awx/resources/groups/GroupDetails.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsJobsColumns.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/hooks/useLastUsedColumn.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleDetails.tsx
  frontend/awx/views/schedules/hooks/useSchedulesColumns.tsx
  frontend/common/LastModifiedPageDetail.tsx
  frontend/common/access/TeamDetails.tsx
  frontend/common/access/UserDetails.tsx
  frontend/common/columns.tsx
  frontend/eda/Resources/event-sources/EventSourcePage/EventSourceDetails.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/access/roles/EdaRoleDetails.tsx
  frontend/eda/access/users/hooks/useControllerTokensColumns.tsx
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentDetails.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryColumns.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.tsx
  frontend/hub/access/roles/hooks/useRoleColumns.tsx
  frontend/hub/administration/collection-approvals/hooks/useApprovalsColumns.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/administration/repositories/hooks/useRepositoriesColumns.tsx
  frontend/hub/administration/signature-keys/SignatureKeys.tsx
  frontend/hub/administration/tasks/TaskDetails.tsx
  frontend/hub/administration/tasks/hooks/useTasksColumns.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentActivity.tsx
  frontend/hub/my-imports/components/ImportList.tsx
Labels: AWX, EDA, HUB, CCT, AFW

#1643 Inventory Host Groups Disabled Redirect Fixes
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostJobs.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsActions.tsx
Labels: AWX, CCT

#1607 Test Repositories Sync action
  cypress/e2e/hub/repositories.cy.ts
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
Labels: E2E, HUB

#1632 Tests repository add remove collection
  cypress/e2e/hub/repositories.cy.ts
  frontend/hub/administration/repositories/hooks/useAddCollections.tsx
Labels: E2E, HUB

#1646 PageForm limit width when in single column mode
  framework/PageForm/PageForm.tsx
Labels: AFW

#1647 Revert repo version test
  cypress/e2e/hub/repositories.cy.ts
  frontend/hub/administration/repositories/RepositoryPage/RepositoryVersions.tsx
Labels: E2E, HUB

#1649 HUB skipping flaky test that assumes server state that is not always …
  cypress/e2e/hub/signature-keys.cy.ts
Labels: E2E, HUB

#1637 implemented template notifications
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/notifications/ResourceNotifications.tsx
Labels: AWX

#1642 Hub collection upload test- fix and unskip
  cypress/e2e/hub/collections.cy.ts
Labels: E2E, HUB

#1638 Update to use new PageFormSelectOrganization
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/awx-commands.ts
  framework/PageDialogs/SelectSingleDialog.tsx
  framework/PageInputs/PageSelectOption.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageTable/PageTable.tsx
  framework/PageToolbar/PageToolbar.tsx
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/awx/access/organizations/hooks/useSelectOrganization.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/access/teams/TeamForm.tsx
  frontend/awx/access/users/UserForm.tsx
  frontend/awx/administration/applications/ApplicationForm.cy.tsx
  frontend/awx/administration/applications/ApplicationForm.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ArchiveSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/GitSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/InsightsSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ManualSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ScmTypeOptions.tsx
  frontend/awx/resources/projects/ProjectSubForms/SvnSubForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateInputs.tsx
Labels: AWX, E2E, CCT, AFW

#1550 [AAP-8171] Add related groups list to group details
  cypress/e2e/awx/resources/inventories.cy.ts
  frontend/awx/interfaces/InventoryGroup.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/groups/GroupCreate.tsx
  frontend/awx/resources/groups/GroupDetails.tsx
  frontend/awx/resources/groups/GroupEdit.tsx
  frontend/awx/resources/groups/GroupPage.tsx
  frontend/awx/resources/groups/GroupRelatedGroups.cy.tsx
  frontend/awx/resources/groups/GroupRelatedGroups.tsx
  frontend/awx/resources/groups/hooks/useDisassociateGroups.tsx
  frontend/awx/resources/groups/hooks/useGroupSelectDialog.tsx
  frontend/awx/resources/groups/hooks/useRelatedGroupsColumns.tsx
  frontend/awx/resources/groups/hooks/useRelatedGroupsEmptyStateActions.tsx
  frontend/awx/resources/groups/hooks/useRelatedGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsColumns.tsx
  frontend/awx/resources/inventories/inventoryGroup/InventoryGroupForm.tsx
Labels: AWX, E2E, CCT

#1571 [AAP-20127] Add event streams
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/fixtures/edaDisabledEventStream.json
  cypress/fixtures/edaEnabledEventStream.json
  cypress/fixtures/edaEventStreams.json
  frontend/eda/Resources/event-sources/EventSourceForm.tsx
  frontend/eda/Resources/event-sources/EventSourcePage/EventSourceDetails.tsx
  frontend/eda/Resources/event-sources/EventSourcePage/EventSourcePage.tsx
  frontend/eda/Resources/event-sources/EventSources.tsx
  frontend/eda/Resources/event-sources/components/EdaEventSourceCell.tsx
  frontend/eda/Resources/event-sources/hooks/useDeleteEventSources.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourceActions.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourcesActions.tsx
  frontend/eda/Resources/event-sources/hooks/useEventSourcesColumns.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/access/credentials/EditCredential.tsx
  frontend/eda/access/credentials/components/PageFormCredentialsSelect.tsx
  frontend/eda/access/credentials/hooks/useSelectCredentials.tsx
  frontend/eda/event-streams/EventStreamForm.cy.tsx
  frontend/eda/event-streams/EventStreamForm.tsx
  frontend/eda/event-streams/EventStreamInstancePage/EventStreamInstanceDetails.tsx
  frontend/eda/event-streams/EventStreamInstancePage/EventStreamInstancePage.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamDetails.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamHistory.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamPage.cy.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamPage.tsx
  frontend/eda/event-streams/EventStreams.cy.tsx
  frontend/eda/event-streams/EventStreams.tsx
  frontend/eda/event-streams/components/EdaExtraVarCell.tsx
  frontend/eda/event-streams/hooks/useControlEventStreams.tsx
  frontend/eda/event-streams/hooks/useDeleteEventStreams.tsx
  frontend/eda/event-streams/hooks/useEventStreamActions.tsx
  frontend/eda/event-streams/hooks/useEventStreamColumns.tsx
  frontend/eda/event-streams/hooks/useEventStreamFilters.tsx
  frontend/eda/event-streams/hooks/useEventStreamHistoryActions.tsx
  frontend/eda/event-streams/hooks/useEventStreamHistoryColumns.tsx
  frontend/eda/event-streams/hooks/useEventStreamHistoryFilters.tsx
  frontend/eda/event-streams/hooks/useEventStreamsActions.tsx
  frontend/eda/interfaces/EdaEventSource.ts
  frontend/eda/interfaces/EdaEventStream.ts
  frontend/eda/interfaces/EdaEventStreamInstance.ts
  frontend/eda/interfaces/EdaEventStreamInstanceLog.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA, E2E, CCT

#1651 Add cy.typeBy which will wait for element to be enabled
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
Labels: AWX, E2E, HUB

#1645 Convert useOptions not to useSWR
  frontend/common/crud/useOptions.tsx
Labels: Ready for Review

#1658 Rename SelectSingleDialog to SingleSelectDialog
  framework/PageDialogs/SingleSelectDialog.tsx
  framework/PageDialogs/useSelectDialog.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSelectFilterBuilder.tsx
  frontend/awx/access/credentials/hooks/useSelectCredential.tsx
  frontend/awx/access/organizations/hooks/useSelectOrganization.tsx
  frontend/awx/administration/management-jobs/hooks/useSelectManagementJobs.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventory.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventorySource.tsx
  frontend/awx/resources/projects/hooks/useSelectProject.tsx
  frontend/awx/resources/templates/hooks/useSelectJobTemplate.tsx
  frontend/awx/resources/templates/hooks/useSelectWorkflowJobTemplate.tsx
Labels: AWX, AFW

#1655 AWX_WEBSOCKET_PREFIX
  cypress.base.config.ts
  frontend/awx/common/useAwxWebSocket.tsx
  frontend/common/typings.d.ts
  webpack/environment.cjs
  webpack/environment.d.ts
  webpack/webpack.config.cjs
Labels: AWX

#1660 Use ROUTE_PREFIX
  README.md
  cypress.base.config.ts
  frontend/awx/main/AwxMain.tsx
  frontend/common/typings.d.ts
  frontend/eda/main/EdaMain.tsx
  frontend/hub/main/HubMain.tsx
  webpack/environment.cjs
  webpack/environment.d.ts
  webpack/webpack.awx.cjs
  webpack/webpack.config.cjs
  webpack/webpack.eda.cjs
  webpack/webpack.hub.cjs
Labels: AWX, EDA, HUB

#1656 [AAP-17957] Add Seconds to Project Details Cache Timeout
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
Labels: AWX

#1653 Fix Signature keys tests after updated server settings
  cypress/e2e/hub/signature-keys.cy.ts
  cypress/fixtures/hubSignatureKeys.json
Labels: E2E, HUB

#1580 PageFormWatch enhancments
  framework/PageForm/Utils/PageFormSetError.tsx
  framework/PageForm/Utils/PageFormSetValue.tsx
  framework/PageForm/Utils/PageFormWatch.tsx
  frontend/hub/administration/repositories/RepositoryForm.tsx
  frontend/hub/collections/UploadCollection.tsx
Labels: HUB, AFW, Ready for Review

#1591 Test CRUD Repositories
  cypress/e2e/hub/constants.ts
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#1663 [AAP-20735] Update roles to use EdaView. Add brand icon width
  frontend/eda/access/roles/EdaRoles.tsx
  frontend/eda/main/EdaMasthead.tsx
Labels: EDA

#1669 Fix flaky EE Readme tests
  cypress/e2e/hub/execution-environments.cy.ts
Labels: E2E, HUB

#1662 Update tasks filters and tests
  cypress/e2e/hub/tasks.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
  frontend/hub/administration/tasks/Tasks.cy.tsx
  frontend/hub/administration/tasks/hooks/useTasksFilters.tsx
Labels: E2E, HUB, CCT

#1630 AAP-8257 EE Add Edit Form
  cypress/fixtures/credentialTypes.json
  cypress/fixtures/credentials.json
  cypress/fixtures/execution_environment.json
  framework/PageInputs/PageAsyncSingleSelect.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.cy.tsx
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/access/credentials/hooks/useCredentialsColumns.tsx
  frontend/awx/access/credentials/utils/getCredentialByName.tsx
  frontend/awx/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.cy.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvRowActions.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/awx/interfaces/ExecutionEnvironment.ts
  frontend/awx/main/routes/useAwxExecutionEnironmentRoutes.tsx
  frontend/awx/resources/projects/hooks/useGetCredentialTypeIDs.tsx
Labels: AWX, CCT, AFW

#1670 Cypress core commands
  cypress/e2e/awx/access/teams.cy.ts
  cypress/support/commands.ts
  cypress/support/common-commands.ts
  cypress/support/core-commands.ts
Labels: AWX, E2E

#1659 Display inventory sources in inventory source select dialog
  cypress/e2e/awx/resources/inventorySource.cy.ts
  frontend/awx/resources/inventories/components/PageFormInventorySourceSelect.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventorySource.tsx
Labels: AWX, E2E

#1673 cy.requestPoll and cy.waitOnHubTask
  cypress/support/commands.ts
  cypress/support/hub-commands.ts
  cypress/support/rest-commands.ts
  frontend/hub/administration/tasks/Task.tsx
Labels: HUB

#1676 Skip approvals tests
  cypress/e2e/hub/approvals.cy.ts
Labels: E2E, HUB

#1603 [AAH-2898] Add sign test collection
  cypress/e2e/hub/collections.cy.ts
  cypress/e2e/hub/constants.ts
  frontend/hub/collections/hooks/useCollectionColumns.tsx
Labels: E2E, HUB

#1620 fixed inventory source bug
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/fixtures/credential.json
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/access/credentials/hooks/useSelectCredential.tsx
  frontend/awx/interfaces/Credential.ts
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/resources/sources/InventorySourceForm.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
  frontend/awx/resources/sources/component/PageFormInventoryFileSelect.tsx
Labels: AWX, E2E

#1626 Instances > Edit instance
  cypress/e2e/awx/administration/instances.cy.ts
  cypress/fixtures/instance_control.json
  cypress/fixtures/instance_hybrid.json
  frontend/awx/administration/instances/InstanceDetails.cy.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/InstanceForm.cy.tsx
  frontend/awx/administration/instances/InstanceForm.tsx
  frontend/awx/administration/instances/hooks/useInstanceRowActions.tsx
  frontend/awx/main/routes/useAwxInstancesRoutes.tsx
Labels: AWX, E2E, CCT

#1631 [AAP-19956] Add inventory groups delete dialog
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  frontend/awx/resources/groups/hooks/useDeleteGroups.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.cy.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
Labels: AWX, E2E, CCT

#1604 [AAP-8170] Add host list to inventory groups
  cypress/fixtures/host_options.json
  cypress/fixtures/hosts.json
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/groups/GroupHosts.cy.tsx
  frontend/awx/resources/groups/GroupHosts.tsx
  frontend/awx/resources/hosts/hooks/useDisassociateHosts.tsx
  frontend/awx/resources/hosts/hooks/useHostSelectDialog.tsx
  frontend/awx/resources/hosts/hooks/useHostsEmptyStateActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsHostsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsHostsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsColumns.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.tsx
Labels: AWX, CCT

#1665 Wait for remote to be created
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
Labels: E2E, HUB

#1678 Hub E2E Filter registry table before row click
  cypress/e2e/hub/remote-registries.cy.ts
Labels: E2E, HUB

#1681 Cypress E2E Fix Job Delete Tests
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.ts
Labels: AWX, E2E

#1654 [AAP-17959] Fix Double Header
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageTokens.cy.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageTokens.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/main/routes/useAwxProjectRoutes.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
Labels: AWX, CCT

#1589 [AAP-8159] Add Execution Environment > Templates List
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentTemplates.tsx
  frontend/awx/main/routes/useAwxExecutionEnironmentRoutes.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
Labels: AWX

#1677 Eda E2E Role Tests
  cypress/e2e/eda/Roles/admin.cy.ts
  cypress/e2e/eda/Roles/auditor.cy.ts
  cypress/e2e/eda/Roles/contributor.cy.ts
  cypress/e2e/eda/Roles/eda-role-details.cy.ts
  cypress/e2e/eda/Roles/eda-roles-list.cy.ts
  cypress/e2e/eda/Roles/editor.cy.ts
  cypress/e2e/eda/Roles/operator.cy.ts
  cypress/e2e/eda/Roles/roles-list.cy.ts
  cypress/e2e/eda/Roles/viewer.cy.ts
  cypress/support/commands.d.ts
  cypress/support/eda-commands.ts
  frontend/eda/access/roles/components/EdaRolePermissions.tsx
Labels: EDA, E2E

#1686 AWX E2E Fix Job Delete Test - Bump Timeout to 60s
  cypress/e2e/awx/views/jobs.cy.ts
Labels: AWX, E2E

#1619 Fixes redirection issue for deletion of custom credential type from the details page
  cypress/e2e/awx/administration/credentials-types.cy.ts
  cypress/support/awx-commands.ts
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/access/credential-types/CredentialTypes.tsx
  frontend/awx/access/credential-types/hooks/useCredentialTypeActions.tsx
Labels: AWX, E2E

#1648 [AAH-2522] Execution Environments > tab Images
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImages.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useImagesColumns.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useImagesFilters.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useImagesToolbarActions.tsx
Labels: HUB

#1687 AWX E2E Fix Inventory Source Tests
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#1565 Hub roles UI: optional chaining for is_superuser
  frontend/hub/access/roles/hooks/useRoleActions.tsx
Labels: HUB

#1696 Mark bugs in tests that needs to wait for action before navigating.
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  cypress/e2e/hub/tasks.cy.ts
Labels: E2E, HUB

#1700 Update test to redirect
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  cypress/support/commands.d.ts
Labels: E2E, HUB

#1690 Fix Approvals tests
  cypress/e2e/hub/approvals.cy.ts
Labels: E2E, HUB

#1702 Delete toolbar action delete collection from repository
  frontend/hub/collections/hooks/useCollectionsActions.tsx
Labels: HUB

#1666 Approvals only one modal
  cypress/e2e/hub/approvals.cy.ts
  frontend/hub/administration/collection-approvals/hooks/useApprovalActions.tsx
  frontend/hub/administration/collection-approvals/hooks/useApprovalsActions.tsx
  frontend/hub/administration/collection-approvals/hooks/useApproveCollections.tsx
  frontend/hub/collections/hooks/useCopyToRepository.tsx
Labels: E2E, HUB

#1704 Allow ColumnModalOption.hidden to take effect in selection dialogs
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SingleSelectDialog.tsx
Labels: AFW

#1657 [AAH-2521] Execution Environments > tab Images > Image layers
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImageDetails.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImagePage.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: HUB

#1624 [AAH-2896] Test collections delete actions
  cypress/e2e/hub/collections.cy.ts
  cypress/support/awx-commands.ts
Labels: E2E, HUB

#1694 PageTabs styling fix
  framework/PageTabs/PageRoutedTabs.tsx
  framework/PageTabs/PageTabs.css
  framework/PageTabs/PageTabs.tsx
Labels: AFW, Ready for Review

#1685 Use per request AbortController with cleanup
  frontend/common/crud/useDeleteRequest.tsx
  frontend/common/crud/useGet.tsx
  frontend/common/crud/useOptions.tsx
  frontend/common/crud/usePatchRequest.tsx
  frontend/common/crud/usePostRequest.tsx
  frontend/common/crud/usePutRequest.tsx
Labels: Ready for Review

#1712 Fix show signature
  frontend/hub/collections/CollectionPage/CollectionInstall.tsx
Labels: HUB

#1683 [AAH-2512] Execution Environments > action Push container image
  cypress/e2e/hub/execution-environments.cy.ts
  frontend/hub/common/constants.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
Labels: E2E, HUB

#1706 implemented edit inventory source
  cypress/e2e/awx/resources/inventorySource.cy.ts
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceActions.tsx
  frontend/awx/resources/sources/InventorySourceForm.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
  frontend/awx/resources/sources/component/PageFormInventoryFileSelect.tsx
Labels: AWX, E2E

#1709 Tasks test- wait for action before navigating
  cypress/e2e/hub/tasks.cy.ts
Labels: E2E, HUB

#1664 Hub -> Add test to upload a new version of a collection
  cypress/e2e/hub/collections.cy.ts
  cypress/support/common-commands.ts
Labels: E2E, HUB

#1708 Ability to control the order in which columns get displayed in PageDetailsFromColumns
  framework/PageDetails/PageDetailsFromColumns.tsx
  framework/PageTable/PageTableColumn.tsx
  frontend/common/columns.tsx
Labels: AFW

#1640 Remove defaultSort prop from MultiSelectDialog
  framework/PageDialogs/MultiSelectDialog.tsx
  frontend/hub/collections/hooks/useSelectCollections.tsx
Labels: HUB, AFW

#1701 Hub -> Test add and delete execution environment
  cypress/e2e/hub/collections.cy.ts
  cypress/e2e/hub/execution-environments.cy.ts
Labels: E2E, HUB

#1684 Fix isRequired behavior for PageFormCreatableSelect
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormCreatableSelect.tsx
Labels: AFW

#1721 Cypress update the singleSelect and MultiSelect command to support as…
  cypress/support/commands.d.ts
  cypress/support/core-commands.ts
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
Labels: AFW

#1723 PageFormDataEditor Enhancements
  cypress/e2e/hub/remotes.cy.ts
  cypress/fixtures/extra_vars.yaml
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  framework/PageForm/Inputs/DataEditor.tsx
  framework/PageForm/Inputs/PageFormDataEditor.cy.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  framework/PageForm/Inputs/PageFormGroup.tsx
  framework/PageForm/Inputs/PageFormMarkdown.tsx
  framework/PageForm/Inputs/PageFormMarkdownEditor.cy.tsx
  framework/PageForm/Inputs/validation-hooks.tsx
  framework/PageFramework.css
  framework/PageMasonry.tsx
  framework/PageTable/useTableItems.tsx
  framework/components/DataEditor.css
  framework/components/DataEditor.tsx
  framework/components/DropZone.tsx
  framework/components/Help.tsx
  framework/components/IconButton.tsx
  framework/components/icons/ExpandIcon.tsx
  framework/utils/codeEditorUtils.ts
  framework/utils/download-file.ts
  frontend/awx/access/credential-types/CredentialTypeForm.cy.tsx
  frontend/awx/access/credential-types/CredentialTypeForm.tsx
  frontend/awx/administration/settings/AwxSettings.tsx
  frontend/awx/administration/settings/AwxSettingsActionsForm.tsx
  frontend/awx/administration/settings/AwxSettingsCategory.tsx
  frontend/awx/administration/settings/useAwxSettingsGroups.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/useAwxNavigation.tsx
  frontend/awx/resources/groups/GroupCreate.tsx
  frontend/awx/resources/groups/GroupEdit.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/inventoryGroup/InventoryGroupForm.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplatePage/steps/OtherPromptsStep.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateInputs.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/eda/event-streams/EventStreamForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/hub/administration/remotes/RemoteForm.tsx
  webpack/webpack.config.cjs
Labels: AWX, EDA, E2E, HUB, CCT, AFW

#1724 Fix failing Execution Environment docs test
  cypress/e2e/hub/execution-environments.cy.ts
Labels: E2E, HUB

#1731 Recreates parse vars field
  framework/utils/codeEditorUtils.ts
Labels: AFW

#1728 Adds tests for workflow vis
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#1672 Hub E2E Convert Execution Environment Tests to use cypress request
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
  framework/PageFramework.css
  framework/utils/random-string.ts
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.cy.tsx
  frontend/hub/execution-environments/ExecutionEnvironment.ts
Labels: AWX, E2E, HUB, CCT, AFW

#1711 [AAH-2897] Delete version- collections test
  cypress/e2e/hub/collections.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1736 Fix scrolling of details pages by making PageDetails scroll by default
  framework/PageDetails/PageDetails.tsx
  framework/PageTable/PageTable.tsx
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/settings/AwxSettings.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.cy.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/SystemJobNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowApprovalNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetDetailComponent.tsx
  frontend/common/access/TeamDetails.tsx
  frontend/common/access/UserDetails.tsx
  frontend/eda/access/roles/EdaRoleDetails.tsx
  frontend/eda/event-streams/EventStreamInstancePage/EventStreamInstanceDetails.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamDetails.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/rule-audit/EventPayloadDialog.tsx
  frontend/eda/rule-audit/RuleAuditPage/RuleAuditDetails.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/hub/access/roles/RolePage/RoleDetails.tsx
  frontend/hub/collections/CollectionPage/CollectionInstall.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentActivity.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
Labels: AWX, EDA, HUB, CCT, AFW

#1740 implemented notifications for organizations
  frontend/awx/main/routes/useAwxOrganizationsRoutes.tsx
  frontend/awx/resources/notifications/ResourceNotifications.tsx
  frontend/awx/resources/notifications/hooks/useNotificationActions.tsx
Labels: AWX

#1729 [AAH-2524] Execution Environments > tab Images > action Delete
  frontend/hub/common/utils/isManifestList.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImages.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useDeleteImages.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useImagesColumns.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useImagesToolbarActions.tsx
Labels: HUB

#1739 [AAH-3105] Verify delete collection tests
  cypress/e2e/hub/collections.cy.ts
Labels: E2E, HUB

#1741 Hide empty fields in PageDetailsFromColumns
  framework/PageDetails/PageDetailsFromColumns.tsx
Labels: AFW

#1742 Cypress HUB API commands
  cypress/e2e/hub/api.cy.ts
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  cypress/e2e/hub/tasks.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
  cypress/support/utils.ts
  frontend/hub/administration/remotes/RemoteDetails.tsx
  frontend/hub/administration/remotes/RemoteForm.tsx
  frontend/hub/administration/remotes/Remotes.tsx
  frontend/hub/administration/remotes/hooks/useDeleteRemotes.tsx
  frontend/hub/administration/remotes/hooks/useRemoteActions.tsx
  frontend/hub/administration/remotes/hooks/useRemoteColumns.tsx
  frontend/hub/administration/remotes/hooks/useRemoteToolbarActions.tsx
  frontend/hub/administration/repositories/RepositoryForm.tsx
  frontend/hub/administration/repositories/hooks/useRemoteSelector.tsx
  frontend/hub/administration/tasks/Task.tsx
Labels: E2E, HUB

#1744 PageFormDataEditor isArray fix
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  framework/components/DataEditor.tsx
Labels: AFW

#1689 [AAP-20723] Restart policy cannot be null
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#1746 [AAP-20714] Update extra vars error handling in the rulebook activation form
  frontend/eda/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamDetails.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/rule-audit/EventPayloadDialog.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstanceDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA

#1747 HUB Approvals E2E
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/support/commands.d.ts
  cypress/support/common-commands.ts
  cypress/support/core-commands.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1754 Dedupe old workflow nodes after fetching new nodes
  frontend/awx/resources/templates/WorkflowVisualizer/Topology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/index.ts
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useDedupeOldNodes.tsx
Labels: AWX

#1714 Add repo sync test
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#1753 DataEditor add aria-disabled until editor is ready.
  cypress/e2e/awx/administration/credentials-types.cy.ts
  framework/PageActions/PageActionDropdown.tsx
  framework/components/DataEditor.tsx
Labels: AWX, E2E, AFW
