Repository ansible/ansible-ui, pull requests merged in 2024-03, with the labels that each got.

#1760 HUB Collections E2E Tests
  cypress/e2e/awx/administration/instances.cy.ts
  cypress/e2e/hub/collections.cy.ts
  cypress/e2e/hub/repositories.cy.ts
  cypress/support/common-commands.ts
  cypress/support/hub-commands.ts
Labels: AWX, E2E, HUB

#1761 [AAP-20541] Remove extra header from the Role details page. Update scrolling.
  frontend/eda/access/roles/EdaRoleDetails.tsx
Labels: EDA

#1719 [AAH-2525] Execution Environments > tab Images > action Manage tags
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImages.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/components/ImageLabels.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentManageTags.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useImagesToolbarActions.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentTag.tsx
Labels: HUB

#1738 Add Webhook pages
  cypress/fixtures/edaWebhooks.json
  frontend/eda/Resources/event-sources/EventSourcePage/EventSourceDetails.tsx
  frontend/eda/interfaces/EdaWebhook.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/webhooks/EditWebhook.tsx
  frontend/eda/webhooks/WebhookPage/WebhookDetails.tsx
  frontend/eda/webhooks/WebhookPage/WebhookPage.tsx
  frontend/eda/webhooks/Webhooks.cy.tsx
  frontend/eda/webhooks/Webhooks.tsx
  frontend/eda/webhooks/components/EdaWebhookCell.tsx
  frontend/eda/webhooks/components/PageFormWebhooksSelect.tsx
  frontend/eda/webhooks/hooks/useDeleteWebhooks.tsx
  frontend/eda/webhooks/hooks/useSelectWebhooks.tsx
  frontend/eda/webhooks/hooks/useWebhookActions.tsx
  frontend/eda/webhooks/hooks/useWebhookColumns.tsx
  frontend/eda/webhooks/hooks/useWebhookFilters.tsx
  frontend/eda/webhooks/hooks/useWebhooksActions.tsx
  nginx/eda.conf
  package.json
  webpack/environment.cjs
Labels: EDA, CCT

#1764 Cypress command cleanup
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/e2e/hub/tasks.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/common-commands.ts
  cypress/support/core-commands.ts
  cypress/support/e2e.ts
  cypress/support/hub-commands.ts
  cypress/support/input-commands.ts
  cypress/support/table-commands.ts
  framework/PageDialogs/BulkConfirmationDialog.tsx
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SingleSelectDialog.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  frontend/awx/access/common/DeleteRoleConfirmation.tsx
  frontend/awx/access/teams/hooks/useTeamsColumns.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.cy.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
Labels: AWX, EDA, E2E, HUB, CCT, AFW

#1769 implemented template jobs list
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateJobs.tsx
Labels: AWX

#1767 Async SingleSelect and MultiSelect support only showing unique options
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
Labels: AFW

#1600 Launch a workflow job and navigate to output
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/hooks/useLaunchTemplate.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.tsx
Labels: AWX, E2E

#1762 HUB => Final Collections tests
  cypress/e2e/hub/approvals.cy.ts
  cypress/e2e/hub/collections.cy.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1749 HUB E2E API Cleanup Old E2E Resources
  cypress/e2e/hub/api.cy.ts
  cypress/support/commands.d.ts
  cypress/support/e2e.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#1735 AWX Hide empty job and template expanded row columns
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/common/columns.tsx
Labels: AWX, Ready for Review

#1775 Fix double header
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
Labels: AWX

#1770 change defaultSort check and add back filter limit
  frontend/awx/views/jobs/JobsList.tsx
  frontend/common/columns.tsx
Labels: AWX

#1710 [AAH-2899] Shaiah test sign and approve version
  .gitignore
  cypress/e2e/hub/collections.cy.ts
Labels: E2E, HUB

#1777 PageFormTextInput DateTime Local support
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/components/Help.tsx
  frontend/awx/administration/settings/AwxSettingsActionsForm.tsx
Labels: AWX, AFW

#1781 Awx E2E cleanup approvals
  cypress/e2e/awx/cleanup/awx-cleanup.cy.ts
Labels: AWX, E2E

#1782 Implemented cancel workflow approval in row
  frontend/awx/administration/workflow-approvals/hooks/useWorkflowApprovalsRowActions.tsx
Labels: AWX

#1748 [AAH-3120] [AAH-2936] Execution Environments > test tab Activity and test Sync from registry
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
Labels: E2E, HUB

#1733 [AAH-3101] adjust edit ns form to accept resources markdown field
  framework/PageForm/Inputs/PageFormMarkdown.tsx
  framework/PageForm/Inputs/PageMarkdownDetail.tsx
  framework/components/DropZone.tsx
  frontend/hub/namespaces/HubNamespace.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceDetails.tsx
  package-lock.json
  package.json
Labels: HUB, AFW

#1771 Dev process for EDA RBAC UIs
  frontend/eda/docs/rbac-development.md
Labels: EDA

#1784 Collection approve/reject - fix most bulk actions failing
  .prettierignore
  frontend/hub/administration/collection-approvals/hooks/useApproveCollections.tsx
  frontend/hub/administration/collection-approvals/hooks/useRejectCollections.tsx
  frontend/hub/collections/hooks/useCopyToRepository.tsx
Labels: HUB

#1756 [AAH-3103] Add useful links
  cypress/e2e/hub/namespaces.cy.ts
  docs/i18n.md
  framework/PageDetails/PageDetailKeyValueList.tsx
  frontend/hub/namespaces/HubNamespace.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceDetails.tsx
  frontend/hub/namespaces/UsefulLinksFields.tsx
Labels: E2E, HUB, AFW

#1790 Copy Collection to repositories fix
  frontend/hub/administration/collection-approvals/hooks/useApprovalActions.tsx
  frontend/hub/administration/collection-approvals/hooks/useApprovalsActions.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCopyToRepository.tsx
Labels: HUB

#1776 E2E Cleanup old resources in test setup
  cypress/e2e/hub/api.cy.ts
  cypress/support/e2e.ts
Labels: E2E, HUB

#1786 [AAP-14314] Shaiah circle icons
  frontend/awx/access/common/ResourceAccessList.tsx
  frontend/awx/access/credentials/hooks/useCredentialToolbarActions.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/TeamPage/TeamRoles.tsx
  frontend/awx/access/teams/hooks/useTeamToolbarActions.tsx
  frontend/awx/access/users/UserPage/UserOrganizations.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/access/users/Users.tsx
  frontend/hub/administration/remote-registries/RemoteRegistries.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistriesToolbarActions.tsx
  frontend/hub/administration/remotes/Remotes.tsx
  frontend/hub/administration/remotes/hooks/useRemoteToolbarActions.tsx
  frontend/hub/administration/repositories/Repositories.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryToolbarActions.tsx
  frontend/hub/collections/Collections.tsx
  frontend/hub/execution-environments/ExecutionEnvironments.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/namespaces/HubNamespaces.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceToolbarActions.tsx
Labels: AWX, HUB

#1778 Workflow Job Ouput
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  cypress/fixtures/workflow_job.json
  cypress/fixtures/workflow_nodes.json
  framework/utils/dateTimeHelpers.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/access/credentials/hooks/useCredentialsColumns.tsx
  frontend/awx/common/PageFormLabelSelect.tsx
  frontend/awx/common/useAwxGetAllPages.tsx
  frontend/awx/interfaces/WorkflowJob.ts
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowTopology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomLabel.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useStatusDecorator.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/WorkflowOutput.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.cy.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputGraph.tsx
  frontend/awx/views/jobs/WorkflowOutput/hooks/useWorkflowOutput.tsx
Labels: AWX, E2E, CCT, AFW

#1793 Fix bulk delete collections form the system
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/collections/hooks/useDeleteCollections.tsx
Labels: HUB

#1791 Fix overlapping dropdowns menus over modals
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
Labels: HUB, AFW

#1766 Add validate support to Wizard steps
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/types.ts
Labels: AFW

#1794 AWX E2E Organization Tests Update
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E, Ready for Review

#1796 AwxView updateItem support
  frontend/awx/common/useAwxView.tsx
Labels: AWX

#1780 AWX limitFiltersToOneOrOperation
  frontend/awx/common/useAwxView.tsx
Labels: AWX, Ready for Review

#1795 [AAP-14314] replace all PlusIcons with PlusCircleIcons
  frontend/awx/access/users/UserPage/UserTeams.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvToolbarActions.tsx
  frontend/awx/administration/instances/hooks/useInstanceToolbarActions.tsx
  frontend/awx/resources/groups/hooks/useRelatedGroupsToolbarActions.tsx
  frontend/awx/resources/hosts/hooks/useHostsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsHostsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesSourcesToolbarActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsToolbarActions.tsx
  frontend/awx/resources/projects/hooks/useProjectToolbarActions.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/hooks/useSchedulesToolbarActions.tsx
  frontend/eda/access/credentials/hooks/useCredentialsActions.tsx
  frontend/eda/access/users/hooks/useControllerTokensActions.tsx
  frontend/eda/access/users/hooks/useUsersActions.tsx
  frontend/eda/decision-environments/hooks/useDecisionEnvironmentsActions.tsx
  frontend/eda/event-streams/hooks/useEventStreamHistoryActions.tsx
  frontend/eda/event-streams/hooks/useEventStreamsActions.tsx
  frontend/eda/projects/hooks/useProjectsActions.tsx
  frontend/eda/rulebook-activations/hooks/useActivationHistoryActions.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
  frontend/eda/webhooks/hooks/useWebhooksActions.tsx
Labels: AWX, EDA

#1758 HUB Repositories E2E Tests
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/hub/repositories.cy.ts
  cypress/support/commands.d.ts
  cypress/support/hub-commands.ts
  cypress/support/table-commands.ts
  framework/PageDialogs/BulkConfirmationDialog.tsx
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageDialogs/SingleSelectDialog.tsx
  framework/utils/random-string.ts
  frontend/awx/access/common/DeleteRoleConfirmation.tsx
  frontend/hub/administration/repositories/RepositoryForm.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryDetails.tsx
  frontend/hub/administration/repositories/hooks/useRepositoriesColumns.tsx
  frontend/hub/interfaces/expanded/HubDistribution.ts
Labels: AWX, E2E, HUB, AFW, Ready for Review

#1797 PageMultiSelectList component
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageTable/PageMultiSelectList.tsx
  frontend/hub/collections/hooks/useSelectCollections.cy.tsx
Labels: HUB, CCT, AFW

#1804 Update items returned by AwxView
  frontend/awx/common/useAwxView.tsx
Labels: AWX

#1688 [AAP-8116] Hosts List
  framework/PageNavigation/useGetPageUrl.tsx
  framework/PageNavigation/usePageNavigate.tsx
  frontend/awx/interfaces/AwxHost.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/resources/hosts/Hosts.cy.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/hosts/hooks/useGetHost.tsx
  frontend/awx/resources/hosts/hooks/useHostsActions.tsx
  frontend/awx/resources/hosts/hooks/useHostsColumns.tsx
  frontend/awx/resources/hosts/hooks/useHostsToolbarActions.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostPage.tsx
  frontend/common/columns.tsx
Labels: AWX, CCT, AFW

#1808 PageTable support defaultExpandedRows
  framework/PageTable/PageTable.tsx
Labels: AFW

#1809 Skip collection test
  cypress/e2e/hub/collections.cy.ts
Labels: E2E, HUB

#1802 HUB Cypress Parallelization
  .github/workflows/hub-e2e.yml
Labels: Ready for Review

#1806 Add updateItem to Hub and Eda views
  frontend/eda/common/useEventDrivenView.tsx
  frontend/hub/common/useHubView.tsx
Labels: EDA, HUB

#1798 Adds schedule form wizard step names, and does some refactoring
  frontend/awx/interfaces/ScheduleFormFields.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/main/routes/useAwxProjectRoutes.tsx
  frontend/awx/main/routes/useAwxSchedulesRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/views/schedules/ScheduleForm.tsx
  frontend/awx/views/schedules/components/ScheduleInputs.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/awx/views/schedules/hooks/useGetTimezones.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  package-lock.json
Labels: AWX

#1812 Consolidate Async Select Options for Single Select and Multi Select
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.cy.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.cy.tsx
  framework/PageInputs/PageAsyncMultiSelect.cy.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSelectOptions.tsx
  framework/PageInputs/PageAsyncSingleSelect.cy.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/hub/administration/repositories/hooks/useRepoQueryOptions.tsx
Labels: AWX, HUB, CCT, AFW

#1811 `Management Jobs List` page test
  cypress/e2e/awx/administration/management-jobs.cy.ts
Labels: AWX, E2E

#1800 [AAP-9121] Icon actions unification for hub
  cypress/e2e/hub/approvals.cy.ts
  frontend/hub/administration/collection-approvals/hooks/useApprovalActions.tsx
  frontend/hub/administration/tasks/Tasks.cy.tsx
  frontend/hub/administration/tasks/hooks/useTasksRowActions.tsx
  frontend/hub/administration/tasks/hooks/useTasksToolbarActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceActions.tsx
Labels: E2E, HUB, CCT

#1814 Instances > details > tab Listener Addresses
  cypress/e2e/awx/administration/instances.cy.ts
  frontend/awx/administration/instances/InstanceListenerAddresses.tsx
  frontend/awx/administration/instances/InstancePeers.tsx
  frontend/awx/administration/instances/Instances.cy.tsx
  frontend/awx/administration/instances/InstancesPage.tsx
  frontend/awx/administration/instances/hooks/useDisassociatePeer.tsx
  frontend/awx/administration/instances/hooks/usePeersColumns.tsx
  frontend/awx/administration/instances/hooks/useSelectAssociatePeers.tsx
  frontend/awx/interfaces/Instance.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInstancesRoutes.tsx
Labels: AWX, E2E, CCT

#1801 Fix workflow visualizer edge bugs
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  cypress/support/awx-commands.ts
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/AddNodeButton.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeContextMenu.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useCreateNodeComponent.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useRemoveGraphElements.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useRemoveNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeEditWizard.tsx
Labels: AWX, E2E, CCT

#1816 implemented relaunch/cancel btn for wf job header
  cypress/fixtures/running_job.json
  frontend/awx/views/jobs/JobHeader.cy.tsx
  frontend/awx/views/jobs/JobHeader.tsx
  frontend/awx/views/jobs/JobPage.tsx
  frontend/awx/views/jobs/hooks/useJobHeaderActions.tsx
  frontend/awx/views/jobs/hooks/useJobRowActions.tsx
Labels: AWX, CCT

#1818 completing test automation for Instances
  cypress/e2e/awx/administration/instances.cy.ts
  frontend/awx/administration/instances/InstancesPage.cy.tsx
Labels: AWX, E2E, CCT

#1788 Page Settings + AWX Settings
  cypress/e2e/awx/administration/settings.cy.ts
  cypress/support/component.tsx
  framework/PageCells/DateTimeCell.tsx
  framework/PageDashboard/usePageChartColors.tsx
  framework/PageDetails/PageDetails.tsx
  framework/PageForm/GenericForm.tsx
  framework/PageForm/Inputs/FormGroupTypeAheadMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.tsx
  framework/PageForm/Inputs/PageFormCreatableSelect.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  framework/PageForm/Inputs/PageFormMarkdown.tsx
  framework/PageForm/Inputs/PageFormMultiSelect.tsx
  framework/PageForm/Inputs/PageFormSelect.tsx
  framework/PageForm/Inputs/PageFormSingleSelect.tsx
  framework/PageForm/Inputs/PageFormSwitch.tsx
  framework/PageForm/Inputs/PageFormTextArea.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/PageForm/PageForm.tsx
  framework/PageForm/Utils/PageFormSection.tsx
  framework/PageFramework.tsx
  framework/PageHeader.tsx
  framework/PageMasthead/PageSettingsIcon.tsx
  framework/PageMasthead/PageThemeSwitcher.tsx
  framework/PageNavigation/PageApp.tsx
  framework/PageSettings/PageSettings.tsx
  framework/PageSettings/PageSettingsProvider.tsx
  framework/PageTable/PageTable.tsx
  framework/Settings.tsx
  framework/components/DataEditor.tsx
  framework/components/Help.tsx
  framework/components/icons/ExpandIcon.tsx
  framework/index.ts
  frontend/awx/administration/settings/AwxSettings.tsx
  frontend/awx/administration/settings/AwxSettingsActionsForm.tsx
  frontend/awx/administration/settings/AwxSettingsCategory.tsx
  frontend/awx/administration/settings/useAwxSettingsGroups.tsx
  frontend/awx/main/AwxMain.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/useAwxNavigation.tsx
  frontend/common/components/RefreshInterval.tsx
  frontend/eda/common/PageDetailsSection.tsx
  frontend/eda/main/EdaMain.tsx
  frontend/eda/main/EdaMasthead.tsx
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/hub/collections/CollectionPage/documentationComponents/CollectionDocumentationTabContent.tsx
  frontend/hub/main/HubMain.tsx
  frontend/hub/main/HubMasthead.tsx
  frontend/hub/main/HubRoutes.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: AWX, EDA, E2E, HUB, AFW, Ready for Review

#1757 Advanced search filtering
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/fixtures/mock_options.json
  cypress/support/input-commands.ts
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageTable/useTableItems.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarDateRangeFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarSingleSelectFilter.tsx
  frontend/awx/common/useAwxView.tsx
  frontend/awx/common/useDynamicFilters.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/awx/views/jobs/JobsList.tsx
  frontend/awx/views/jobs/hooks/useJobFilters.cy.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
  frontend/common/columns.tsx
Labels: AWX, E2E, CCT, AFW

#1813 AWX hosts add edit form
  frontend/awx/main/routes/useAwxHostRoutes.tsx
  frontend/awx/resources/hosts/hooks/useHostsActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useInventorySelector.tsx
  frontend/common/crud/Data.tsx
Labels: AWX

#1789 Fix schedule routing issue
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/components/ScheduleInputs.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
Labels: AWX, E2E

#1820 Host details
  frontend/awx/main/routes/useAwxHostRoutes.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.tsx
Labels: AWX

#1772 inventory host create and delete test
  cypress/e2e/awx/resources/inventoriesHosts.cy.ts
Labels: AWX, E2E

#1792 [AAP-21459] Add edit button to workflow output toolbar
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/views/jobs/JobOutput/JobStatusBar.tsx
Labels: AWX

#1829 PageAction Consolidate Button and Link Logic
  framework/PageActions/PageAction.tsx
  framework/PageActions/PageActionButton.tsx
  framework/PageActions/PageActionLink.tsx
  framework/PageActions/PageActionsPinned.tsx
Labels: AFW

#1827 Create, Edit and Delete host
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/e2e/awx/resources/inventoriesHosts.cy.ts
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.tsx
Labels: AWX, E2E

#1826 [AAP-9121] unify in-line actions
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsRowActions.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
Labels: AWX

#1833 Ensure workflow save functionality does not cancel client-side API requests
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowTopology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
Labels: AWX

#1831 [AAP-8160] Host Groups List
  frontend/awx/main/routes/useAwxHostRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroupsModal.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroupsModal.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useAssociateGroupsToHost.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useDisassociateGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsToolbarActions.tsx
Labels: AWX, CCT

#1838 Update facts component to also render on host page
  frontend/awx/main/routes/useAwxHostRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostFacts.tsx
Labels: AWX

#1832 Schedule form Prompt on Launch Step
  frontend/awx/views/schedules/components/PromptInputs.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
Labels: AWX

#1840 implemented all label for nodes
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputNode.tsx
Labels: AWX

#1836 Add error handling into delete groups
  frontend/awx/resources/groups/hooks/useDeleteGroups.tsx
Labels: AWX

#1828 Adds Schedules Occurrences Step
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/main/routes/useAwxProjectRoutes.tsx
  frontend/awx/main/routes/useAwxSchedulesRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/views/schedules/RuleForm.tsx
  frontend/awx/views/schedules/components/OccurrencesForm.tsx
  frontend/awx/views/schedules/components/OccurrencesList.tsx
  frontend/awx/views/schedules/components/ScheduleInputs.tsx
  frontend/awx/views/schedules/hooks/ruleHelpers.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/OccurrencesStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/constants.ts
Labels: AWX

#1846 [AAP-21467] Remove search from workflow job output toolbar
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
Labels: AWX

#1819 Instances List Updates
  cypress/e2e/awx/administration/instances.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  framework/components/Unavailable.tsx
  frontend/awx/administration/instances/InstanceDetails.cy.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/Instances.cy.tsx
  frontend/awx/administration/instances/InstancesPage.cy.tsx
  frontend/awx/administration/instances/InstancesPage.tsx
  frontend/awx/administration/instances/components/InstanceForksSlider.tsx
  frontend/awx/administration/instances/hooks/useInstanceActions.tsx
  frontend/awx/administration/instances/hooks/useInstanceRowActions.tsx
  frontend/awx/administration/instances/hooks/useInstanceToolbarActions.tsx
  frontend/awx/administration/instances/hooks/useInstancesColumns.tsx
  frontend/awx/administration/instances/hooks/useRunHealthCheck.tsx
  frontend/awx/administration/topology/Sidebar.tsx
  frontend/awx/interfaces/Instance.ts
Labels: AWX, E2E, CCT, AFW

#1845 Fix hosts component test
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.cy.tsx
Labels: AWX, CCT

#1847 Smart inventory hosts
  frontend/awx/resources/hosts/hooks/useHostsActions.tsx
  frontend/awx/resources/hosts/hooks/useHostsFilters.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
Labels: AWX

#1834 [AAP-21457] Add workflow nodes output toolbar status bar
  cypress/fixtures/job_workflow_nodes.json
  framework/components/pfcolors.tsx
  frontend/awx/views/jobs/JobOutput/HostStatusBar.tsx
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/JobOutput/StatusBar.cy.tsx
  frontend/awx/views/jobs/JobOutput/StatusBar.tsx
Labels: AWX, CCT, AFW

#1848 Update Inventory Hosts Groups Tests
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.cy.tsx
Labels: AWX, CCT

#1843 Async select search query support
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/input-commands.ts
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.cy.tsx
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.cy.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.tsx
  framework/PageInputs/PageAsyncMultiSelect.cy.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncSelectOptions.tsx
  framework/PageInputs/PageAsyncSingleSelect.cy.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncMultiSelectFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarAsyncSingleSelectFilter.tsx
  framework/components/AsyncQueryLabel.tsx
  framework/components/useOverridableState.tsx
  frontend/awx/access/teams/TeamForm.cy.tsx
  frontend/awx/administration/applications/ApplicationForm.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.cy.tsx
  frontend/awx/administration/instances/Instances.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/awx/common/useDynamicFilters.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
  frontend/common/crud/Data.tsx
  frontend/common/crud/requestCommon.ts
  frontend/common/crud/useDeleteRequest.tsx
  frontend/common/crud/useGet.tsx
  frontend/common/crud/useOptions.tsx
  frontend/common/crud/usePatchRequest.tsx
  frontend/common/crud/usePostRequest.tsx
  frontend/common/crud/usePutRequest.tsx
  frontend/hub/access/roles/RolePage/RoleForm.cy.tsx
  frontend/hub/administration/collection-approvals/hooks/useApprovalFilters.tsx
  frontend/hub/administration/repositories/hooks/useAddCollections.tsx
  frontend/hub/administration/repositories/hooks/useRepoQueryOptions.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/hooks/useCollectionFilters.tsx
  frontend/hub/my-imports/components/ImportList.tsx
  package-lock.json
  package.json
Labels: AWX, E2E, HUB, CCT, AFW

#1853 implemented cancel decorator on output node
  frontend/awx/views/jobs/WorkflowOutput/hooks/useStatusDecorator.tsx
Labels: AWX

#1839 [AAP-19088] Disable launch workflow button if the workflow has changed
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputGraph.tsx
  frontend/awx/views/jobs/WorkflowOutput/hooks/useWorkflowOutput.tsx
Labels: AWX

#1851 Inventories and Smart inventory hosts list component test
  frontend/awx/resources/hosts/Hosts.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
Labels: AWX, CCT

#1855 Add node styles to unexecuted workflow output job runs
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputNode.tsx
Labels: AWX

#1858 edit the file for future use
  cypress/e2e/awx/resources/hosts.cy.ts
Labels: AWX, E2E

#1823 [AAP-9121] delete actions are beneath separator and other actions
  cypress/e2e/hub/execution-environments.cy.ts
  frontend/hub/administration/repositories/hooks/useRepositoryActions.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceActions.tsx
Labels: E2E, HUB

#1815 Update the external link for the auditAction url
  frontend/eda/rule-audit/hooks/useRuleAuditActionsColumns.tsx
Labels: EDA

#1869 Update PageForm usage to be the project specific one
  frontend/eda/access/users/EditUser.tsx
  frontend/hub/administration/repositories/hooks/useSyncRepositories.tsx
Labels: EDA, HUB

#1852 [AAH-9294] use MinusCircleIcon vs RemoveIcon
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/administration/instances/hooks/useInstanceActions.tsx
  frontend/awx/administration/instances/hooks/useInstanceToolbarActions.tsx
Labels: AWX

#1857 Constructed inventory hosts
  frontend/awx/resources/hosts/Hosts.cy.tsx
  frontend/awx/resources/hosts/hooks/useHostsActions.tsx
  frontend/awx/resources/hosts/hooks/useHostsFilters.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsColumns.tsx
Labels: AWX, CCT

#1864 [AAP-21768] Show warning if related inventory/project is missing - wizard
  framework/PageForm/PageForm.tsx
  framework/PageWizard/PageWizardBody.tsx
  frontend/awx/common/adapters/awxErrorAdapter.cy.tsx
  frontend/awx/interfaces/JobTemplate.ts
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeEditWizard.tsx
Labels: AWX, CCT, AFW

#1856 [AAP-21054] Update organizations list page to use dynamic filters
  cypress/e2e/awx/access/organizations.cy.ts
  frontend/awx/access/organizations/Organizations.tsx
Labels: AWX, E2E

#1870 Convert projects list to use advanced search filter
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/fixtures/mock_options.json
  frontend/awx/common/useDynamicFilters.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/projects/hooks/useProjectsFilters.tsx
  frontend/awx/views/jobs/hooks/useJobFilters.cy.tsx
Labels: AWX, E2E, CCT

#1872 [AAP-8284] Add Edit Smart Inventory
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/groups/GroupEdit.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/hooks/useInventoryActions.tsx
Labels: AWX

#1867 [AAP-21928] Refresh workflow nodes status bar
  frontend/awx/views/jobs/JobOutput/JobOutput.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.cy.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputGraph.tsx
Labels: AWX, CCT

#1803 [AAP-21798] [AAP-21801] Add credentials based on credential types
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/support/eda-commands.ts
  frontend/eda/access/credential-types/CredentialTypeForm.tsx
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/eda/access/credential-types/CredentialTypes.tsx
  frontend/eda/access/credential-types/hooks/useCredentialTypeActions.tsx
  frontend/eda/access/credential-types/hooks/useCredentialTypesColumns.tsx
  frontend/eda/access/credential-types/hooks/useDeleteCredentialTypes.tsx
  frontend/eda/access/credentials/CredentialForm.tsx
  frontend/eda/access/credentials/CredentialFormTypes.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialDetailFields.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/eda/access/credentials/Credentials.cy.tsx
  frontend/eda/access/credentials/Credentials.tsx
  frontend/eda/access/credentials/components/EdaCredentialCell.tsx
  frontend/eda/access/credentials/components/PageFormCredentialsSelect.tsx
  frontend/eda/access/credentials/hooks/useCredentialColumns.tsx
  frontend/eda/access/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/access/credentials/hooks/useSelectCredentials.tsx
  frontend/eda/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentDetails.tsx
  frontend/eda/decision-environments/hooks/useDecisionEnvironmentColumns.tsx
  frontend/eda/interfaces/EdaCredentialType.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/overview/cards/EdaDecisionEnvironmentsCard.cy.tsx
  frontend/eda/overview/cards/EdaProjectsCard.cy.tsx
  frontend/eda/overview/cards/EdaRuleAuditCard.cy.tsx
  frontend/eda/projects/EditProject.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/projects/Projects.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  package.json
Labels: EDA, E2E, CCT

#1861 [AAP-21526] `WorkflowOutputNavigation` component
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/views/jobs/JobHeader.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputNode.tsx
  frontend/awx/views/jobs/WorkflowOutputNavigation.cy.tsx
  frontend/awx/views/jobs/WorkflowOutputNavigation.tsx
Labels: AWX, CCT

#1878 Fix workflow output error status indicator bug and hover styles
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputGraph.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputNode.tsx
  frontend/awx/views/jobs/WorkflowOutput/hooks/useStatusDecorator.tsx
Labels: AWX

#1871 Cleanup duplicate, unused edges in workflow visualizer
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useDedupeOldNodes.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
Labels: AWX

#1882 Show workflow visualizer legend in dark mode
  frontend/awx/resources/templates/WorkflowVisualizer/components/Legend.tsx
Labels: AWX

#1879 Remove hard coded refresh interval from EEs and imports
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/hub/my-imports/MyImports.tsx
Labels: HUB

#1874 [AAP-20679] Add title to the Verify SSL label help
  frontend/eda/projects/EditProject.tsx
Labels: EDA

#1887 update dynamic filters to include credential and default_environment
  frontend/awx/common/useDynamicFilters.tsx
Labels: AWX

#1884 implemented all label tag for every node view
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowTopology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.tsx
Labels: AWX, E2E

#1891 [Schedule form] Schedule Form Survey Step
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/interfaces/LaunchConfiguration.ts
  frontend/awx/interfaces/Survey.ts
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleSurveyStep.tsx
Labels: AWX, CCT, AFW

#1866 Add users wizard / select users step
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageTable/PageMultiSelectList.tsx
  framework/PageTable/PageTable.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/organizations/components/AddOrganizationUsers.tsx
  frontend/awx/access/users/components/steps/SelectAwxUsersStep.tsx
  frontend/awx/access/users/hooks/useUsersColumns.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxOrganizationsRoutes.tsx
  frontend/common/access/RolesWizard/steps/SelectUsersStep.tsx
Labels: AWX, AFW

#1894 [AAP-22048] Call workflow node requests periodically
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutputGraph.tsx
Labels: AWX

#1893 Use NodeTypeStep for schedule details step
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/administration/management-jobs/components/PageFormManagementJobsSelect.tsx
  frontend/awx/interfaces/LaunchConfiguration.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/resources/templates/components/PageFormJobTemplateSelect.tsx
  frontend/awx/resources/templates/components/PageFormWorkflowJobTemplateSelect.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
Labels: AWX, E2E

#1842 Change start date to current date instead of 24 hours from current date.
  frontend/awx/common/useAwxView.tsx
Labels: AWX

#1895 Fix credential forms to limit org or user.
  frontend/awx/access/credentials/CredentialForm.tsx
Labels: AWX

#1896 [AAP-9121] workflow visualizer is primary
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
Labels: AWX

#1897 Bug fix: Show deleted icon when resource has been deleted
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowTopology.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/CustomNode.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/SystemJobNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowApprovalNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetDetailComponent.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeEditWizard.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.tsx
Labels: AWX, CCT

#1903 Modify from where the name of the node is being parsed
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useRemoveGraphElements.tsx
Labels: AWX

#1830 Add advanced search to credentials page
  cypress/e2e/awx/resources/credentials.cy.ts
  frontend/awx/access/credentials/Credentials.cy.tsx
  frontend/awx/access/credentials/CredentialsList.tsx
  frontend/awx/access/credentials/hooks/useCredentialsFilters.tsx
  frontend/awx/access/credentials/hooks/useSelectCredential.tsx
  frontend/awx/common/useDynamicFilters.tsx
Labels: AWX, E2E, CCT

#1787 [AAP-7709] Add notifications list
  cypress/e2e/awx/administration/notifiers.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  frontend/awx/administration/notifications/Notifications.tsx
  frontend/awx/administration/notifiers/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/notifiers/Notifiers.cy.tsx
  frontend/awx/administration/notifiers/Notifiers.tsx
  frontend/awx/administration/notifiers/hooks/useCopyNotifier.tsx
  frontend/awx/administration/notifiers/hooks/useDeleteNotifiers.tsx
  frontend/awx/administration/notifiers/hooks/useNotifiersColumns.tsx
  frontend/awx/administration/notifiers/hooks/useNotifiersFilters.tsx
  frontend/awx/administration/notifiers/hooks/useNotifiersRowActions.tsx
  frontend/awx/administration/notifiers/hooks/useNotifiersToolbarActions.tsx
  frontend/awx/interfaces/NotificationTemplate.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxNotificationsRoutes.tsx
  frontend/common/utils/RBAChelpers.ts
Labels: AWX, E2E, CCT

#1873 [AAP-22027] Fix organization on workflow job template
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateInputs.tsx
Labels: AWX, E2E

#1908 Support job deletion through job header
  frontend/awx/views/jobs/JobHeader.cy.tsx
  frontend/awx/views/jobs/hooks/useJobHeaderActions.tsx
Labels: AWX, CCT

#1862 Add badges to navigation
  framework/PageNavigation/PageNavigation.tsx
  framework/PageNavigation/PageNavigationItem.tsx
Labels: AFW

#1885 Add available AWX organization column details
  frontend/awx/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/interfaces/Organization.ts
Labels: AWX

#1880 Update AsyncQueryLabel to not refresh as often as we could have a lot of labels visible
  framework/components/AsyncQueryLabel.tsx
  frontend/common/crud/useGet.tsx
Labels: AFW

#1860 Workflow Visualizer Remaining Tests
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/resources/workflowVisualizer.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/support/commands.d.ts
  frontend/awx/views/jobs/JobHeader.cy.tsx
Labels: AWX, E2E, CCT

#1841 Convert job templates list dynamic filter
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  frontend/awx/access/credentials/hooks/useCredentialsFilters.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/administration/notifiers/hooks/useNotifiersFilters.tsx
  frontend/awx/common/useDynamicFilters.tsx
  frontend/awx/resources/projects/hooks/useProjectsFilters.tsx
  frontend/awx/resources/templates/Templates.cy.tsx
  frontend/awx/resources/templates/TemplatesList.cy.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
  frontend/awx/resources/templates/hooks/useTemplateFilters.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
Labels: AWX, E2E, CCT

#1912 skips my imports
  cypress/e2e/hub/my-imports.cy.ts
Labels: E2E, HUB

#1899 AAP 21773 - prompts step
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/views/schedules/components/PromptInputs.tsx
  frontend/awx/views/schedules/components/ScheduleInputs.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleSurveyStep.tsx
Labels: AWX, E2E, CCT
