Repository ansible/ansible-ui, pull requests merged in 2024-07, with the labels that each got.

#2616 Small update tests
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2600 [AAP-25860]Removes the chips in help text instead of placeholder
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/components/RuleForm.tsx
  frontend/awx/views/schedules/hooks/useGetScheduleUrl.tsx
  frontend/awx/views/schedules/types.ts
Labels: AWX

#2623 Fix spacing in ExecutionEnvironment labels
  frontend/awx/administration/execution-environments/components/ExecutionEnvironmentAddTeams.tsx
  frontend/awx/administration/execution-environments/components/ExecutionEnvironmentAddUsers.tsx
  frontend/awx/administration/execution-environments/components/PageFormSelectExecutionEnvironment.tsx
Labels: AWX

#2622 Fix flaky instances test
  cypress/e2e/awx/administration/instances.cy.ts
Labels: AWX, E2E

#2594 Fix date format setting help text
  framework/PageSettings/PageSettings.tsx
Labels: AFW

#2621 Refactor WorkflowOutputNavigation
  frontend/awx/views/jobs/WorkflowOutputNavigation.tsx
Labels: bug, AWX, release-blocker

#2631 Missing tooltip in inventory status
  frontend/awx/resources/inventories/hooks/useInventoriesColumns.tsx
Labels: AWX

#2630 Prevent instance group fallback in inventories tooltip
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
Labels: AWX

#2598 inventory host jobs test
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
  cypress/e2e/awx/resources/inventoryHost/runCommandFunction.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2627 [AAP-26470] Add an optional disabled property to the EdaActiveUserProvider
  frontend/eda/common/useEdaActiveUser.tsx
Labels: EDA, release-blocker

#2633 Update cypress awx org, team, and user create commands to use partial objects
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/access/tokens.cy.ts
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/administration/activity-stream.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHost.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
  cypress/support/awx-access-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2640 Skip Execution environment test
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
Labels: AWX, E2E

#2589 Remove unused cypress helpers
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/awx-user-access-commands.ts
  cypress/support/common-commands.ts
  cypress/support/core-commands.ts
  cypress/support/eda-commands.ts
  cypress/support/hub-commands.ts
Labels: E2E, HUB

#2629 Fix input inventories order
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
Labels: AWX

#2626 [AAP-26415] Organization id mandatory in the project create/edit forms
  cypress/e2e/eda/Credentials/credentials-usage.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/support/eda-commands.ts
  frontend/eda/projects/EditProject.cy.tsx
  frontend/eda/projects/EditProject.tsx
Labels: EDA, E2E, CCT, release-blocker

#2628 [AAP-26562] Add an optional disabled property to the AWX and HUB context, active user and config AwxActiveUserProvider, AwxCo…
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/awx/common/useAwxConfig.tsx
  frontend/hub/common/useHubActiveUser.tsx
  frontend/hub/common/useHubContext.tsx
Labels: AWX, HUB

#2637 Fix API wrapper imports and API prefixes in e2e Tests
  cypress/e2e/awx/administration/activity-stream.cy.ts
  cypress/e2e/awx/administration/applications.cy.ts
  cypress/e2e/awx/administration/credentialTypes.cy.ts
  cypress/e2e/awx/administration/instances.cy.ts
  cypress/e2e/awx/administration/management-jobs.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/overview/awx-overview.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/awx-user-access-commands.ts
Labels: AWX, E2E

#2635 remove notifications test already completed
  cypress/e2e/awx/access/organizations.cy.ts
Labels: AWX, E2E

#2642 remove add admin test
  cypress/e2e/awx/access/organizations.cy.ts
Labels: AWX, E2E

#2644 remove remaining unnecessary tests from organizations.cy.ts
  cypress/e2e/awx/access/organizations.cy.ts
Labels: AWX, E2E

#2646 Skip workflow tests
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
Labels: AWX, E2E

#2618 Enable UI Tests to Run in Downstream Build
  cypress.awx.config.ts
  cypress.eda.config.ts
  cypress/e2e/awx/administration/activity-stream.cy.ts
  cypress/e2e/awx/administration/applications.cy.ts
  cypress/e2e/awx/administration/credentialTypes.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/instances.cy.ts
  cypress/e2e/awx/administration/management-jobs.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/sharedTemplateSurvey.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  cypress/e2e/eda/Projects/project-sync.cy.ts
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/admin-user/controller-token.cy.ts
  cypress/e2e/eda/overview/eda-overview.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-access-commands.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  frontend/awx/administration/instances/InstancesPage.cy.tsx
  tsconfig.json
  webpack/environment.cjs
  webpack/webpack.config.cjs
Labels: AWX, EDA, E2E, CCT

#2610 CRUD smart inventory
  cypress/e2e/awx/resources/inventories.cy.ts
Labels: AWX, E2E

#2647 SKip EE test
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
Labels: AWX, E2E

#2638 Label help for hosts - inventory field
  frontend/awx/resources/inventories/components/PageFormInventorySelect.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.tsx
Labels: AWX

#2651 Enabling Downstream Tests: Skip Some Failing Tests
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/eda/Credentials/credential-type-tabs.cy.ts
  cypress/e2e/eda/cleanup/eda-cleanup.cy.ts
Labels: AWX, EDA, E2E

#2551 [AAP-25659] Show error if resources are missing in Schedule wizard
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/hooks/useSchedulesToolbarActions.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
Labels: AWX, E2E, release-blocker

#2614 Reorder input inventories in constructed inventory test
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2639 Unify Groups from buttons
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  frontend/awx/resources/groups/GroupCreate.tsx
  frontend/awx/resources/groups/GroupEdit.tsx
Labels: AWX, E2E

#2655 Skip flaky test Constructed inventory
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
Labels: AWX, E2E

#2654 remove duplicate skipped create remote EE test
  cypress/e2e/awx/access/organizations.cy.ts
Labels: AWX, E2E

#2625 AAP-9048: Update login page to use branded logos
  cypress/e2e/eda/main/eda-login-logout.cy.ts
  cypress/support/auth.ts
  frontend/awx/main/AwxLogin.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/common/AnsibleLogin.tsx
  frontend/common/Login.tsx
  frontend/common/LoginForm.tsx
  frontend/common/SocialAuthLogin.tsx
  frontend/eda/main/EdaLogin.tsx
  frontend/eda/main/EdaMasthead.tsx
  frontend/hub/main/HubLogin.tsx
  frontend/hub/main/HubMasthead.tsx
  frontend/icons/awx-logo.svg
  frontend/icons/brand-logo.svg
  frontend/icons/eda-logo.svg
  frontend/icons/galaxy-logo.svg
Labels: AWX, EDA, E2E, HUB

#2591 Quick fix run ad hoc command
  cypress/e2e/awx/resources/inventoryHost/runCommandFunction.ts
Labels: AWX, E2E

#2650 Conditionally show credential in Container details page.
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupDetails.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupDetails.tsx
Labels: AWX, CCT, release-blocker

#2636 Hub - unify on "Create execution environment", fix test failing because of it
  cypress/e2e/hub/execution-environments.cy.ts
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
Labels: E2E, HUB

#2613 [UXD][AAP-25468] Updates to remaining EDA buttons
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/eda/Access-Management/team-access.cy.ts
  cypress/e2e/eda/Access-Management/teams-roles-tab.cy.ts
  cypress/e2e/eda/Access-Management/user-access.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Users/users-roles-tab.cy.ts
  frontend/common/access/components/Access.tsx
  frontend/common/access/components/TeamAccess.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
Labels: AWX, EDA, E2E, CCT

#2652 Filtering superusers from the user lookup step in role assignment wizards
  cypress/fixtures/awx-normal-users.json
  cypress/fixtures/edaNormalUsers.json
  frontend/awx/access/common/AwxRolesWizardSteps/AwxSelectUsersStep.tsx
  frontend/awx/access/credentials/components/CredentialAddUsers.cy.tsx
  frontend/awx/administration/execution-environments/components/ExecutionEnvironmentAddUsers.cy.tsx
  frontend/awx/resources/inventories/components/InventoryAddUsers.cy.tsx
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectUsersStep.tsx
  frontend/eda/access/credential-types/components/EdaCredentialTypeAddUsers.cy.tsx
  frontend/eda/access/credentials/components/EdaCredentialAddUsers.cy.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddUsers.cy.tsx
  frontend/eda/projects/components/EdaProjectAddUsers.cy.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddUsers.cy.tsx
Labels: AWX, EDA, CCT, release-blocker

#2565 [AAP-25497] Fix Disappearing Credential Select
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.tsx
  framework/PageInputs/PageAsyncMultiSelect.tsx
  framework/PageInputs/PageMultiSelect.cy.tsx
  framework/PageInputs/PageMultiSelect.tsx
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/common/PageFormMultiSelectAwxResource.tsx
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
Labels: AWX, E2E, CCT, AFW, release-blocker

#2661 Break apart project tests into smaller spec files and remove redundant project creation/sync
  cypress/e2e/awx/resources/projects/project-create.cy.ts
  cypress/e2e/awx/resources/projects/project-delete.cy.ts
  cypress/e2e/awx/resources/projects/project-details.cy.ts
  cypress/e2e/awx/resources/projects/project-edit-copy-sync.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/component.tsx
Labels: AWX, E2E

#2660 Simplify WFJT tests
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/support/awx-commands.ts
Labels: AWX, E2E

#2671 Fix execution node tooltip in jobs details
  frontend/awx/views/jobs/JobDetails.tsx
Labels: AWX, release-blocker

#2662 Skip smart inventory test
  cypress/e2e/awx/resources/inventories.cy.ts
Labels: AWX, E2E

#2659 Fix inv constructed test
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
Labels: AWX, E2E

#2667 BulkActionDialog support details on close
  framework/PageDialogs/BulkActionDialog.tsx
Labels: AFW

#2670 unskip inventory checks in activity stream page
  cypress/e2e/awx/administration/activity-stream.cy.ts
Labels: AWX, E2E

#2680 [UXD][AAP-25468] Analytics updates to buttons and menu items
  frontend/awx/views/jobs/hooks/useHostMetricsRowActions.tsx
  frontend/awx/views/jobs/hooks/useHostMetricsToolbarActions.tsx
Labels: AWX

#2681 Display defined_in_file setting form fields as read-only
  frontend/awx/administration/settings/AwxSettingsForm.tsx
  frontend/awx/administration/settings/useAwxSettingsGroups.tsx
Labels: AWX

#2684 Fix inventory type filter
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesFilters.tsx
Labels: AWX, release-blocker

#2619 Refactor link creation in jobUtils
  frontend/awx/common/JobColumns.tsx
  frontend/awx/interfaces/UnifiedJob.ts
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/awx/views/jobs/JobExpanded.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
  frontend/awx/views/jobs/hooks/useRelaunchJob.tsx
  frontend/awx/views/jobs/jobUtils.cy.tsx
  frontend/awx/views/jobs/jobUtils.tsx
Labels: bug, AWX, CCT, release-blocker

#2687 Skip tests 2024/7/11
  cypress/e2e/awx/administration/activity-stream.cy.ts
Labels: AWX, E2E

#2689 Fix activity stream test
  cypress/e2e/awx/administration/activity-stream.cy.ts
Labels: AWX, E2E

#2643 [AAP-25030] Updates Instance group select to use latest components
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/administration/instance-groups/components/PageFormInstanceGroupSelect.tsx
  frontend/awx/administration/instance-groups/hooks/useSelectInstanceGroups.tsx
  frontend/awx/common/util/getAddedAndRemoved.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/inventories/InventoryForm.cy.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/JobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/views/schedules/components/ScheduleTypeInputs.tsx
  frontend/awx/views/schedules/hooks/useProcessCredentials.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleSelectStep.tsx
  frontend/awx/views/schedules/wizard/constants.ts
Labels: AWX, E2E, CCT, release-blocker

#2675 Fix placeholder text for multiple fields in prompt on launch
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/administration/execution-environments/components/PageFormSelectExecutionEnvironment.tsx
  frontend/awx/administration/instance-groups/components/PageFormInstanceGroupSelect.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodePromptsStep.tsx
Labels: AWX, release-blocker

#2692 [AAP-26863] Add fav icons
  frontend/assets/awx-icon.svg
  frontend/assets/awx-logo.svg
  frontend/assets/eda-icon.svg
  frontend/assets/eda-logo.svg
  frontend/assets/galaxy-icon.svg
  frontend/assets/galaxy-logo.svg
  frontend/assets/images/pfbg_1200.jpg
  frontend/assets/images/pfbg_576.jpg
  frontend/assets/images/pfbg_576@2x.jpg
  frontend/assets/images/pfbg_768.jpg
  frontend/assets/images/pfbg_768@2x.jpg
  frontend/awx/main/AwxLogin.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/common/AboutModal.tsx
  frontend/eda/main/EdaLogin.tsx
  frontend/eda/main/EdaMasthead.tsx
  frontend/hub/main/HubLogin.tsx
  frontend/hub/main/HubMasthead.tsx
  frontend/icons/192.png
  frontend/icons/256.png
  frontend/icons/384.png
  frontend/icons/512.png
  frontend/icons/brand-logo.png
  frontend/icons/brand-logo192.png
  frontend/icons/favicon.png
  frontend/icons/favicon.svg
  package-lock.json
  package.json
  webpack/webpack.awx.cjs
  webpack/webpack.config.cjs
  webpack/webpack.eda.cjs
  webpack/webpack.hub.cjs
Labels: AWX, EDA, HUB

#2682 Update a few tests
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/projects/project-details.cy.ts
Labels: AWX, E2E

#2686 [AAP-26435] Fix the EDA e2e credential type test
  cypress/e2e/eda/Credentials/credential-type-crud.cy.ts
Labels: EDA, E2E

#2649 Controller tests fix workflow approval tests
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
  cypress/support/auth.ts
  cypress/support/common-commands.ts
Labels: AWX, E2E

#2696 Update credential tests
  cypress/e2e/awx/resources/credentials.cy.ts
Labels: AWX, E2E

#2700 Skip Hub Repositories
  cypress/e2e/hub/repositories.cy.ts
Labels: E2E, HUB

#2699 Fix missing params on Credetial Types back button
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
Labels: AWX

#2688 Fix notifiers select organization
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
Labels: AWX, E2E

#2679 Fix bulk delete inventories
  cypress/e2e/awx/resources/inventories.cy.ts
Labels: AWX, E2E

#2663 Fix smart inventory test
  cypress/e2e/awx/resources/inventories.cy.ts
Labels: AWX, E2E

#2697 [AAP-26770] Activity stream tests fix
  cypress/e2e/awx/administration/activity-stream.cy.ts
Labels: AWX, E2E

#2669 [UXD][AAP-25468] Hub updates to buttons, row level actions, tooltips
  cypress/e2e/hub/collections.cy.ts
  cypress/e2e/hub/hub-roles.cy.ts
  cypress/e2e/hub/namespaces.cy.ts
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/hub-commands.ts
  frontend/hub/access/roles/hooks/useRoleActions.tsx
  frontend/hub/administration/collection-approvals/hooks/useApprovalActions.tsx
  frontend/hub/administration/collection-approvals/hooks/useApprovalsActions.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistriesToolbarActions.tsx
  frontend/hub/administration/remote-registries/hooks/useRemoteRegistryActions.tsx
  frontend/hub/administration/remotes/hooks/useRemoteToolbarActions.tsx
  frontend/hub/administration/repositories/hooks/useRepositoryToolbarActions.tsx
  frontend/hub/collections/hooks/useCollectionActions.tsx
  frontend/hub/collections/hooks/useCollectionsActions.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/hooks/useExecutionEnvironmentPageActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentActions.tsx
  frontend/hub/execution-environments/hooks/useExecutionEnvironmentsActions.tsx
  frontend/hub/namespaces/hooks/useHubNamespaceToolbarActions.tsx
Labels: E2E, HUB

#2691 [26719] Refactors schedules to removes references to the url
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/main/routes/useAwxProjectRoutes.tsx
  frontend/awx/main/routes/useAwxSchedulesRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleDetails.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/components/ScheduleResourceInputs.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/awx/views/schedules/hooks/useSchedulesToolbarActions.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleReviewStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleSelectStep.tsx
  frontend/awx/views/schedules/wizard/constants.ts
Labels: AWX, E2E, CCT

#2693 [AAP-25029] Fix Select EE Dialog
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/JobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodePromptsStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
  frontend/awx/views/schedules/hooks/useProcessSchedules.tsx
  frontend/awx/views/schedules/wizard/ScheduleSelectStep.tsx
Labels: AWX, release-blocker

#2695 Re-enable execution environment tests
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/executionEnvironmentsAccess.cy.ts
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
Labels: AWX, E2E

#2709 [UXD][AAP-25468] AWX - updates to Schedules & Projects section buttons and actions
  cypress/e2e/awx/resources/projects/project-delete.cy.ts
  cypress/e2e/awx/resources/projects/project-details.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/projects/hooks/useProjectToolbarActions.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
  frontend/awx/views/schedules/hooks/useSchedulesToolbarActions.tsx
Labels: AWX, E2E, CCT

#2708 [UXD][AAP-25468] AWX - updates to Jobs section buttons and actions
  cypress/e2e/awx/views/jobs.cy.ts
  frontend/awx/views/jobs/Jobs.cy.tsx
  frontend/awx/views/jobs/hooks/useJobHeaderActions.tsx
  frontend/awx/views/jobs/hooks/useJobToolbarActions.tsx
  frontend/awx/views/jobs/hooks/useRelaunchOptions.tsx
Labels: AWX, E2E, CCT

#2656 [AAP-26667] Fix resource name in Schedule Review step
  frontend/awx/views/schedules/wizard/ScheduleReviewStep.tsx
Labels: AWX

#2706 Refactor Activity stream link out
  frontend/awx/access/common/useViewActivityStream.tsx
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupPage.tsx
  frontend/awx/administration/instances/InstancesPage.cy.tsx
  frontend/awx/administration/instances/InstancesPage.tsx
  frontend/awx/administration/notifiers/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalPage.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
Labels: AWX, CCT, release-blocker

#2701 dependencies - cleanup for production build
  cypress/support/tag.ts
  frontend/awx/administration/notifiers/NotifierForm.tsx
  package-lock.json
  package.json
Labels: AWX

#2712 [AAP-27011] Fix Job Output Details Functionality
  frontend/awx/views/jobs/JobOutput/HostEventModal.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
Labels: AWX

#2719 [UXD][AAP-25027] AWX - updates to Templates section breadcrumbs & headers
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects/project-details.cy.ts
  frontend/awx/resources/templates/JobTemplateForm.cy.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
Labels: AWX, E2E, CCT

#2724 [UXD][AAP-25027] AWX - updates to Instance Groups & Instances section breadcrumbs & headers
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  frontend/awx/administration/instance-groups/ContainerGroupForm.cy.tsx
  frontend/awx/administration/instance-groups/ContainerGroupForm.tsx
  frontend/awx/administration/instance-groups/InstanceGroupForm.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupForm.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupPage.tsx
  frontend/awx/administration/instances/InstanceForm.cy.tsx
  frontend/awx/administration/instances/InstanceForm.tsx
Labels: AWX, E2E, CCT

#2737 Remove unreachable job statuses from workflow output status bar
  frontend/awx/views/jobs/JobOutput/StatusBar.cy.tsx
  frontend/awx/views/jobs/JobOutput/StatusBar.tsx
Labels: AWX, CCT, release-blocker

#2726 [UXD][AAP-25027] AWX - updates to Workflow Approval section breadcrumbs & headers
  frontend/awx/administration/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalPage.tsx
Labels: AWX

#2743 Update `CreateControllerToken` to accept props
  frontend/eda/access/users/CreateControllerToken.tsx
Labels: EDA

#2720 [UXD][AAP-25027] AWX - updates to Schedules section breadcrumbs & headers
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
Labels: AWX

#2725 [UXD][AAP-25027] AWX - updates to Execution Environment section breadcrumbs & headers
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
Labels: AWX, E2E, CCT

#2742 [UXD][AAP-25468] AWX - updates to Execution Environment section buttons and actions
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvRowActions.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvToolbarActions.tsx
Labels: AWX, E2E

#2746 [UXD][AAP-25468] AWX - updates to Organizations section buttons and actions
  cypress/e2e/awx/access/organizations.cy.ts
  frontend/awx/access/organizations/Organizations.tsx
Labels: AWX, E2E

#2750 [UXD][AAP-25468] AWX - Updates to Credential Types & Credentials section buttons and actions
  cypress/e2e/awx/administration/credentialTypes.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  frontend/awx/access/credential-types/hooks/useCredentialTypeActions.tsx
  frontend/awx/access/credentials/Credentials.cy.tsx
  frontend/awx/access/credentials/hooks/useCredentialToolbarActions.tsx
Labels: AWX, E2E, CCT

#2698 unskipping schedules tests in upstream and fixing in downstream
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/views/schedules/wizard/ScheduleReviewStep.tsx
Labels: AWX, E2E

#2739 Fix resource type filter in AWX User/Team Roles UI
  frontend/awx/access/users/UserPage/UserRoles.cy.tsx
  frontend/common/access/components/ResourceAccess.tsx
Labels: release-blocker

#2754 adapting tests latest labels string changes in schedules
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#2751 Fix for clearing filter on roles page
  framework/PageToolbar/PageToolbarFilter.tsx
Labels: AFW, release-blocker

#2758 Move wfjt e2e test cases into workflowJobTemplates.cy.ts spec file.
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#2715 [AAP-24902] Return to dashboard button in UI doesn't work
  framework/PageEmptyStates/PageNotFound.tsx
Labels: AFW

#2757 Commented out code got merged into main accidently. This reengages it.
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
Labels: AWX, CCT

#2713 [AAP-26612] Fix run command submit
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/inventoryHost/runCommandFunction.ts
  frontend/awx/interfaces/Inventory.ts
  frontend/awx/resources/inventories/InventoryRunCommand.cy.tsx
  frontend/awx/resources/inventories/InventoryRunCommand.tsx
  frontend/awx/resources/inventories/components/RunCommandSteps.tsx
Labels: AWX, E2E, CCT

#2738 [AAP-26919] Adds error handle to credentials step in template launch
  cypress/e2e/awx/resources/sharedTemplateSurvey.ts
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/TemplatePage/steps/CredentialPasswordsStep.tsx
  frontend/awx/resources/templates/TemplatePage/steps/OtherPromptsStep.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchPromptStep.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/TemplatePage/steps/index.ts
Labels: AWX, E2E, release-blocker

#2764 Fix Incorrect Verbosity Tooltip Title
  frontend/awx/resources/templates/JobTemplateInputs.tsx
Labels: AWX

#2729 [AAP-27036] User preferences screen inconsistent UX
  cypress/e2e/awx/administration/settings.cy.ts
  framework/PageDetails/PageDetail.tsx
  framework/PageForm/Inputs/PageFormSelect.tsx
  framework/PageSettings/PageSettings.tsx
  framework/PageSettings/PageSettingsDetails.tsx
  framework/PageSettings/PageSettingsForm.tsx
  framework/PageSettings/usePageSettingOptions.tsx
  frontend/awx/main/useAwxNavigation.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: AWX, EDA, E2E, HUB, AFW

#2765 unskip inventorySource test
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#2728 Fix and refactor inventoryGroup tests for upstream and downstream
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
Labels: AWX, E2E

#2769 Fixes no show of prompt step
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
Labels: AWX

#2775 Add page ID as on option for created and modified columns
  frontend/common/columns.tsx
Labels: release-blocker

#2766 [AAP-26988] Hide analytics for normal users
  frontend/awx/main/useAwxNavigation.tsx
Labels: AWX

#2762 [AAP-25666] Wizard error handling fix
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/PageWizardProvider.tsx
Labels: AFW

#2778 Fixes EDA flaky tests AAP-27490
  cypress/e2e/eda/Projects/projects-crud.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
Labels: EDA, E2E

#2776 Repair schedules edit problem
  frontend/awx/views/schedules/wizard/ScheduleSelectStep.tsx
Labels: AWX

#2785 Skip inventory source tests
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#2777 Wrapper over LabelGroup
  frontend/awx/views/schedules/components/RulesList.tsx
  frontend/common/label-group-wrapper.tsx
Labels: AWX

#2535 Enable kebab dropdown keyboard accessibility
  cypress/e2e/awx/access/users.cy.ts
  cypress/e2e/awx/administration/credentialTypes.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects/project-details.cy.ts
  cypress/e2e/awx/resources/sharedTemplateSurvey.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/hub/execution-environments.cy.ts
  cypress/e2e/hub/hub-roles.cy.ts
  cypress/e2e/hub/remote-registries.cy.ts
  cypress/e2e/hub/remotes.cy.ts
  cypress/e2e/hub/tasks.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/table-commands.ts
  framework/PageActions/PageActionDropdown.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageToolbar/PageToolbar.tsx
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypePage.cy.tsx
  frontend/awx/access/credential-types/CredentialTypes.cy.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.cy.tsx
  frontend/awx/access/credentials/Credentials.cy.tsx
  frontend/awx/access/roles/AwxRolePage.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.cy.tsx
  frontend/awx/administration/applications/Applications.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.cy.tsx
  frontend/awx/administration/instances/Instances.cy.tsx
  frontend/awx/administration/instances/InstancesPage.cy.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovals.cy.tsx
  frontend/awx/resources/groups/GroupRelatedGroups.cy.tsx
  frontend/awx/resources/hosts/Hosts.cy.tsx
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventorySources.cy.tsx
  frontend/awx/resources/projects/Projects.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateSurvey.cy.tsx
  frontend/awx/resources/templates/TemplatesList.cy.tsx
  frontend/awx/views/jobs/JobHeader.cy.tsx
  frontend/awx/views/jobs/Jobs.cy.tsx
  frontend/awx/views/schedules/Schedules.cy.tsx
  frontend/eda/access/roles/EdaRolePage.cy.tsx
  frontend/eda/access/roles/EdaRoles.cy.tsx
  frontend/hub/access/roles/Roles.cy.tsx
Labels: AWX, EDA, E2E, HUB, CCT, AFW

#2759 HubMasthead - link to full experience approvals
  frontend/hub/main/HubMasthead.tsx
Labels: HUB, release-blocker

#2799 unskip inventorySource test
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#2797 remove code that is not doing anything
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
Labels: AWX

#2796 [AAP-27489] Update for the credentials_usage flaky test
  cypress/e2e/eda/Credentials/credentials-usage.cy.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E

#2780 Workflow approval list - fixing flaky tests
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
Labels: AWX, E2E

#2803 Repair collection detail not found
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
Labels: HUB

#2804 Reorganize collections tests
  cypress/e2e/hub/collections-detail.cy.ts
  cypress/e2e/hub/collections-list.cy.ts
  cypress/e2e/hub/collections.cy.ts
Labels: E2E, HUB

#2793 AAP-27472: Disable links for _system user in created/modified columns
  frontend/common/columns.tsx
Labels: release-blocker

#2800 Fix using https over http
  frontend/awx/resources/inventories/components/LabelHelp.tsx
Labels: AWX

#2768 Unskip job template e2e tests
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/support/table-commands.ts
  frontend/awx/views/jobs/JobOutput/JobStatusBar.tsx
Labels: AWX, E2E, release-blocker

#2807 [AAP-27749] Fix workflow template form job and skip tag values on edit
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
Labels: AWX, release-blocker

#2783 Display social auth login error message
  frontend/common/AnsibleLogin.cy.tsx
  frontend/common/AnsibleLogin.tsx
Labels: CCT, release-blocker

#2781 [AAP-27473] Hide overview card create button for users without permissions
  frontend/awx/overview/cards/AwxRecentInventoriesCard.tsx
  frontend/awx/overview/cards/AwxRecentJobsCard.tsx
  frontend/awx/overview/cards/AwxRecentProjectsCard.tsx
Labels: AWX, release-blocker

#2810 Fix EE edit
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
Labels: HUB

#2788 Add small changes to EE access test
  cypress/e2e/awx/resources/executionEnvironmentsAccess.cy.ts
  cypress/support/awx-access-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2824 [AAP-27745] Clear the resource field when the node_ type changes, not when node_type is dirty
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
Labels: AWX, release-blocker

#2835 fix capitalization in test
  cypress/e2e/eda/overview/eda-overview.cy.ts
Labels: EDA, E2E

#2831 [AAP-26594] unskip bulk delete test in projects-list.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
Labels: EDA, E2E, release-blocker

#2792 [AAP-27781] Fix EDA credential types test
  cypress/e2e/eda/Credentials/credential-type-crud.cy.ts
  frontend/eda/access/credential-types/CredentialTypes.tsx
Labels: EDA, E2E

#2839 [AAP-26992] Fix settings checkbox revert to default action
  framework/PageForm/Inputs/PageFormCheckbox.tsx
Labels: AFW, release-blocker

#2842 Skip inventory source tests
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#2846 Skip projects EDA tests
  cypress/e2e/eda/Projects/projects-list.cy.ts
Labels: EDA, E2E

#2786 [AAP-27450] Adds validation to prevent duplicate credential types
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/access/credentials/hooks/useCredentialsValidate.tsx
  frontend/awx/common/PageFormMultiSelectAwxResource.tsx
Labels: AWX, E2E, release-blocker

#2848 Skipped test containing logout in executionEnvironments.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
Labels: AWX, E2E

#2850 Skipped test containing logout in workflowApprovalsList.cy.ts and top…
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
Labels: AWX, E2E

#2849 resolve project flake and unskip
  cypress/e2e/eda/Projects/projects-list.cy.ts
Labels: EDA, E2E

#2772 [AAP-27455] Update docs helper function to link to either Upstream or Downstream Docs
  frontend/awx/access/credential-types/CredentialTypes.tsx
  frontend/awx/access/credentials/Credentials.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/administration/activity-stream/ActivityStream.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/management-jobs/ManagementJobsList.tsx
  frontend/awx/administration/notifiers/Notifiers.tsx
  frontend/awx/administration/topology/Topology.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovals.tsx
  frontend/awx/common/ExecutionEnvironmentDetail.tsx
  frontend/awx/common/MultipleChoiceField.tsx
  frontend/awx/common/useAwxConfig.tsx
  frontend/awx/common/util/getDocsBaseUrl.ts
  frontend/awx/interfaces/Config.ts
  frontend/awx/main/AwxMasthead.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/inventories/components/ConstructedInventoryHint.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectDetails.tsx
  frontend/awx/resources/projects/ProjectSubForms/GitSubForm.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/templates/Templates.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowVisualizerToolbar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/views/jobs/Jobs.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/components/RulesList.tsx
  frontend/common/ExecutionEnvironmentPageDetail.tsx
Labels: AWX, CCT, release-blocker

#2801 Fix inventories constructed flaky tests
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/support/input-commands.ts
Labels: AWX, E2E

#2840 Fix and unskip topology view test
  cypress/e2e/awx/administration/topology-view.cy.ts
Labels: AWX, E2E

#2825 [AAP-27163] fix test for workflow visualizer output
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
Labels: AWX, E2E, release-blocker

#2843 [AAP-26992] Support revert all button in awx settings
  frontend/awx/administration/settings/AwxSettingsForm.tsx
  frontend/awx/administration/settings/useRevertAllSettingsModal.tsx
Labels: AWX, release-blocker

#2845 schedule edit bug fix
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  framework/PageForm/Inputs/FormGroupDateTimePicker.tsx
  framework/PageForm/Inputs/PageFormDateTimePicker.tsx
  frontend/awx/views/schedules/components/RuleForm.tsx
  frontend/awx/views/schedules/components/RulesList.tsx
  frontend/awx/views/schedules/hooks/useRuleRowActions.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/ExceptionsStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
  frontend/awx/views/schedules/wizard/constants.ts
Labels: AWX, E2E, CCT, AFW, release-blocker
