Repository ansible/ansible-ui, pull requests merged in 2024-06, with the labels that each got.

#2328 [AAP-23785] Job Template Tests: Create
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2425 Move AsyncSelectFilterBuilder to hub common
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useInventorySelector.tsx
  frontend/hub/administration/repositories/hooks/useRemoteSelector.tsx
  frontend/hub/administration/repositories/hooks/useRepositorySelector.tsx
  frontend/hub/collections/hooks/useCollectionVersionSelector.tsx
  frontend/hub/common/ToolbarAsyncSelectFilterBuilder.tsx
  frontend/hub/execution-environments/hooks/useRegistrySelector.tsx
  frontend/hub/my-imports/hooks/useNamespaceSelector.tsx
Labels: AWX, HUB

#2430 Adds pod spec override to Container group Details
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupDetails.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
Labels: AWX

#2426 AAP-23534 Management Jobs tabs tests - Schedules and Notifications
  cypress/e2e/awx/administration/management-jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2414 Update JobTemplateInputs to use PageFormSelectExecutionEnvironment
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/access/credentials/hooks/useSelectCredential.tsx
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/administration/execution-environments/components/PageFormSelectExecutionEnvironment.tsx
  frontend/awx/administration/execution-environments/hooks/useSelectExecutionEnvironments.tsx
  frontend/awx/administration/instance-groups/components/PageFormInstanceGroupSelect.tsx
  frontend/awx/administration/instance-groups/hooks/useSelectInstanceGroups.tsx
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/inventories/components/RunCommandSteps.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/hooks/useSelectProjects.tsx
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodePromptsStep.tsx
Labels: AWX, Ready for Review

#2433 Update usage of RequestError to avoid import error
  framework/PageWizard/PageWizardBody.tsx
Labels: AFW

#2431 Hide client secret field if client type is public
  frontend/awx/administration/applications/ApplicationPage/ApplicationClientSecretModal.tsx
Labels: AWX

#2428 [AAP-24675] Add download button for jobs output
  frontend/awx/views/jobs/hooks/useDownloadJobOutput.tsx
  frontend/awx/views/jobs/hooks/useJobHeaderActions.tsx
Labels: AWX

#2424 Add route option to Team related components
  frontend/awx/access/teams/AwxAddTeamRoles.tsx
  frontend/awx/access/teams/TeamPage/AwxTeamRoles.tsx
  frontend/eda/access/teams/EdaAddTeamRoles.tsx
  frontend/eda/access/teams/TeamPage/EdaTeamRoles.tsx
Labels: AWX, EDA

#2423 Split inventory host file
  cypress/e2e/awx/resources/inventoryHost/inventoryHost.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2429 Shows instance list inside instance group details tab
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupPage.tsx
  frontend/awx/administration/instances/components/InstancesList.tsx
Labels: AWX

#2427 Adds link to org in Application Details and Copy to EEs
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.cy.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPageDetails.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentsList.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvRowActions.tsx
Labels: AWX, CCT

#2420 [AAP-24645] Instance Details Switch
  cypress/e2e/awx/administration/instances.cy.ts
  frontend/awx/administration/instances/InstanceDetails.cy.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/administration/instances/InstancesPage.cy.tsx
  frontend/awx/administration/instances/components/InstanceForksSlider.tsx
  frontend/awx/administration/instances/components/InstanceSwitch.tsx
  frontend/awx/administration/instances/hooks/useInstanceActions.tsx
  frontend/awx/administration/topology/Sidebar.tsx
Labels: AWX, E2E, CCT

#2416 Adds Activity stream icon to all nested details views
  framework/PageActions/PageActions.tsx
  frontend/awx/access/common/useViewActivityStream.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
Labels: AWX, AFW

#2401 [AAP-24295] Credentials multiline encryption
  framework/PageForm/Inputs/PageFormFileUpload.tsx
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/components/CredentialMultilineInput.tsx
Labels: AWX, AFW

#2320 add roles tab tests for users
  cypress/e2e/eda/Access-Management/team-access.cy.ts
  cypress/e2e/eda/Access-Management/teams-roles-tab.cy.ts
  cypress/e2e/eda/Access-Management/user-access.cy.ts
  cypress/e2e/eda/Users/users-roles-tab.cy.ts
  cypress/support/constants.ts
Labels: EDA, E2E

#2432 Allow passing create route and info message to EDA controller tokens component
  frontend/eda/access/users/CreateControllerToken.tsx
  frontend/eda/access/users/UserPage/ControllerTokens.tsx
  frontend/eda/access/users/hooks/useControllerTokensActions.tsx
Labels: EDA

#2439 Controller > Execution environments test automation
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/support/auth.ts
Labels: AWX, E2E

#2419 [AAP-22879] Applications e2e tests
  cypress/e2e/awx/administration/applications.cy.ts
  frontend/awx/administration/applications/ApplicationForm.tsx
Labels: AWX, E2E

#2437 Inventories - Reorder tabs
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
Labels: AWX

#2451 Skip applications tests
  cypress/e2e/awx/administration/applications.cy.ts
Labels: AWX, E2E

#2412 Add Sync All Button for inventory sources
  frontend/awx/resources/inventories/InventoryPage/InventorySources.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesSourcesToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceActions.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourcePage.tsx
Labels: AWX

#2454 Revert "Adds Activity stream icon to all nested details views"
  framework/PageActions/PageActions.tsx
  frontend/awx/access/common/useViewActivityStream.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
Labels: AWX, AFW

#2457 Skip flaky tests for tabbed views in Credentials.
  cypress/e2e/awx/resources/credentials.cy.ts
Labels: AWX, E2E

#2436 [AAP-24931] Add ID column to job lists
  frontend/awx/administration/instance-groups/InstanceGroupPage/hooks/useInstanceGroupJobsColumns.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsJobsColumns.tsx
Labels: AWX

#2467 Fix flaky tests
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  frontend/awx/administration/instance-groups/InstanceGroupForm.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupForm.tsx
Labels: AWX, E2E, CCT

#2460 Add Cancel Sync Inventory Option
  frontend/awx/resources/inventories/InventoryPage/InventorySources.tsx
  frontend/awx/resources/inventories/hooks/useCancelInventoryUpdate.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceActions.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourcePage.tsx
Labels: AWX

#2471 Add optional props for passing empty state and button labels to ControllerTokens
  frontend/eda/access/users/UserPage/ControllerTokens.tsx
  frontend/eda/access/users/hooks/useControllerTokensActions.tsx
  frontend/eda/access/users/hooks/useDeleteControllerTokens.tsx
Labels: EDA

#2468 Adds logic for inventory type routes from activity stream
  frontend/awx/administration/activity-stream/components/ActivityDescription.tsx
  frontend/awx/administration/activity-stream/hooks/useGetActivityStreamRoute.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/inventories/constants.tsx
  frontend/awx/resources/inventories/hooks/useInventoryTypes.tsx
Labels: AWX

#2470 Adds help text to job details
  framework/PageDetails/PageDetailsFromColumns.tsx
  framework/PageTable/PageTableColumn.tsx
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
Labels: AWX, AFW

#2476 Extend resource notifications to handle an ID being passed in
  frontend/awx/resources/notifications/ResourceNotifications.tsx
Labels: AWX

#2481 Show missing job data in workflow approval job details tab
  frontend/awx/administration/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalPage.tsx
  frontend/awx/interfaces/WorkflowApproval.ts
Labels: AWX

#2435 [AAP-24953] Bulk fix browser's back button
  frontend/awx/access/common/useAccessColumns.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/awx/access/roles/RoleForm.tsx
  frontend/awx/access/teams/AwxAddTeamRoles.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentDetails.tsx
  frontend/awx/common/JobColumns.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/awx/main/routes/useAwxCredentialTypesRoutes.tsx
  frontend/awx/main/routes/useAwxInstanceGroupsRoutes.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/main/routes/useAwxNotificationsRoutes.tsx
  frontend/awx/main/routes/useAwxOrganizationsRoutes.tsx
  frontend/awx/main/routes/useAwxProjectRoutes.tsx
  frontend/awx/main/routes/useAwxTeamsRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/main/routes/useAwxUsersRoutes.tsx
  frontend/awx/main/useAwxNavigation.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
  frontend/eda/main/routes/useEdaOrganizationsRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/hub/main/useHubNavigation.tsx
Labels: AWX, EDA, HUB

#2480 [AAP-24172] Add template details popovers
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
Labels: AWX

#2396 Notifications tests tabs
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
Labels: AWX, E2E

#2463 Launch inventory update -> Launch Inventory Updates (rename)
  frontend/awx/resources/inventories/hooks/useInventoriesSourcesToolbarActions.tsx
Labels: AWX

#2417 Run command ignoring selection fixed
  frontend/awx/resources/groups/hooks/useRelatedGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/InventoryRunCommand.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsHostsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsToolbarActions.tsx
Labels: AWX

#2474 Add file upload option & password fields to settings
  frontend/awx/administration/settings/AwxSettingsForm.tsx
Labels: AWX

#2475 Refactor usage of initialValues for CredentialForm
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/components/CredentialMultilineInput.tsx
Labels: AWX

#2483 Fixes Instance and Container Group tests
  cypress/e2e/awx/administration/instanceGroups.cy.ts
Labels: AWX, E2E

#2489 Shorten breadcrumbs, add token name to breadcrumbs, add props for labels
  frontend/awx/access/users/UserPage/UserTokenPage.cy.tsx
  frontend/awx/access/users/UserPage/UserTokenPage.tsx
Labels: AWX, CCT

#2450 Add check to make sure no framework breakages happen
  .eslintrc.json
  .gitignore
  .prettierignore
  framework/.gitignore
  framework/package.json
  framework/public/package.json
  framework/tsconfig.production.json
  package.json
Labels: AFW

#2449 Remove AddRolesToTeam component
  frontend/awx/access/teams/components/AddRolesToTeam.tsx
Labels: AWX

#2472 Fix edit and launch permissions for inventory sources.
  frontend/awx/resources/inventories/hooks/useInventorySourceActions.tsx
Labels: AWX

#2484 Change name filter query for Roles list page.
  frontend/awx/access/roles/AwxRolePage.cy.tsx
  frontend/awx/access/roles/AwxRoles.tsx
Labels: AWX, CCT

#2495 Fix Inventory Hosts Jobs
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostJobs.tsx
Labels: AWX

#2441 [AAP-24644] Fixes scroll on Topology Sidebar
  frontend/awx/administration/topology/Sidebar.tsx
  frontend/awx/administration/topology/Visualizer.tsx
Labels: AWX

#2477 [AAP-25091] Uses resource id for edit schedule instead of params
  frontend/awx/views/schedules/hooks/useProcessSchedules.tsx
Labels: AWX

#2351 Adds default values for boolean fields. Fixes navigation on edit save
  frontend/awx/administration/instances/InstanceForm.cy.tsx
  frontend/awx/administration/instances/InstanceForm.tsx
Labels: AWX, CCT

#2465 Fix EDA credentials input intermittently clearing
  frontend/eda/access/credentials/CredentialForm.tsx
Labels: EDA

#2440 [AAP-24945] Add Language Toggle to Host Details Facts
  cypress/support/hostsfunctions.ts
  framework/PageDetails/PageDetailCodeEditor.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  frontend/awx/resources/groups/GroupDetails.cy.tsx
  frontend/awx/resources/inventories/InventoryRunCommand.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.cy.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.cy.tsx
Labels: AWX, CCT, AFW

#2490 [AAP-22589] Inventory source tests
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#2421 Controller -> Workflow Approval List Test Tech Debt
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/wfApprovalsList.cy.ts
  cypress/e2e/awx/administration/wfApprovalsTabs.cy.ts
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/common-commands.ts
Labels: AWX, E2E

#2459 Add remaining columns missing from jobs details page.
  frontend/awx/views/jobs/JobDetails.tsx
Labels: AWX

#2486 Add GCE Upload component to CredentialsForm.
  framework/PageForm/Inputs/PageFormFileUpload.tsx
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/components/GCEUploadField.tsx
Labels: AWX, AFW

#2499 [AAP-24169, AAP-24170, AAP-24171] Removes unused file and lots of TODOS
  frontend/awx/common/util/launchHandlers.ts
Labels: AWX

#2456 Adds activity stream to all awx page views
  frontend/awx/access/common/useViewActivityStream.tsx
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupPage.tsx
  frontend/awx/administration/instances/InstancesPage.tsx
  frontend/awx/administration/notifiers/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalPage.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
Labels: AWX

#2479 [AAP-24927] Unifies host add or create button text
  frontend/awx/resources/hosts/hooks/useHostsEmptyStateActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsHostsToolbarActions.tsx
Labels: AWX

#2500 Use GET action to generate content type options in AWX role wizard instead of POST
  frontend/awx/access/common/AwxRolesWizardSteps/AwxSelectResourceTypeStep.tsx
Labels: AWX

#2487 Mask template launch survey passwords on review step
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
Labels: AWX

#2482 fix organization tooltip in execution environment edit form
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
Labels: AWX

#2455 Update credential single select to PageFormSingleSelectAwxResource
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  framework/PageInputs/PageSingleSelect.tsx
  frontend/awx/access/credentials/components/PageFormCredentialSelect.tsx
  frontend/awx/access/credentials/utils/getCredentialByName.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/awx/administration/instance-groups/ContainerGroupForm.cy.tsx
  frontend/awx/administration/instance-groups/ContainerGroupForm.tsx
  frontend/awx/interfaces/Inventory.ts
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/interfaces/JobTemplateForm.ts
  frontend/awx/resources/inventories/InventoryRunCommand.cy.tsx
  frontend/awx/resources/inventories/InventoryRunCommand.tsx
  frontend/awx/resources/inventories/components/RunCommandSteps.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.cy.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/ArchiveSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/GitSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/InsightsSubForm.tsx
  frontend/awx/resources/projects/ProjectSubForms/SvnSubForm.tsx
  frontend/awx/resources/projects/hooks/useGetCredentialTypeIDs.tsx
  frontend/awx/resources/sources/InventorySourceForm.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
Labels: AWX, E2E, CCT, AFW

#2388 [AAP-24296] Add Encrypted field to CredentialTextInput
  cypress/e2e/awx/resources/credentials.cy.ts
  frontend/awx/access/credentials/CredentialForm.tsx
Labels: AWX, E2E

#2473 [AAP-24669] Support Undo and Reset for Settings Inputs
  framework/PageActions/PageActionDropdown.tsx
  framework/PageActions/PageActions.tsx
  framework/PageForm/Inputs/PageFormCheckbox.tsx
  framework/PageForm/Inputs/PageFormDataEditor.tsx
  framework/PageForm/Inputs/PageFormSelect.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/administration/settings/AwxSettingsForm.tsx
Labels: AWX, AFW

#2501 Allow write-in values for async single selects
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
Labels: AFW

#2511 [AAP-23484] Changes approval text and prevent unnecessary http request
  frontend/awx/resources/notifications/ResourceNotifications.tsx
  frontend/awx/resources/notifications/hooks/useNotificationActions.tsx
Labels: AWX

#2502 [AAP-22567] Workaround for setValue for the 'Generate extra vars' button
  frontend/eda/access/credential-types/CredentialTypeForm.cy.tsx
  frontend/eda/access/credential-types/CredentialTypeForm.tsx
Labels: EDA, CCT

#2464 [AAP-23373] Topology mesh tech debt test
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/fixtures/instance_nodes.json
  frontend/awx/administration/topology/Topology.tsx
  frontend/awx/administration/topology/Visualizer.cy.tsx
  frontend/awx/main/useAwxNavigation.tsx
Labels: AWX, E2E, CCT

#2512 Restore deleted file
  frontend/awx/resources/projects/hooks/useGetCredentialTypeIDs.tsx
Labels: AWX

#2492 Tests - Bulk delete Inventories
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
  cypress/e2e/awx/resources/inventories.cy.ts
Labels: AWX, E2E

#2518 skip flaky tests 6/13
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/overview/awx-overview.cy.ts
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
Labels: AWX, E2E

#2524 fixing bug: editing a disabled schedule should stay disabled
  frontend/awx/views/schedules/hooks/useProcessSchedules.tsx
  frontend/awx/views/schedules/types.ts
Labels: AWX

#2509 instance groups tests fix
  cypress/e2e/awx/administration/instanceGroups.cy.ts
Labels: AWX, E2E

#2521 E2E AWX and Hub: Update manage view modal title selector
  cypress/e2e/awx/overview/awx-overview.cy.ts
  cypress/e2e/hub/overview/hub-overview.cy.ts
Labels: AWX, E2E, HUB

#2519 Fix notifiers tests
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersSharedFunctions.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2525 flaky tests -> execution environments
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
Labels: AWX, E2E

#2445 Inventory host details
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHost.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2532 [AAP-21400] Constructed inventories tech debt work
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoriesConstructed.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/input-commands.ts
  cypress/support/table-commands.ts
Labels: AWX, E2E, Ready for Review

#2526 AAP-25144 Simplify useAwxConfig to fix loading state of the platform
  frontend/awx/common/useAwxConfig.tsx
  frontend/common/usePolledState.tsx
Labels: AWX

#2542 Skip flaky tests
  cypress/e2e/awx/access/teams.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
Labels: AWX, E2E

#2543 bulk delete new branch
  cypress/e2e/awx/resources/inventoryHost/inventoryHost.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2545 after merge review comments
  cypress/e2e/awx/resources/inventoryHost/inventoryHost.cy.ts
Labels: AWX, E2E

#2493 Add launch and facts test to Hosts
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2548 flaky tests -> teams
  cypress/e2e/awx/access/teams.cy.ts
Labels: AWX, E2E

#2503 inventories run command test for constructed inventories
  cypress/e2e/awx/resources/inventoryHost/inventoryHostConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/runCommandFunction.ts
  frontend/awx/resources/inventories/InventoryRunCommand.tsx
Labels: AWX, E2E

#2558 framework export PageTableCard
  framework/index.ts
Labels: AFW

#2553 teams > fixing flaky create basic team test
  cypress/e2e/awx/access/teams.cy.ts
Labels: AWX, E2E

#2544 Fix topology view tests
  cypress/e2e/awx/administration/topology-view.cy.ts
Labels: AWX, E2E

#2534 [AAP-24502] Adds password input to password field in settings area
  frontend/awx/administration/settings/AwxSettingsForm.tsx
Labels: AWX

#2555 Adjust breakpoint when the label is shown in the masthead
  framework/PageMasthead/PageMastheadDropdown.tsx
Labels: AFW

#2556 Skip failing WFJT Surveys Tests
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
Labels: AWX, E2E

#2537 [AAP-23092] Make verbosity levels dropdown
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
Labels: AWX

#2562 removing awxLogin from teams
  cypress/e2e/awx/access/teams.cy.ts
Labels: AWX, E2E

#2529 Fixes flake in credentials and some job e2e tests
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  frontend/awx/views/jobs/Jobs.cy.tsx
Labels: AWX, E2E, CCT

#2508 [AAP-23787]Add tests for workflow job templates
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
Labels: AWX, E2E

#2539 Modify project tests
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/support/awx-commands.ts
Labels: AWX, E2E

#2550 AAP-25655 Fix select component not handling a value of 0
  framework/PageForm/Inputs/PageFormSingleSelect.tsx
Labels: AFW

#2523 [UXD][AAP-25468] EDA updates to buttons
  cypress/e2e/eda/Credentials/credential-type-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  framework/PageSettings/PageSettings.tsx
  frontend/eda/access/credential-types/hooks/useCredentialTypeActions.tsx
  frontend/eda/access/credentials/Credentials.cy.tsx
  frontend/eda/access/credentials/hooks/useCredentialsActions.tsx
  frontend/eda/access/organizations/Organizations.cy.tsx
  frontend/eda/access/organizations/Organizations.tsx
  frontend/eda/access/roles/hooks/useEdaRoleActions.tsx
  frontend/eda/access/teams/Teams.cy.tsx
  frontend/eda/access/teams/Teams.tsx
  frontend/eda/access/users/hooks/useUsersActions.tsx
  frontend/eda/decision-environments/DecisionEnvironments.cy.tsx
  frontend/eda/decision-environments/hooks/useDecisionEnvironmentsActions.tsx
  frontend/eda/projects/hooks/useProjectsActions.tsx
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
Labels: EDA, E2E, CCT, AFW

#2552 Repair notifiersTabs tests
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/support/awx-commands.ts
Labels: AWX, E2E

#2564 [AAP-24961] Update the edit forms to display a warning and read only fields when the user has no edit permissions
  cypress/fixtures/edaGetNoOptions.json
  cypress/fixtures/edaOrganization.json
  frontend/eda/access/credential-types/CredentialTypeForm.cy.tsx
  frontend/eda/access/credential-types/CredentialTypeForm.tsx
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypeDetails.tsx
  frontend/eda/access/credentials/CredentialForm.tsx
  frontend/eda/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/projects/EditProject.tsx
Labels: EDA, CCT

#2579 [AAP-25216] Use the GET choice for the Select resource type options
  cypress/fixtures/edaRoleDefinitionsOptions.json
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectResourceTypeStep.tsx
Labels: EDA

#2578 Consolidate credentials sub form tests
  cypress/e2e/awx/resources/credentials.cy.ts
  framework/PageDetails/PageDetail.tsx
Labels: AWX, E2E, AFW

#2574 [AAP-25708] Only translate the value if the toggleLanguage is true. Set toggle language false for output.
  framework/PageDetails/PageDetailCodeEditor.tsx
  frontend/eda/event-streams/EventStreamInstancePage/EventStreamInstanceDetails.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamDetails.tsx
  frontend/eda/rule-audit/EventPayloadDialog.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstanceDetails.tsx
Labels: EDA, AFW

#2569 new PR for testing missing elements
  cypress/e2e/awx/resources/inventoryHost/inventoryHostConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2580 [AAP-25805] Add support for OpenShift Virtualization inventory source.
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
Labels: AWX

#2584 add tests for ad-hoc commands for regular and smart inventories
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2583 Add cancel job test
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/fixtures/awxRunningJobs.json
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2540 Fix JT/WFJTSurveys flakiness
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/sharedTemplateSurvey.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2587 add facts test to regular inventory
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2608 test cancel job
  cypress/e2e/awx/resources/inventoryHost/inventoryHostConstructed.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostRegular.cy.ts
  cypress/e2e/awx/resources/inventoryHost/inventoryHostSmart.cy.ts
Labels: AWX, E2E

#2585 Empty state icons props fix
  framework/PageTable/PageTable.tsx
  framework/components/EmptyStateNoData.tsx
Labels: AFW

#2577 Fixes selectors for flaky test credentials test
  cypress/e2e/awx/resources/credentials.cy.ts
Labels: AWX, E2E

#2602 [AAP-25871] Set the initial value for the organization_id on Credential edit
  frontend/eda/access/credentials/CredentialForm.cy.tsx
  frontend/eda/access/credentials/CredentialForm.tsx
Labels: EDA, CCT, release-blocker

#2601 Removes credential test that crashes cypress
  cypress/e2e/awx/resources/credentials.cy.ts
Labels: AWX, E2E

#2609 Small update credential type test
  cypress/e2e/awx/administration/credentialTypes.cy.ts
Labels: AWX, E2E

#2547 [AAP-25642] Fix breadcrumbs params in `Inventory > Inventory Source > Schedule` details
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourcePage.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
Labels: AWX

#2605 [UXD][AAP-25027] Hub updates to breadcrumbs and headers
  cypress/e2e/hub/repositories.cy.ts
  frontend/hub/access/roles/RolePage/RoleForm.cy.tsx
  frontend/hub/access/roles/RolePage/RoleForm.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryDetails.tsx
  frontend/hub/administration/remote-registries/RemoteRegistryForm.tsx
  frontend/hub/administration/remotes/RemoteForm.tsx
  frontend/hub/administration/repositories/RepositoryForm.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/collections/UploadCollection.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/hub/namespaces/HubNamespaceForm.tsx
Labels: E2E, HUB, CCT

#2581 Fix workflow visualizer flaky tests
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
Labels: AWX, E2E

#2607 Fix Jobs finished column
  frontend/awx/common/JobColumns.tsx
  frontend/awx/views/jobs/hooks/useJobsColumns.tsx
Labels: AWX, release-blocker
