Repository ansible/ansible-ui, pull requests merged in 2024-05, with the labels that each got.

#2168 [AAP-22271] Add content to the user tokens tab
  cypress/fixtures/userToken-app.json
  cypress/fixtures/userToken-pat.json
  cypress/fixtures/userTokens.json
  cypress/fixtures/userTokens_options.json
  frontend/awx/access/users/UserPage/UserTokenDetails.cy.tsx
  frontend/awx/access/users/UserPage/UserTokenDetails.tsx
  frontend/awx/access/users/UserPage/UserTokenPage.tsx
  frontend/awx/access/users/UserPage/UserTokens.cy.tsx
  frontend/awx/access/users/UserPage/UserTokens.tsx
  frontend/awx/access/users/hooks/useUserTokensColumns.tsx
  frontend/awx/access/users/hooks/useUserTokensFilters.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxUsersRoutes.tsx
Labels: AWX, CCT

#2161 Update strings on useSelectDialog
  framework/PageDialogs/useSelectDialog.tsx
Labels: AFW

#2214 Updates to EDA/AWX user roles
  framework/PageTabs/PageRoutedTabs.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/access/users/components/AddRolesToUser.tsx
  frontend/common/access/components/Access.tsx
  frontend/eda/access/users/EdaAddUserRoles.tsx
  frontend/eda/access/users/UserPage/EdaUserRoles.tsx
Labels: AWX, EDA, AFW

#2211 [AAP-8154] Instance Group Jobs List
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupJobs.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/hooks/useInstanceGroupJobsColumns.tsx
  frontend/awx/common/JobColumns.tsx
  frontend/awx/main/routes/useAwxInstanceGroupsRoutes.tsx
  frontend/awx/views/jobs/jobUtils.tsx
Labels: AWX

#2212 fixing Enable/Disable a Schedule from Details Page
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
Labels: AWX

#2210 Controller -> Projects Test Scaffolding
  cypress.base.config.ts
  cypress/e2e/awx/administration/notifiers.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
Labels: AWX, E2E

#2216 Fix Hidden Application Form Submit and Cancel Buttons
  frontend/awx/administration/applications/ApplicationForm.tsx
Labels: AWX

#2189 Adds Container Group add and edit along with container group page
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/fixtures/credentials.json
  cypress/fixtures/instanceGroupOptions.json
  frontend/awx/access/credentials/Credentials.cy.tsx
  frontend/awx/access/credentials/hooks/useSelectCredential.tsx
  frontend/awx/administration/instance-groups/ContainerGroupForm.cy.tsx
  frontend/awx/administration/instance-groups/ContainerGroupForm.tsx
  frontend/awx/administration/instance-groups/hooks/useDeleteInstanceGroups.tsx
  frontend/awx/administration/instance-groups/hooks/useInstanceGroupActions.tsx
  frontend/awx/administration/instance-groups/hooks/useInstanceGroupColumns.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/interfaces/InstanceGroup.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInstanceGroupsRoutes.tsx
Labels: AWX, E2E, CCT, Ready for Review

#2208 [AAP-8279] Add become method component for credentials
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/components/BecomeMethodField.tsx
Labels: AWX

#2222 Fix tests
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
Labels: AWX, E2E

#2224 Management jobs notifications list
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/resources/notifications/ResourceNotifications.tsx
Labels: AWX

#2150 Adds description and docs link to Rules Step and Exceptions Step
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  frontend/awx/views/schedules/components/RuleForm.tsx
  frontend/awx/views/schedules/components/RulesList.tsx
  frontend/awx/views/schedules/hooks/useSetRRuleItemToRuleSet.tsx
  frontend/awx/views/schedules/wizard/ExceptionsStep.tsx
  frontend/awx/views/schedules/wizard/RulesStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
Labels: AWX, E2E, CCT, Ready for Review

#2221 Controller -> Fix Failing Tests- InventoryGroups and Project
  cypress.base.config.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/table-commands.ts
Labels: AWX, E2E

#2226 Notifiers add edit form test
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
Labels: AWX, E2E

#2223 [AAP-23629] Survey fixes and enhancements
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/common/SurveyStep.tsx
Labels: AWX, AFW

#2204 Update node icons per UXD's suggestions.
  cypress/e2e/awx/resources/projects.cy.ts
  frontend/awx/administration/topology/Legend.tsx
  frontend/awx/administration/topology/components/MeshNode.tsx
Labels: AWX, E2E

#2228 Add key icon to open secret management wizard
  frontend/awx/access/credentials/CredentialForm.tsx
Labels: AWX

#2234 Controller -> Instances Test Scaffolding
  cypress.base.config.ts
  cypress/e2e/awx/administration/instances.cy.ts
Labels: AWX, E2E

#2220 Add Credential Plugins Wizard
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/CredentialPlugins/CredentialPlugins.tsx
  frontend/awx/access/credentials/CredentialPlugins/components/PageFormExternalCredentialSelect.tsx
  frontend/awx/access/credentials/CredentialPlugins/hooks/useCredentialPluginsDialog.tsx
  frontend/awx/access/credentials/components/CredentialMultilineInput.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/awx/interfaces/CredentialType.ts
Labels: AWX

#2137 AAP 8236 Org EE list
  frontend/awx/access/organizations/OrganizationPage/OrganizationExecutionEnvironments.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentsList.tsx
  frontend/awx/administration/execution-environments/hooks/useDeleteExecutionEnvironments.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvRowActions.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvironmentsFilters.tsx
  frontend/awx/administration/notifiers/NotificationPage/NotificationPage.tsx
  frontend/awx/main/routes/useAwxOrganizationsRoutes.tsx
Labels: AWX

#2235 Header updates for Roles list/details pages
  framework/PageHeader.tsx
  frontend/awx/access/roles/AwxRolePage.tsx
  frontend/eda/access/roles/EdaRolePage.tsx
  frontend/eda/access/roles/RoleForm.tsx
  frontend/hub/access/roles/RolePage/RoleForm.tsx
  frontend/hub/access/roles/RolePage/RolePage.tsx
Labels: AWX, EDA, HUB, AFW

#2236 [UXD][AAP-23702] Update cred type button to primary
  frontend/awx/access/credential-types/hooks/useCredentialTypeActions.tsx
Labels: AWX

#2225 [AAP-23625] Fix WF visualizer/job output dark mode
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
  framework/PageFramework.css
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowTopology.tsx
  frontend/awx/views/jobs/WorkflowOutput/WorkflowOutput.tsx
Labels: AWX, E2E, AFW

#2159 Add prompted and survey details to workflow node detail panel
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
  frontend/awx/common/SurveyStep.tsx
  frontend/awx/interfaces/InventorySource.ts
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/interfaces/WorkflowNode.ts
  frontend/awx/interfaces/summary-fields/summary-fields.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizerNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/InventorySourceDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/JobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeCodeEditorDetail.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeNameDetail.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeTagDetail.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/ProjectDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/PromptDetail.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/Sidebar.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/SidebarHeader.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowApprovalNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowJobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/WorkflowNodeDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/index.ts
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/index.ts
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetDetailComponent.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetInitialValues.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetNodeTypeDetail.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetTimeoutString.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeEditWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
Labels: AWX, E2E

#2241 [AAP-23726] Fix multiselect payload value in launch template
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
Labels: AWX

#2215 [AAP-23637] Hook up run command wizard to toolbar buttons
  frontend/awx/administration/execution-environments/components/PageFormExecutionEnvironmentSelect.tsx
  frontend/awx/common/adapters/awxErrorAdapter.tsx
  frontend/awx/interfaces/Inventory.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/InventoryRunCommand.cy.tsx
  frontend/awx/resources/inventories/InventoryRunCommand.tsx
  frontend/awx/resources/inventories/components/RunCommandSteps.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesHostsToolbarActions.tsx
Labels: AWX, CCT

#2238 [AAP-23598] Fix slow schedule toggle
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
Labels: AWX

#2207 [AAP-22819] Update the api used to check in-use credentials
  frontend/eda/access/credentials/Credentials.cy.tsx
  frontend/eda/access/credentials/hooks/useDeleteCredentials.tsx
  frontend/eda/common/EdaResourcesCommon.tsx
  frontend/eda/common/EdaResourcesComon.tsx
  frontend/eda/decision-environments/hooks/useDeleteDecisionEnvironments.tsx
Labels: EDA, CCT

#2240 [AAP-23722] Add validation to `MultipleChoiceField` with no choices
  frontend/awx/resources/templates/TemplatePage/TemplateSurveyForm.tsx
Labels: AWX

#2230 adding functionality to save schedules with surveys
  frontend/awx/views/schedules/hooks/useProcessSchedules.tsx
  frontend/awx/views/schedules/types.ts
Labels: AWX, Ready for Review

#2245 Follow up to https://github.com/ansible/ansible-ui/pull/2232 - Remove duplicate tabs
  frontend/awx/access/credentials/CredentialPage/CredentialPage.cy.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.tsx
Labels: AWX, CCT

#2246 Controller -> Job Templates Test Scaffolding
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2131 [AAP-22947] e2e jobTemplateSurveys tests
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  frontend/awx/resources/templates/TemplatePage/TemplateSurveyForm.tsx
Labels: AWX, E2E

#2247 Controller -> Workflow Job Template Test Scaffolding
  cypress/e2e/awx/resources/workflowJobTemplates.cy.ts
Labels: AWX, E2E

#2250 Small fixes
  frontend/awx/overview/AwxOverview.tsx
  frontend/awx/overview/hooks/useManagedAwxDashboard.tsx
  frontend/eda/access/users/hooks/useUserColumns.tsx
  frontend/hub/overview/useManageHubDashboard.tsx
Labels: AWX, EDA, HUB

#2239 eda credential tests
  cypress/e2e/eda/Credentials/credential-type-crud.cy.ts
  cypress/e2e/eda/Credentials/credential-type-tabs.cy.ts
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
  cypress/e2e/eda/Credentials/credentials-list.cy.ts
  cypress/e2e/eda/Credentials/credentials-usage.cy.ts
  cypress/support/commands.d.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E

#2253 [UXD][AAP-23826] Update Activity Stream header
  frontend/awx/administration/activity-stream/ActivityStream.tsx
Labels: AWX

#2252 Controller -> Tokens Test Scaffolding
  cypress/e2e/awx/access/tokens.cy.ts
Labels: AWX, E2E

#2213 Adds host modal details
  framework/PageDetails/PageDetailCodeEditor.tsx
  frontend/awx/interfaces/JobEvent.ts
  frontend/awx/views/jobs/JobOutput/HostEventModal.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputEvents.tsx
  frontend/awx/views/jobs/JobOutput/JobOutputRow.tsx
  frontend/awx/views/jobs/JobOutput/useJobOutput.tsx
  frontend/awx/views/jobs/JobOutput/util.ts
Labels: AWX, AFW

#2251 Fix Controller failure on main
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2229 Support full row clickability in select dialog
  framework/PageTable/PageTable.tsx
Labels: AFW

#2202 Adds missing fields to job details page
  frontend/awx/interfaces/Job.ts
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/common/ExecutionEnvironmentPageDetail.tsx
Labels: AWX

#2255 AAP-23534 `Management Jobs` tests
  cypress/e2e/awx/administration/management-jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2260 Controller -> Job Output Test Scaffolding
  cypress/e2e/awx/views/jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2262 fix flakey test
  cypress/e2e/eda/Credentials/credentials-crud.cy.ts
Labels: EDA, E2E

#2263 address flaky test
  cypress/e2e/awx/administration/management-jobs.cy.ts
Labels: AWX, E2E

#2243 Add User/Team Access tabs to Job templates
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/templates/JobTemplateAddTeams.tsx
  frontend/awx/resources/templates/JobTemplateAddUsers.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateTeamAccess.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateTeamAccess.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateUserAccess.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateUserAccess.tsx
Labels: AWX, CCT

#2258 Fix User Form Layout. Input configuration and injectors mandatory in the Credential Form
  frontend/eda/access/credential-types/CredentialTypeForm.tsx
  frontend/eda/access/users/EditUser.tsx
Labels: EDA

#2206 [AAP-22987] Update organization form error handling
  frontend/eda/access/organizations/OrganizationPage/OrganizationForm.tsx
Labels: EDA

#2266 Controller -> Organizations Test Cases
  cypress/e2e/awx/access/organizations.cy.ts
Labels: AWX, E2E

#2248 [AAP-23812] manage question order in WFJT survey
  frontend/awx/resources/templates/hooks/useManageSurveyQuestions.tsx
  frontend/awx/resources/templates/hooks/useSurveyToolbarActions.tsx
Labels: AWX

#2244 Refactor PageForm
  framework/PageForm/PageForm.tsx
Labels: AFW

#2254 [AAP-8313 ] Disable edit credential field for kind vault and id vault_id
  frontend/awx/access/credentials/CredentialForm.tsx
Labels: AWX

#2271 [UXD][AAP-23895] Updating tooltips in EDA
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA

#2249 [AAP-22947] e2e WFJT Survey tests
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/sharedTemplateSurvey.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
Labels: AWX, E2E

#2259 Hook up Credential Plugins to Credential Add Form
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/CredentialPlugins/CredentialPlugins.tsx
  frontend/awx/access/credentials/CredentialPlugins/components/PageFormExternalCredentialSelect.tsx
  frontend/awx/access/credentials/CredentialPlugins/hooks/useCredentialPluginsDialog.tsx
  frontend/awx/access/credentials/components/CredentialMultilineInput.tsx
  frontend/awx/common/CredentialLabel.tsx
  frontend/awx/interfaces/CredentialInputSource.ts
Labels: AWX

#2264 Add User/Team access tabs to WFJT page
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateAddTeams.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateAddUsers.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateTeamAccess.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateTeamAccess.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateUserAccess.cy.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateUserAccess.tsx
Labels: AWX, CCT

#2280 skip flaky management job details test until fix is in
  cypress/e2e/awx/administration/management-jobs.cy.ts
Labels: AWX, E2E

#2270 Fix rendering form action buttons
  cypress/e2e/awx/administration/management-jobs.cy.ts
  frontend/awx/access/users/UserForm.tsx
Labels: AWX, E2E

#2281 Updates custom command to wait while management job `Clean Up Job` details is processing events
  cypress/e2e/awx/administration/management-jobs.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2284 Unskips the Management job tests
  cypress/e2e/awx/administration/management-jobs.cy.ts
Labels: AWX, E2E

#2256 Updates to support adding users to orgs
  frontend/awx/access/common/AwxRolesWizardSteps/AwxSelectRolesStep.tsx
  frontend/common/access/RolesWizard/steps/RoleAssignmentsReviewStep.tsx
  frontend/common/access/RolesWizard/steps/SelectRolesStep.tsx
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectRolesStep.tsx
  frontend/eda/common/useEventDrivenView.tsx
Labels: AWX, EDA

#2276 [AAP-23757] Instances Requests Bugfix
  cypress/e2e/awx/administration/instances.cy.ts
  frontend/awx/administration/instances/InstancePeers.tsx
  frontend/awx/administration/instances/hooks/useAssociatePeersToInstance.tsx
  frontend/awx/administration/instances/hooks/useDisassociatePeer.tsx
  frontend/awx/administration/instances/hooks/useSelectAssociatePeers.tsx
Labels: AWX, E2E

#2275 Controller -> Add User/Team Access Test Cases
  cypress/e2e/awx/access/resourceTeamsAccess.cy.ts
  cypress/e2e/awx/access/resourceUsersAccess.cy.ts
Labels: AWX, E2E

#2288 Controller -> unskip system setting test
  cypress/e2e/awx/administration/settings.cy.ts
Labels: AWX, E2E

#2289 Rulebook activations - Update tooltips and service name
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA

#2287 [AWX] Remove redundant access tab for Credential and Inventory Pages
  frontend/awx/access/credentials/CredentialPage/CredentialPage.cy.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxCredentialRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
Labels: AWX, CCT

#2273 [AAP-23770] Fix `Provisioning callback` and `Enable webhook` options in WFJT/JT create/edit forms
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateInputs.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
Labels: AWX

#2282 [AAP-23768] WFJT/JT update links to point to details
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplateDetails.tsx
Labels: AWX

#2292 Make resource team/user access page URLs consistent throughout app
  frontend/awx/access/credentials/components/CredentialAddTeams.cy.tsx
  frontend/awx/access/credentials/components/CredentialAddUsers.cy.tsx
  frontend/awx/main/routes/useAwxCredentialRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/inventories/components/InventoryAddTeams.cy.tsx
  frontend/awx/resources/inventories/components/InventoryAddUsers.cy.tsx
  frontend/eda/main/useEdaNavigation.tsx
Labels: AWX, EDA, CCT

#2298 [AAP-23834] Update link on details page for non managed credential types
  frontend/awx/access/credentials/CredentialPage/CredentialDetails.tsx
Labels: AWX

#2267 [AAP-22272] Support adding and deleting user tokens
  frontend/awx/access/users/UserPage/UserTokenDetails.tsx
  frontend/awx/access/users/UserPage/UserTokenPage.cy.tsx
  frontend/awx/access/users/UserPage/UserTokenPage.tsx
  frontend/awx/access/users/UserPage/UserTokenSecretsModal.cy.tsx
  frontend/awx/access/users/UserPage/UserTokenSecretsModal.tsx
  frontend/awx/access/users/UserPage/UserTokens.tsx
  frontend/awx/access/users/UserTokenForm.cy.tsx
  frontend/awx/access/users/UserTokenForm.tsx
  frontend/awx/access/users/hooks/useDeleteUserTokens.tsx
  frontend/awx/access/users/hooks/useUserTokensColumns.tsx
  frontend/awx/administration/applications/components/PageFormApplicationSelect.tsx
  frontend/awx/interfaces/Token.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxUsersRoutes.tsx
Labels: AWX, CCT

#2268 Bulk delete for credential types
  frontend/eda/access/credential-types/hooks/useCredentialTypeActions.tsx
  frontend/eda/access/credential-types/hooks/useDeleteCredentialTypes.tsx
Labels: EDA

#2261 tests for eda roles
  cypress/e2e/eda/Roles/custom-roles-crud.cy.ts
  cypress/e2e/eda/Roles/eda-role-details.cy.ts
  cypress/e2e/eda/Roles/eda-roles-list.cy.ts
  cypress/support/commands.d.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E

#2300 fix credential type tests
  cypress/e2e/eda/Credentials/credential-type-crud.cy.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E

#2277 Add user/team access tabs for instance groups
  frontend/awx/administration/instance-groups/InstanceGroupAddTeams.tsx
  frontend/awx/administration/instance-groups/InstanceGroupAddUsers.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupPage.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupTeamAccess.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupTeamAccess.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupUserAccess.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupUserAccess.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxInstanceGroupsRoutes.tsx
Labels: AWX, CCT

#2171 framework: allow external navigation items
  framework/PageNavigation/PageApp.tsx
  framework/PageNavigation/PageNavigation.tsx
  framework/PageNavigation/PageNavigationItem.tsx
Labels: AFW

#2293 [AAP-23954] Fix 404 on the Job Output screen
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/awx/views/jobs/JobPage.tsx
Labels: AWX

#2302 Hub ExternalLink: update classnames to v5, fix missing children
  frontend/hub/common/ExternalLink.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespaceCLI.tsx
Labels: HUB

#2303 Fixes schedules-mgt-job-resource-link
  frontend/awx/administration/activity-stream/hooks/useGetActivityStreamRoute.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/NodeNameDetail.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeReviewStep.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/hooks/useGetScheduleUrl.tsx
  frontend/awx/views/schedules/wizard/ScheduleReviewStep.tsx
Labels: AWX

#2306 ActiveUser fix user being null when SWR is refreshing
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/eda/common/useEdaActiveUser.tsx
  frontend/hub/common/useHubActiveUser.tsx
Labels: AWX, EDA, HUB

#2307 Add filters to Management Job Schedules
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobSchedules.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/hooks/useSchedulesFilter.tsx
Labels: AWX

#2304 Remove unused useSelectOrganization hook
  frontend/awx/access/organizations/hooks/useSelectOrganization.tsx
Labels: AWX

#2278 Notifier tests - check the detail after adding
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
Labels: AWX, E2E

#2295 [Analytics] Add check there's HOST_METRIC_SUMMARY_TASK_LAST_TS
  frontend/awx/analytics/subscription-usage/SubscriptionUsage.tsx
Labels: AWX

#2310 [AAP-8279] Add credential test to assert become methods are rendered properly
  cypress/e2e/awx/resources/credentials.cy.ts
  frontend/awx/access/credentials/components/BecomeMethodField.tsx
Labels: AWX, E2E

#2315 Fix instance group urls throughout the app
  frontend/awx/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/awx/administration/instance-groups/InstanceGroupAddTeams.tsx
  frontend/awx/administration/instance-groups/InstanceGroupAddUsers.tsx
  frontend/awx/administration/instance-groups/InstanceGroupForm.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/JobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
  frontend/awx/views/jobs/JobDetails.tsx
Labels: AWX

#2301 user and team access tabs
  cypress/e2e/eda/Access-Management/team-access.cy.ts
  cypress/e2e/eda/Access-Management/user-access.cy.ts
  cypress/support/commands.d.ts
  cypress/support/constants.ts
  cypress/support/eda-commands.ts
  cypress/support/interfaces.ts
  frontend/eda/access/interfaces/Assignment.ts
  frontend/eda/access/interfaces/TeamAssignment.ts
  frontend/eda/access/interfaces/UserAssignment.ts
Labels: EDA, E2E

#2305 Persist default values in re-enabling webhook and provisioning callback
  frontend/awx/resources/templates/JobTemplateFormHelpers.ts
  frontend/awx/resources/templates/JobTemplateInputs.tsx
  frontend/awx/resources/templates/TemplateForm.tsx
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
  frontend/awx/resources/templates/components/WebhookSubForm.tsx
Labels: AWX

#2291 Add vault test for credentials
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/support/commands.d.ts
  cypress/support/input-commands.ts
Labels: AWX, E2E

#2321 [AAP-21473] Add warning for no AWX tokens
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#2269 Update errorAdapter for PageWizard for different projects
  frontend/awx/access/credentials/components/CredentialAddTeams.tsx
  frontend/awx/access/credentials/components/CredentialAddUsers.tsx
  frontend/awx/access/users/components/AddRolesToUser.tsx
  frontend/awx/resources/inventories/components/InventoryAddTeams.tsx
  frontend/awx/resources/inventories/components/InventoryAddUsers.tsx
  frontend/awx/resources/templates/JobTemplateAddTeams.tsx
  frontend/eda/access/credential-types/components/EdaCredentialTypeAddTeams.tsx
  frontend/eda/access/credential-types/components/EdaCredentialTypeAddUsers.tsx
  frontend/eda/access/credentials/components/EdaCredentialAddTeams.tsx
  frontend/eda/access/credentials/components/EdaCredentialAddUsers.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddTeams.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddUsers.tsx
  frontend/eda/projects/components/EdaProjectAddTeams.tsx
  frontend/eda/projects/components/EdaProjectAddUsers.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddTeams.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddUsers.tsx
Labels: AWX, EDA

#2274 test automation for Instance groups
  cypress/e2e/awx/administration/containerGroups.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  frontend/awx/interfaces/InstanceGroup.ts
Labels: AWX, E2E

#2326 The multiline input fields for credentials in a single column
  frontend/eda/access/credentials/CredentialFormTypes.tsx
Labels: EDA

#2329 Removed unneeded check which is breaking the framework bundling
  framework/PageNavigation/PageNavigation.tsx
Labels: AFW

#2324 Fix infinite credential type requests in InventoryRunCommand test
  cypress/fixtures/machine_credential_type.json
  frontend/awx/resources/inventories/InventoryRunCommand.cy.tsx
Labels: AWX, CCT

#2314 Hook up edit credential form to Credential Plugins wizard.
  framework/PageForm/Inputs/PageFormFileUpload.tsx
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/components/CredentialMultilineInput.tsx
Labels: AWX, AFW

#2332 [AAP-24248] Skip System Settings test
  cypress/e2e/awx/administration/settings.cy.ts
Labels: AWX, E2E

#2317 Add custom command to query for AWX role definitions
  cypress/e2e/awx/views/schedules.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#2331 [AAP-23477] AWX - Add user and team access to execution environments
  cypress/fixtures/awxExecutionEnvironmentRoles.json
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentTeamAccess.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentUserAccess.tsx
  frontend/awx/administration/execution-environments/components/ExecutionEnvironmentAddTeams.cy.tsx
  frontend/awx/administration/execution-environments/components/ExecutionEnvironmentAddTeams.tsx
  frontend/awx/administration/execution-environments/components/ExecutionEnvironmentAddUsers.cy.tsx
  frontend/awx/administration/execution-environments/components/ExecutionEnvironmentAddUsers.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxExecutionEnironmentRoutes.tsx
Labels: AWX, CCT

#2339 [AAP-21473] Update the no token info on the rulebook activation form
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#2341 Skip flaky schedules and workflow tests
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#2340 [AAP-24061] Show breadcrumbs for all users
  frontend/eda/access/users/UserPage/UserPage.tsx
Labels: EDA

#2345 Skip schedule tests and WFJT Surveys
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#2344 Back button doesn't work after redirect in JT notification tab link
  frontend/awx/resources/notifications/hooks/useNotificationColumns.tsx
Labels: AWX

#2296 Refactor PageForm to remove rendering of extra button
  framework/PageForm/GenericForm.tsx
  framework/PageForm/PageForm.tsx
Labels: AFW

#2352 Fixes schedules e2e
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#2217 [AAP-23162] Add credentials test button
  cypress/e2e/awx/resources/credentials.cy.ts
  cypress/fixtures/credential_types.json
  cypress/fixtures/externalCredential.json
  cypress/fixtures/externalCredentialTypes.json
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/hooks/useCredentialsTestModal.tsx
  frontend/awx/access/credentials/utils/CredentialsExternalTestModal.cy.tsx
  frontend/awx/access/credentials/utils/CredentialsExternalTestModal.tsx
  frontend/awx/interfaces/CredentialType.ts
Labels: AWX, E2E, CCT

#2330 Update AWX roles lists
  frontend/awx/access/roles/AwxRoleDetails.tsx
  frontend/awx/access/roles/AwxRolePage.tsx
  frontend/awx/access/roles/AwxRoles.tsx
  frontend/awx/access/roles/components/AwxRoleExpandedRow.tsx
  frontend/awx/access/roles/components/AwxRolePermissions.tsx
  frontend/awx/access/roles/hooks/useAwxRoleMetadata.tsx
  frontend/awx/access/roles/useAwxRoleColumns.tsx
  frontend/awx/access/roles/useRolesColumns.tsx
  frontend/awx/access/teams/TeamPage/TeamRoles.tsx
  frontend/awx/interfaces/AwxRbacRole.ts
  frontend/awx/interfaces/ContentType.ts
Labels: AWX

#2316 Notifier tests - edit and delete
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
Labels: AWX, E2E

#2363 Notifiers tests- skip because failing
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
Labels: AWX, E2E

#2361 fixes flaky tests and skips one test for WFVZr Output
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
Labels: AWX, E2E

#2335 [AAP-23785] Job Template Tests: Copy
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2360 Replace Roles in teams with one like EDA
  frontend/awx/access/common/AwxAddRoles.tsx
  frontend/awx/access/teams/AwxAddTeamRoles.tsx
  frontend/awx/access/teams/TeamPage/AwxTeamRoles.tsx
  frontend/awx/main/routes/useAwxTeamsRoutes.tsx
Labels: AWX

#2323 [AAP-23785] Job Template Tests: Edit
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2375 skip `can edit a job template to enable webhook`
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2373 Fix user token form and allow passing in user id and create route in props
  frontend/awx/access/users/UserPage/UserTokens.tsx
  frontend/awx/access/users/UserTokenForm.tsx
Labels: AWX

#2379 test automation for Controller > Instances
  cypress/e2e/awx/administration/instances.cy.ts
Labels: AWX, E2E

#2377 [UXD][AAP-24467] Updates to rulebook activation restart policy tooltip
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA

#2366 Avoid using only integers as keys when internally tracking selected items in the map
  framework/PageTable/useTableItems.tsx
Labels: AFW

#2350 [AAP-23786] Fix workflow job template organization payload
  frontend/awx/interfaces/WorkflowJobTemplate.ts
  frontend/awx/resources/templates/WorkflowJobTemplateForm.tsx
Labels: AWX

#2155 adding inventory-host-groups test and more comments
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/e2e/awx/resources/inventoryHost.cy.ts
  cypress/support/hostsfunctions.ts
Labels: AWX, E2E

#2378 Adds galaxy credentials to the useGetCredentialTypeIDs hook
  frontend/awx/resources/projects/hooks/useGetCredentialTypeIDs.tsx
Labels: AWX

#2338 [AAP-23571] Controller -> Projects Tests
  cypress/e2e/awx/resources/projects.cy.ts
Labels: AWX, E2E

#2385 Skip Schedule and WF tests
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#2327 [AAP-23818] Credentials plugins wizard test button
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/access/credentials/CredentialPlugins/CredentialPlugins.tsx
  frontend/awx/access/credentials/CredentialPlugins/hooks/useCredentialPluginsDialog.tsx
  frontend/awx/access/credentials/hooks/useCredentialsTestModal.tsx
  frontend/awx/access/credentials/utils/CredentialsTestButton.tsx
Labels: AWX

#2386 Fix Flaky tests
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#2384 [AAP-24342] Create Separate Applications Table Component
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/applications/ApplicationsTable.tsx
  frontend/common/utils/RBAChelpers.ts
Labels: AWX

#2372 Fix case where filter values might get null
  frontend/awx/common/useAwxView.tsx
Labels: AWX

#2369 Team roles tab tests
  cypress/fixtures/awxProjectRoles.json
  cypress/fixtures/awxTeamRoles.json
  frontend/awx/access/teams/AwxAddTeamRoles.cy.tsx
  frontend/awx/access/teams/TeamPage/AwxTeamRoles.cy.tsx
Labels: AWX, CCT

#2371 [AAP-23065] Fix editing approval node on `Deleted` node
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeEditWizard.tsx
Labels: AWX

#2364 [AAP-24440] [AAP-24441] [AAP-24442] [AAP-24443][AAP-24444] Enable action buttons in UI based on the logged in user's permissions
  cypress/e2e/eda/Credentials/credential-type-crud.cy.ts
  cypress/fixtures/edaActivationsOptions.json
  cypress/fixtures/edaCredentialOptions.json
  cypress/fixtures/edaCredentialTypeOptions.json
  cypress/fixtures/edaCredentialTypesOptions.json
  cypress/fixtures/edaCredentialsOptions.json
  cypress/fixtures/edaDecisionEnvironmentOptions.json
  cypress/fixtures/edaDecisionEnvironmentsOptions.json
  cypress/fixtures/edaProjectOptions.json
  cypress/fixtures/edaProjectsOptions.json
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/eda/access/credential-types/CredentialTypes.cy.tsx
  frontend/eda/access/credential-types/CredentialTypes.tsx
  frontend/eda/access/credential-types/hooks/useCredentialTypeActions.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/eda/access/credentials/Credentials.cy.tsx
  frontend/eda/access/credentials/Credentials.tsx
  frontend/eda/access/credentials/hooks/useCredentialsActions.tsx
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentPage.tsx
  frontend/eda/decision-environments/DecisionEnvironments.cy.tsx
  frontend/eda/decision-environments/DecisionEnvironments.tsx
  frontend/eda/decision-environments/hooks/useDecisionEnvironmentsActions.tsx
  frontend/eda/interfaces/OptionsResponse.ts
  frontend/eda/projects/ProjectPage/ProjectPage.tsx
  frontend/eda/projects/Projects.cy.tsx
  frontend/eda/projects/Projects.tsx
  frontend/eda/projects/hooks/useProjectsActions.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/rulebook-activations/RulebookActivations.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivations.tsx
  frontend/eda/rulebook-activations/hooks/useRulebookActivationsActions.tsx
Labels: EDA, E2E, CCT

#2297 [AAP-23669] Instance Peering Bugfix
  frontend/awx/administration/instances/InstancePeers.tsx
  frontend/awx/administration/instances/hooks/useSelectAssociatePeers.tsx
Labels: AWX

#2290 [AAP-22997] Update credential filter
  frontend/eda/access/credentials/components/PageFormCredentialsSelect.tsx
  frontend/eda/access/credentials/hooks/useSelectCredentials.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: EDA, CCT

#2380 URL cleanup
  cypress/e2e/awx/administration/instanceGroups.cy.ts
  cypress/e2e/awx/administration/topology-view.cy.ts
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/awx/resources/projects.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerCRUD.cy.ts
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
  cypress/e2e/awx/views/schedules.cy.ts
  cypress/support/awx-commands.ts
  frontend/awx/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/awx/access/roles/AwxRoleDetails.tsx
  frontend/awx/access/roles/AwxRolePage.tsx
  frontend/awx/access/roles/useAwxRoleColumns.tsx
  frontend/awx/administration/instance-groups/ContainerGroupForm.cy.tsx
  frontend/awx/administration/instance-groups/ContainerGroupForm.tsx
  frontend/awx/administration/instance-groups/InstanceGroupAddTeams.tsx
  frontend/awx/administration/instance-groups/InstanceGroupAddUsers.tsx
  frontend/awx/administration/instance-groups/InstanceGroupForm.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupForm.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupDetails.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupPage.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupTeamAccess.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupUserAccess.cy.tsx
  frontend/awx/administration/instance-groups/hooks/useInstanceGroupColumns.tsx
  frontend/awx/administration/instances/InstanceDetails.tsx
  frontend/awx/main/routes/useAwxInstanceGroupsRoutes.tsx
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/main/routes/useAwxProjectRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/main/useAwxNavigation.tsx
  frontend/awx/resources/groups/GroupHosts.cy.tsx
  frontend/awx/resources/groups/GroupRelatedGroups.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/WorkflowVisualizer.cy.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/components/JobTemplateDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
  frontend/awx/resources/templates/hooks/useDeleteSurvey.tsx
  frontend/awx/resources/templates/hooks/useSurveyToolbarActions.tsx
  frontend/awx/views/jobs/JobDetails.tsx
  frontend/awx/views/jobs/jobUtils.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
Labels: AWX, E2E, CCT

#2381 Fix Notifier error message
  frontend/awx/administration/notifiers/hooks/useNotificationsWatch.tsx
  frontend/awx/interfaces/NotificationTemplate.ts
Labels: AWX

#2370 Notifier test copy and bulk delete
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
Labels: AWX, E2E

#2392 fix inventory type and id in hosts -> groups navigation
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/hooks/useHostsGroupsColumns.tsx
Labels: AWX

#2394 Fix Navigation in notifications test
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
Labels: AWX, E2E

#2368 Controller notifiers tests custom messages
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  frontend/awx/administration/notifiers/NotifierFormMessages.tsx
  frontend/awx/administration/notifiers/notifierFormMessagesHelpers.tsx
Labels: AWX, E2E

#2395 Notifiers tests test test action
  cypress/e2e/awx/administration/notifiers/notifiersListView.cy.ts
  cypress/e2e/awx/administration/notifiers/notifiersTabs.cy.ts
Labels: AWX, E2E

#2355 Move useAbortController into the framework as it is needed by framewo…
  framework/PageDialogs/BulkActionDialog.tsx
  framework/hooks/useAbortController.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useSaveVisualizer.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/awx/views/schedules/hooks/useProcessCredentials.tsx
  frontend/awx/views/schedules/hooks/useProcessInstanceGroups.tsx
  frontend/awx/views/schedules/hooks/useProcessLabels.tsx
  frontend/hub/common/api/useGetFn.tsx
Labels: AWX, HUB, AFW

#2358 Move AsyncQueryLabel to the frontend as it is causing issues with fram…
  frontend/awx/common/PageFormMultiSelectAwxResource.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/awx/common/useDynamicFilters.tsx
  frontend/common/AsyncQueryLabel.tsx
Labels: AWX

#2389 Updates organization interface to appropriately handle the related field and various summary_fields
  cypress/fixtures/organization.json
  frontend/awx/common/ExecutionEnvironmentDetail.tsx
  frontend/awx/interfaces/Organization.ts
Labels: AWX

#2387 Tech debt test automation for Inventory groups
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E, Ready for Review

#2356 Framework update tsconfig to help get publishing working again
  framework/tsconfig.json
  framework/tsconfig.production.json
Labels: AFW

#2362 Addresses TODO 24149
  cypress/e2e/awx/access/teams.cy.ts
  cypress/fixtures/roleDefinitions.json
  cypress/fixtures/roleTeamAssignments.json
  cypress/fixtures/roleUserAssignments.json
  frontend/awx/access/common/ResourceAccessList.tsx
  frontend/awx/access/common/types.ts
  frontend/awx/access/common/useRemoveUserFromResource.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationAccess.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationTeams.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationTeamsAccess.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationUserAccess.tsx
  frontend/awx/access/organizations/components/OrganizationAddTeams.tsx
  frontend/awx/access/organizations/components/OrganizationAddUsers.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamAccess.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.cy.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/access/teams/components/TeamMembersAdd.tsx
  frontend/awx/access/users/hooks/useAddUsersToResources.tsx
  frontend/awx/access/users/hooks/useSelectUsersAddTeams.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxOrganizationsRoutes.tsx
  frontend/awx/main/routes/useAwxTeamsRoutes.tsx
  frontend/common/access/components/Access.tsx
  frontend/common/access/components/TeamAccess.tsx
  frontend/common/access/components/UserAccess.tsx
Labels: AWX, E2E, CCT

#2376 Manage Organization Roles dialog
  cypress/fixtures/awxUser.json
  cypress/fixtures/awxUserOrgRoleAssignments.json
  cypress/fixtures/edaUserOrgRoleAssignments.json
  framework/PageDialogs/BulkActionDialog.tsx
  framework/PageTable/PageMultiSelectList.tsx
  frontend/awx/common/useAwxMultiSelectListView.ts
  frontend/common/access/RolesWizard/steps/RoleAssignmentsReviewStep.tsx
  frontend/common/access/RolesWizard/steps/SelectRolesStep.tsx
  frontend/common/access/components/OrgRolesList.cy.tsx
  frontend/common/access/components/OrgRolesList.tsx
  frontend/common/access/hooks/useManageOrgRolesDialog.tsx
  frontend/common/access/interfaces/Assignment.ts
  frontend/common/access/interfaces/TeamAssignment.ts
  frontend/common/access/interfaces/UserAssignment.ts
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectRolesStep.tsx
  frontend/eda/access/roles/EdaRolePage.tsx
  frontend/eda/common/useEdaMultiSelectListView.ts
  locales/en/translation.json
Labels: AWX, EDA, CCT, AFW

#2308 PageFormSelectExecutionEnvironment
  cypress/e2e/awx/access/organizations.cy.ts
  frontend/awx/access/organizations/OrganizationForm.tsx
  frontend/awx/administration/execution-environments/components/PageFormExecutionEnvironmentSelect.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectForm.tsx
Labels: AWX, E2E

#2357 Move PageRoutedTabs to the frontend as it is causing issues in the fr…
  framework/PageFramework.css
  framework/PageTabs/PageTabs.css
  framework/PageTabs/PageTabs.tsx
  frontend/awx/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/awx/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/roles/AwxRolePage.tsx
  frontend/awx/access/teams/TeamPage/TeamPage.tsx
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/access/users/UserPage/UserTokenPage.tsx
  frontend/awx/administration/applications/ApplicationPage/ApplicationPage.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupInstancesPage/InstanceGroupInstancesPage.tsx
  frontend/awx/administration/instance-groups/InstanceGroupPage/InstanceGroupPage.tsx
  frontend/awx/administration/instances/InstancesPage.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobPage.tsx
  frontend/awx/administration/notifiers/NotificationPage/NotificationPage.tsx
  frontend/awx/administration/workflow-approvals/WorkflowApprovalPage/WorkflowApprovalPage.tsx
  frontend/awx/resources/groups/GroupPage.tsx
  frontend/awx/resources/hosts/HostPage/HostPage.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostPage.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourcePage.tsx
  frontend/awx/resources/projects/ProjectPage/ProjectPage.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.tsx
  frontend/awx/resources/templates/WorkflowJobTemplatePage/WorkflowJobTemplatePage.tsx
  frontend/awx/views/jobs/JobPage.tsx
  frontend/awx/views/schedules/SchedulePage/SchedulePage.tsx
  frontend/common/PageRoutedTabs.tsx
  frontend/eda/access/credential-types/CredentialTypePage/CredentialTypePage.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/eda/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/eda/access/roles/EdaRolePage.tsx
  frontend/eda/access/teams/TeamPage/TeamPage.tsx
  frontend/eda/access/users/UserPage/MyPage.tsx
  frontend/eda/access/users/UserPage/UserPage.tsx
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentPage.tsx
  frontend/eda/event-streams/EventStreamInstancePage/EventStreamInstancePage.tsx
  frontend/eda/event-streams/EventStreamPage/EventStreamPage.tsx
  frontend/eda/projects/ProjectPage/ProjectPage.tsx
  frontend/eda/rule-audit/RuleAuditPage/RuleAuditPage.tsx
  frontend/eda/rulebook-activations/ActivationInstancePage/ActivationInstancePage.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
  frontend/eda/webhooks/WebhookPage/WebhookPage.tsx
  frontend/hub/access/roles/RolePage/RolePage.tsx
  frontend/hub/administration/repositories/RepositoryPage/RepositoryPage.tsx
  frontend/hub/administration/repositories/RepositoryVersionPage/RepositoryVersionPage.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentImagePage.tsx
  frontend/hub/execution-environments/ExecutionEnvironmentPage/ExecutionEnvironmentPage.tsx
  frontend/hub/namespaces/HubNamespacePage/HubNamespacePage.tsx
Labels: AWX, EDA, HUB, AFW
