Repository ansible/ansible-ui, pull requests merged in 2024-04, with the labels that each got.

#1916 Rbac steps refactor
  frontend/awx/access/organizations/components/AddOrganizationUsers.tsx
  frontend/awx/access/users/components/steps/SelectAwxUsersStep.tsx
  frontend/common/access/RolesWizard/steps/SelectRolesStep.tsx
  frontend/common/access/RolesWizard/steps/SelectUsersStep.tsx
  frontend/eda/access/roles/components/EdaSelectRolesStep.tsx
  frontend/eda/access/teams/components/steps/EdaSelectTeamsStep.tsx
  frontend/eda/access/users/components/EdaSelectUsersStep.tsx
  frontend/eda/projects/components/EdaProjectAddTeams.tsx
Labels: AWX, EDA

#1913 Configurable awxAPI edaAPI hubAPI
  frontend/awx/common/api/awx-utils.tsx
  frontend/eda/common/eda-utils.tsx
  frontend/hub/common/api/formatPath.tsx
Labels: AWX, EDA, HUB, Ready for Review

#1917 Make start date/time & timezone required in Schedule wizard
  framework/PageForm/Inputs/PageFormDateTimePicker.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
Labels: AWX, CCT, AFW

#1922 Step - Select EDA roles (updates)
  frontend/common/access/RolesWizard/steps/SelectRolesStep.tsx
  frontend/eda/access/roles/components/EdaSelectRolesStep.tsx
  frontend/eda/access/teams/components/steps/EdaSelectTeamsStep.tsx
  frontend/eda/common/useMultiSelectListView.ts
  frontend/eda/interfaces/EdaTeam.ts
  frontend/eda/projects/components/EdaProjectAddTeams.tsx
  frontend/eda/projects/components/EdaProjectAddUsers.tsx
Labels: EDA

#1921 Assert enabled delete button for finished jobs in job header
  frontend/awx/views/jobs/JobHeader.cy.tsx
Labels: AWX, CCT

#1859 Constructed inventory groups
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsColumns.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsToolbarActions.tsx
Labels: AWX, CCT

#1888 [AAP-19886] Add organizations
  cypress/fixtures/edaOrganizations.json
  cypress/fixtures/edaProject.json
  frontend/eda/access/credentials/CredentialForm.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/access/organizations/OrganizationPage/OrganizationDetails.tsx
  frontend/eda/access/organizations/OrganizationPage/OrganizationForm.tsx
  frontend/eda/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/eda/access/organizations/Organizations.cy.tsx
  frontend/eda/access/organizations/Organizations.tsx
  frontend/eda/access/organizations/components/EdaOrganizationCell.tsx
  frontend/eda/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/eda/access/organizations/hooks/useDeleteOrganizations.tsx
  frontend/eda/access/organizations/hooks/useOrganizationColumns.tsx
  frontend/eda/access/organizations/hooks/useOrganizationsFilters.tsx
  frontend/eda/access/organizations/utils/getOrganizationByName.ts
  frontend/eda/common/EdaError.tsx
  frontend/eda/common/PageFormSingleSelectEdaResource.tsx
  frontend/eda/decision-environments/DecisionEnvironmentForm.tsx
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentDetails.tsx
  frontend/eda/interfaces/EdaOrganization.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/routes/useEdaOrganizationsRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/overview/cards/EdaDecisionEnvironmentsCard.tsx
  frontend/eda/projects/EditProject.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.cy.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
  frontend/eda/webhooks/EditWebhook.tsx
  frontend/eda/webhooks/WebhookPage/WebhookDetails.tsx
  frontend/eda/webhooks/hooks/useDeleteWebhooks.tsx
Labels: EDA, CCT

#1927 Controller => Inventories tests- add Structure and Assertion Notes
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  frontend/awx/resources/inventories/Inventories.cy.tsx
Labels: AWX, E2E, CCT

#1930 Repair hosts e2e
  cypress/e2e/awx/resources/hosts.cy.ts
Labels: AWX, E2E

#1925 PageFormToggleGroup
  framework/PageForm/Inputs/PageFormToggleGroup.tsx
  framework/PageInputs/PageToggleGroup.tsx
Labels: AFW, Ready for Review

#1923 PageFormFileUpload support isRequired
  framework/PageForm/Inputs/PageFormFileUpload.tsx
Labels: AFW, Ready for Review

#1924 PageSelectOption support description as ReactNode
  framework/PageInputs/PageSelectOption.tsx
Labels: AFW, Ready for Review

#1854 Add Advanced Search to Credential Types
  cypress/e2e/awx/administration/credentials-types.cy.ts
  frontend/awx/access/credential-types/CredentialTypes.cy.tsx
  frontend/awx/access/credential-types/CredentialTypes.tsx
  frontend/awx/access/credential-types/hooks/useCredentialTypesFilters.cy.tsx
  frontend/awx/access/credential-types/hooks/useCredentialTypesFilters.tsx
Labels: AWX, E2E, CCT

#1937 Controller => Inventories Hosts tests- add Structure and Assertion Notes
  cypress/e2e/awx/resources/inventoryHost.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.cy.tsx
Labels: AWX, E2E, CCT

#1907 Add Team Access tab to credential, dec. env., project and rulebook activation
  frontend/eda/access/common/TeamAccess.cy.tsx
  frontend/eda/access/common/TeamAccess.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialPage.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialTeamAccess.tsx
  frontend/eda/access/interfaces/TeamAssignment.ts
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentPage.tsx
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentTeamAccess.tsx
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/projects/ProjectPage/ProjectPage.tsx
  frontend/eda/projects/ProjectPage/ProjectTeamAccess.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RuleBookActivationTeamAccess.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationPage.tsx
Labels: EDA, CCT

#1935 [AAP-19501] Constructed Inventory Host Details
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostPage.tsx
Labels: AWX, CCT

#1939 [AAP-19507] Constructed Inventory Group Hosts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  frontend/awx/resources/groups/GroupHosts.cy.tsx
  frontend/awx/resources/groups/GroupHosts.tsx
  frontend/awx/resources/groups/GroupPage.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsHostsActions.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesGroupsHostsToolbarActions.tsx
Labels: AWX, E2E, CCT

#1906 [AAP-22186] Fix Timeout field size on resize
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
Labels: AWX

#1900 Constructed inventory detail
  frontend/awx/resources/inventories/Inventories.tsx
  frontend/awx/resources/inventories/InventoryForm.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryPage.tsx
  frontend/awx/resources/inventories/hooks/useInventoryActions.tsx
  frontend/awx/resources/inventories/inventorySources/InventorySourceDetails.tsx
Labels: AWX

#1926 [AAP-17646] Include Workflow Approval List Row tests
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/e2e/awx/resources/workflowApproval.cy.ts
  cypress/e2e/hub/repositories.cy.ts
  cypress/support/auth.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/table-commands.ts
  frontend/awx/interfaces/WorkflowNode.ts
Labels: AWX, E2E, HUB

#1949 Revert deletion of group page actions
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  frontend/awx/resources/groups/GroupPage.tsx
Labels: AWX, E2E

#1946 Login Flow Update
  cypress/support/auth.ts
  cypress/support/component.tsx
  framework/PageNavigation/PageApp.tsx
  frontend/awx/administration/instances/InstanceDetails.cy.tsx
  frontend/awx/administration/instances/InstancesPage.cy.tsx
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/awx/common/useAwxConfig.tsx
  frontend/awx/main/Awx.tsx
  frontend/awx/main/AwxApp.tsx
  frontend/awx/main/AwxLogin.tsx
  frontend/awx/main/AwxMain.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/awx/resources/inventories/InventoryForm.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplatePage.cy.tsx
  frontend/common/Login.tsx
  frontend/common/LoginForm.tsx
  frontend/common/crud/useDeleteRequest.tsx
  frontend/common/crud/useGet.tsx
  frontend/common/crud/useOptions.tsx
  frontend/common/crud/usePatchRequest.tsx
  frontend/common/crud/usePostRequest.tsx
  frontend/common/crud/usePutRequest.tsx
  frontend/eda/common/useEdaActiveUser.tsx
  frontend/eda/main/Eda.tsx
  frontend/eda/main/EdaApp.tsx
  frontend/eda/main/EdaLogin.tsx
  frontend/eda/main/EdaMain.tsx
  frontend/eda/main/EdaMasthead.tsx
  frontend/hub/common/api/useGetFn.tsx
  frontend/hub/common/useHubActiveUser.tsx
  frontend/hub/common/useHubContext.tsx
  frontend/hub/interfaces/expanded/HubFeatureFlags.tsx
  frontend/hub/interfaces/expanded/HubSettings.tsx
  frontend/hub/interfaces/expanded/HubUser.ts
  frontend/hub/main/Hub.tsx
  frontend/hub/main/HubApp.tsx
  frontend/hub/main/HubLogin.tsx
  frontend/hub/main/HubMain.tsx
  frontend/hub/main/HubMasthead.tsx
  frontend/hub/overview/CollectionCategories.cy.tsx
  frontend/hub/overview/HubOverview.cy.tsx
  package.json
Labels: AWX, EDA, HUB, CCT, AFW

#1945 Controller => Inventories Groups tests- add Structure and Assertion Notes
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/support/commands.d.ts
Labels: AWX, E2E

#1938 Feature rbac wizard
  framework/PageDialogs/MultiSelectDialog.tsx
  framework/PageTable/PageMultiSelectList.tsx
  framework/PageTable/PageTable.tsx
  framework/PageWizard/PageWizardBody.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationPage.tsx
  frontend/awx/access/users/hooks/useUsersColumns.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxOrganizationsRoutes.tsx
  frontend/common/access/RolesWizard/steps/RoleAssignmentsReviewStep.tsx
  frontend/common/access/RolesWizard/steps/SelectRolesStep.tsx
  frontend/eda/access/common/TeamAccess.cy.tsx
  frontend/eda/access/common/TeamAccess.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialTeamAccess.tsx
  frontend/eda/access/roles/components/EdaSelectRolesStep.tsx
  frontend/eda/access/roles/hooks/useEdaRolesFilters.tsx
  frontend/eda/access/teams/components/steps/EdaSelectTeamsStep.tsx
  frontend/eda/access/users/components/EdaSelectUsersStep.tsx
  frontend/eda/common/useEventDrivenView.tsx
  frontend/eda/common/useMultiSelectListView.ts
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentTeamAccess.tsx
  frontend/eda/interfaces/EdaRbacRole.ts
  frontend/eda/interfaces/EdaTeam.ts
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/projects/ProjectPage/ProjectTeamAccess.tsx
  frontend/eda/projects/components/EdaProjectAddTeams.tsx
  frontend/eda/projects/components/EdaProjectAddUsers.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RuleBookActivationTeamAccess.tsx
Labels: AWX, EDA, CCT, AFW

#1940 [AAP-22230] Survey multi select component
  frontend/awx/common/MultipleChoiceField.cy.tsx
  frontend/awx/common/MultipleChoiceField.tsx
Labels: AWX, CCT

#1957 Group details for constructed inventories
  frontend/awx/resources/inventories/hooks/useInventoriesGroupActions.tsx
Labels: AWX

#1956 constructed inventory related groups
  frontend/awx/resources/groups/GroupRelatedGroups.cy.tsx
  frontend/awx/resources/groups/GroupRelatedGroups.tsx
  frontend/awx/resources/groups/hooks/useRelatedGroupsEmptyStateActions.tsx
  frontend/awx/resources/groups/hooks/useRelatedGroupsToolbarActions.tsx
Labels: AWX, CCT

#1953 Add ActiveUserProviders
  cypress/support/component.tsx
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/awx/main/AwxLogin.tsx
  frontend/awx/main/AwxMain.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/eda/common/useEdaActiveUser.tsx
  frontend/eda/main/EdaLogin.tsx
  frontend/eda/main/EdaMain.tsx
  frontend/eda/main/EdaMasthead.tsx
  frontend/hub/access/roles/components/PageFormPermissionsSelect.tsx
  frontend/hub/access/roles/components/RolePermissions.tsx
  frontend/hub/access/roles/hooks/useDeleteRoles.tsx
  frontend/hub/common/useHubActiveUser.tsx
  frontend/hub/common/useHubContext.tsx
  frontend/hub/main/HubLogin.tsx
  frontend/hub/main/HubMain.tsx
  frontend/hub/main/HubMasthead.tsx
  frontend/hub/overview/CollectionCategories.cy.tsx
Labels: AWX, EDA, HUB, CCT, Ready for Review

#1952 Update AwxConfig LicenseInfo
  frontend/awx/interfaces/Config.ts
Labels: AWX, Ready for Review

#1951 Add fullWidth prop to PageDetail component
  framework/PageDetails/PageDetail.tsx
Labels: AFW, Ready for Review

#1960 Pass queryParams to useJobsFilters hook.
  frontend/awx/views/jobs/JobsList.tsx
  frontend/awx/views/jobs/hooks/useJobsFilters.tsx
Labels: AWX

#1963 Controller => Inventories Sources tests- add Structure and Assertion Notes
  cypress/e2e/awx/resources/inventorySource.cy.ts
Labels: AWX, E2E

#1948 [AAP-21052] Inventories page dynamic filters update
  cypress/e2e/awx/resources/hosts.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/inventoryGroup.cy.ts
  cypress/e2e/awx/resources/inventorySource.cy.ts
  frontend/awx/resources/inventories/Inventories.cy.tsx
  frontend/awx/resources/inventories/hooks/useInventoriesFilters.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.cy.tsx
Labels: AWX, E2E, CCT

#1969 Fix Hosts detail inventory link
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostDetails.tsx
Labels: AWX, CCT

#1968 Hosts groups empty button
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.cy.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
Labels: AWX, CCT

#1954 [Schedule form] Schedule Form Review Step
  framework/PageDetails/PageDetails.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeReviewStep.tsx
  frontend/awx/views/schedules/components/RulesPreview.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
Labels: AWX, AFW

#1977 HubContext - Make hub context nonblocking
  frontend/hub/collections/hooks/useSignCollection.tsx
  frontend/hub/common/useHubContext.tsx
Labels: HUB

#1966 cleanup cypress tests
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-tabs.cy.ts
  cypress/e2e/eda/General-UI/resource-toolbar.cy.ts
  cypress/e2e/eda/Rule-Audit/rule-audit-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-tabs.cy.ts
  cypress/e2e/eda/Users/users-list.cy.ts
  cypress/e2e/eda/Users/users-tabs.cy.ts
  cypress/e2e/eda/admin-user/controller-token.cy.ts
  cypress/e2e/eda/overview/eda-overview.cy.ts
Labels: EDA, E2E

#1987 Fix failing Schedules e2e tests.
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  frontend/awx/resources/templates/components/PageFormWorkflowJobTemplateSelect.tsx
  frontend/awx/resources/templates/hooks/useSelectJobTemplate.tsx
  frontend/awx/resources/templates/hooks/useSelectWorkflowJobTemplate.tsx
Labels: AWX, E2E

#1955 [AAP-17646] Include Workflow Approval List view tests
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/core-commands.ts
  cypress/support/table-commands.ts
Labels: AWX, E2E

#1980 uxd_aap_9321_updates_to_repositories_landingpage
  cypress/e2e/hub/repositories.cy.ts
  frontend/hub/administration/repositories/Repositories.tsx
Labels: E2E, HUB

#1950 [AAP-8292] Smart Inventory Details
  cypress/fixtures/inventory.json
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.cy.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryDetails.tsx
Labels: AWX, CCT

#1997 Revert "[AAP-17646] Include Workflow Approval List view tests"
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/e2e/eda/overview/eda-overview.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/core-commands.ts
  cypress/support/table-commands.ts
Labels: AWX, EDA, E2E

#1996 Controller > Schedules tests structure
  cypress/e2e/awx/views/schedules.cy.ts
Labels: AWX, E2E

#1944 Set credential input fields defaults. Other small updates.
  frontend/eda/access/credentials/CredentialForm.tsx
  frontend/eda/access/credentials/CredentialFormTypes.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialDetailFields.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialDetails.tsx
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/projects/EditProject.tsx
Labels: EDA

#1970 implemented question order
  framework/components/useManagedItems.tsx
  frontend/awx/resources/templates/hooks/useManageSurveyQuestions.tsx
  frontend/awx/resources/templates/hooks/useSurveyToolbarActions.tsx
Labels: AWX, AFW

#1985 Controller => Applications tests- add Structure and Assertion Note
  cypress/e2e/awx/administration/applications.cy.ts
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-crud.cy.ts
  cypress/e2e/eda/overview/eda-overview.cy.ts
  cypress/support/commands.d.ts
  cypress/support/eda-commands.ts
  cypress/tsconfig.json
Labels: AWX, EDA, E2E

#1989 Add organization column to notifications list and add notification type sort by
  frontend/awx/administration/notifiers/hooks/useNotifiersColumns.tsx
  frontend/awx/interfaces/NotificationTemplate.ts
Labels: AWX

#1973 [AAP-8279] Add initial work for credential sub forms
  cypress/e2e/awx/resources/credentials.cy.ts
  frontend/awx/access/credentials/CredentialForm.tsx
  frontend/awx/interfaces/CredentialType.ts
Labels: AWX, E2E

#2004 correct sort direction notifiers list
  frontend/awx/administration/notifiers/hooks/useNotifiersColumns.tsx
Labels: AWX

#1999 Replace jt e2e cy.get with cy.getBy
  cypress/e2e/awx/resources/jobTemplates.cy.ts
Labels: AWX, E2E

#1911 Adds functionality to the discard button
  frontend/awx/views/schedules/components/RuleForm.tsx
  frontend/awx/views/schedules/hooks/useRuleRowActions.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/RulesStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
Labels: AWX, CCT

#1978 Convert Teams list to use advanced search
  cypress/e2e/awx/access/teams.cy.ts
  cypress/fixtures/mock_options.json
  frontend/awx/access/credential-types/hooks/useCredentialTypesFilters.cy.tsx
  frontend/awx/access/teams/Teams.cy.tsx
  frontend/awx/access/teams/hooks/useTeamsFilters.tsx
  frontend/awx/administration/notifiers/Notifiers.cy.tsx
  frontend/awx/views/jobs/hooks/useJobFilters.cy.tsx
Labels: AWX, E2E, CCT

#1998 Replace cy.get with cy.getBy for wfoutput e2e tests
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
Labels: AWX, E2E

#1964 Add survey list delete dialog
  frontend/awx/resources/templates/TemplatePage/TemplateSurvey.tsx
  frontend/awx/resources/templates/hooks/useDeleteSurvey.tsx
  frontend/awx/resources/templates/hooks/useDeleteSurveyDialog.tsx
  frontend/awx/resources/templates/hooks/useSurveyToolbarActions.tsx
  frontend/awx/resources/templates/hooks/useSurveyView.tsx
Labels: AWX

#1984 AwxConfig provider support is loading, error, and refresh states
  frontend/awx/common/useAwxConfig.tsx
Labels: AWX

#1975 PageNavigationItem fix default expanded state
  framework/PageNavigation/PageNavigation.tsx
  framework/PageNavigation/PageNavigationItem.tsx
Labels: AFW

#1976 Update login to handle loading and refreshing states better
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/awx/main/AwxLogin.tsx
  frontend/eda/common/useEdaActiveUser.tsx
  frontend/eda/main/EdaLogin.tsx
  frontend/hub/common/useHubActiveUser.tsx
  frontend/hub/main/HubLogin.tsx
Labels: AWX, EDA, HUB

#2001 E2E InventoryHostForm disable editing of variables as the monaco edit…
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostForm.cy.tsx
Labels: AWX, CCT

#2007 Page navigation routes fix routes being available in modals
  framework/PageFramework.tsx
  framework/PageNavigation/PageApp.tsx
  framework/PageNavigation/PageNavigationRoutesProvider.tsx
Labels: AFW

#1991 Fix react key warnings in Breadcrumb NavigationRoute
  framework/PageHeader.tsx
  framework/PageNavigation/PageApp.tsx
Labels: AFW

#1942 Small fixes
  frontend/awx/access/roles/AwxRoles.tsx
  frontend/common/Disclaimer.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
Labels: AWX, EDA

#2008 [AAP-8279] Modify how inputs are submitted when creating credentials
  cypress/e2e/awx/resources/credentials.cy.ts
  frontend/awx/access/credentials/CredentialForm.tsx
Labels: AWX, E2E

#2012 Eda E2E Decision Envionment Test Fixes
  cypress/e2e/eda/Decision-Environments/decision-env-crud.cy.ts
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/support/commands.d.ts
  cypress/support/table-commands.ts
  frontend/eda/decision-environments/hooks/useDecisionEnvironmentFilters.tsx
Labels: EDA, E2E

#2009 Fix flaky tests: AWX Org and AWX JT
  cypress/e2e/awx/access/organizations.cy.ts
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/e2e/eda/Projects/projects-list.cy.ts
  cypress/support/awx-commands.ts
Labels: AWX, EDA, E2E

#2003 Notifications add edit form
  frontend/awx/administration/notifiers/NotifierForm.tsx
  frontend/awx/administration/notifiers/hooks/useNotifiersColumns.tsx
  frontend/awx/interfaces/NotificationTemplate.ts
  frontend/awx/main/routes/useAwxNotificationsRoutes.tsx
Labels: AWX

#1962 Refactor useTemplatesFilter to take in additional params.
  frontend/awx/common/awx-toolbar-filters.tsx
  frontend/awx/common/useDynamicFilters.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/resources/templates/hooks/useTemplateFilters.tsx
Labels: AWX

#1959 Template Survey Add/Edit form
  frontend/awx/common/MultipleChoiceField.cy.tsx
  frontend/awx/common/MultipleChoiceField.tsx
  frontend/awx/interfaces/Survey.ts
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateSurvey.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateSurveyForm.cy.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateSurveyForm.tsx
  frontend/awx/resources/templates/hooks/useSurveyColumns.tsx
  frontend/awx/resources/templates/hooks/useSurveyToolbarActions.tsx
  frontend/awx/views/schedules/wizard/ScheduleSurveyStep.tsx
Labels: AWX, CCT

#2016 [AAP-22426][AAP-22612] Add the proxy field to the project pages. Update order of fields.
  cypress/fixtures/edaProject.json
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/projects/EditProject.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.cy.tsx
  frontend/eda/projects/ProjectPage/ProjectDetails.tsx
Labels: EDA, CCT

#2022 Fix EDA Test Failures
  cypress/e2e/eda/Decision-Environments/decision-env-list.cy.ts
  cypress/e2e/eda/overview/eda-overview.cy.ts
Labels: EDA, E2E

#2013 [AAP-20302] Management Jobs Retain Days Modal
  framework/PageForm/Inputs/PageFormTextInput.tsx
  frontend/awx/administration/management-jobs/ManagementJobsList.cy.tsx
  frontend/awx/administration/management-jobs/ManagementJobsList.tsx
  frontend/awx/administration/management-jobs/components/ManagementJobsRetainDataModal.tsx
  frontend/awx/administration/management-jobs/hooks/useManagementJobPrompt.tsx
  frontend/awx/administration/management-jobs/hooks/useManagementJobRowActions.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/main/useAwxNavigation.tsx
Labels: AWX, CCT, AFW

#2023 Cypress workflow approval e2e
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  cypress/support/common-commands.ts
Labels: AWX, E2E

#2017 Active User State - Update to make more consistent
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/awx/main/AwxMasthead.tsx
  frontend/eda/common/useEdaActiveUser.tsx
  frontend/eda/main/EdaMasthead.tsx
  frontend/eda/overview/EdaOverview.tsx
  frontend/hub/common/useHubActiveUser.tsx
  frontend/hub/main/HubMasthead.tsx
Labels: AWX, EDA, HUB

#1972 [AAP-21053] Instance groups dynamic filters update
  cypress/e2e/awx/administration/instance-groups.cy.ts
  cypress/e2e/awx/resources/inventories.cy.ts
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  frontend/awx/administration/instance-groups/InstanceGroups.cy.tsx
  frontend/awx/administration/instance-groups/InstanceGroups.tsx
  frontend/awx/resources/inventories/InventoryForm.cy.tsx
Labels: AWX, E2E, CCT

#2025 Eda login/logout E2E
  cypress/e2e/eda/main/eda-login-logout.cy.ts
  cypress/support/auth.ts
  cypress/support/commands.d.ts
  cypress/support/eda-commands.ts
Labels: EDA, E2E

#2027 E2E Skip WFJT Flaky Test
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
Labels: AWX, E2E

#2028 Fix failing AWX Pipeline Test
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
Labels: AWX, E2E

#1910 [AAP-21051] Hosts page update to use dynamic filters
  cypress/e2e/awx/resources/hosts.cy.ts
  frontend/awx/common/useDynamicFilters.tsx
  frontend/awx/resources/hosts/Hosts.cy.tsx
  frontend/awx/resources/hosts/hooks/useHostsFilters.tsx
Labels: AWX, E2E, CCT

#2029 remove skip from AWX test
  cypress/e2e/awx/resources/workflowVisualizerOutput.cy.ts
Labels: AWX, E2E

#2024 [AAP-21057] Instances update to dynamic filter
  cypress/e2e/awx/administration/instances.cy.ts
  cypress/fixtures/mock_options.json
  cypress/support/common-commands.ts
  frontend/awx/access/credential-types/hooks/useCredentialTypesFilters.cy.tsx
  frontend/awx/administration/instances/Instances.cy.tsx
  frontend/awx/administration/instances/hooks/useInstancesFilter.tsx
  frontend/awx/administration/notifiers/Notifiers.cy.tsx
  frontend/awx/views/jobs/hooks/useJobFilters.cy.tsx
Labels: AWX, E2E, CCT

#2021 Convert applications list page to use dynamic filters.
  cypress/e2e/awx/administration/applications.cy.ts
  frontend/awx/administration/applications/Applications.cy.tsx
  frontend/awx/administration/applications/hooks/useApplicationsFilters.tsx
Labels: AWX, E2E, CCT

#1994 implemented survey step to template on launch
  frontend/awx/common/SurveyStep.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
Labels: AWX

#2032 update Subscription Usage tsx
  frontend/awx/analytics/subscription-usage/SubscriptionUsage.tsx
Labels: AWX

#2035 Controller -> Unskipping Activity Stream tests
  cypress/e2e/awx/administration/activity-stream.cy.ts
Labels: AWX, E2E

#2018 Convert Activity Stream list page to use dynamic filters.
  cypress/fixtures/mock_activity_stream_options.json
  frontend/awx/administration/activity-stream/ActivityStream.cy.tsx
  frontend/awx/administration/activity-stream/hooks/useActivityStreamFilters.tsx
Labels: AWX, CCT

#2039 Activity Stream flaky tests- skipping
  cypress/e2e/awx/administration/activity-stream.cy.ts
  cypress/e2e/awx/administration/instances.cy.ts
Labels: AWX, E2E

#2041 [AAP-22577] Management jobs list update to dynamic filters
  frontend/awx/administration/management-jobs/hooks/useManagementJobFilters.tsx
Labels: AWX

#2040 [WIP] Controller Execution Environments -> Test Scaffolding
  cypress/e2e/awx/resources/executionEnvironments.cy.ts
  frontend/awx/administration/execution-environments/ExecutionEnvironments.cy.tsx
Labels: AWX, E2E, CCT

#1982 Add dynamic filters to users page
  cypress/e2e/awx/access/users.cy.ts
  cypress/fixtures/users.json
  frontend/awx/access/teams/TeamPage/TeamAccess.cy.tsx
  frontend/awx/access/users/Users.cy.tsx
  frontend/awx/access/users/hooks/useUsersFilters.tsx
Labels: AWX, E2E, CCT

#1932 Add schedule edit wizard
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/main/routes/useAwxInventoryRoutes.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/main/routes/useAwxProjectRoutes.tsx
  frontend/awx/main/routes/useAwxSchedulesRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/views/schedules/hooks/scheduleHelpers.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
Labels: AWX, E2E, CCT

#2034 Timezone selector has filter feature now
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
Labels: AWX, E2E, CCT

#2045 [UXD][AAP-10266] Added icon to empty state buttons on AWX & EDA
  frontend/awx/access/common/ResourceAccessList.tsx
  frontend/awx/access/credential-types/CredentialTypes.tsx
  frontend/awx/access/credentials/CredentialsList.tsx
  frontend/awx/access/organizations/OrganizationPage/OrganizationTeams.tsx
  frontend/awx/access/organizations/Organizations.tsx
  frontend/awx/access/teams/TeamPage/TeamRoles.tsx
  frontend/awx/access/teams/Teams.tsx
  frontend/awx/access/users/UserPage/UserOrganizations.tsx
  frontend/awx/access/users/UserPage/UserRoles.tsx
  frontend/awx/access/users/Users.tsx
  frontend/awx/administration/applications/Applications.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.tsx
  frontend/awx/administration/instances/InstancePeers.tsx
  frontend/awx/administration/management-jobs/ManagementJobPage/ManagementJobSchedules.tsx
  frontend/awx/administration/notifiers/Notifiers.tsx
  frontend/awx/resources/groups/GroupHosts.tsx
  frontend/awx/resources/groups/GroupRelatedGroups.tsx
  frontend/awx/resources/hosts/Hosts.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryGroups.tsx
  frontend/awx/resources/inventories/InventoryPage/InventoryHosts.tsx
  frontend/awx/resources/inventories/InventoryPage/InventorySources.tsx
  frontend/awx/resources/inventories/inventoryHostsPage/InventoryHostGroups.tsx
  frontend/awx/resources/projects/Projects.tsx
  frontend/awx/resources/templates/TemplatesList.tsx
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/SchedulesList.tsx
  frontend/awx/views/schedules/components/RulesList.tsx
  frontend/eda/access/common/Access.tsx
  frontend/eda/access/credential-types/CredentialTypes.tsx
  frontend/eda/access/credentials/Credentials.tsx
  frontend/eda/access/organizations/Organizations.tsx
  frontend/eda/access/users/UserPage/ControllerTokens.tsx
  frontend/eda/access/users/Users.tsx
  frontend/eda/decision-environments/DecisionEnvironments.tsx
  frontend/eda/event-streams/EventStreams.tsx
  frontend/eda/projects/Projects.tsx
  frontend/eda/rulebook-activations/RulebookActivations.tsx
  frontend/eda/webhooks/Webhooks.tsx
Labels: AWX, EDA

#1965 Support for substeps in PageWizard
  framework/PageWizard/PageWizard.cy.tsx
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/PageWizardFooter.cy.tsx
  framework/PageWizard/PageWizardFooter.tsx
  framework/PageWizard/PageWizardNavigation.tsx
  framework/PageWizard/PageWizardProvider.tsx
  framework/PageWizard/types.ts
Labels: CCT, AFW

#2046 [AAP-21771] Add k8 service field to activations. Remove webhooks
  cypress/e2e/eda/Rulebook-Activations/rulebook-activations-list.cy.ts
  cypress/support/eda-commands.ts
  frontend/eda/interfaces/EdaTeam.ts
  frontend/eda/interfaces/generated/eda-api.ts
  frontend/eda/rulebook-activations/RulebookActivationForm.cy.tsx
  frontend/eda/rulebook-activations/RulebookActivationForm.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RulebookActivationDetails.tsx
Labels: EDA, E2E, CCT

#2063 fixing edit schedule test
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
Labels: AWX, E2E, CCT

#2055 Fix routing for adding users to EDA project
  frontend/eda/projects/ProjectPage/ProjectUserAccess.tsx
  frontend/eda/projects/components/EdaProjectAddUsers.tsx
Labels: EDA

#2064 Controller -> Credentials: refactor tests
  cypress/e2e/awx/resources/credentials.cy.ts
Labels: AWX, E2E

#2062 useDynamicToolbarFilters state fix
  frontend/awx/common/useDynamicFilters.tsx
Labels: AWX

#2060 useManageColumns mark fields as required
  framework/components/useManageColumns.tsx
Labels: AFW

#2033 Removes schedule references from NodeTypeStep
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/common/SurveyStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetInitialValues.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeAddWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeEditWizard.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodePromptsStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/NodeTypeStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/wizard/PromptReviewDetails.tsx
  frontend/awx/views/schedules/components/ScheduleResourceInputs.tsx
  frontend/awx/views/schedules/components/ScheduleTypeInputs.tsx
  frontend/awx/views/schedules/hooks/useProcessSchedules.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.tsx
  frontend/awx/views/schedules/wizard/ScheduleSelectStep.tsx
  frontend/awx/views/schedules/wizard/constants.ts
Labels: AWX, E2E, CCT

#2058 Framework DialogProvider fix callback that was causing unneeded state…
  framework/PageDialogs/PageDialog.tsx
Labels: AFW

#2054 Framework Fix PF Button Icon Spacing
  framework/PageActions/PageActionButton.tsx
  framework/PageActions/PageActionDropdown.tsx
  framework/PageFramework.css
Labels: AFW

#2053 [UXD][AAP-22772]Update Host switch to be more descriptive
  frontend/awx/resources/hosts/hooks/useHostsActions.tsx
Labels: AWX

#2061 AwxJobActivityCard add isRequired prop to fields
  frontend/awx/overview/cards/AwxJobActivityCard.tsx
Labels: AWX

#2069 Controller -> Surveys: Test Scaffolding
  cypress/e2e/awx/resources/jobTemplateSurveys.cy.ts
  cypress/e2e/awx/resources/workflowJobTemplateSurveys.cy.ts
Labels: AWX, E2E

#2050 Notifications add edit form 2
  frontend/awx/administration/notifiers/NotifierForm.tsx
  frontend/awx/administration/notifiers/NotifierFormInner.tsx
  frontend/awx/interfaces/NotificationTemplate.ts
Labels: AWX

#2057 Remove requestCommon
  frontend/awx/resources/inventories/hooks/useInventoryActions.tsx
Labels: AWX

#2072 AAP-22952-Hosts-Jobs
  cypress/e2e/awx/resources/hosts.cy.ts
Labels: AWX, E2E

#2073 AAP-22960-Host-Facts
  cypress/e2e/awx/resources/hosts.cy.ts
Labels: AWX, E2E

#2070 uxd-aap-9455-updates-to-unreachable-to-match-error
  framework/components/pfcolors.tsx
Labels: AFW

#2056 Framework Select Components support isDisabled reason tooltip
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.tsx
  framework/PageForm/Inputs/PageFormMultiSelect.tsx
  framework/PageForm/Inputs/PageFormSingleSelect.tsx
  framework/PageInputs/PageAsyncSingleSelect.tsx
  framework/PageInputs/PageMultiSelect.tsx
  framework/PageInputs/PageSingleSelect.tsx
  frontend/awx/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/awx/common/PageFormMultiSelectAwxResource.tsx
  frontend/awx/common/PageFormSingleSelectAwxResource.tsx
  frontend/eda/access/organizations/components/PageFormOrganizationSelect.tsx
  frontend/eda/common/PageFormSingleSelectEdaResource.tsx
Labels: AWX, EDA, AFW

#2048 Use getDocsBaseUrl to generate document link
  frontend/awx/views/schedules/SchedulePage/ScheduleRules.tsx
  frontend/awx/views/schedules/Schedules.tsx
  frontend/awx/views/schedules/components/RulesList.tsx
Labels: AWX

#2065 [AAP-21060] Workflow approvals update to dynamic filters
  cypress/e2e/awx/administration/workflowApproval.cy.ts
  frontend/awx/administration/workflow-approvals/WorkflowApprovals.cy.tsx
  frontend/awx/administration/workflow-approvals/hooks/useWorkflowApprovalsFilters.tsx
Labels: AWX, E2E, CCT

#2037 [AAP-8313]Add initial work related to edit credential subform
  cypress/e2e/awx/resources/credentials.cy.ts
  frontend/awx/access/credentials/CredentialForm.tsx
Labels: AWX, E2E

#2052 Add wizard Add user/team to Decision Environment
  frontend/eda/decision-environments/DecisionEnvironmentPage/DecisionEnvironmentUserAccess.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddTeams.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddUsers.tsx
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
Labels: EDA

#2077 PageFormFileUpload Support Validation
  framework/PageForm/Inputs/PageFormFileUpload.tsx
Labels: AFW

#2079 Fix links in EdaDecisionEnvironmentAddUsers
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddUsers.tsx
Labels: EDA, Ready for Review

#2031 [AAP-21764] Notify user about missing resources in Templates list/detail
  frontend/awx/resources/templates/TemplatePage/TemplateDetails.tsx
  frontend/awx/resources/templates/hooks/useTemplateActions.tsx
  frontend/awx/resources/templates/hooks/useTemplateColumns.tsx
Labels: AWX

#2086 PageSingleSelect support onSelect(null)
  framework/PageInputs/PageAsyncSingleSelect.cy.tsx
  framework/PageInputs/PageSingleSelect.cy.tsx
  framework/PageInputs/PageSingleSelect.tsx
  framework/PageToolbar/PageToolbarFilter.tsx
  framework/PageToolbar/PageToolbarFilters/ToolbarDateRangeFilter.tsx
  framework/PageToolbar/PageToolbarSort.tsx
  framework/components/useManageColumns.tsx
  frontend/awx/overview/cards/AwxJobActivityCard.tsx
  frontend/hub/collections/CollectionPage/CollectionPage.tsx
  frontend/hub/my-imports/MyImports.tsx
  frontend/hub/my-imports/components/ImportList.tsx
Labels: AWX, HUB, CCT, AFW

#2080 Page wizard support showing error on submit
  framework/PageWizard/PageWizardBody.tsx
  framework/PageWizard/PageWizardFooter.cy.tsx
  framework/PageWizard/PageWizardFooter.tsx
  framework/PageWizard/PageWizardProvider.tsx
  framework/PageWizard/types.ts
Labels: CCT, AFW

#2043 Convert useRolesFilters hook to use useDynamicFilters hook.
  frontend/awx/access/roles/useRolesFilters.tsx
Labels: AWX

#2075 [AAP-8259] Add notifications list tab for Workflow Job Templates
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/resources/notifications/ResourceNotifications.tsx
Labels: AWX

#2093 Controller -> Instance/Container Groups: Test Scaffolding
  cypress/e2e/awx/administration/containerGroups.cy.ts
  cypress/e2e/awx/administration/instance-groups.cy.ts
  cypress/e2e/awx/administration/instanceGroups.cy.ts
Labels: AWX, E2E

#2094 [UXD][AAP-22777]Updates to Schedule switch to be more descriptive
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
Labels: AWX

#2084 Convert Inventory Sources tab to advanced search.
  frontend/awx/resources/inventories/InventoryPage/InventorySources.tsx
  frontend/awx/resources/inventories/hooks/useInventorySourceFilters.tsx
  frontend/awx/resources/inventories/hooks/useSelectInventorySource.tsx
Labels: AWX

#2088 PageFormFileUpload Fix label group identifier
  cypress/e2e/hub/collections.cy.ts
  cypress/support/hub-commands.ts
  framework/PageForm/Inputs/PageFormFileUpload.tsx
Labels: E2E, HUB, AFW

#2101 Vizualizer fix mobx about updating state in action
  frontend/awx/administration/topology/Visualizer.tsx
Labels: AWX

#2038 Add advanced search to schedules list
  cypress/e2e/awx/views/schedules.cy.ts
  frontend/awx/common/useDynamicFilters.tsx
  frontend/awx/views/schedules/Schedules.cy.tsx
  frontend/awx/views/schedules/hooks/useSchedulesFilter.tsx
Labels: AWX, E2E, CCT

#2105 Activity Stream link jobs to job output page.
  frontend/awx/administration/activity-stream/components/ActivityDescription.tsx
  frontend/awx/administration/activity-stream/hooks/useGetActivityStreamRoute.tsx
Labels: AWX

#2104 [Bug] Node edit wizard should only fetch job template related credentials
  frontend/awx/resources/templates/WorkflowVisualizer/hooks/useGetInitialValues.tsx
Labels: AWX

#2090 Adds remaining RBAC to schedules
  frontend/awx/views/schedules/hooks/useSchedulesToolbarActions.tsx
  frontend/awx/views/schedules/wizard/RulesStep.tsx
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.cy.tsx
  frontend/awx/views/schedules/wizard/ScheduleEditWizard.cy.tsx
Labels: AWX, CCT

#2097 Cleanup PageFormCheckbox usage
  frontend/awx/resources/projects/ProjectSubForms/ScmTypeOptions.tsx
  frontend/awx/resources/sources/InventorySourceSubForm.tsx
Labels: AWX

#2095 ActiveUserContexts fix isLoading state
  frontend/awx/common/useAwxActiveUser.tsx
  frontend/eda/common/useEdaActiveUser.tsx
  frontend/hub/common/useHubActiveUser.tsx
Labels: AWX, EDA, HUB

#2047 Fix cancel button for create and edit schedule wizard
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxManagementJobsRoutes.tsx
  frontend/awx/main/routes/useAwxTemplateRoutes.tsx
  frontend/awx/views/schedules/hooks/useGetScheduleUrl.tsx
  frontend/awx/views/schedules/hooks/useSchedulesActions.tsx
  frontend/awx/views/schedules/hooks/useSchedulesColumns.tsx
  frontend/awx/views/schedules/types.ts
  frontend/awx/views/schedules/wizard/ScheduleAddWizard.tsx
Labels: AWX

#2107 Roles wizard steps for selecting EDA resources and resource roles for adding to a user
  framework/PageForm/Inputs/PageFormSelect.tsx
  frontend/common/access/RolesWizard/steps/RoleAssignmentsReviewStep.tsx
  frontend/common/access/RolesWizard/steps/SelectRolesStep.tsx
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectResourceTypeStep.tsx
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectResourcesStep.tsx
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectRolesStep.tsx
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectTeamsStep.tsx
  frontend/eda/access/common/EdaRolesWizardSteps/EdaSelectUsersStep.tsx
  frontend/eda/access/roles/components/EdaSelectRolesStep.tsx
  frontend/eda/access/users/EdaAddUserRoles.tsx
  frontend/eda/access/users/UserPage/UserPage.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddTeams.tsx
  frontend/eda/decision-environments/components/EdaDecisionEnvironmentAddUsers.tsx
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/projects/components/EdaProjectAddTeams.tsx
  frontend/eda/projects/components/EdaProjectAddUsers.tsx
Labels: EDA, AFW

#1675 [AAP-20755] Fix Incorrect Active Nav
  framework/PageNavigation/PageNavigation.tsx
Labels: AFW

#1943 [AAP-21055] Add dynamic filters to execution environments page
  cypress/e2e/awx/resources/jobTemplates.cy.ts
  cypress/fixtures/mock_options.json
  cypress/support/table-commands.ts
  frontend/awx/access/credential-types/hooks/useCredentialTypesFilters.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironments.cy.tsx
  frontend/awx/administration/execution-environments/hooks/useExecutionEnvironmentsFilters.tsx
  frontend/awx/administration/notifiers/Notifiers.cy.tsx
  frontend/awx/views/jobs/hooks/useJobFilters.cy.tsx
Labels: AWX, E2E, CCT

#2100 PageActionDropdown fix link within link html warning
  framework/PageActions/PageActionDropdown.tsx
Labels: AFW

#2106 [UXD][AAP-9132]partial AWX- Update Execution Environment Edit form button to say "Save execution environment"
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.cy.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
Labels: AWX, CCT

#2098 Fix console react key warnings in toolbar filters
  framework/PageToolbar/PageToolbarFilter.tsx
Labels: AFW

#2110 PageWizard fix Cancel navigation + rename useURLSearchParams
  framework/PageWizard/PageWizardBody.tsx
  framework/components/useURLSearchParams.tsx
  framework/useView.tsx
  frontend/awx/administration/execution-environments/ExecutionEnvironmentForm.tsx
  frontend/awx/analytics/AnalyticsReportBuilder/AnalyticsReportBuilder.tsx
  frontend/awx/analytics/Reports/AutomationCalculator.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateSurveyForm.tsx
  frontend/hub/administration/repositories/hooks/useAddCollections.tsx
  frontend/hub/collections/UploadCollection.tsx
Labels: AWX, HUB, AFW

#2099 AWX Login add extra check for auth options
  frontend/awx/main/AwxLogin.tsx
Labels: AWX

#1988 Inventory host e2e test constructed smart frameworking
  cypress/e2e/awx/resources/inventoryHost.cy.ts
  cypress/support/awx-commands.ts
  cypress/support/commands.d.ts
  frontend/awx/resources/inventories/hooks/useInventoryActions.tsx
Labels: AWX, E2E

#2074 Add wizard Add team/user to Credentials
  frontend/eda/access/credentials/CredentialPage/CredentialTeamAccess.tsx
  frontend/eda/access/credentials/CredentialPage/CredentialUserAccess.tsx
  frontend/eda/access/credentials/components/EdaCredentialAddTeams.tsx
  frontend/eda/access/credentials/components/EdaCredentialAddUsers.tsx
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
Labels: EDA

#2042 implemented view for workflow job templates survey
  frontend/awx/common/SurveyStep.tsx
  frontend/awx/resources/templates/TemplatePage/TemplateLaunchWizard.tsx
  frontend/awx/resources/templates/TemplatePage/steps/TemplateLaunchReviewStep.tsx
  frontend/awx/resources/templates/WorkflowVisualizer/types.ts
Labels: AWX

#2109 Update PageInputs to use useRequiredValidationRule hook
  framework/PageForm/Inputs/PageFormAsyncMultiSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSelect.tsx
  framework/PageForm/Inputs/PageFormAsyncSingleSelect.tsx
  framework/PageForm/Inputs/PageFormCreatableSelect.tsx
  framework/PageForm/Inputs/PageFormFileUpload.tsx
  framework/PageForm/Inputs/PageFormMultiInput.tsx
  framework/PageForm/Inputs/PageFormMultiSelect.tsx
  framework/PageForm/Inputs/PageFormSelect.tsx
  framework/PageForm/Inputs/PageFormSingleSelect.tsx
  framework/PageForm/Inputs/PageFormTextArea.tsx
  framework/PageForm/Inputs/PageFormTextInput.tsx
  framework/PageForm/Inputs/validation-hooks.tsx
Labels: AFW

#2091 [AAP-22243] Add users and teams rulebook activation role assignments
  cypress/fixtures/edaRulebookActivationRoles.json
  frontend/eda/main/EdaRoutes.tsx
  frontend/eda/main/useEdaNavigation.tsx
  frontend/eda/rulebook-activations/RulebookActivationPage/RuleBookActivationUserAccess.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddTeams.cy.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddTeams.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddUsers.cy.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddUsers.tsx
Labels: EDA, CCT

#2113 Controller -> Notifications: Test Scaffolding
  cypress/e2e/awx/administration/notifiers.cy.ts
Labels: AWX, E2E

#2067 [AAP-22269] Initial implementation of user tokens tab
  frontend/awx/access/users/UserPage/UserPage.tsx
  frontend/awx/access/users/UserPage/UserTokens.cy.tsx
  frontend/awx/access/users/UserPage/UserTokens.tsx
  frontend/awx/main/AwxRoutes.tsx
  frontend/awx/main/routes/useAwxUsersRoutes.tsx
Labels: AWX, CCT

#2115 Fix eda imports
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddTeams.tsx
  frontend/eda/rulebook-activations/components/EdaRulebookActivationAddUsers.tsx
Labels: EDA
